[2020-05-25 08:04] Linnas commented on #1246
OS: Windows 10
Python version: 3.7.7
sc.logging.print_versions() gives
scanpy==1.5.1 anndata==0.7.1 umap==0.3.10 numpy==1.18.4 scipy==1.3.1 pandas==0.25.1 scikit-learn==0.21.3 statsmodels==0.10.1 python-igraph==0.7.1 louvain==0.6.1 leidenalg==0.7.0

[2020-05-25 08:16] Linnas commented on #1246
Maybe it's the upgrade to version 1.5.1 that leads to this bug, I can run this piece of code under 1.4.6.

[2020-05-25 08:32] ivirshup commented on #1246
Yes, it looks like we didn't update our dependency requirements correctly. It looks like the `rmatmat` argument for `LinearOperators` was only added as of `1.4`.

I believe using `scanpy 1.5.1` with `scipy>1.4` should fix this. Could you let me know if that solves your problem?

[2020-05-25 08:58] Linnas commented on #1246
Yes, it works! Thank you for your suggestion.

[2020-05-25 08:58] #1246 closed, assigned to nobody

[2020-05-25 11:04] fidelram commented on #1242
`sc.tl.draw_graph` is much slower than UMAP. 20 mins for 67k cells does not surprise me.

draw_graph uses by default https://github.com/bhargavchippada/forceatlas2  You may want to search in that package if computations can be speed up.

[2020-05-25 22:51] dkobak commented on #1233
You can see some quick comparisons between Pynndescent and Annoy here: https://github.com/pavlin-policar/openTSNE/issues/101#issuecomment-597178379. But I have not investigated it very thoroughly.

Anyway, returning to the main conversation:

I think switching to openTSNE makes sense even if nothing else that we are discussing is implemented. It's A LOT faster than Mutlicore t-SNE for large datase

[2020-05-25 23:43] plrlhb12 opened #1249 "bbknn: AttributeError: 'tuple' object has no attribute 'tocsr'"
...When run bbknn on adata which has been calculated the pca, umap, and leiden, the AttributeError shows 'tuple' object has no attribute 'tocsr'.

sc.pp.pca(adata)
sc.pp.neighbors(adata)
sc.tl.umap(adata)
...
computing PCA
    on highly variable genes
    with n_comps=50
    finished (0:00:27)
computing neighbors
    using 'X_pca' with n_pcs = 50
    finished: added to `.uns['neighbors']`
    `.ob

[2020-05-26 01:53] plrlhb12 commented on #1249
I solved the problem by using umap 0.3.9. Thank you

[2020-05-26 01:53] #1249 closed, assigned to nobody

[2020-05-27 10:14] #1244 closed, assigned to nobody

[2020-05-27 10:20] fidelram commented on #1103
This is being fixed in #1210

for the time being you can try to set `dendrogram=False`  or you can install the branch with the fix.

[2020-05-27 13:17] j-bac opened #1251 "scanpy preprocessing recipes"
scanpy.pp.recipe_seurat and scanpy.pp.recipe_zheng17 indicate that they expect non log-transformed data. This leads both functions to do by default the highly variable gene (HVG) selection on non log-transformed data.

This seems contrary to the scanpy and seurat clustering tutorials, which perform HVG selection after log-transform. It also seems contrary to the new function scanpy.pp.highly_varia

[2020-05-28 00:03] iSinedeus opened #1252 "sc.tl.pca() return TypeError: __init__() got an unexpected keyword argument 'rmatmat' in ubuntu"
Hello,

I am having the same issue as issue #1246 but my version of scipy being used with scanpy is not updating. I don't know if this is related to my using an ubuntu server or what's causing this but I was wondering if there is a workaround to make scanpy use a more updated version? I have scipy 1.4.1 installed when I check the version but for some reason scanpy is using 1.01 and I don't know ho

[2020-05-28 04:06] ivirshup commented on #1252
Could you update your scipy with `pip install -U scipy`?

[2020-05-28 04:19] vitkl opened #1253 "Scanpy spatial bug in visualisation defaults"
Looks like the default values for plotting Visium spots are way outsized.

Try this in your lymph node notebook:
[code]
This is what I get:
...
![image](https://user-images.githubusercontent.com/22567383/83098134-acf2e600-a0a1-11ea-9248-c611f7330547.png)

#### Versions:
scanpy==1.5.1 anndata==0.7.1 umap==0.3.10 numpy==1.17.3 scipy==1.4.1 pandas==0.25.3 scikit-learn==0.22.1 statsmodels==0.10.2 pyth

[2020-05-28 04:20] iSinedeus commented on #1252
When I do this it tells me I am using version 1.4.1 but when I run sc.logging.print_versions() it comes up as version 1.01. I assumed this is somehow related to the version installed with scanpy that it uses by default maybe? But I feel I am not proficient enough in python to determine that

[2020-05-28 04:26] vitkl opened #1254 "multiple Visium sections in one adata object does not work with `sc.pl.spatial(img_key=None)`"
Does `scanpy==1.5.1` support multiple sections in one adata object? If I concatenate several anndata object I can't plot even with `sc.pl.spatial(img_key=None)`.

Try concatenating 3 mouse brain adata object and plotting:
[code]

This is the error I get:
[code]

#### Versions:
scanpy==1.5.1 anndata==0.7.1 umap==0.3.10 numpy==1.17.3 scipy==1.4.1 pandas==0.25.3 scikit-learn==0.22.1 statsmodels==0.10

[2020-05-28 04:47] ivirshup commented on #1134
Fixed by theislab/anndata#388

[2020-05-28 04:47] #1134 closed, assigned to nobody

[2020-05-28 04:53] ivirshup commented on #1252
Huh. It sounds like `pip` is installing to a different environment than the one you're using for scanpy. How are you starting the relevant python session? Also, are you sure you're restarted that session after updating scipy?

To check to see if you're in the same environment, these commands should tell you where scipy is installed:

[code]

[2020-05-28 05:16] ivirshup commented on #1254
Much of the spatial data is stored in `uns`, which does not get combined by default.

There is an example of concatenating visium datasets [in the tutorial](https://scanpy-tutorials.readthedocs.io/en/latest/spatial/integration-scanorama.html#Data-integration) and more information on concatenating `.uns` [in the latest anndata docs](https://anndata.readthedocs.io/en/latest/concatenation.html#mergin

[2020-05-28 05:22] ivirshup commented on #393
Closed by #1066

[2020-05-28 05:22] #393 closed, assigned to nobody

[2020-05-28 11:04] vitkl commented on #1254
Nice, thanks for pointing me to that tutorial! Still would be good if plotting worked without `uns`.

[2020-05-28 13:24] dburkhardt commented on #749
This issue is still persistent. I've created a colab notebook that shows the issue on a dataset we subsample to 6000 cells:

https://colab.research.google.com/drive/1QrnDFZ7nDNOLx9gr92eknhKShd2aTIdN

@gokceneraslan can you please throw a "bug" tag on this issue so it gets put in the queue?

[2020-05-28 17:41] chris-rands commented on #397
Thanks all for the interesting discussion- did a consensus emerge on the 'best' way to do differential expression testing in scanpy?

[2020-05-28 18:09] LuckyMD commented on #397
We typically use `diffxpy` for this. I would check out that [repo](https://github.com/theislab/diffxpy). It's fast, and quite versatile. Documentation is also getting to a pretty good state I think.

[2020-05-29 00:09] iSinedeus commented on #1252
When I input pip show scipy I get:

Name: scipy
Version: 1.4.1
Summary: SciPy: Scientific Library for Python
Home-page: https://www.scipy.org
Author: None
Author-email: None
License: BSD
Location: /home/ubuntu/.local/lib/python3.6/site-packages
Requires: numpy
Required-by: umap-learn, statsmodels, scikit-learn, scanpy, xgboost, seaborn, mnnpy, loompy, Keras, Keras-Preprocessing, ggplot, gensim, an

[2020-05-29 01:19] vitkl commented on #1254
I get an error trying to merge multiples slides using the code in the tutorial. Is it possible to install the scanpy version the tutorial is using?

[code]

[code]

[2020-05-29 04:24] ivirshup commented on #1254
I think you'll want to update your version of anndata for that.

[2020-05-29 04:37] ivirshup commented on #1252
That you are calling `!pip install scanpy --user` in your session definitely suggest you are not using the same environment as you were installing to before.

I don't think I can help too much with this, since it sounds like there are some deeper problems with your python environment. Looking back at the traceback from your previous example, it looks like your environment is in a very strange stat

[2020-05-29 05:10] ivirshup commented on #749
[Here's the `AnnData` object](https://cloudstor.aarnet.edu.au/plus/s/oYjEB26gWJdaA4R) which will reproduce the error if you call: `sc.tl.dpt(adata, n_branchings=N)` where N > 3.

@falexwolf, maybe you could help with diagnosis here?

[2020-05-29 07:54] chris-rands commented on #397
Thank you @LuckyMD. Naive question, but what is the advantage of `diffxpy` over `sc.tl.rank_genes_groups`? I read comments above about noise models and technical covariates, but I don't fully understand the model fitting aspect and both methods seem to offer similar tests like T-tests and Wilcoxon rank-sum.

[2020-05-29 10:18] LuckyMD commented on #397
`sc.tl.rank_genes_groups` offers only the T-test (including a second version of this) and Wilcoxon rank-sum test. These tests are also in `diffxpy`, but there are fare more sophisticated parametric models which you can (and probably should) use to test for differential expression in different setups. Ideally, to run a DE test you would want to model raw count data as a negative binomial and then a

[2020-05-29 11:30] JayalalKJ opened #1256 "Can't install fa2 in Windows 10"
Hi.
I have a problem to install fa2 (pip install fa2) in windows 10 operating system and I am using python 3.7 version?

Using Conda env

**sc.tl.draw_graph(ds, init_pos='paga'),**
**drawing single-cell graph using layout 'fa'
WARNING: Package 'fa2' is not installed, falling back to layout 'fr'.To use the faster and better ForceAtlas2 layout, install package 'fa2' (`pip install fa2`).**

installat

[2020-05-29 18:22] iSinedeus commented on #1252
It appears this was an issue related to anndata2ri- scipy 1.0.1 was being installed when installing anndata2ri. Installing scanpy first prevented this issue.
I use pip install --user for scanpy because otherwise I receive an error message:
Cannot uninstall 'llvmlite'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a par

[2020-05-29 18:22] #1252 closed, assigned to nobody

[2020-05-29 20:00] JayalalKJ opened #1257 "Pip failed in the step 1"
To set up a conda environment, the following instructions must be followed.

1.  Set up the conda environment from the sc_tutorial_environment.yml file.
conda env create -f sc_tutorial_environment.yml

![image](https://user-images.githubusercontent.com/40278254/83300088-a7a7af80-a1f7-11ea-88de-e8a1fe010dd7.png)

[2020-05-30 07:31] picciama opened #1258 "Legends not accessible via provided axis and misplaced (scatterplot, subplots)"
When using `sc.pl.scatter()` and providing an existing axis object, the legend doesn't always appear correctly and cannot be accessed.
This doesn't seem to happen with a categorial coloring however, only with a continous colormap.

This code works as expected:
[code]
It creates some metrics and stores them in `adata_raw.obs`, then plots these metrics for all counts and for counts < 1000 on the two

[2020-05-30 07:37] picciama commented on #1258
Additional information: Changing `legend_loc` doesn't have any effect here either.

[2020-05-30 18:04] sygongcode opened #1259 "ValueError: cannot convert float NaN to integer"
Hello, everyone,

I am working om fly model. And I have met a problem when I was doing QC step use function pp.calculate_qc_metrics. I have got this error. Can anyone help me? Thanks. The code as follows:

[code]

[code]

[2020-05-30 18:05] vitkl commented on #1254
Nice, anndata==0.7.3 works. Thanks!

[2020-05-31 11:08] ivirshup commented on #1254
No problem!

[2020-05-31 11:08] #1254 closed, assigned to nobody

[2020-05-31 11:21] picciama commented on #1257
Assuming you're on a debian based linux, please check the following:
- `echo $PATH` shows your PATH variable.
- `which git` shows you the location of your git installation. If nothing is shown, you need to install it.
- `apt install git` if you haven't installed it yet.

[2020-06-01 19:43] mariusmessemaker opened #1260 "NameError: name 'NeighborsView' is not defined when export spring project"
First of all, thank you for your great platform!

When I try to export a SPRING project I get the following error (it seems that the class NeighborsView is not defined; I have a 'neighbors' key in .uns):

[code]

[code]

#### Versions:

[2020-06-01 21:43] Koncopd commented on #1260
Thanks for finding this, fixed on master.

[2020-06-02 11:41] LuckyMD opened #1263 "Order of plotting datapoints with categorical colouring should be amended"
- [x] Additional function parameters / changed functionality / changed defaults?

At the moment when we are plotting data points in e.g., `sc.pl.umap()` with `color='covariate'` we determine the plotting order in two ways:
1. if `'covariate'` is continuous the highest values are plotted on top, to showcase the peaks of the distribution;
2. if `'covariate'` is a categorical variable, the order of `

[2020-06-02 12:30] gokceneraslan commented on #1263
This is the categorical equivalent of the `sort_order` parameter basically, right? I like the idea.

[2020-06-02 14:02] pavlin-policar commented on #1233
Glad to see this discussion going on. Integrating openTSNE into scanpy should be fairly straightforward but may require some thought. I think Dmitry has already pointed out the most important things such as improved defaults, which other t-SNE implementations are lagging behind in. Apart from that, we package prebuilt binaries, so adding openTSNE as a dependency would be incredibly easy

The main

[2020-06-02 15:42] mariusmessemaker commented on #1260
Great thanks!

[2020-06-02 15:42] #1260 closed, assigned to nobody

[2020-06-02 22:33] LuckyMD commented on #1263
Yes, exactly :). I would have a default that turns it to random. I don't think it should be too hard either. However, this will probably break a few tests.

[2020-06-02 23:46] adamgayoso opened #1264 "10x Genomics dataset loading feature"
Is there any interest in writing a function to load any of the public datasets offered by 10x genomics?

[2020-06-03 05:51] ivirshup commented on #1263
Sounds good to me. How are you thinking of handling reproducibility w.r.t. random seeds?

To me, the best solution here is to make it easy to do small multiples for categorical plots like this, but that's a big change in the kind of plot being made.

As an aside, I've also tried coloring the pixel by which group showed up the most under it, but this can look weird (less so, if density is used to c

[2020-06-03 06:17] ivirshup commented on #1259
Thanks for the report.

Do you have NaN values in your expression matrix? If so, try filtering them out and seeing if that works. If not, could you report the versions of the library you're working with, and try to make a self contained example that I could run on my machine?

[2020-06-03 06:50] z5ouyang opened #1265 "tracksplot wrong highlight groups (no brackets)"
sc.pl.tracksplot, produce a wrong highlight bar without brackets.

[code]

![image](https://user-images.githubusercontent.com/30639029/83604801-9dedb700-a52b-11ea-9c32-fc35ea959d61.png)

#### Versions:

scanpy==1.4.7.dev136+g7f5c907 anndata==0.7.1 umap==0.4.1 numpy==1.18.3 scipy==1.4.1 pandas==1.0.3

[2020-06-03 08:49] LuckyMD commented on #1263
I was thinking of just setting the seed to 0 by default, which would be consistent with other Scanpy code.

I don't actually mind the version of the plot without accounting for sample density. I do think that randomization would result in sth similar to the `datashader` example you show though, except that it wouldn't change alphas by density. I'm not sure if doing that is so helpful as it can lea

[2020-06-03 17:09] gokceneraslan commented on #1237
@awnimo can you have a look?

[2020-06-03 19:19] awnimo commented on #1237
@gokceneraslan

A fix is provided here https://github.com/theislab/scanpy/pull/1245

In the meanwhile until this PR is merged into a new release you can follow this https://github.com/dpeerlab/Palantir/issues/34#issuecomment-632933449

[2020-06-03 22:34] maximz commented on #1208
@shendong124 @ivirshup I assume `normalize_geometric` was intended to be similar to Seurat's centered log ratio transformation, which is implemented as follows in R: `log1p(x = x / (exp(x = sum(log1p(x = x[x > 0]), na.rm = TRUE) / length(x = x))))`. This is CLR with some safeguards for 0 counts.

Here's a reimplementation of the Seurat CLR transformation for scanpy. Call this with `clr_normalize_e

[2020-06-03 22:38] maximz commented on #1208
Actually there's a nice ongoing thread about this at #1117

[2020-06-04 01:32] o0stsou0o commented on #807
@LuckyMD

Hi, LuckyMD.  I tried pip uninstalling igraph and pip installing python-igraph and got the following error:

"Installing collected packages: texttable, python-igraph
ERROR: Could not install packages due to an EnvironmentError: [Errno 5] Input/output error: '/home/blahblah/miniconda2/envs/funkyLab/lib/python3.7/site-packages/igraph/drawing/__pycache__'  "

It doesn't say anything more.

[2020-06-04 03:48] sygongcode commented on #1259
Hi,

Thank you for your reply. I think there is no NaN data in the matrix of the mito genes. Because I have already plotted the mitochondrial genes as follows. The version is scanpy==1.5.1 anndata==0.7.3 umap==0.4.3 numpy==1.18.1 scipy==1.4.1 pandas==1.0.1 scikit-learn==0.22.1 statsmodels==0.11.0. I am sorry I don't know how to make a self-contained example. The plot is:
![highest_expre_genes_BHCF

[2020-06-04 12:30] oubounyt commented on #1191
Thankx this worked

[2020-06-04 15:47] preetida opened #1266 "What does `user_raw=True` in UMAP plot means?"
Hi,
I am little confused about the parameter in pl.ump, use_raw=False.
When you set raw=False, it takes normalized, log transformed but not corrected gene expression, while when you set user_raw=True, it takes scaled and corrected gene expression. What does corrected gene expression means here?

From tutorial it reads as below:
"As we set the .raw attribute of adata, the previous plots showed the

[2020-06-05 07:31] ivirshup commented on #1259
The idea behind a self contained example is to give me something that I can run on my machine. Ideally you'd be able to put something together with randomly generated data that still gave this error. If that's difficult, you could keep removing elements from your data until you find the minimal object that can reproduce this. [Here is a good blog post on how to do this](https://matthewrocklin.com/

[2020-06-05 14:03] LuckyMD commented on #1266
Hi @preetida,

I think this question is more directed towards the `single-cell-tutorial` github [here](github.com/theislab/single-cell-tutorial). I assume that's where you got the above sentence from.

In case you haven't done so already, you can check out the accompanying paper with that tutorial [here](http://msb.embopress.org/lookup/doi/10.15252/msb.20188746). In general whatever you store in `

[2020-06-06 14:36] LuckyMD commented on #807
Hi @o0stsou0o ,
Could it be that you have `igraph` loaded somewhere while you were uninstalling? Not sure why you can't remove `igraph` otherwise.

[2020-06-07 05:39] ktravaglini opened #1267 "Calculate neighbors with select principle components"
https://github.com/theislab/scanpy/blob/e33a2f338a4c63c794fe4bc5e03471d7c487cada/scanpy/tools/_utils.py#L52

Would it be possible to tweak this section so you can pass a list of principle components (e.g. [1,3,5,7]) when calculating neighbors?

[2020-06-07 10:40] o0stsou0o commented on #807
Hi @LuckyMD,

Thank you.  Oddly, I went to sleep and tried installing 'python-igraph' again the next day and it worked just fine.  I can only assume pip was being moody the first day.  Thank you again.

[2020-06-07 15:18] Koncopd commented on #1267
Hi, you can always do
[code]

[2020-06-07 15:20] #1267 closed, assigned to nobody

[2020-06-07 19:13] brianpenghe opened #1268 "Did newer versions change function names???"
I noticed that the pbmc tutorial changed a lot:
sc.pp.normalize_total
.var_names_make_unique()...
sc.pl.violin(adata, ['n_genes_by_counts', 'total_counts', 'pct_counts_mt'],
             jitter=0.4, multi_panel=True)

Is Scanpy going to change the names of its functions a lot? Why is that?

[2020-06-07 20:47] brianpenghe opened #1269 ".uns colors deleted??"
I copied a subset of adata into bdata, converted bdata to dataframe and plotted heatmap using Seaborn.
But when I checked adata again I realized that its .uns colors are gone (but log1p is still there)!

So there must be something that links adata and bdatas, and something that deletes the colors stored in .uns

I'm using Scanpy 1.5.0

Any suggestions?

[2020-06-07 23:06] sygongcode commented on #1259
Hi, Isaac,

Thank you for your reply. The matrix that I load is the output of
cellranger, we use 10X generate the library. Follow your
recommended tutorial, I can't small size it. Do you have any other
suggestions? The code is: adata = sc.read_10x_mtx(
'D:/.../.../filtered_feature_bc_matrix/', var_names='gene_symbols',
cache=True) . Thank you so much.

Best regards,

Shangyu

Isaac Virshup <notifi

[2020-06-08 09:44] #1158 closed, assigned to giovp

[2020-06-08 09:46] giovp commented on #1158
@vitkl now multiple samples are supported, see [here](https://scanpy-tutorials.readthedocs.io/en/latest/spatial/integration-scanorama.html) for description on how to use the new concat strategy

[2020-06-08 14:07] vitkl commented on #1158
Nice! Thanks!

On Mon, 8 Jun 2020, 10:46 giovp, <notifications@github.com> wrote:

[2020-06-09 22:07] BenxiaHu opened #1272 "pseudotime analysis on Seurat result"
Hi,
   I used Seurat v3 to analyze scRNA-seq. Now I have obtained 5 clusters. But I can not define the cell-types without marker genes. My question is that how can I apply scanpy on those 5 clusters to analyze pseudotime?
Best,

[2020-06-10 19:09] mathog opened #1273 "install of scanpy dredges up anndata's scipy issue"
[code]

[code]

There are multiple versions of many packages in PYTHONPATH and at some point it seems to be picking the wrong ones.  Examples:

[code]

#### Versions:

current git (plus others).

[2020-06-10 19:40] dawe opened #1274 "paga inconsistency with plotting functions"
Functions like sc.tl.umap support initialization with group centroid coordinates derived from sc.pl.paga. Unfortunately pl.paga only returns 2D coordinates, whereas embedding support n_components >2. I found that if init_pos is set to paga, the number of components is always set to 2. I understand the behavior, but wouldn’t it be more consistent if paga could be return arbitrary sized coordinates?

[2020-06-11 03:55] mvinyard opened #1275 "adata.write() -> cannot save"
...Trying to use `adata.write()` to save a results file - running into the same issue over and over. I tried uninstalling and reinstall both scanpy as well as h5py.

[code]

[code]

#### Versions:

[2020-06-11 14:12] sjfleming opened #1276 "Request: ability to set vmin / vmax in sc.pl.scatter()"
I would love it if I could specify a `vmax` argument to `scanpy.pl.scatter()`, and have the color axis limited to that value.  (This was easy in scanpy 1.4.4.post1 where you could specify this in `plot_scatter()` from `from scanpy.plotting._tools import plot_scatter`, but things seem to be very differently reorganized now in scanpy 1.5.1)

[2020-06-11 17:48] gokceneraslan commented on #1068
Hi all,

Sorry I sent a PR(https://github.com/theislab/scanpy/pull/1271) without reading any of these, it's my bad. Some thoughts are as follows:

- I think it's fairly straightforward to check for R dependencies in runtime, please see the PR for more info.

- For Travis, I used Ubuntu packages for base R installation and then rest of the R deps are installed by the Travis user in home directory,

[2020-06-12 22:39] esrice opened #1277 "when plotting, _prepare_dataframe can't look up gene_symbols in raw"
When giving a plotting function the `gene_symbols` argument to specify that it should look in a column of `var` for `var_names` rather than look for them in the index, the underlying `_prepare_dataframe` function tries to find the `var_names` in `adata.var` rather than `adata.raw.var`, even when looking for the data itself in raw. For example, this code:

[code]
produces this error:

[code]

####

[2020-06-13 16:59] cjnolet opened #1279 "UMAP to received pre-computer KNN graph when method=‘rapids’"
In a recent paper, we found the brute force KNN computation to become very expensive as the data sizes increase. I’ve noticed the kNN graph computed during the “neighbors” computation can be cached and reused when Umap-learn is called downstream but when Cuml UMAP is used, the kNN graph is recomputed each time.

In cuml 0.13 we added an optional `knn_graph` argument to umap’s training and inferenc

[2020-06-15 20:18] rbpatt2019 opened #1280 "pip install scanpy[rapids] fails as cuML requirement cannot be met"
Not a bug, _per se_, as the code runs fine, but you currently cannot install scanpy directly with the rapids extras. Running `pip install scanpy[rapids]` fails with the following error:

[code]

A quick check shows that `PyPi` has the most recent version of rapids suite (cuML, cuDF, cuGRAPH) at 0.6.1 - hence the fail.

The only place I can see to get versions of the cu suite that meets the require

[2020-06-15 20:56] rbpatt2019 opened #1281 "Set n_pcs when use_rep is specified in sc.pp.neighbors"
- [X] Additional function parameters / changed functionality / changed defaults?

Sorry to file two issues in a row! I've been using Scanpy + scVI for my analysis recently, and am really enjoying it!

Currently, if use_rep is set in `sc.pp.neighbors`, then n_pcs is ignored. These seems like sane default behaviour to me - if we aren't using 'X_pca', then n_pcs doesn't really make sense.

This can a

[2020-06-15 21:00] rbpatt2019 commented on #1281
And I just saw #1267, which mentioned the subsetting option and totally solves the problem. If you all are interested in having this functionality as an option, leave this open, let me know, and I'll work on a pull request. Otherwise, feel free to close it. Sorry for the (sort of) repeat.

[2020-06-16 12:28] #1277 closed, assigned to nobody

[2020-06-16 12:32] fidelram commented on #1265
Thanks for reporting the issue. Indeed there is problem there.

[2020-06-16 17:57] Marius1311 opened #1282 "Adding to the scanpy ecosystem"
Hi all, there are three packages I would like to suggest adding to the [scanpy ecosystem](https://scanpy.readthedocs.io/en/stable/ecosystem.html):

- [CellRank](https://cellrank.readthedocs.io/en/latest/): computing root, final and intermediate metastable states as well as lineage probabilities bases on RNA velocity. Fully compatible with scanpy and scvelo, well documented and scales to large cell

[2020-06-16 21:03] jamiexie opened #1283 "Louvain module not found when using vtraag flavor"
Hi I'm trying to run Louvain clustering but I'm getting a module not found error

[code]

[code]

#### Versions:

[2020-06-17 09:42] LuckyMD commented on #1283
just use `pip install louvain` to install the louvain package and use this functionality.

@ivirshup @flying-sheep I noticed that the louvain install suggestion in the documentation has been replaced by a `pip install scanpy[leiden]` suggestion. However `louvain` is still the default in the tutorials. Maybe the louvain install should be added again?

[2020-06-17 10:24] Zifeng-L opened #1284 "ImportError: libblosc.so.1: cannot open shared object file: No such file or directory"
I installed the package by `pip install scanpy`. When I imported it, there was such an error

[code]

[code]

#### Versions:

[2020-06-17 14:05] AlejandraRodelaRo commented on #1260
Hello, I am running into exactly the same bug when using both **scanpy-1.5.1** or **scanpy-1.5.0**.

**Versions**:
scanpy==1.5.1 anndata==0.7.3 umap==0.4.3 numpy==1.18.4 scipy==1.3.2 pandas==1.0.4 scikit-learn==0.23.1 statsmodels==0.11.1 python-igraph==0.8.2 leidenalg==0.8.0

**Input**:
`import time
t0 = time.time()
sc.external.exporting.spring_project(adata, './SPRING',

[2020-06-17 14:14] AlejandraRodelaRo opened #1285 "Again: NameError: name 'NeighborsView' is not defined when export spring project"
When exporting a SPRING project I get the following error (NameError: name 'NeighborsView' is not defined ). 16 days ago a bug issue was closed related to this ( #1260  ), however I still encounter the bug when using both Scanpy 1.5.1 or 1.5.0;

**Input**:
[code]

**Output**:
[code]

#### AnnData:
[code]

#### Versions:
scanpy==1.5.1 anndata==0.7.3 umap==0.4.3 numpy==1.18.4 scipy==1.3.2 pandas==1.

[2020-06-17 19:16] jamiexie commented on #1283
Great that worked, thanks!

[2020-06-17 19:16] #1283 closed, assigned to nobody

[2020-06-17 21:29] alirezaomidi opened #1286 "Can't import scanpy after torch"
I have `pytorch` and `scanpy` installed inside a conda environment. When I want to import scanpy **after** torch, the import won't finish. The interesting part is that importing scanpy before torch is possible! For example, this code takes a long time and probably does not finish:

[code]

But the following example works:

[code]

#### Versions:

[2020-06-18 02:19] salwanbutrus commented on #1017
I encountered the same problem but with leiden.

[2020-06-18 07:07] LuckyMD commented on #1017
@salwanbutrus This should be fixed from Scanpy version 1.4.5.1. You may need to update your Scanpy version.

[2020-06-19 06:16] ivirshup commented on #1286
I'm not able to reproduce this. Here's what I tried

* Made a conda environment with `conda create -yn torch-scanpy "python=3.8"`, and activated it `conda activate torch-scanpy`
* Installed: `pip install scanpy torch`
* Imported: `python3 -c "import torch; import scanpy"`

IIRC, there has been an issue with the order of importing numba and pytorch due to how they require their LLVM dependency.  I

[2020-06-19 06:18] ivirshup commented on #1282
That sounds like a good idea. Could you make a PR for this?

[2020-06-19 06:21] ivirshup commented on #1275
Could you report your version numbers? Could you also show us the `repr` of your anndata object?

[2020-06-19 06:47] ivirshup commented on #1284
Are you able to run `import tables` in this environment? If not, I think the issue will be with installation of the `pytables` package.

[2020-06-19 08:29] Marius1311 commented on #1282
@ivirshup thanks for getting back to me, sure, will do. @michalk8 , could you take care of this? I would add three new subheadings to the `ecosystem` page in the docs, "Caching", "Interactive Plotting" and "Fate mapping" where I would link the respective packages.

[2020-06-19 12:11] mvinyard commented on #1275
<img width="596" alt="Screen Shot 2020-06-19 at 8 10 37 AM" src="https://user-images.githubusercontent.com/47393421/85131254-6e65cc80-b204-11ea-9479-0551f05407ee.png">
<img width="1265" alt="Screen Shot 2020-06-19 at 8 10 52 AM" src="https://user-images.githubusercontent.com/47393421/85131263-7160bd00-b204-11ea-9a16-3741733ed919.png">

[2020-06-19 23:53] gokceneraslan commented on #1276
Hi Stephen, I think https://scanpy.readthedocs.io/en/stable/api/scanpy.pl.embedding.html#scanpy.pl.embedding is what you are looking for.

[2020-06-19 23:53] #1276 closed, assigned to nobody

[2020-06-20 03:23] gokceneraslan commented on #1276
There is also some relevant discussion at https://github.com/theislab/scanpy/issues/617.

[2020-06-20 14:34] brianpenghe commented on #872
Another solution is to use Seurat to do jackstraw and clustering and then import into Scanpy for other analysis

[2020-06-20 20:01] sjfleming commented on #1276
Thanks so much!  I think that's exactly what I was looking for

[2020-06-22 04:55] ivirshup commented on #1275
Oh, by version numbers I meant not just `anndata` but the dependencies as well. I'm wondering in particular about the version of `h5py`. The output of something like [`sinfo(dependencies=True)`](https://pypi.org/project/sinfo/) would be great

If you try writing to a different path, are you able too? It kind of looks like you're writing to a file that already exists, though that should just overwr

[2020-06-23 03:20] jingxinfu opened #1288 "Probably wrong distance matrix used in sc.tl.dendrogram"
In the `sc.tl.dendrogram` module, I noticed that the correlation matrix was directly inputted into the `scipy.cluster.hierarchy.linkage`. That results in calculating the distance between samples by the Euclidean(X1_cor_with_others, X2_cor_with_others). Shouldn't the distance be the pure correlation value here? Please correct me if I didn't understand it correctly.

The one I would perfer
[code]
Th

[2020-06-23 12:53] bjstewart1 opened #1289 "add multibatchPCA approach?"
- [ X] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?

It may be useful to adopt a PCA option similar to **`multiBatchPCA`** in the R batchelor package.
This is a useful approach where there are imbalances in batch size and PCA is conducted across a merged experiment.
It is pretty slow in R.

From their documentation:

[2020-06-24 16:20] Annika18 opened #1291 "tl.tsne causes jupyter kernel to die"
I am using scanpy with pyscenic. I am able to use tsne with rep "X_pca", but when I try to use a custom rep (X_aucell) to create a tsne plot, the kernel dies and Python also crashes. I can also use U-map with rep X_aucell.

I have been able to use tsne with rep aucell on larger datasets in the past, so I have a hard time believing it's a memory issue. I'm really lost on what is causing this. I hav

[2020-06-24 19:25] Annika18 commented on #1291
Realized there was an issue with my pyscenic code that I've now fixed.

[2020-06-24 19:25] #1291 closed, assigned to nobody

[2020-06-24 20:56] rboiarsky opened #1292 "update documentation for scanpy.pl.rank_genes_group"
A description of the "key" argument is missing from the documentation for the rank_genes_groups plotting function located at https://scanpy.readthedocs.io/en/stable/api/scanpy.pl.rank_genes_groups.html#scanpy.pl.rank_genes_groups. Without this, it's unclear how to plot the results of an alternative differential expression analysis (which is not stored in uns.rank_genes_groups). Would be great to u

[2020-06-25 13:57] fidelram commented on #1235
I just made an update in the PR #1210 that will solve the issue. Now you can do:

[code]

![image](https://user-images.githubusercontent.com/4964309/85733220-4db5df00-b6fc-11ea-9c5c-d657ebb136c8.png)

[2020-06-25 13:57] #1235 closed, assigned to nobody

[2020-06-25 17:08] alkhairohr opened #1293 "TypeError while running SAM algorithm"
Hello,

I am trying to use the SAM algorithm in my single-cell analysis. I run the SAM function like so:

[code]

The function runs fine and appears to finish training however it crashes when computing the UMAP with the following error:

[code]

I'm not sure where this problem is coming from and I have spent the past day installing different versions of python and other dependencies to see if that

[2020-06-25 17:49] rboiarsky opened #1294 "documentation error for pl.violin"
In the documentation (https://scanpy.readthedocs.io/en/stable/api/scanpy.plotting.html) the figure given as an example for pl.violin does not match the actual output of pl.violin (rather, it's showing a stacked violin). If there's a more appropriate place for me to record errors in the documentation, please let me know. Thanks!

[2020-06-25 17:53] rboiarsky commented on #1294
sorry i think the bug label was a bit dramatic -- was choosing between the options presented and none really fit -- but now I don't see any way for me to change it.

[2020-06-25 23:16] plrlhb12 opened #1295 "sc.pl.paga_path: TypeError: float() argument must be a string or a number, not 'csr_matrix'"
I was plotting the paga path, I got the error of TypeError: float() argument must be a string or a number, not 'csr_matrix'. I guess this might be related with the sparse format of adata.raw.X, because my codes works if I deleted adata.raw. What would be the solution? Thank you

[code]

[code]

#### Versions:

[2020-06-26 10:11] kyrenya commented on #1199
Same issue here!

[2020-06-26 10:12] Koncopd commented on #1285
Hi, @AlejandraRodelaRo
It was fixed on github master. You can wait for a new release or install scanpy from github.

[2020-06-29 16:39] pati-ni opened #1298 "Conda installation fails"
Conda installation fails silently with no error.

Installation command:
[code]

Output:
[code]

Increasing the verbosity did not help. Using older python version did not helpeither.. It looks like the metadata are not correct but I am not able to validate this. I tried miniconda anaconda clean installs and I had no luck whatsoever.

Pip install works fine.

[2020-06-30 04:01] ivirshup commented on #1298
That does seem weird, but I think this is more of an issue with bioconda. Could you open this issue there?

[2020-06-30 04:08] ivirshup commented on #1273
I think your issue here is due to having multiple versions of various packages in your path. In general, that will cause problems. I think I can only recommend creating an isolated environment using something like `conda` or `virtualenv` and say that installing with `pip` tends to have the fewest problems.

[2020-06-30 17:08] Ziyang-Tan opened #1299 "sc.tl.draw_graph() method fix the layout to 'fr'"
It seems the sc.tl.draw_graph() method fix the layout to 'fr' regardless of the input parameter? So I'm unable to use other method to produce the layout.

I'm using an example data from your tutorial

[code]

Although I set layout to 'fa', the output is still a 'fr' layout?

[code]

#### Versions:

[2020-06-30 17:10] Ziyang-Tan commented on #1299
by the way, it works well several months ago.

[2020-06-30 17:13] Ziyang-Tan commented on #1299
aha, sorry, I didn't install the 'fa2' package.

[2020-06-30 17:13] #1299 closed, assigned to nobody

[2020-07-01 10:14] fidelram commented on #1294
Thanks for pointing this out.

[2020-07-01 10:46] teknasd commented on #1199
Did you guys found out the solution?

[2020-07-01 12:19] letaylor opened #1300 "Error in sc.tl.dendrogram: The truth value of a Index is ambiguous."
I think with a recent numpy or Pandas update, an if clause in sc.tl.dendrogram no longer works properly.

[code]

[code]

#### Versions:
scanpy==1.5.1 anndata==0.7.3 umap==0.4.4 numpy==1.17.5 scipy==1.5.0 pandas==1.0.5 scikit-learn==0.23.1 statsmodels==0.11.1 python-igraph==0.8.2 leidenalg==0.8.1

Conda environment is attached.
[environment.txt](https://github.com/theislab/scanpy/files/4857757/env

[2020-07-01 12:57] emdann opened #1301 "Running and saving PCA on different anndata layers"
- [x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

I find using the `adata.layers` really

[2020-07-01 13:19] chris-rands opened #1302 "`wx` module missing after installing scanpy on macOS"
`wx` appears to be a missing scanpy dependancy linked to matplotlib when installing on macOS

[code]

[code]

The solution is simple, install `wxPython` https://pypi.org/project/wxPython/. However, it would be nice if scanpy could handle this OS-specific dependancy

#### Versions:
The latest scanpy version (1.5.1) installed via conda- of course I cannot print the versions since the scanpy import f

[2020-07-01 13:21] Koncopd commented on #1300
Hi, it is fixed on master.

[2020-07-02 13:59] gokceneraslan commented on #1302
Are you sure you haven't set wxpython as the matplotlib backend somehow? Many of us use scanpy on macOS but I never manually installed wxpython...

[2020-07-02 16:08] chris-rands commented on #1302
Thanks, what is the default backend on macOS? I only install matplotlib via the scanpy/anndata depenancies in a conda environment (and `MPLBACKEND` is unset). Upon installing wxpython, I can confirm the used backend

[code]

[2020-07-02 18:42] gokceneraslan commented on #1302
`matplotlib.rcParams['backend']` gives `MacOSX` on my laptop. Sorry, no idea why mpl picks wx and fails. But I think this is not a scanpy issue.

[2020-07-02 20:55] #1302 closed, assigned to nobody

[2020-07-02 21:07] timlai4 commented on #598
After removing the graphs and loading the loom file into scanpy with the now empty graphs slot, is there a way to manually add it back in? For example, before removing the graphs attribute, I call as.matrix() and saved it as a CSV (probably a better way to do this to maintain the sparse property). I can now read this CSV back into Python (e.g. with pandas), but what is the correct way to reload it

[2020-07-03 01:07] mathog commented on #1273
It still does not work for me, even in a virtualenv.  I always get:
[code]

[2020-07-03 02:03] mathog commented on #1273
Also, set up johnnydep and then do:

`johnnydep --output-format pinned scanpy_scripts
`
and after trundling for a very long time and emitting a lot of messages it gives up with:

[code]

[2020-07-05 15:14] michalk8 commented on #1298
@pati-ni
I have the similar issue when installing CellRank as `conda install -c bioconda cellrank`. Problem is not all dependencies are on bioconda, some of them are on `conda-forge` - I've tested it and I have the same problem with scanpy.
Installing it as `conda install -c bioconda -c conda-forge scanpy` works. But @ivirshup is right, seems like conda issue.

[2020-07-06 05:18] tonycheng521 commented on #1199
same here

[2020-07-06 22:20] mvinyard commented on #1275
I am not sure what was causing this error, but it must be somewhat idiosyncratic as the issue is resolved in a fresh env. Thanks! Closing this.

[2020-07-06 22:20] #1275 closed, assigned to nobody

[2020-07-07 07:51] ivirshup commented on #1169
Another example of bioconda causing issues: #1298

[2020-07-07 08:19] ivirshup commented on #1273
It's definitely a problem that you are seeing all of these version restrictions at once. This may be related to having too many entries in your PYTHONPATH environment variable. `PYTHONPATH` should probably just be empty, since python already knows to look where pip installs packages.

[2020-07-07 09:57] Koncopd commented on #1301
Hi, you can also do this directly
`adata.obsm["mylayer_pca"] = sc.tl.pca(adata.layers["mylayer"])`

[2020-07-07 10:11] emdann commented on #1301
Good to know, thanks!

[2020-07-07 10:51] ivirshup opened #1307 "Doc builds broken"
@fidelram @gokceneraslan I'm opening this issue to talk about the broken doc builds. Previously discussed in: https://github.com/theislab/scanpy/pull/1204#issuecomment-654765480 and https://github.com/theislab/scanpy/pull/1210#issuecomment-651510328

I'm able to see the errors, but that might be due to privileges for readthedocs. Are you able to look at any PR error logs?

Anyways, the docs fail w

[2020-07-07 10:54] ivirshup commented on #1301
I would also like this, and will probably add it. The only issue is deciding how we name each element `pca` adds to an `anndata` object (i.e. the keys for observation loadings in `obsm`, variable loadings in `varm`, and metadata in `uns`.

I'd thought of two options:

* `sc.pp.pca(adata, layer=layer, key_added=key)`
  * Adds key `key` to `obsm`, `varm`, and `uns`.
  * Makes it very easy to know wh

[2020-07-07 11:33] Koncopd commented on #1301
@ivirshup
Working on this already.
https://github.com/theislab/scanpy/pull/1308

[2020-07-07 17:28] gokceneraslan commented on #1307
Hi @ivirshup ,

Actually we can't see the PR doc builds, for https://readthedocs.com/projects/icb-scanpy/builds/361157/ for example this is what I see:

![image](https://user-images.githubusercontent.com/1140359/86819388-93a46880-c055-11ea-8f62-458508a6f614.png)

It's a bit annoying especially when it build fine locally but fails at readthedocs.com, it would be great if the person who sends the PR

[2020-07-07 17:29] gokceneraslan commented on #1307
or at least the people with commit access to scanpy should be able to see the PR doc builds.

[2020-07-08 02:49] jsxlei commented on #1300
This problem still exists on master which I directly git clone from the github.

[2020-07-08 05:52] ivirshup commented on #1307
Yeah, I had thought anyone could see that. I'll look into checking if we can make that happen. If not, I'll at least try and give everyone with commit rights to scanpy access.

Can you see the docs when the build succeeds?

*Updates*

* You can at least see some of the most recent build logs [here](https://readthedocs.org/projects/icb-scanpy/builds/11406014/).
* It looks like you can see the PR lo

[2020-07-08 07:27] letaylor commented on #1300
A temporary fix is to downgrade scipy to 1.4.1.

[2020-07-08 16:50] ivirshup commented on #598
This issue has been mentioned on **Scanpy**. There might be relevant details there:

https://scanpy.discourse.group/t/importing-graphs-from-seurat/249/1

[2020-07-08 20:50] YubinXie opened #1312 "The legend overlap with figures in plot function"
When multiple plots in one figure, if the legend of one figure is comprehensive, there is no space left for the legend to be shown. The scanpy just overlap the next plot on it.

![25AD7E00-E9A8-4CC6-A347-C4C76177F770](https://user-images.githubusercontent.com/16257776/86968887-e0ae3a80-c13a-11ea-805c-8620a9557087.png)

[code]

[2020-07-08 21:19] LuckyMD commented on #1312
Hi @YubinXie ,

You can fix this by setting the `wspace` parameter in the plot.

[2020-07-08 21:46] YubinXie commented on #1312
Thank you for your quick response! Is there a way to do any automatic adjustments? something like tight_layout? Thanks!

[2020-07-09 00:06] LuckyMD commented on #1312
As far as I'm aware, this is currently not implemented. But @fidelram can say more here.

[2020-07-09 12:58] dawe commented on #984
Looking at #842 this is possible by subsetting the data on the groups of interest and then perform the analysis (one-vs-rest). If the reference group is an aggregate of other groups, then one has to define the new labels in the subset.

[2020-07-09 19:25] preethiperi opened #1313 "Error in sc.pl.rank_genes_groups_heatmap: The truth value of a Index is ambiguous."
The following issue occurs when running the function sc.pl.rank_gene_groups_heatmap (as in the spatial transcriptomics tutorial found at https://scanpy-tutorials.readthedocs.io/en/latest/spatial/basic-analysis.html#Cluster-marker-genes), under "Cluster marker genes".

[code]

The results are as follows:
[code]

**VERSIONS:** scanpy==1.5.1 anndata==0.7.3 umap==0.4.6 numpy==1.16.4 scipy==1.5.0 panda

[2020-07-09 19:50] Koncopd commented on #1313
Hi, this is fixed on master. You can temporarily downgrade scipy to avoid this error.

[2020-07-09 20:33] preethiperi commented on #1313
Hi, was it just fixed? If I clone right now, will I not have to downgrade scipy?

[2020-07-09 21:34] Koncopd commented on #1313
Yes, it should work without downgrading.

[2020-07-10 06:44] dkobak commented on #1233
Pavlin made good points. @ivirshup What are you thoughts?

[2020-07-10 10:08] LuckyMD commented on #984
@Koncopd is this sth you could add in your current work on `rank_genes_groups()`?

[2020-07-10 11:04] #1307 closed, assigned to nobody

[2020-07-12 23:05] Mkebede opened #1315 "get.obs_df and get.var_df produce an error when there is only 1 key"
When trying to get the obs_df or the var_df, the function throws an error when there is a single key. In this case it iterates through the letters in the given key and causes a KeyError.

[code]

[code]

#### Versions:

[2020-07-13 06:12] ivirshup commented on #1315
In python `('HES4')` parses as a string, not as a tuple. You'd have to put `('HES4',)` to get a tuple, while you could write `['HES4']` to get a list.

The behavior here could be more straight-forward, but you should be able to get what you want by passing an iterable of strings.

[2020-07-13 08:29] ivirshup commented on #1233
Both of those clustering algorithms just use whatever graph is passed, so this shouldn't be an issue.

Could there just be a separate function for computing neighbors for tsne? `sc.pp.neighbors` can be considered to be "compute nearest neighbors and connectivity as expected by UMAP", while a separate function could use methods and defaults appropriate to openTSNE.

@Koncopd would have more to say

[2020-07-13 09:51] Koncopd commented on #1233
Yep, `UMAP` can use a graph with any number of neighbors, so can `ingest`.

[2020-07-13 13:08] fidelram commented on #1294
Fixed in #1316

[2020-07-13 13:08] #1294 closed, assigned to nobody

[2020-07-13 13:11] Mkebede commented on #1315
that makes sense, thank you for the prompt response!

[2020-07-13 13:11] #1315 closed, assigned to nobody

[2020-07-13 22:24] saberyzy commented on #429
Hi, I am new to scanpy and trying to use scanpy.pp.normalize_total to normalize my dataset. I saw in the documentation saying 'key_added' parameter will store the normalization factor (size factor). However, the result in the new column stores the same value as total counts before normalization.

Are this function using similar strategy as scran? Do we have normalization factors stored somewhere e

[2020-07-14 05:53] #1253 closed, assigned to giovp

[2020-07-14 10:10] LuckyMD commented on #429
Hi @saberyzy,

The size factor for counts per million normalization (the default for `sc.pp.normalize_total`) is the total counts. That value is used to compute the normalized values (X/total_counts * factor; where the factor can be 10,000 or the median total counts across cells), so it is the correct size factor. The function doesn't do anything fancier at the moment.

[2020-07-15 07:45] jenzopr commented on #1201
Hi @Koncopd
Can you elaborate a bit more on what to set `.uns['neighbors']['params']['metric']` to?

Thanks!

[2020-07-15 09:29] LuckyMD commented on #1201
I think it's normally just the string `"euclidean"`, but you can just test what is stored in `.uns['neighbors']['params']['metric']` after running `sc.pp.neighbors()` on some test data.

[2020-07-15 13:26] bio-la opened #1318 "sc.tl.umap on custom connectivities from representation "X" forces PCA calc instead"
I am calculating custom connectivities using hsnw on rep 'X', I don't want to calculate PCA, I want to compute UMAP using these connectivities.
sc.tl.umap falls back to pca in:
https://github.com/theislab/scanpy/blob/5bc37a2b10f40463f1d90ea1d61dc599bbea2cd0/scanpy/tools/_umap.py#L153
https://github.com/theislab/scanpy/blob/5bc37a2b10f40463f1d90ea1d61dc599bbea2cd0/scanpy/tools/_utils.py#L23

how to

[2020-07-15 14:42] Koncopd commented on #1318
Hi, could you try using `sc.pp.neighbors` instead of `scvelo.pp.neighbors`?

[2020-07-15 18:23] cdedonno commented on #749
Hi everyone, I am having the same issue, with the exact same traceback. Was this ever solved or addressed?

[2020-07-15 20:18] bio-la commented on #1318
@Koncopd
hi, sc.pp.neighbors doesn't have hsnw which has superior performance from what I've seen in my data and literature https://arxiv.org/abs/1603.09320

[2020-07-15 21:17] saberyzy commented on #429
Hi, @LuckyMD,

Thanks for the answer!
In your tutorial paper you recommended to use scran for normalization. It seems like scanpy do not have a similar normalization function. So the current best way is still use a docker to use scran to normalize the data?

[2020-07-15 21:44] mathog commented on #1273
Look at the virtualenv example - PYTHONPATH was empty.  The johnnydep application does not actually do an install, it just downloads all the pieces a package calls for and looks at all the listed requirements - and it gives the same version restriction conflict as an actual installation attemp.

[2020-07-15 22:59] LuckyMD commented on #429
Indeed, scran often works better than CPM normalization. I would recommend to use it via `anndata2ri` or `rpy2` as I demonstrate in the case study with the paper. You can find that [here] (https://github.com/theislab/single-cell-tutorial/blob/master/latest_notebook/Case-study_Mouse-intestinal-epithelium_1906.ipynb)

[2020-07-16 16:13] vanhoan310 commented on #1191
Install old louvain package will solve the problem: pip install louvain==0.6.1

[2020-07-17 05:09] Chenyanjuan1993 commented on #1227
I meet the same problem.

You could use:

pip install matplotlib==2.2.3

I tried just. And it done.

[2020-07-17 07:20] z5ouyang opened #1321 "y-scale missing in stacked_violin for 1.5.2.dev"
The y-scale label on the right of the stacked_violin is missing in the version of 1.5.2.dev

[code]

![download](https://user-images.githubusercontent.com/30639029/87759504-434ea880-c7c3-11ea-9c3a-b59e027ffeb6.png)

#### Versions:

[2020-07-17 08:40] #1264 closed, assigned to nobody

[2020-07-17 12:53] giovp commented on #1289
Hi, thanks for the suggestion! Are you referring to [this function](https://rdrr.io/bioc/batchelor/man/multiBatchPCA.html) ?
It sounds a bit like `ingest` but with multiple datasets, pinging @Koncopd to see what's his take on this

[2020-07-17 14:05] bjstewart1 commented on #1289
Yes that's the function.
I think it is doing something similar to `ingest`

I think this sort of batch-balanced PCA could be a useful addition addition where batches are very uneven in terms of number of cells.

[2020-07-17 21:43] Koncopd commented on #1289
`ingest` uses pca only from a reference batch, so it is a bit different.

Does this `multiBatchPCA` work well?

[2020-07-19 09:22] AllenWu18 opened #1322 "AttributeError: module 'scanpy' has no attribute 'anndata'"
The bug is just like the title of issue, _AttributeError: module 'scanpy' has no attribute 'anndata'_, for I just wanna to load a h5ad file from Tabula-Muris dataset

[code]

[code]
#### Versions:

[2020-07-19 11:13] PattF commented on #1285
Hi @Koncopd, any idea when the new release will be out?

[2020-07-19 15:49] chris-rands commented on #1322
You need `sc.read_h5ad()` and not `sc.anndata.read_h5ad()`

[2020-07-20 12:21] flying-sheep commented on #1322
exactly

[2020-07-20 12:21] #1322 closed, assigned to nobody

[2020-07-20 12:30] flying-sheep commented on #1285
Yes, this is a duplicate of #1260. Please follow #1319 to track the next release

[2020-07-20 12:30] #1285 closed, assigned to nobody

[2020-07-20 13:28] flying-sheep commented on #1227
We require matplotlib 3.x for other parts of scanpy, so that’s not a real solution. As you can see in the traceback, the error happens in `networkx`. It has been fixed in networkx/networkx#3179 ([networkx 2.3](https://networkx.github.io/documentation/stable/release/release_2.3.html)) in April 2019. So you should upgrade networkx instead of downgrading matplotlib.

[2020-07-20 13:28] #1227 closed, assigned to nobody

[2020-07-20 13:38] #754 closed, assigned to nobody

[2020-07-20 15:02] flying-sheep commented on #1273
Which package has the `scipy<1.3.0` dependency?

[2020-07-20 16:09] andreatangherloni opened #1324 "DE analysis and filter_rank_genes_groups"
Hi there,

I am doing a DE analysis using the functions `rank_genes_groups` and `filter_rank_genes_groups`.
I noticed that when two groups are compared (I did not check when multiple groups are compared) the parameter `min_in_group_fraction` of the function `filter_rank_genes_groups` is used only to filter the first group.

I applied twice the functions `rank_genes_groups` and `filter_rank_genes_g

[2020-07-20 17:01] rboiarsky opened #1325 "filter_rank_genes_groups() does not support rankby_abs"
Here is my use case: I run rank_genes_groups( ) with rankby_abs=True, as I want both upregulated and downregulated marker genes. Then I run filter_rank_genes_groups to set some thresholds, and all my downregulated genes disappear!

I see two possible solutions
1) rankby_abs should be an argument for the filter_rank_genes_groups function as well; when rankby_abs=True, then min_fold_change should be

[2020-07-20 18:12] #842 closed, assigned to nobody

[2020-07-20 18:13] #753 closed, assigned to nobody

[2020-07-20 19:22] mathog commented on #1273
It seems to be scanpy-scripts itself.

johnnydep analysis shows these (99% of lines removed):
[code]

and later

[code]

It cannot match both <1.3.0 and >= 1.3.1, and eventually bails out with:

[code]

[2020-07-20 20:58] andreatangherloni commented on #1324
I just realized that it is the `rank_genes_groups` function that returns only one group when the `reference` is set and `groups` is a list with one element. So, the `filter_rank_genes_groups` is filtering correctly but it can only filter the only returned group.

[2020-07-20 23:29] rebecca-c21 opened #1326 "Summer student from Pinello Lab at Harvard seeking help from Theis Lab"
I'm unable to complete the [Nestrorowa et al. 2016](https://nbviewer.jupyter.org/github/theislab/paga/blob/master/blood/nestorowa16/nestorowa16.ipynb) paga tutorial. On ln[3]

[code]

I keep getting this output:

[code]

Versions:
`scanpy==1.5.1 anndata==0.7.4 umap==0.4.6 numpy==1.18.1 scipy==1.4.1 pandas==1.0.1 scikit-learn==0.22.1 statsmodels==0.11.0 python-igraph==0.8.2 louvain==0.7.0 leidenalg

[2020-07-21 00:41] rboiarsky commented on #863
I want to second this issue!! I just spent many hours digging into the source code to figure out why `filter_rank_genes_groups` was filtering out genes that reported really high fold changes from `rank_genes_groups`, only to discover the discrepancy in the fold change calculation.

Here is an example of how confusing this inconsistency can be:

- I run `rank_genes_groups` and see that many marker

[2020-07-21 11:05] #1326 closed, assigned to nobody

[2020-07-21 11:06] ivirshup commented on #1326
Hey! Just fixed this #1327. It looks like there was an incorrect import. Should be fixed now.

Thanks for the bug report!

[2020-07-21 12:18] rebecca-c21 commented on #1326
Hi! Thank you for the quick response.

I tried running the tutorial just now and got the same `AttributeError`.
Any information you could afford to share would be greatly appreciated.

[2020-07-21 12:29] ivirshup commented on #1326
Is this using the development version? The fix hasn't been in a release yet.

[2020-07-21 13:30] rebecca-c21 commented on #1326
This is not using the development version.

[2020-07-21 17:05] flying-sheep commented on #1273
Yeah, please file your issue with [scanpy-scripts](https://github.com/ebi-gene-expression-group/scanpy-scripts) then, and ask them why they want an old scipy version and if they can upgrade their code to work with scipy 1.3+

[2020-07-21 17:05] #1273 closed, assigned to nobody

[2020-07-22 13:22] pati-ni commented on #1298
I can confirm this as a working workaround. Thank you @michalk8

[2020-07-22 13:22] #1298 closed, assigned to nobody

[2020-07-22 13:27] fidelram commented on #1312
It is difficult to find a one-size-fits-all solution. Depending on the number of legends, the length of the labels and the DPI used the space required will vary. Thus, I think is is better for the user to adjust the plots.

[2020-07-22 13:58] bio-la commented on #1318
just for reference, if the anndata object has an empty .X slot and i create another .obsm with the features like this

[code]
this seems to trick the umap at the right stage to use the representation i had chosen when calling the neighbors function. Also, would it be easier to allow Umap to have an explicit "use_rep" param?
thanks

[2020-07-22 16:39] flying-sheep commented on #1312
I think it’s just a limitation in matplotlib. There’s no autoadjustment here. It would be great if there was anything that worked like a HTML table, i.e. that makes sure the plot areas are aligned and there’s just enough space for the widest/highest annotation.

But AFAIK there isn’t: You can select one gap width and that’s it.

[2020-07-27 22:29] gheimberg opened #1333 "log1p warns adata.X is logged when it may not be (when other layers are logged)"
When I use `sc.pp.log1p(adata)` and then `sc.pp.log1p(adata, layer='other')` it warns me that the data has already been logged even though I am logging a layer as opposed to adata.X.

Would be nice to flag logging for each layer instead of when anything is logged.

[code]

[code]

#### Versions:

[2020-07-28 07:22] katherineio commented on #1326
Hello! I'm getting the same AttributeError as well. Is the issue on my end or has the fix not been applied yet?

[2020-07-28 08:04] flying-sheep commented on #1333
Happens here:

https://github.com/theislab/scanpy/blob/3558a42e747856cbf55c4d118566a155c6717178/scanpy/preprocessing/_simple.py#L286-L287

Where does `.uns['log1p']` get set other than there?

[2020-07-28 09:38] LuckyMD commented on #1326
The last minor release of Scanpy was version 1.5.1 in the end of May, so it hasn't been released yet. You would need to update scanpy to the development version on master. This can be done via `pip install git+https://www.github.com/theislab/scanpy@master` or by having a local copy of the scanpy repo, updating this and installing from source via `pip install .` :).

[2020-07-28 09:53] LuckyMD commented on #1333
Hi @gheimberg,

In your example you are not using a deepcopy to assign `adata.X` to `adata.layers['other']`. So when you log transform the data in the layer, it automatically log transforms the data in `adata.X` as well, as you just passed the reference. That being said, this is still a bug as even with a `adata.X.copy()` the warning is given.

[2020-07-28 12:46] gokceneraslan commented on #1333
Guys we should just keep the layer info here in log1p:

data.uns['log1p'] = {'base': base}

like

data.uns['log1p'][layer] = {'base': base}

[2020-07-28 16:35] chris-rands commented on #912
I arrived here looking for a similar thing, but rather than summing the 2 genes, I'm converting them to binary expressed vs. not expressed combinations. For now i use this approach, but there might be a better approach

[code]

[2020-07-29 03:45] gokceneraslan opened #1335 "Recent changes in sc.tl.rank_genes_groups broke y-axis range in sc.pl.rank_genes_groups"
y-axis range of sc.pl.rank_genes_groups seems unnecessarily long:

![image](https://user-images.githubusercontent.com/1140359/88754278-41bea200-d12c-11ea-9d8c-aeb013ea6a02.png)

[code]

#### Versions:

scanpy==1.5.2.dev52+g10937f5f anndata==0.7.4 umap==0.4.6 numpy==1.19.0 scipy==1.5.1 pandas==1.0.5 scikit-learn==0.23.1 statsmodels==0.11.1

[2020-07-29 03:46] gokceneraslan commented on #1335
Output of the same code with scanpy 1.5.1:

![image](https://user-images.githubusercontent.com/1140359/88754404-8fd3a580-d12c-11ea-9ae6-866ab1da1255.png)

[2020-07-29 04:01] gokceneraslan commented on #1335
It'd be great have a test for this to catch such bugs next time, like checking the range of the scores.

[2020-07-29 07:54] ivirshup commented on #1335
My suspicion is that this is more likely to do with the plotting functions, than the calculation. I think the issue is that previously the axis limits weren't being set (though they were calculated). Now they are set, but it turns out they were calculated on the full range of scores – not just the plotted ones. Here's what a potential fix looks like:

<details>
<summary> Big images </summary>

Wit

[2020-07-29 08:12] #993 closed, assigned to nobody

[2020-07-29 08:51] marcellp opened #1338 "3k PBMC tutorial misses important marker genes"
I was following Scanpy's tutorial for preprocessing and clustering the 3k PBMC data set, as seen [here](https://scanpy-tutorials.readthedocs.io/en/latest/pbmc3k.html).

Unfortunately, many of the most informative marker genes are simply missing/discarded from the data set. Some of the genes a contributor has pointed out are missing from this set are: CD14, CD68, FTH1, SERPINA1, LYZ. Similar R tool

[2020-07-29 09:25] LuckyMD commented on #1338
Hi @marcellp,

The point of the tutorial is to easily become familiarized with Scanpy-based analysis of scRNA-seq data rather than to allow the exploration of a comprehensive dataset. Thus, the pbmc3k object is a reduced version of the one that can be downloaded from the 10X website to make everything run much faster. If you want to take a look at the full object, you would have to download the ob

[2020-07-29 09:25] #1338 closed, assigned to nobody

[2020-07-29 10:05] Koncopd commented on #1335
@ivirshup I think the problem happens because i removed the default top n filtering of genes in `rank_genes_groups`.

[2020-07-29 10:15] ivirshup commented on #1321
@fidelram, could you take a look at this?

[2020-07-29 10:24] marcellp commented on #1338
Hi @LuckyMD ,

Thanks so much for getting back to me this quickly. I just want to clarify that I am not running this analysis with the built-in 10x data set, I have followed the tutorial as seen on the link in the report, which says: "The data consist in 3k PBMCs from a Healthy Donor and are freely available from 10x Genomics". I have downloaded the file from the following URL, as seen in the tuto

[2020-07-29 10:55] LuckyMD commented on #1338
The tutorial was built quite a while ago to mirror the old Seurat tutorial in that direction. If you remove the line `adata = adata[:, adata.var.highly_variable]` you should have all the genes still there.

@ivirshup Maybe this line should generally be removed from the tutorial, given that we now no longer need to filter genes anyway? Is there a test to ensure tutorial results are consistent?

[2020-07-29 12:58] marcellp commented on #1338
Thank you for this.

I took a dive into the data set to figure out what filtering step is causing this problem, and it seems to be the conditions set for `sc.pp.highly_variable_genes`. To carry on with `LYZ`, it does not show up because its `mean_counts` is too high, above the *maximum* of 3 set in the analysis:

[code]

Is this filtering on `max_mean` as described in the tutorial a reasonable thi

[2020-07-29 15:09] Hrovatin opened #1340 "Uns categorical colour maping as a dictionary"
- [ x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

When determining colours of categoric

[2020-07-29 15:49] LuckyMD commented on #1338
Thanks for diving in deeper. I would agree with you that settig the `max_mean` is not a great idea. I have never done this in any of my analyses. As mentioned, this tutorial was a copy of an early Seurat tutorial and does not represent a recommendation on what is the best way to perform a single-cell analysis. Instead it is designed to showcase the tools that exist in Scanpy. Indeed Seurat has upd

[2020-07-29 15:51] LuckyMD commented on #1338
And in terms of the `sc.pp.highly_variable_genes` function. We typically don't use the `max_mean` and `disperson` based parametrization anymore, but instead just select `n_top_genes`, which avoids this problem altogether. That being said, there is a PR with the VST-based highly-variable genes implementation from Seurat that will be added into scanpy soon. If you would like to reproduce an updated

[2020-07-29 16:00] LuckyMD commented on #1340
I feel like this discussion was already had and it was agreed that this should be possible and someone implemented it, no? @fidelram @gokceneraslan @ivirshup ? I found sth about using a dictionary structure in #1134 but it wasn't addressed.

Regarding the ordering of colours in `.uns['myVar_colors']`, this is ordered by `.obs['myVar'].cat.categories`.

[2020-07-30 00:03] taopeng1100 opened #1341 "scanpy sc.pp.calculate_qc_metrics(adata, qc_vars=["mt"], inplace=True)"
After I use function

[code]

I use `sc.pp.calculate_qc_metrics(adata, qc_vars=["mt"], inplace=True)` and got an error message:

[code]

**The package version is as follows:**

scanpy==1.5.1 anndata==0.7.4 umap==0.4.6 numpy==1.18.5 scipy==1.5.0 pandas==1.0.5 scikit-learn==0.23.1 statsmodels==0.11.1 python-igraph==0.7.1+5.3b99dbf6 leidenalg==0.7.0

[2020-07-30 05:36] ivirshup commented on #1340
It's definitely been discussed and is something I would like to do, but it has not been implemented. I think the main blocker here is that it would be a lot of effort to go through every plotting function and make it work with that structure.

A good step towards this would be normalizing access to colors through a single function.

In general, I think the colors could be stored as something like:

[2020-07-30 06:37] #1335 closed, assigned to Koncopd

[2020-07-30 06:38] ivirshup commented on #1335
Ah, that makes sense. Either way, I don't think the intent of the function was to have the axis bounds determined by how many DE tests were saved.

[2020-07-30 07:02] fidelram commented on #1321
Should be possible to turn the y ticks legends on. But I just tested it and didn't work. I will try to fix it.

The syntax is:
[code]

`style` needs to be used to tune the graphical parameters to avoid overcrowding the parameters list. But I am open to have a discussion on what the users think is best.

Documentation is here: https://scanpy.readthedocs.io/en/latest/api/scanpy.pl.DotPlot.style.html

[2020-07-30 08:30] LuckyMD commented on #1340
I think your suggestion sounds good, but wouldn't it be easier if the syntax with `adata.obs['myVar_colors']` was kept so that less needs to be changed?

[2020-07-30 09:05] flying-sheep commented on #1341
@taopeng1100: This is a numba bug. Please report this there, but only if you use the newest numba version (otherwise install it and try to reproduce this with the newest version). Give them this link so they see the code that triggers their bug:

https://github.com/theislab/scanpy/blob/2f160ea403d124d237fc2138c0aa0d175fbad22a/scanpy/preprocessing/_qc.py#L402-L428

@team: We should include numba in

[2020-07-30 09:05] #1341 closed, assigned to nobody

[2020-07-30 09:48] ivirshup commented on #1340
I think we should allow for categorical colors along either axis, and right now it's becomes ambiguous. A good example of an annotation that can apply to both observations and variables is `species`.

I'd like to shift to a nested model to limit the amount of reserved keys in `.uns`. It reduces that chance of unintentional naming collisions.

As for the amount of things that would need to change,

[2020-07-30 11:05] LuckyMD commented on #1340
Okay, so the plan would be a breaking change. So scanpy 1.7 then?

[2020-07-30 12:21] ivirshup commented on #1340
Depends on how we're feeling about semantic versioning. 2.0 for a complete switch, but we could internally switch over with a compatibility layer and deprecation warnings anytime before then.

[2020-07-30 13:45] LuckyMD commented on #1340
I like the idea of a compatability layer. @Hrovatin is this something you would like to contribute to as well?

[2020-07-30 14:54] marlena-D4C opened #1346 "Reproducibility of regress_out() results"
Hi
I encountered a problem with **regress_out** function. The returned X matrix for the same input anndata varies for subsequent iterations. The function doesn't have any parameter such as "random_state" or "seed". Have you noticed this problem before? Is there a way to make this function more stable and return reproducibile results?
Thanks!

[2020-07-30 15:51] taopeng1100 commented on #1341
Can you let me know the version of numba that worked for you?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Philipp A. <notifications@github.com>
Sent: Thursday, July 30, 2020 2:06:10 AM
To: theislab/scanpy <scanpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Mention <mention@noreply.github.com>
Subject: Re: [theislab/scanpy] scanpy sc.pp.calcul

[2020-07-30 16:49] flying-sheep commented on #1341
You can find the newest version on the PyPI page: https://pypi.org/project/numba/

[2020-07-31 06:57] galicae opened #1347 "explain title please"
Hi,

I was always a bit perplexed by Scanpy's logo (some sort of shrimp? ant?), since the name doesn't make me think of an animal. Would you mind explaining, @falexwolf? Is it, maybe, a pun on "scampi"? Because that would explain it.

thanks,
Niko

[2020-07-31 07:24] fidelram commented on #1347
Indeed is a pun on `scampi`. I also think that the body segments of the shrimp should resemble single cell clustering

![image](https://user-images.githubusercontent.com/4964309/89010761-7fc7eb80-d30f-11ea-9eda-616cd9661055.png)

[2020-07-31 07:25] fidelram commented on #1321
Solved in #1342

[2020-07-31 07:25] #1321 closed, assigned to fidelram

[2020-07-31 07:27] #1312 closed, assigned to nobody

[2020-07-31 07:49] ivirshup commented on #863
@Koncopd, since you're already looking at the DE code, would you mind taking a look at this? We should definitely be consistent about how we calculate this.

[2020-07-31 07:53] flying-sheep commented on #1347
Yeah, Alex came up with the name and I came up with the idea to make the logo a shrimp. I think it was the logo’s designer [Daniela Barreto from südakzente](http://suedakzente.de/) who came up with the body-segments-are-cells idea, but it might also have been one of us, as we were floating ideas about combining something techy with something biological in the logo.

The logo page is here btw: http

[2020-07-31 07:53] #1347 closed, assigned to nobody

[2020-07-31 08:23] galicae commented on #1347
great responses, thanks for closing the issue @flying-sheep.

[2020-07-31 08:51] Koncopd commented on #863
@ivirshup yes, i'll check.

[2020-07-31 14:58] gokceneraslan commented on #1312
Has anyone explored the new constrained layout https://matplotlib.org/3.1.1/tutorials/intermediate/constrainedlayout_guide.html ? it looks like there is a better layout manager this time, I wonder if we can take advantage of it.

[2020-07-31 15:20] flying-sheep commented on #1312
Yeah, sorry, that’s what my above comment was about.

[2020-07-31 15:23] gokceneraslan commented on #1312
This is different than tight layout and relatively new though, are you sure that it doesn't really help us at all?

[2020-07-31 22:32] flying-sheep commented on #1312
Not 100% of course, I could have overlooked something, but I couldn’t find a way to get it to do what we want. And yes, I am sure I’m talking about the new constrained layout.

[2020-08-01 11:38] Hrovatin opened #1351 "sc.read_h5ad randomly produces AnnDataReadError/OSError"
I am trying to load some datasets with `sc.read_h5ad(file_name)`. Frequently, I get the below error. When I re-run the code multiple times or at different times it sometimes works, but often I get the error (using the same code and data). This happens when reading different h5ad datasets (e.g. is not specific to one dataset). At all times there seems to be enough free RAM / similar amount of free

[2020-08-01 13:20] flying-sheep commented on #1351
That problem occurs within h5py (we just wrap the underlying OSError) and isn’t a consequence of how scanpy uses h5py. The relevant part of the traceback is:

[code]

The reported filename looks weird: `'/path.../filtered_gene_bc_matrices.h5ad'`. Is that file on some network share or colab or so? Because that’d explain wonky I/O. 18 exabytes (18 quintillion bytes!) read seems really off too!

I as

[2020-08-01 13:20] #1351 closed, assigned to nobody

[2020-08-01 13:53] CadenZhao opened #1352 "Are there paramters fixing range of colorbar in scanpy.pl.umap?"
- [x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

When we visualize gene expression, ran

[2020-08-02 09:26] genecell opened #1353 "How to change font in UMAP's visualization result?"
Hi,

I'd like to directly change the font in UMAP's visualization result, e.g., by setting the font to Arial or Helvetica. I have no ideas about how to do this, could you please help me with this? Thanks in advance!

[2020-08-03 04:50] ivirshup commented on #1353
You can set fonts directly through Matplotlib. For example, using serif fonts:

[code]

![serif](https://user-images.githubusercontent.com/8238804/89146953-a8aee180-d598-11ea-8b01-9e9f867517fe.png)

There's more details about this scattered throughout the matplotlib docs, [like here](https://matplotlib.org/gallery/api/font_family_rc_sgskip.html)

[2020-08-03 04:55] #1353 closed, assigned to nobody

[2020-08-03 05:15] rbf22 opened #1354 "Gene filtering using sparse matrix error"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

### Minimal code sample (that we can copy&paste without having any data)

[code]

[code]

#### Versions

<details>

scanpy==1.5.1 anndata==0.7.4 umap==0.4.6 numpy==1.18.5 s

[2020-08-03 05:36] rbf22 commented on #1354
This seems like it is a known issue: theislab/scanpy#650
There is a semi-related issue here too: theislab/anndata#179

[2020-08-03 07:17] flying-sheep commented on #1354
Yeah, SparseDataset means this is a duplicate of #650. And yes, we should definitely get theislab/anndata#179 in!

[2020-08-03 07:17] #1354 closed, assigned to nobody

[2020-08-03 08:54] LuckyMD commented on #1351
This is quite a common error on our internal servers @Hrovatin. I have been getting around it by reading from a different server, and then it just often works. It would be great if you can figure our what the issue might be.

[2020-08-03 08:57] LuckyMD commented on #1352
Hi @CadenZhao,

Check out the `vmax` and `vmin` parameters.

[2020-08-03 09:40] Hrovatin commented on #1351
Which server do you suggest? - I had tried a couple with no success. I am having a lot of trouble with it - I am getting errors when reading different parts of the file - even when trying to use just h5py.

[2020-08-03 10:26] LuckyMD commented on #1351
I have been moving between interactive servers not on the queue. `icb-lisa`, `icb-sarah`, and `icb-mona`, and if none of those work, then the older servers `hias`, `sepp`.

[2020-08-03 10:34] stuartarchibald commented on #1341
Think this is a duplicate of https://github.com/numba/numba/issues/5955

[2020-08-03 12:51] flying-sheep commented on #1341
Thank you @stuartarchibald, it sure is! The error happens when numba tries to JIT-compile `top_segment_proportions_sparse_csr`.

[2020-08-03 12:58] #1352 closed, assigned to nobody

[2020-08-03 13:01] flying-sheep commented on #1351
From my time in @theislab I infer this means it’s a network mount problem.

You can probably fix it by putting the file somewhere in the local file system then. Since /home/* is network-mounted, that means /localscratch/ or /tmp/ I assume

[2020-08-03 13:54] Hrovatin commented on #1351
Thank you very much @flying-sheep - copying to tmp for the time of reading seems to currently work.

[2020-08-03 17:18] Hrovatin opened #1355 "UMAP plotting can not properly colour np.nan values in categorical obs"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

Scanpy version: 1.5.1

If  np.nan values are present in obs column used for colouring `sc.pl.umap` they are coloured with the colour of the last non-nan category (see example be

[2020-08-03 18:51] flying-sheep commented on #1351
Great to hear! Usually when there’s weird, site-specific errors, I say I can’t help because I don’t have SSH access and “my crystal ball is currently out of order”.

Seems like my crystal ball worked just fine these days!

[2020-08-03 20:27] LuckyMD commented on #1351
@flying-sheep just wait until tomorrow... when the next random error occurs ;).

[2020-08-04 05:59] ivirshup commented on #1355
Thanks for all the great bug reports! This is really useful!

The way that we assign colors to each obs is basically:

[code]

When there is a missing value in a categorical array, the code for that value is `-1` (which is why the color of the last category is being assigned). [Pandas does not allow you to make `NA` a category](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.ht

[2020-08-04 07:29] LuckyMD commented on #1355
I think Seaborn would typically use `.dropna()` to just omit values that are `NA`, no? That would be safer than assigning a colour.

[2020-08-04 07:42] Hrovatin commented on #1355
I think it is important to see nan values (in my case above the whole pink NA cluster would not be seen if I had not changed np.nan to string 'NA'). Some plotting libraries (e.g. ComplexHeatmap in R) have a special parameter for missing values with some default.

[2020-08-04 07:55] ivirshup commented on #1355
I believe datashader uses a `clipping_colors ` parameter for this. Altair seems to add a category for null values, but this might not always be the case. Pandas [mostly drops nulls](https://pandas.pydata.org/docs/user_guide/visualization.html#plotting-with-missing-data).

[2020-08-04 10:26] LuckyMD commented on #1355
I guess this comes down to what you interpret an `NA` value as. If I want to show another category, I give it a name and it's shown. Doing this is very easy. If I don't assign a category to a group of observations, I would interpret this as this group of observations not being relevant in the context.

[2020-08-04 11:20] ivirshup commented on #1355
I think the result of a missing value should be very visible, whether through a warning or something in the plot. This comes from me thinking that I'd probably not intentionally have missing values most of the time, and really wouldn't want to miss that.

I generally go for having the points be light gray in the background when they aren't relevant.

[2020-08-04 11:39] LuckyMD commented on #1355
Then I guess light grays would need to be removed from the default colour maps? And the question remains for how to deal with this in a continuous covariate.

[2020-08-04 11:44] flying-sheep commented on #1355
Matplotlib’s color maps should be able to handle things, through [`ColorMap.set_bad`](https://matplotlib.org/api/_as_gen/matplotlib.colors.Colormap.html?highlight=set_bad#matplotlib.colors.Colormap.set_bad). We can do

[code]

[2020-08-05 01:58] CadenZhao commented on #1352
Thank you~

[2020-08-05 07:26] ivirshup opened #1357 "Automate figure generation for docs"
Right now, figures for tutorials and documentation have to be manually generated when we make a release. This often leads to out of date figures, and a fair amount of pain for otherwise small style changes. It would be good if this could be part of an automatic build process.

For the sphinx docs, we could probably do this on the readthedocs servers since we have extra capacity.

For notebooks, th

[2020-08-05 08:17] ivirshup opened #1358 "Use Azure for CI?"
We've been dealing with long queue times for CI builds. This is at least partially because for each PR four jobs start, each of which takes at least 12 minutes. Since travis gives us at most five concurrent jobs, only one PR can be built at a time. This becomes worse if a PR is based on a branch on the main repo, since CI runs on those too.

Azure offers 10 free concurrent jobs. Seems like an easy

[2020-08-05 08:24] ivirshup commented on #1346
Thanks for the report! I believe the results should be the same for multiple runs.

Could you provide an example of this? I'm having a bit of trouble reproducing. Here's what I ran:

[code]

Is this what you meant?

[2020-08-05 09:33] LuckyMD commented on #1357
On the point of the notebooks... some of the tutorials should probably be updated. The analysis steps that are performed in those are quite old and would not be considered as good practice anymore. Might be worth combining this effort... (see e.g., #1338 )

[2020-08-05 09:49] ivirshup commented on #1357
@LuckyMD, I definitely agree.

I personally find it kinda hard to work with version management and updating of notebooks, as well as keeping them clean with useful prose. This makes updating tutorials a pain. A lot of this just has to do with the interface, as I find this much easier with `.Rmd`.

I'm thinking this could be alleviated a bit with better automation around tutorials. Namely:

* Runni

[2020-08-05 10:41] LuckyMD commented on #1357
You could run notebooks from Travis by just executing them with the execute API (https://nbconvert.readthedocs.io/en/latest/execute_api.html). That might take a while though of course... and not really help with the speed up you were looking for above.

On another note, updating the tutorials would be a great hackathon topic for Scanpy. We could also link my single-cell-tutorial repo on the scanpy

[2020-08-05 19:34] flying-sheep commented on #1357
We can probably call stuff from https://sphinx-gallery.github.io/

[2020-08-05 20:00] flying-sheep commented on #1358
As an alternative: GitHub actions. It’s pretty manual, and I had good experiences with Azure, so I just mention it for completeness’s sake.

[2020-08-06 18:15] taopeng1100 commented on #1341
Hi Philip, can you kindly help me here? How can I get “sc.pp.calculate_qc_metrics(adata, qc_vars=["mt"], inplace=True)” to work for me?

[2020-08-06 21:01] flying-sheep commented on #1341
Maybe downgrade numba for the time being? IDK to which version though. @stuartarchibald has more insight here. Please follow numba/numba#5955 for updates!

[2020-08-06 21:06] taopeng1100 commented on #1341
I am using Anaconda/Jupyter in my PC. When I try to downgrade numba, I run into issues of numba dependency packages in Anaconda so I am stuck!

[2020-08-06 21:14] stuartarchibald commented on #1341
@flying-sheep I might know a work around for scanpy whilst we try and fix the root cause in numba, would that help?

[2020-08-06 21:21] flying-sheep commented on #1341
Sure, thank you! Care to do a quick PR? Then we can point @taopeng1100 in the direction of installing scanpy’s dev version and everyone’s happy.

@taopeng1100 please reply by GitHub comment and not  by email anymore, it spams up this comment section. I always have to remove some junk your email program adds.

[2020-08-07 09:20] stuartarchibald commented on #1341
@flying-sheep done https://github.com/theislab/scanpy/pull/1359

[2020-08-07 13:47] flying-sheep commented on #1341
Okay, it’s merged! @taopeng1100, please install the dev version of scanpy like this, and retry:

[code]

[2020-08-07 19:24] taopeng1100 commented on #1341
It all works NOW! I appreciate your help!

[2020-08-07 19:24] taopeng1100 commented on #1341
It all works NOW! I appreciate your help!

[2020-08-07 19:24] taopeng1100 commented on #1341
It all works NOW! I appreciate your help!

[2020-08-07 19:24] taopeng1100 commented on #1341
It all works NOW! I appreciate your help!

[2020-08-07 19:49] michalk8 commented on #1357
@ivirshup I find it useful, since we're still changing our API a lot, so I don't forget to update the tutorials. Our main issue is just runtime of some functions.
I'm using https://github.com/chrisjsewell/pytest-notebook, which can compare expected output of certain cells (or completely) ignore them, but it's still a very small library. I haven't gotten around pushing the updates, since I figured

[2020-08-09 20:15] ghost opened #1360 "Differential expression table"
Hi, is there a way to get a table of the differentially expressed genes after running: sc.tl.rank_genes_groups?
Thank you.

[2020-08-10 07:14] ivirshup commented on #1360
Does `sc.get.rank_genes_groups_df` do what you're looking for?

[2020-08-10 07:37] jcamunas opened #1361 "Likely wrong % of cells in dotplot after pp.scale()"
The function `sc.pl.dotplot()` can be used with processed data or raw data by setting `use_raw=True`. The % cells that express a gene is obtained by counting cells with expression above `expression_cutoff` (which by default is 0.0).

However this is likely to produce a wrong result when using scaled and centered data (i.e. after `pp.scale()` ).  Unless I'm missing something, the percentage of cell

[2020-08-10 08:31] bjstewart1 commented on #1289
Like you say, the difference between this and `ingest` is joint PCA calculation vs asymmetric batch integration.

This function is the first step in the `fastMNN` function, which I have found in some cases yields very sensible batch correction results. It would be awesome to see `multiBatchPCA` +/- `fastMNN` available in scanpy. I am aware of the python implementation of `mnncorrect`, but I think

[2020-08-11 05:02] ivirshup commented on #1361
@fidelram, maybe you could comment on how this relates to your new work on the dotplots?

[2020-08-11 10:40] ghost commented on #1360
Thank you!

[2020-08-11 10:47] ghost opened #1363 "umap axes rotated"
Hello,
I am not sure if it is a bug or not. Is it possible that the umap plots can be rotated running scanpy with the same parameters?
Thank you.

[2020-08-11 11:28] #1360 closed, assigned to nobody

[2020-08-11 11:29] ivirshup commented on #1363
I shouldn't think so. Can you give an example?

[2020-08-11 13:25] ghost commented on #1363
I do not have a small example, I just wanted to know if it is something that you knew. I noticed it because I run many times the same script, I also noticed few cells located in different positions but very small differences. Maybe it is due tho the umap algorithm.

Thank you.

[2020-08-11 14:30] chris-rands opened #1364 "Understanding normalization and log transformation"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

This is probably a bug in my thinking, but naively I thought that `sc.pp.normalize_total()` normalizes counts per cell, thus allowing comparison of different cells by correcting

[2020-08-12 09:25] chris-rands commented on #1364
An example with real data:

![counts](https://user-images.githubusercontent.com/20436557/89998524-f957c600-dc8d-11ea-9036-a5d165d6bad5.png)

Code:
[code]

[2020-08-12 13:09] pinin4fjords opened #1365 "Release date for next version?"
Hi Scanpy devs. Sorry, this isn't an enhancement request, just wan't sure where this fitted.

Just a quick one- when's the next Scanpy release (1.6.0?) scheduled for?

[2020-08-12 17:36] brianpenghe opened #1366 "Use graph coloring algorithm for a “world map” avoiding to color neighboring clusters in the same color"
I was trying to plot a tsne to visualize all my clusters.
But since I have 100+ clusters the pl.umap function gave me all grey.

Is there a way to assign colors to them?

[2020-08-13 00:16] aheravi opened #1367 "mnn_correct"
- [ ] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-08-13 14:52] AllenWu18 opened #1368 "A bug about scanpy.pp.downsample_counts()"
- [ ] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-08-14 07:51] flying-sheep commented on #1367
Hi. I can’t copy/paste/run the above code sample. There’s nowhere you define `adata`.

Please add some code that uses some builtin dataset or so and reproduces the error.

[2020-08-14 07:53] flying-sheep commented on #1366
There’s no way that many clusters will be discernible by color, you need to find another way to get the information you are interested in. If you just want a pretty picture without use, you can of course set `palette` to a list that contains >100 colors.

[2020-08-14 07:57] flying-sheep commented on #1365
Haha very soon, there’s only details missing!

[2020-08-14 07:57] #1365 closed, assigned to nobody

[2020-08-14 07:59] brianpenghe commented on #1366
Maybe I was not clear. The goal was not to use a different color for each cell type. The goal was similar to drawing a world map where adjacent clusters have different colors. It doesn't matter if colors are repeated as long as they don't visually merge adjacent clusters. Setting palette abolished the gray dominance and temporarily solved the problem for some local regions. But I guess to have per

[2020-08-14 08:06] flying-sheep commented on #1364
@LuckyMD might be one of the people with the most informed opinion here

[2020-08-14 08:13] flying-sheep commented on #1366
Yes, I think there should be algorithms for that. This is a [graph coloring](https://en.wikipedia.org/wiki/Graph_coloring) problem: You can make a graph from your clustering, where clusters become nodes and touching clusters get an edge between them.

If you find a nice way to implement this, please consider adding it in a PR.

[2020-08-14 08:19] flying-sheep commented on #1363
With the same seed? If you don’t specify a seed, nondeterminism is to be expected.

[2020-08-14 09:31] sheetalgiri opened #1369 "ModuleNotFoundError: No module named 'louvain'"
Getting the following error with the latest version of scanpy:

[code]

[2020-08-14 09:35] flying-sheep commented on #1369
Install it, it’s an optional dependency.

[2020-08-14 09:35] #1369 closed, assigned to nobody

[2020-08-14 12:40] honghh2018 opened #1370 "why umap showing bbknn perfectively integrated but tsne"
Hi @all,
    Thanks to develop the great tools,
     I encounter a pecular problem on bbknn integrated data.
     i follow the workflow code to run the data integrated,the code showing below,
#
     sc.pp.highly_variable_genes(adata)
adata = adata[:, adata.var['highly_variable']]
sc.tl.pca(adata, svd_solver='arpack')
sc.tl.tsne(adata)
///data integrated
sc.external.pp.bbknn(adata, batch_key='orig.

[2020-08-14 17:16] aheravi commented on #1367
Hi,
That was from my own datasets, but I also used the data from here, https://github.com/theislab/single-cell-tutorial/blob/master/latest_notebook/Case-study_Mouse-intestinal-epithelium_1906.ipynb, and got the same error.

[code]

[code]

[code]

[code]

[2020-08-15 01:31] salwanbutrus opened #1371 "Option for dot_ax.grid(True, linewidth = x) in sc.pl.dotplot()"
- [ ] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ x] Other?
s

...
In sc.pl.dotplot(), dot_ax.grid

[2020-08-16 07:14] ghost commented on #1363
Yes same seed, I used the default one.

[2020-08-17 04:33] ivirshup commented on #1368
At first blush, this looks like an issue with spyder. I'd suggest trying to update your versions of installed packages (it looks like your scanpy and anndata are out of date) and trying again. If that fails, can you replicate in a different python environment?

[2020-08-17 04:53] ivirshup commented on #1367
This seems related to (and a possible duplicate of) https://github.com/theislab/scanpy/issues/1167, and may be fixed here: https://github.com/chriscainx/mnnpy/pull/41 pending a merge.

[2020-08-17 05:08] ivirshup commented on #1363
In general, I thought we went for determinism with default arguments in scanpy. I believe pynndescent faster, if non-deterministic, but I get constant output from scanpy.

<details>
<summary> Test case </summary>

[code]

</details>

[2020-08-17 05:13] ivirshup commented on #1366
On more issue to consider: entities on maps tend to be contiguous. The set of cells in a cluster do not have to be adjacent. How can it be clear two non-adjacent cells are from the same cluster if colors can be repeated?

[2020-08-17 08:37] ivirshup commented on #1355
Currently matplotlibs colors maps are dealing with things, it's just their default "bad color" is often transparent. We currently don't do any handling of color maps, which makes dealing with continuous values a little more complicated.

[2020-08-17 09:09] fidelram commented on #1340
I agree with @ivirshup that the best would be to have a single function that returns the colors. This also facilitates documentation. The actual implementation afterwards could be modified without much effort.

[2020-08-17 11:48] grst commented on #1358
Just my 2cents:
I made really good experiences with Github actions.
 * I find them easy to set-up and they run many (20-40?) jobs in parallel.
 * Really good integration with Github (e.g. upload to PyPI on release)
 * windows testing works well, but it is a pain to setup pycairo, see [here](https://github.com/icbi-lab/scirpy/blob/725664a22e6265643633d89a7f38ea3383ccab48/.github/workflows/test.yml#

[2020-08-17 14:23] fidelram commented on #1361
In the described case, it is expected that `adata.raw` is set. Thus, by default `sc.pl.dotplot` will use the raw data instead of the scaled `adata.X`. In the case in which `adata.raw` is not set, then dotplot will wrongly compute the percentage.

The suggestion to uncouple the dot size and the dot color is very good and after the 1.6 relase of scanpy is now possible to do this using the `dot_color

[2020-08-18 07:01] hejian41 commented on #1370
same issue, any suggestions?

[2020-08-18 19:11] scottgigante opened #1379 "Louvain package is deprecated in favor of leidenalg"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of scanpy.
- [X] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

[code]

[code]

#### Versions

<details>

[code]

</details>

[2020-08-19 15:42] kbreau92 commented on #1300
If you go into the hierarchy.py file and change:
if labels and Z.shape[0] + 1 != len(labels):

to:
if (labels is not None) and (Z.shape[0] + 1 != len(labels)):

It fixes the issue.

[2020-08-19 22:00] flying-sheep commented on #1300
wanna do a PR?

[2020-08-20 10:31] fidelram commented on #1371
Hi, after release 1.6 this is now partially possible. If you set the parameter `return_fig=True` then you have access to the `style()` method (see: https://scanpy.readthedocs.io/en/stable/api/scanpy.pl.DotPlot.style.html#scanpy.pl.DotPlot.style).

[code]
![image](https://user-images.githubusercontent.com/4964309/90759033-2a647600-e2e0-11ea-86e4-2a0e060955ad.png)

What is not possible is to change

[2020-08-20 13:29] LuckyMD commented on #1370
Hi @honghh2018 and @hejian41,

This question might be better addressed to the developers of `BBKNN` here: https://github.com/Teichlab/bbknn

[2020-08-20 18:01] cvw462 opened #1385 "Hi All!"
- [ ] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

...

[2020-08-20 18:04] cvw462 opened #1386 "10X Visium-ScRNA-seq integrative analysis"
Hi!
Thank you for tutorials, they're very helpful.
Do you have a spatial/sc-rna seq integrative analysis tutorial?

Thanks in advance!

...

[2020-08-20 18:40] salwanbutrus commented on #1371
Awesome, thanks!

[2020-08-20 21:31] LuckyMD commented on #1363
I got slight differences with the same seed many times in the UMAP outputs when updating the single-cell-tutorial notebook for new versions of scanpy/anndata.

[2020-08-21 00:49] salwanbutrus commented on #1371
Actually a quick follow-up. How can one control the spacing between the dots in the dot size legend? They're often too close to each other for me. Thank you!

[2020-08-21 02:11] #1385 closed, assigned to nobody

[2020-08-21 05:07] ghost commented on #1363
At the moment I am saving the adata and I am generating the plots loading it. In this way the coordinates are always the same.

[2020-08-21 08:39] LuckyMD commented on #1364
Hey @chris-rands,

This is a really interesting topic. Sorry in advance for the wordy reply... You are absolutely correct that log transformation removes the perfect comparison of relative expression values that mean normalization provides. Aside from CPM normalization (as provided by `sc.pp.normalize_total()`) not being a good normalization technique anyway (this is argued by any more advanced no

[2020-08-21 09:02] ivirshup commented on #1363
@LuckyMD, do you think you ever saw a change without version updates? I'd like to think we were aware of changes through our tests (in particular tests for plotting and the pbmc notebook). However calculations change for different dataset sizes, so we could be missing cases where there's instability.

[2020-08-21 09:07] ivirshup commented on #1370
I think the issue here is that BBKNN only generates an integrated graph, while the tsne computation creates a new graph from some matrix representation of the data. There has been the suggestion of allowing a tsne layout (#1233) to be generated from a precomputed connectivity matrix, but that hasn't been implemented here yet.

[2020-08-21 09:09] ivirshup commented on #1379
@flying-sheep, can we keep the type annotation, but defer the import of `louvain` until it's called? That should prevent the warning on import of scanpy.

[2020-08-21 11:35] #1282 closed, assigned to Koncopd

[2020-08-21 12:08] LuckyMD commented on #1363
I don't think i saw changes without version updates. The only thing I noticed there are the diffmap coordinates occasionally being mirrored.

[2020-08-21 12:09] LuckyMD commented on #1370
Ah, I wasn't aware that the `sc.tl.tsne()` function doesn't use the `sc.pp.neighbors()` output. Although I do recall the issue about this... Thanks for the context!

[2020-08-21 17:12] adamgayoso opened #1387 "Spin off read/write into it's own package?"
As we are refactoring scvi, I'm wondering what the utility would be to spin off the i/o part of scanpy into it's own lightweight package that's more general for reading single cell pipeline outputs into anndata. For example, we'd like to use the scanpy read from 10x/visium functions, but don't necessarily want to have scanpy be a full requirement. It's also a bit confusing why something like `read

[2020-08-23 19:50] chris-rands commented on #1364
Thank you very much @LuckyMD for those insightful comments, that gives me plenty to think about beyond my original question about the mean normalisation being 'distorted' by log transformation. I had not considered how tricky a problem normalisation is. This actually makes me feel that perhaps the long term solution will be mostly experimental rather than computational, through developing better s

[2020-08-23 19:50] #1364 closed, assigned to nobody

[2020-08-24 10:04] LuckyMD commented on #1364
I'm not sure spike-ins will be the solution, as there will probably always be differences due to tissue preparation and cell lysis efficiency as well, which spike-ins can't model... at least as far as I understand the limitations here. I'd be curious if you think otherwise though :).

[2020-08-24 13:41] chris-rands commented on #1364
Good point that spike-ins may not always behave like endogenous transcripts. However, since spike-ins can account for the later biases in the workflow (e.g. variable sequencing depth, capture efficiencies, amplification etc.), I do think that they are still an important part of the solution and a step closer to absolute quantification- would you disagree?

[2020-08-24 14:34] LuckyMD commented on #1364
I'm not sure spike-ins are so helpful if they only account for part of the technical effects that have to be normalized out. In the end you will have the same problem with the remaining effects you are not capturing on which you don't have a good experimental handle. Unless you can spike into a tissue directly somehow? I quite like the idea of spike-in cells though for batch effects, but those hav

[2020-08-24 18:50] ckrilow commented on #990
This solution worked for me as well, thanks for the help!

[2020-08-25 08:02] ivirshup commented on #1387
This makes me think of a few things.

### Moving 10x reading functions to `anndata`

Initially the idea was all single cell stuff should go into scanpy. Since we read loom into anndata, I think we'd be okay with putting the 10x readers into anndata, especially if there is broad consensus this would make development of other packages easier. However, they would need to be re-written to use h5py ins

[2020-08-25 09:56] #1355 closed, assigned to nobody

[2020-08-25 18:12] adamgayoso commented on #1387
I haven't worked much with h5py or tables, is it time-consuming to refactor these functions? It seems like moving to anndata is the most straightforward solution at least logically to me.

I like scanpy, but the only thing we really *require* in scvi is the data loading part. A user could take their scvi outputs and go use Seurat if that makes them happy. And then like the data loading functions a

[2020-08-26 08:06] WeilerP commented on #435
Hi there,
stumbled on this by chance when debugging a similar problem - though I'd share my gained insight:

As @LuckyMD already pointed out [here](https://github.com/theislab/scanpy/issues/435#issuecomment-475722334), the root of the problem is feeding `np.int64` into `sc.preprocessing.log1p`. More specifically, the problem occurs in `log1p_array` [here](https://github.com/theislab/scanpy/blob/88

[2020-08-26 11:24] fidelram commented on #1371
you can set the legend width. Using the previous example:
[code]

See: https://scanpy.readthedocs.io/en/latest/api/scanpy.pl.DotPlot.legend.html#scanpy.pl.DotPlot.legend

[2020-08-28 12:53] fbnrst opened #1395 "score_genes throws AttributeError if len(gene_list) = 1 and raw is present"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

My guess is that the issue is that `adata.raw[:, '1'].X` returns an `array` but that `adata[:, '1'].X` returns an `ArrayView`.

### Minimal code sample (that we can copy&pa

[2020-08-28 12:54] fbnrst commented on #1395
I'm happy to help with a PR if you tell me how to tackle this.

[2020-08-28 13:55] zhangguy opened #1396 "regress_out n_jobs question"
...

Hi,

I notice that even if I set n_jobs=1 in sc.pp.regress_out, all cpus are utilized. This also happens if I set n_jobs to other numbers. Basically there isn't a noticeable difference in cpu usage no matter what number of n_jobs I set. I'm using CentOS6.8 on a machine with 28 physical cores and hyper threading on (appears as 56 cores in the os).

Is this an intended behavior, or just my inst

[2020-08-28 17:32] aravind1338 opened #1397 "scanpy/api/pl.py "cannot import name stacked_violin" from 'scanpy.plotting._anndata'"
- I have checked that this issue has not already been reported.
- I have confirmed this bug exists on the latest version of scanpy.

---

### Minimal code sample (that we can copy&paste without having any data)

[code]

[code]

This is with the latest version of scanpy. I looked at the code and scanpy/apt/pl.py still has **from ..plotting._anndata import scatter, violin, ranking, clustermap, stack

[2020-08-29 19:04] JBreunig commented on #1396
I have the same issue on Ubuntu 20.04.

[2020-08-31 06:28] ivirshup commented on #1387
In this case, I think it should be fine. It might not happen too soon if we're left to our own devices, so a PR is welcome.

What formats that aren't in `anndata` would you see in this package? I'm trying to get an idea of the kind of scope you're thinking of here. I think there are formats where there isn't one obvious "right way" to represent them as an AnnData object (e.g. visium), so having a

[2020-08-31 06:37] ivirshup commented on #435
@WeilerP I'm pretty sure that should work right now. I actually think issue this has been solved, but just wasn't closed

Here's an example for this specific case:

[code]

Basically, we just try to make `inplace` refer to the anndata object, and be truly inplace on the array when possible.

[2020-08-31 06:49] ivirshup commented on #1397
Thanks for the bug report! I think you should use:

[code]

instead of

[code]

Is there any reason you're using `scanpy.api`?

@flying-sheep @falexwolf, was there a reason we didn't just make those statements equivalent?

[2020-08-31 08:08] ivirshup commented on #1396
AFAICT, I think the parallelization you're seeing will be due to the underlying calls in statsmodels. If you turn down the number of threads blas can use, do you see the same utilization?

[2020-08-31 08:20] ivirshup opened #1399 "Workflow for merging bug fixes"
As discussed on the last call, we'd like to be better about semantic versioning. The plan for this is to cut release branches which we can back port bug fixes onto, and keep new features for minor releases. We need to develop some processes for marking which PRs should get back ported, and for doing the back porting.

[2020-08-31 08:32] WeilerP commented on #435
@ivirshup, yes, your example works. However, I would not consider the issue as resolved as it still exists IMO.
Your example only works as you are working with a sparse matrix. If `X` is a `np.ndarray`, the method still fails:

[code]

[2020-08-31 10:32] ivirshup commented on #435
Ah, I'd missed that. Should be fixed with #1400.

[2020-08-31 14:18] aravind1338 commented on #1397
I'm actually testing and tweaking someone else's code that was written a while ago. I assume they used
`import scanpy.api as sc` because it was appropriate then. I personally resolved my issue by downgrading versions, I just wanted to bring this up!

[2020-08-31 23:39] zhangguy commented on #1396
FYI more n_jobs seems to be slower for regress_out if I don't disable the BLAS multi threading:
[code]
[code]
[code]
[code]

I'm using scanpy 1.5.2.dev104+g8611dba1

Indeed after disabling BLAS multi threading sc.pp.regress_out will only use one core if setting n_jobs = 1. But it has to be disable by exporting these environmental variables before starting python ..., but I guess it is not a good t

[2020-09-01 15:15] WeimiaoWu commented on #1397
I encountered the same issue. Which version are you using to fix this?

[2020-09-01 15:20] WeimiaoWu commented on #1397
nm, downgrading to 1.5.1 fixed my problem. Thanks!

[2020-09-01 20:25] susanGhaderi commented on #748
Hi,
I would like to use scanpy for differential gene expression between four-time points. So for each time point, I have 250 cells and 20000 genes and the gene expression matrix. I do not know how should I use annData to use scanpy to find differential gene expression between each time point.
Could you please help me with this problem?

[2020-09-02 07:12] ivirshup commented on #1399
How pandas does this: there's branch for a minor version, e.g. `1.1.x`. Bugfixes get back ported to this branch, and releases are tagged here. There is automation of back porting through [meeseeksbox](https://meeseeksbox.github.io). We might have to request access for this?

Julia does something pretty similar, except it looks like all back ports are done at once in a PR, instead of continuously.

[2020-09-02 07:14] #435 closed, assigned to nobody

[2020-09-02 09:42] ivirshup commented on #1395
Thanks for the bug report! The issue was that `score_genes` had some code for working around how old versions of anndata would automatically remove dimensions from `X` if a dimension had only one entry.

[2020-09-02 10:57] WeilerP opened #1401 "Using list(map(lambda)) is suboptimal"
As the title suggests, it can be suboptimal w.r.t computation time to use

[code]

In `readwrite.py` [here](https://github.com/theislab/scanpy/blob/f704f724529def21769ee6407f9b47b5c161564c/scanpy/readwrite.py#L190) for example, instead of chaining of the three functions, we can simply compare to a `pandas.Series`:

[code]

This improves readability and is slightly faster.

In a quick check I ran i

[2020-09-02 11:09] WeilerP opened #1403 "Adapt name of UMAP coordinates according to used representation"
- [x] Additional function parameters / changed functionality / changed defaults?

As of now, when using `umap` [here](https://github.com/theislab/scanpy/blob/f704f724529def21769ee6407f9b47b5c161564c/scanpy/tools/_umap.py#L17), the calculated UMAP coordinates are always stored in `adata.obsm` with the key `"X_umap"`. This key can be misleading IMO. For example, let's say we calculated a neighbor gr

[2020-09-02 15:35] gokceneraslan opened #1404 "values_to_plot argument of rank_genes_groups_dotplot is not shown in the documentation"
`values_to_plot` should be shown between groupby and min_logfoldchange but it's not shown in the Parameters section at all:

<img width="1166" alt="image" src="https://user-images.githubusercontent.com/1140359/92004375-28eb7280-ed10-11ea-92d7-fd0d1cbb6bdd.png">

[2020-09-03 21:46] YubinXie opened #1405 "sc.plt.umap save as pdf bug"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---
I tried to save an umap result to a pdf, however, the dots in Umap are blurred and it just looks like png. Only the legend is in vector mode. I was wondering if this is a bu

[2020-09-03 21:51] gokceneraslan commented on #1405
Thanks. Can you share the code that produces the error? Maybe also the image as well?

[2020-09-03 21:55] YubinXie commented on #1405
`sc.pl.umap(ad, color=['mt.count'],save='test.pdf') `

[umaptest.pdf](https://github.com/theislab/scanpy/files/5171583/umaptest.pdf)

[2020-09-04 07:24] fidelram commented on #1405
I think that we rasterize the scatter part because is usually impractical to have a pdf with thousands of dots.

I sugggest that you increase the DPI to get a better resolution image:
See https://scanpy.readthedocs.io/en/stable/api/scanpy.set_figure_params.html

[2020-09-04 12:41] wflynny commented on #1405
The real issue is probably `vector_friendly = True` which will rasterize the underlying scatterplot.  Setting `sc.settings.vector_friendly = False` should correct that.

[2020-09-04 20:59] bz520251 opened #1406 "var_names not being found by during plotting"
I tried import .loom file generate from Seurat into scanpy for drawing heatmap.
There is a gene "CD34", when I draw in R, it reported as "Warning: Could not find CD34 in the default search locations, found in RNA assay instead". but still work.
While in scanpy, it showed the following error: KeyError: "Values ['CD34'], from ..., are not valid obs/ var names or indices."
How can I fix it?

[2020-09-05 11:56] asmariyaz23 opened #1407 "phenograph Expected list, got numpy.ndarray"
While trying to cluster using phenograph I get the error below. Could you help me understand why this happens?
[code]

[2020-09-06 02:34] danielg52 commented on #925
Can this method apply to Leiden clustering as well? I recapitulated the above code in my program, and my new cluster column returned only NaNs. What should the "old_cluster1" side of the structure look like when I am trying to make that dictionary?

Thanks

[2020-09-06 21:58] aditisk opened #1408 "Error while using the read_10x_mtx() function"
I'm trying to import some data I downloaded from GEO using the read_10x_mtx() function. Since this data was generated with an older version of Cellranger, there is no features.tsv.gz file. I renamed the genes.tsv.gz file to features.tsv.gz but that still doesn't fix my problem.  I am pasting the error message below:

[code]

Versions of all packages:

`scanpy==1.4.5.post2 anndata==0.6.22.post1 uma

[2020-09-07 10:02] chris-rands commented on #1408
You should not be re-naming the file. Scanpy handles CellRanger V3 and V2 outputs, but does so [based on](https://github.com/theislab/scanpy/blob/43379e038c5db3f917f45cc69889de0dcb6caa35/scanpy/readwrite.py#L470) the way the files are named. Perhaps you just need to `gunzip` the file to `genes.tsv`?

[2020-09-07 10:15] chris-rands commented on #1364
You can transfect RNA into cells, but the amount of RNA taken up will not be very consistent, so unlikely to be useful for quantitative information. Do you have an idea for how much bias is actually introduced by tissue prep and cell lysis?

Anyway, all the scRNA-seq data I have actually worked with is droplet based and I certainly agree in the value of model-based normalisation techniques. I susp

[2020-09-07 13:01] kleurless commented on #944
Same issue here, also without `standard_scale="var"` (shown)
![image](https://user-images.githubusercontent.com/60929679/92390361-00ea7d80-f11b-11ea-90f1-7170e0671dca.png)

[2020-09-07 20:40] salwanbutrus commented on #1371
Thank you!

[2020-09-07 20:40] #1371 closed, assigned to nobody

[2020-09-08 07:13] SuhanG17 opened #1409 "adata.concatenate() won't work properly"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-09-08 14:17] aditisk commented on #1408
@chris-rands thanks for the suggestion. It works now.

[2020-09-08 14:17] #1408 closed, assigned to nobody

[2020-09-08 16:44] atarashansky commented on #1366
One idea:
1) Cluster the graph with leiden
2) Coarsen the graph (collapse cells in a single cluster into super nodes)
3) Assign each supernode a color -- adjacent supernodes in the coarsened graph cannot be the same color
4) Assign all cells in each cluster that cluster's color.

That way you'd probably get nice-looking patches of colors and wouldn't run into the issue @ivirshup mentioned.

[2020-09-08 16:48] atarashansky commented on #1370
One potential solution is to convert the integrated connectivity matrix, C, into a pseudo-distance matrix (1-C) (this probably won't work for datasets much larger than 10k cells due to memory limitations) and run t-SNE with the 'precomputed' metric on that fake distance matrix. If scanpy's t-SNE wrapper does not allow passing a precomputed distance matrix, I would recommend using the sklearn imple

[2020-09-09 05:43] #1409 closed, assigned to nobody

[2020-09-09 10:21] cartal opened #1410 "Leiden doesn't save clusters in `adata.obs`"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

I have been trying to cluster a manifold of around 100K cells computed from scVI using the `leiden`
algorithm as follows:

[code]
This works fine:

[code]

However, when I

[2020-09-09 10:33] LuckyMD commented on #1410
Hi @cartal,

Could it be that you are using a subsetted anndata object on which you are running clustering? If you run an `adata_subset = adata_subset.copy()` You turn that from a view into an anndata object, which might avoid this. I'm however not sure why using a view would make the clustering results end up in `adata.uns`.

[2020-09-09 11:14] cartal commented on #1410
Thanks for the quick reply @LuckyMD!

This is the whole dataset, the only subsetting I've done is when I have filtered low quality cells.

[2020-09-09 11:17] LuckyMD commented on #1410
The line `Trying to set attribute `.obs` of view, copying.` suggests that your object is still a View. Could you check the output of just your `adata` object?

[2020-09-09 11:23] cartal commented on #1410
I see.

The output for `adata` is:
[code]

I can see that my attempts to `leiden`ing have ended up here in `adata.obs` ...

[2020-09-09 12:14] LuckyMD commented on #1410
This looks as though it is now no longer a view, or the respective warning is from a line of code in the `sc.tl.leiden()` function. Either way, it looks to be resolved now. Might the `adata.uns['leiden']` be the colours assigned to the clusters after plotting?

[2020-09-09 14:08] lianyunhuang opened #1411 "sc.tl.marker_gene_overlap() give the same values to each cluster"
Dear There,

I recently re-installed the single cell environment. Then, the example code of sc.tl.marker_gene_overlap() on scanpy tutorial does not work. It give the same values to each cluster. Thanks for your help!

Lianyun

[code]

[code]

#### Versions

<details>

-----
anndata     0.7.4
scanpy      1.6.0
sinfo       0.3.1
-----
PIL                 7.2.0
anndata             0.7.4
backcall

[2020-09-09 14:31] giovp commented on #1386
We do! Check [here](https://scanpy-tutorials.readthedocs.io/en/latest/index.html#scanpy-tutorials)

[2020-09-09 14:31] #1386 closed, assigned to nobody

[2020-09-09 15:27] cartal commented on #1410
I tested this in a couple of machine and the pipeline works fine there. However, I just re-installed `leidenalg` and this is now resolved!

Thanks a lot for the feedback.

[2020-09-09 15:27] #1410 closed, assigned to nobody

[2020-09-09 16:23] LuckyMD commented on #1410
Great! Glad I could help.

[2020-09-09 16:32] chris-rands commented on #1408
No worries. Arguably scanpy should check for common compression formats with V2 (and no compression for V3) while reading the input files, or at least provide a more informative traceback, especially if data on GEO routinely includes these formats

[2020-09-09 19:07] mat10d commented on #1407
Getting this same identical issue

[2020-09-10 16:17] Blohrer commented on #1295
When using **scanpy.pl.paga_path**, I experience the same error as @plrlhb12 (TypeError: **float() argument must be a string or a number, not 'csr_matrix'**) and I can also only generate a plot after deleting adata.raw. As a consequence, I can only plot genes that are filtered for high variability during preprocessing and still present in adata.var.gene_ids.
I would be glad if there was a way to m

[2020-09-11 08:50] prubbens commented on #1407
Also since recently. Used to work like a charm previously, before I update some packages. I guess it has to do with the latter. Any solutions?

[2020-09-11 08:56] prubbens commented on #1407
I guess it has to do with the dependency on `scipy`. Downgrading to a previous setup of packages did the trick for me.

[2020-09-11 13:15] mat10d commented on #1407
Same here, downgrading made everything work

[2020-09-11 14:24] asmariyaz23 commented on #1407
@prubbens @mat10d what version of scipy worked for you?

[2020-09-11 14:26] mat10d commented on #1407
1.4.1

[2020-09-11 14:43] prubbens commented on #1407
1.4.2. 1.5.X seemed to break the dependencies.

[2020-09-12 09:39] llumdi opened #1412 "Change dotplot labels from EnsemblID to geneID"
- [ X] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

I have an AnnData object:

print(adata)

AnnData object with n_obs × n_vars = 77430 × 1988
    obs: 'CONDITION', 'input.path', 'experiment', 'Sample type', 'BiOmics Sample Name

[2020-09-14 08:45] ivirshup commented on #1396
Thats not too surprising to me. This must be significantly over scheduling your machine.

--------------------------------

This got me doing a little more digging into this, and it look's like there's actually a solution now! We can use [`threadpoolctl`](https://github.com/joblib/threadpoolctl) to dynamically manage the number of threads BLAS uses via the `threadpool_limits` context manager.

I'm

[2020-09-14 09:00] levinhein commented on #643
Hi. I'm struggling with the same issue that is not resolved with the suggestions above (using other scipy version==1.2.1). I have scanpy==1.6.0 and scipy==1.5.2 in my environment. I am using Ubuntu in Windows.

And when I import scanpy in jupyter notebook, I get the error:

**`ImportError: cannot import name 'IndexMixin' from 'scipy.sparse.sputils' (/home/levinbioinformatics/anaconda3/envs/scgen-e

[2020-09-15 03:38] john-jiangyong opened #1414 "In sc.pl.tracksplot, groupby is not worked"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-09-15 03:51] john-jiangyong commented on #1414
when I detect the with adata.obs["seurat_clusters"].dtype.name != 'category'.  the resault  shows Ture

[2020-09-15 06:53] LuckyMD commented on #1414
Hi @john-jiangyong,

The error is that your covariate you group by should be a categorical, while it is not at the moment. You could run:
`adata.obs[‘seurat_clusters’] = adata.obs[‘seurat_clusters’].astype(‘category’)` To turn the covariate into a categorical.

Note the code above might not be 100% correct as i’m typing from my phone and haven’t verified.

[2020-09-15 09:20] fidelram commented on #1412
If you add the `gene_symbol` parameter, scanpy will look for the `var_names` in this column instead of looking into  `adata.var index`. It will not map between index and the gene_symbol

I you want to do the mapping of labels, you can do something like follows:

[code]

[2020-09-15 09:22] fidelram commented on #1404
I will add this

[2020-09-16 02:35] adamgayoso opened #1415 "Should log1p edit .X inplace?"
It's a little confusing why something like normalize_total doesn't inplace edit the data, but log1p does.

https://github.com/theislab/scanpy/blob/5533b644e796379fd146bf8e659fd49f92f718cd/scanpy/preprocessing/_simple.py#L309-L321

Why should `out` be set here?

![Screen Shot 2020-09-15 at 7 35 03 PM](https://user-images.githubusercontent.com/10859440/93285788-8eb51100-f78a-11ea-8df9-02eee7d46ed5.p

[2020-09-16 09:12] WeilerP opened #1416 "Docs for `scanpy.tl.rank_genes_groups` are displayed incorrectly"
The docs for `scanpy.tl.rank_genes_groups` are displayed incorrectly [here](https://scanpy.readthedocs.io/en/stable/api/scanpy.tl.rank_genes_groups.html#scanpy.tl.rank_genes_groups). The problem is the empty line [here](https://github.com/theislab/scanpy/blob/f704f724529def21769ee6407f9b47b5c161564c/scanpy/tools/_rank_genes_groups.py#L518).

[2020-09-16 11:48] WeilerP opened #1418 "Random test failure of `test_plotting.py::test_paga`"
## Description

Running the scanpy tests locally (see system information and package versions below), I noticed the test `scanpy/tests/test_plotting.py::test_paga` sometimes failing due to `AssertionError: Error: Image files did not match` but passing on a consecutive run.

Did anyone encounter similar problems or does anyone know why this is happening?

### Failure message

[code]

#### Versions

[2020-09-16 12:00] WeilerP opened #1419 "Improve documentation for developers"
## Description

For an easier start of potential contributors, it might be helpful to add a file such as `requirements-dev.txt` including all packages required to e.g. run unit tests locally. Otherwise, several packages (e.g. `leidenalg`, `louvain`, `scikit-misc`, `harmonypy`, `python-igraph`) have to be installed manually which is rather tedious:

[code]

The wheels to install `python-igraph` und

[2020-09-16 15:22] xie186 commented on #1409
Did you get an idea how to solve this problem? I encountered the same problem.

Here is the version info:

[code]

Here is the error message:

[code]

Thanks.

[2020-09-16 18:19] WeilerP opened #1420 "Unit tests fail with latest version of seaborn"
## Description

Using the `seaborn==0.11` makes `scanpy/tests/test_plotting.py:test_violin` and `scanpy/tests/notebooks/test_pbmc3k.py` fail. The warning

[code]

is thrown by `seaborn` in the stack trace for the failed tests.

The problem seems to originate from [here](https://github.com/theislab/scanpy/blob/f704f724529def21769ee6407f9b47b5c161564c/scanpy/plotting/_anndata.py#L745) and [here](htt

[2020-09-17 06:54] fidelram commented on #1420
@WeilerP Any idea on how to solve the problem? I thought that setting `orient='vertical'` was going to solve the issue but we already do that.

[2020-09-17 08:25] WeilerP commented on #1420
I skimmed through the code only briefly yesterday but I think the problem might be that both `x` and `y` need to be specified: The error message seems to indicate so and the two lines seemingly responsible for the problem are the only ones where `x` and `y` are **not** both specified.

I'll have a closer look at it in a bit.

[2020-09-17 08:36] fidelram commented on #1420
Looking at this function which is called by seaborn violin (https://github.com/mwaskom/seaborn/blob/cf8af7e1c4ffd5d0044d13323731fa5066c057c8/seaborn/_core.py#L1260) it seems that what we need to do is swap x and y.

[2020-09-17 10:52] WeilerP commented on #1420
Yes, I saw that too but I was hoping it could be prevented as it seems suboptimal to me and is probably confusing when looking at the code.

Is there a specific reason for using `seaborn.FacetGrid` instead of `seaborn.catplot` (see [here](https://seaborn.pydata.org/generated/seaborn.catplot.html#seaborn.catplot))? Replacing the lines

[code]

[here](https://github.com/theislab/scanpy/blob/f704f724

[2020-09-17 11:33] fidelram commented on #1420
There is not particular reason to use FacetGrid. If catplot does the job then it is ok.

[2020-09-17 13:43] WeilerP commented on #1419
Realised this functionality is already available via `pip install ".[dev]"`. May be good to mention somewhere, though.

[2020-09-17 14:37] WeilerP commented on #1420
The following code produces the desired plot (up to permutation of the subplots and the image size) in case of only one row of subplots:

[code]

![master_violin_multi_panel](https://user-images.githubusercontent.com/28675704/93485925-e5922600-f903-11ea-9edb-0f7523a67c0d.png)

Seems a bit hacky to me. What do you think @fidelram?

[2020-09-17 15:53] fidelram commented on #1420
@WeilerP probably there is a more direct way to overlay the stripplot but I don't think that it makes any big difference.

Can you make a PR to see how the tests work?

[2020-09-17 17:56] Koncopd commented on #1409
@xie186 updating pandas should fix the problem.

[2020-09-17 19:15] xie186 commented on #1409
@Koncopd  Thanks for your response. Updating pandas to 1.1.2 doesn't work in my case. I'm wondering whether there is a docker image or Dockerfile for the latest version from your lab.

[2020-09-18 05:50] xie186 commented on #1409
To make you reproduce my error, here is what I did with a Docker image:

1. `singularity -d build sc_velocyto0.17.17_scannpy1.6.0_scvelo0.2.2.img docker://xie186/scrna_tutorial:0.1.0`

2. sudo ufw allow 8689

3. `singularity run --nv sc_velocyto0.17.17_scannpy1.6.0_scvelo0.2.2.img  jupyter-lab --ip=<your_ip> --port=8689 --no-browser `

Then in browser, open '<your_ip>:8689' and run the code below

[2020-09-18 06:31] ivirshup commented on #1409
@xie186, are the variable names within each of your objects are unique?

I would guess that would be the problem. Here's a simple case that would throw this error:

[code]

I think our merge operation for the variables is only well defined if variable names are unique with each of the objects. I'm not sure there's a good default result here other than throwing an error.

[2020-09-18 06:45] ivirshup commented on #1415
I'm a little confused about the question. `normalize_total` does try to modify the data inplace:

[code]

In general, we try to make most operations in place for efficiency. This should allow people to work with datasets that fit uncomfortably in memory, which might not be an option if a copy was made.

Your screenshot does show some weirdness in the anndata constructor where a copy get's made, wh

[2020-09-18 07:44] llumdi commented on #1412
Thanks for your answer and the code suggestion.
When I do:
ax_dict = sc.pl.dotplot(adata, myg,  groupby=condition, show=False)
The plot is still shown and ax_dict is:

GridSpec(2, 5, height_ratios=[0, 10.5], width_ratios=[0.7, 0, 0.2, 0.5, 0.25])

How do I have to set show=False to get the axes dictionary?

Thanks

[2020-09-18 12:53] xie186 commented on #1409
I'll make sure they are unique and try again. I'm following the note here: https://github.com/theislab/pancreatic-endocrinogenesis/blob/master/scRNA_seq_qc_preprocessing_clustering.ipynb

[2020-09-18 13:35] xie186 commented on #1409
@ivirshup Indeed, there are 48 indexes that are not unique which is weird to me. In the link I gave above, the authors didn't have this problem. Maybe it's because of the version differences.
Thanks.

[2020-09-18 14:55] LuckyMD commented on #1409
`adata.obs_names_make_unique()` should help you here before concatenating.

[2020-09-18 14:55] adamgayoso commented on #1415
I must've mixed up `normalize_total` and `normalize_per_cell`, which I know is deprecated. I know it's clearly stated in the anndata docs regarding the float32 copy issue, but it's really quite confusing!

[code]

Edit: So I guess the real culprit is the float32 issue with AnnData. Is this something you all plan to address soon?

[2020-09-18 16:07] mosquitoCat commented on #914
Hi ivirshup,

I've recently run into a similar situation where the gene names appear to be numbers in the plot. I've checked the var_names and they are fine. I might be wrong here but my feeling is that the plot function picked up the index number of the gene rather than the gene name itself. I'm not very familiar with AnnData but I think a match and swap will do the job. Could you give me some ad

[2020-09-18 16:12] LuckyMD commented on #914
We've been having a similar issue in `scIB` recently @ivirshup. Were there some changes to the way pandas indexing works? We had to change some `.idxmin()` and `.argmin()` lines to make things work for ppl.

[2020-09-18 20:16] jpreall commented on #1411
Same issue here.

scanpy==1.6.0 anndata==0.7.4 umap==0.4.4 numpy==1.19.0 scipy==1.4.1 pandas==1.0.5 scikit-learn==0.23.1 statsmodels==0.11.1 python-igraph==0.8.2 louvain==0.7.0 leidenalg==0.8.0

[2020-09-18 20:39] xie186 commented on #1409
@LuckyMD Thanks for your comments. Do you have an idea why we have duplicate IDs here? Shouldn't Gene ID be unique?

[2020-09-18 22:41] LuckyMD commented on #1409
Ah, I missed that it's gene IDs and not obs ids. In that case it's `var_names_make_unique()` you need. I'm not sure why you would have duplicate genes. Sometimes it can be due to signs that aren't read in properly, i.e. maybe you have gene names `ABC-1` and `ABC-1 ` with a space or some other character?

[2020-09-20 18:08] mosquitoCat commented on #914
@ivirshup @LuckyMD
I fixed the problem - the issue was in the original h5ad file converted from a Seurat object using SeuratDisk::Convert(). It seems the var data wasn't ported over properly for the assay I was using. I rebuilt the h5ad file using reticulate instead and that solved the problem.

[2020-09-22 08:26] ivirshup commented on #1415
I think we can do that. I did a quick check and it's pretty benign in anndata. It causes test failures a few places in scanpy, but I think that's solvable with some conversion.

It is a breaking change, so it will need to be in anndata 0.8. But there's a few more minor changes I'd like to make, so maybe we can be quick on that.

[2020-09-22 12:27] Hrovatin commented on #1366
I would be very interested in this functionality as well - even with 20 or so cell types the UMAPs are often unreadable.

Shouldn't the clusters be already predefined (e.g. cell types, etc. used for colouring)?
Also, shouldn't one strive that neighbouring clusters are not only coloured with different colour, but also the colours to be as much apart in the spectrum as possible. E.g. orange and brow

[2020-09-22 14:57] brianpenghe commented on #1213
Wait, does it use OR logic now?? Doesn't AND logic make more sense???

[2020-09-22 14:59] brianpenghe commented on #863
Has this been solved?
By the way I see some cases where filtering doesn't work. I still see a lot of genes not passing the fold threshold surviving.
And depleted genes are also there

[2020-09-22 15:09] adamgayoso commented on #1415
So with this change `.X` would always be a view of the same data, regardless of type?

[2020-09-22 15:15] #1420 closed, assigned to nobody

[2020-09-22 20:06] WeilerP opened #1423 "Use `np.array` instead of `np.matrix`"
## Description

Numpy does not recommend the usage of the matrix subclass. Since the introduction of the matmul operator `@` in python 3.5, the biggest advantage of the matrix subclass does not exist anymore. Since `scanpy` works with python 3.6 and python 3.7 and `numpy>=1.17.0`, there is no apparent reason why to use `np.matrix` instead of `np.array`.

Currently, `np.matrix` is used in `scanpy/p

[2020-09-23 07:29] ivirshup commented on #1415
We will always try to make `.X` a reference to the passed array. There may be cases where we need to make a copy, but we'll try to avoid that.

[2020-09-23 11:54] #1416 closed, assigned to nobody

[2020-09-23 11:57] #1423 closed, assigned to nobody

[2020-09-23 19:24] fidelram commented on #1412
Please update to the latest scanpy release (1.6)

[2020-09-23 19:54] malumbres opened #1426 "Different results for "names" after sc.get.rank.genes.df in Jupyter"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

After running sc.tl.rank_genes_groups and sc.get.rank_genes_groups_df using the same data and python/scanpy code, Spider and Jupyter (both installed in the same environment

[2020-09-23 22:43] njbernstein commented on #351
I'd like to tackle this. Can someone tell me how we want to store hashing data in an `anndata` object?
 @flying-sheep @fidelram

I'll take back up porting hashsolo to scanpy

[2020-09-23 23:35] ShanSabri opened #1427 "Add gene_symbols argument to scanpy.pl.rank_genes_groups_matrixplot"
- [x] Additional function parameters / changed functionality / changed defaults?

Would it be possible to add the `gene_symbols=` argument to `scanpy.pl.rank_genes_groups_matrixplot`, just as done with `sc.pl.umap`?

I'd like to take ENSG IDs all the way through the analysis (as `var.index`) and am having a hard time trying to unique the GeneIDs. I'm currently achieving this by:

[code]
 But there

[2020-09-24 05:29] #1401 closed, assigned to nobody

[2020-09-24 05:46] ivirshup opened #1429 "sc.datasets.blobs should get a random_state parameter"
We should make the `random_state` of `make_blobs` available through our `blobs` function. This would make it easier to generate random data for testing.

[2020-09-24 06:44] #1404 closed, assigned to flying-sheep, fidelram

[2020-09-24 11:11] brianpenghe commented on #1366
It won't be as a big problem for two different clusters to have the same colors because Scanpy already uses very similar or identical colors when cell type number is high. The primary goal for using different colors is to separate clusters that sit next to each other on a dimension-reduced 2D map. Hopefully the world map color problem can be solved by the Scanpy team.

[2020-09-24 11:11] brianpenghe commented on #1366
that sounds reasonable

[2020-09-24 18:55] michael-swift commented on #346
I also had this issue with scanpy 1.6.0, which is fixable in the way mentioned by Marius1311, but I agree it is not the expected behavior

[2020-09-24 23:12] ywen1407 opened #1431 "Question on concatenation and memory use"
I've been working on scRNA from different patients (diseased and healthy) control and was wondering what is the best approach to concatenate these data? It seems like inner join is usually recommended, but given significant individual variability (especially disease versus healthy states) there would be a large proportion of genes lost. Clustering also does not have good result. So I was wondering

[2020-09-25 09:11] LuckyMD commented on #1431
Hey @ywen1407!

The ideal case is that you don't pre-filter the gene sets before concatenating. Then, if you have aligned both sets of samples to the same genome, everything should be fine and you can filter out genes afterwards. Otherwise an outer join would only assume all values you filtered out were 0, which is probably not the way forward. That's why the only decent option you really have is

[2020-09-25 09:28] Marius1311 commented on #1431
As long as my combat implementation handles sparse matrices correctly, a sparse 38k cell matrix should be absolutely no problem. Maybe check the implementation, it has been quite a while since I did this.

[2020-09-25 10:56] lisbeth-dot-95 commented on #336
I would also be interested in a version which delivers the information shown in the dotplot! Would be extremely useful for automatic cluster annotation.

[2020-09-25 11:12] fidelram commented on #1418
Did you check if the expected and actual images were significantly different. Some times I get errors locally because is difficult to have an identical environment as the one used by Travis.

[2020-09-25 11:15] fidelram commented on #1419
This is indeed very valuable information.

Do you mind adding a PR updating https://github.com/theislab/scanpy/blob/master/docs/installation.rst ?

[2020-09-25 11:19] #1414 closed, assigned to nobody

[2020-09-25 18:20] ywen1407 commented on #1411
same issue here. did you get to solve this?

[2020-09-25 19:30] ywen1407 commented on #1431
Thanks for the explanation. I tried concatenating all samples with inner join and it actually went well! The overall number of genes do drop from 45K to around 20K but after preprosessing, the clustering looks OK.

[2020-09-25 20:03] LuckyMD commented on #1431
I guess 20k genes is still quite a lot. After filtering out genes that aren't expressed in most cells i typically have between 12k and 18k genes left.

[2020-09-25 20:04] #1431 closed, assigned to nobody

[2020-09-26 14:22] mssher07 commented on #1407
Hmmm. I am getting this error with scipy 1.4.1. New install of phenograph so I don't have an older version to roll back to. Hopefully they fix this soon!

[2020-09-27 23:41] roofya opened #1433 "ImportError: cannot import name 'read' from 'scanpy' (unknown location)"
Hi

I  have successfully installed scanpy but
ImportError                               Traceback (most recent call last)
<ipython-input-5-99fcf407c387> in <module>
----> 1 import scvelo as scv
      2 import scanpy as sc
      3 import numpy as np

~/anaconda3/lib/python3.7/site-packages/scvelo/__init__.py in <module>
     14     del version
     15
---> 16 from .read_load import AnnData, read, r

[2020-09-28 07:23] WeilerP commented on #1419
Yes, no problem. I'll update it in a bit.

[2020-09-28 11:40] lianyunhuang commented on #1411
No solution yet...

[2020-09-28 13:17] havardtl opened #1434 "Insufficient explanation in docs about n_genes_by_counts variable"
Hi,

Thanks for developing a good tool for analyzing scRNAseq data. In the process of learning scRNAseq analysis with scanpy I have come across a few places in the documentation that left me a bit confused.

The most confusing is that I could not find a description for the variable `n_genes_by_counts` calculated by the function scanpy.pp.calculate_qc_metrics and mentioned in the tutorial https://s

[2020-09-28 13:19] ivirshup commented on #1434
This issue has been mentioned on **Scanpy**. There might be relevant details there:

https://scanpy.discourse.group/t/clarification-of-qc-metrics/295/4

Edit: This was a bot, bad bot

[2020-09-28 13:22] LuckyMD commented on #1434
@ivirshup that's the initial discourse thread that led here ;).

[2020-09-28 14:18] plankter opened #1435 "n_components parameter for t-SNE"
- [x] Additional function parameters / changed functionality / changed defaults?

Could you please add n_components parameter for tSNE embedding? `sklearn` t-SNE implementation allows to set this parameter. At the moment even setting `n_pcs` to 3 and `use_rep` to three-dimensional `X_pca` produces two-dimensional output.

[2020-09-29 12:18] vitkl opened #1436 "using fullres image in scanpy.pl.spatial"
Hi, scanpy team!

I am trying to understand if `scanpy.pl.spatial` would support using the fullres histology image. E.i. if it supports `img_key = 'fullres` where it would pull the image from 'fullres' slot in adata.uns['spatial'] and use the coordinates in adata.obsm['spatial'] as is with no transformation.

I hope this is the right space to ask my question. Thanks a lot!

[2020-09-30 12:00] grst opened #1437 "importlib_metadata >= 2.0 breaks scanpy.logging.print_versions()"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

When scanpy gets installed with the latest version of `importlib_metadata` (2.0), the
command `sc.logging.print_versions()` fails with the following error:

[code]

Accordi

[2020-09-30 12:24] emdann opened #1438 "scanpy.pl.scatter doesn't accept strings as color palettes"
The docs for `sc.pl.scatter` say

but setting `palette` to a string throws an error

[code]

[code]

I get no error if I use any of `sc.pl.palettes`. I also get no error setting `palette="Set2"` in `sc.pl.umap`, `sc.pl.draw_graph` etc...

#### Versions

<details>

-----
anndata     0.7.4
scanpy      1.6.0
sinfo       0.3.1
-----
MulticoreTSNE       NA
PIL                 7.2.0
anndata

[2020-09-30 12:46] grst commented on #1437
While trying to fix it, I figured that the problem is upstream in `sinfo`.
Here's the issue I created:
https://gitlab.com/joelostblom/sinfo/-/issues/8

Feel free to close, or keep open until the problem is solved there.

[2020-09-30 12:46] bfurtwa commented on #1277
This feature is not used by pl.umap() or pl.draw_graph(). These functions do not search in the raw and return the error` IndexError: index 0 is out of bounds for axis 0 with size 0` when using gene_symbols that are only present in raw.
Could this feature also be implemented for these funtions?

[2020-09-30 19:18] esrice commented on #1277
Sure, I can do this. I'll submit a PR in a bit. @bfurtwa could you post the full stack trace for this error to help me find the problem please? Thanks!

[2020-10-01 19:32] giovp commented on #1436
Hi @vitkl ,
by fullres you mean the tiff image yes? This is not supported for now unfortunately, but we are working toward some extensions to make this possible (cc @hspitzer ).
One hacky way to go about this for now could be to:
- assign the tiff to the hires slot in `adata.uns['spatial]['library_id']['images']['hires']`
- change the hires scalefactor value to 1 in the respective slot
This should

[2020-10-01 19:49] giovp commented on #1406
you can check if `adata.var.index`has that gene. Also, what's the command you are trying to run?

[2020-10-01 19:51] giovp commented on #1403
This is related to #1301 , let's keep discussion there, I'll close this

[2020-10-01 19:51] #1403 closed, assigned to nobody

[2020-10-01 19:53] giovp commented on #1293
this is not related to scanpy, but to sam (scanpy external). Please report the bug in the original repo: https://github.com/atarashansky/self-assembling-manifold
pinging @atarashansky who is possibly most helpful in this.

[2020-10-01 19:53] #1293 closed, assigned to nobody

[2020-10-01 19:54] giovp commented on #1292
Hi @rpeys
can you please explain in more details what's the issue and show a reproducible example? thank you!

[2020-10-01 20:02] giovp commented on #1288
mmh true that should probably be 1-corr_matrix. I'll ping @flying-sheep he might have a better answer

[2020-10-01 20:04] giovp commented on #1286
I have pytorch and tensorflow alongside scanpy in several conda envs. I would close this for now, also because it's not clear what "probably it does not finish" means.
Feel free to reopen it if problem persists.

[2020-10-01 20:04] #1286 closed, assigned to nobody

[2020-10-01 20:06] giovp commented on #1269
this was probably fixed in https://github.com/theislab/anndata/pull/388 closing for now

[2020-10-01 20:06] #1269 closed, assigned to nobody

[2020-10-01 20:07] giovp commented on #1272
Hi @benxiahu I invite you to have a look at the tutorial here: https://scanpy.readthedocs.io/en/stable/tutorials.html and discussions on the topics in our discourse channel https://scanpy.discourse.group/
Hope those pointers are useful!
Will close this for now

[2020-10-01 20:07] #1272 closed, assigned to nobody

[2020-10-01 20:10] giovp commented on #1268
Sorry but the question is not clear. The plotting functions underwent a refactoring recently but that one should still work no? I'll close this for the moment, feel free to reopen it but please do so with a reproducible example, thank you!

[2020-10-01 20:10] #1268 closed, assigned to nobody

[2020-10-01 20:12] giovp commented on #1256
hi @JayalalKJ , it's best if this question is addressed in the original repository https://github.com/metgem/forceatlas2
I'll close this for the moment

[2020-10-01 20:12] #1256 closed, assigned to nobody

[2020-10-01 20:12] giovp commented on #1257
thanks @picciama for answering this, will close this now.

[2020-10-01 20:12] #1257 closed, assigned to nobody

[2020-10-01 20:15] giovp commented on #1251
you can check here that the log is actually performed as you suggest: https://github.com/theislab/scanpy/blob/5533b644e796379fd146bf8e659fd49f92f718cd/scanpy/preprocessing/_recipes.py#L66-L95

I'll close this for now

[2020-10-01 20:16] #1251 closed, assigned to nobody

[2020-10-01 20:17] giovp commented on #1232
can you elaborate a bit more and maybe show an example? that would be very useful, thank you!

[2020-10-01 20:18] giovp commented on #1220
it's not clear what the problem here sorry, can you copy the error and report a reproducible example? thank you!
I'll close this for now, feel free to reopen

[2020-10-01 20:18] #1220 closed, assigned to nobody

[2020-10-01 20:19] giovp commented on #1211
I believe it is, pinging @Koncopd who probably knows more about it. If this is desired behaviour, we could close this.

[2020-10-01 20:26] giovp commented on #1205
Hi @jorvis ,

ProjectR as far as I'm aware relies on some form of matrix decompositon (PCA, NMF) and do transfer learning with learnt weights. In some sense, it's similar to ingest. However, it would be a bit complicated to port it from R.
It doesn't seem super complicated to have it in scanpy as an additional tool, but it's not really a priority now. If you have anything in mind and would want to

[2020-10-01 20:26] #1205 closed, assigned to nobody

[2020-10-01 20:46] atarashansky commented on #1293
Hi @alkhairohr! Strange bug -- never seen it before.

The latest UMAP version I've been using with SAM is `0.4.1`. Can you downgrade UMAP to that version and try again? If that fixes your issue, then I'll add `umap<=0.4.1` requirement to the `setup.py` file for SAM as a stopgap until I figure out the issue.

Meanwhile, I'll try upgrading to `0.4.4` and see if I can reproduce the error.

As @giovp

[2020-10-01 21:15] JayalalKJ commented on #1220
Hi
 Please reopen this case

[2020-10-02 06:25] giovp commented on #1220
Hi @JayalalKJ ,
as you also pointed out, this issue is related to an environment in https://github.com/theislab/single-cell-tutorial
It's best if you open an issue there and directly address maintainers of that repo.
Beside that, we can't really help you in this case because we don't have enough information on the error and also it relates to an external package. We could provide you with more hel

[2020-10-02 08:50] vitkl commented on #1436
Hi @geovp!

Yes, I mean the original image that was supplied to SpaceRanger pipeline.
It doesn't have to be a TIFF image - in my experience slide scanners save
JPEG images internally, so there is no value in converting that to TIFF.
Also, it would be cool to use sc.pl.spatial for other technologies - say to
overlay single cell spatial over the microscopy image image.

Nice, I was using this hacky

[2020-10-02 10:16] LuckyMD commented on #1220
This looks like you can't find the louvain package via `conda` on windows. I believe that's a known issue that we've encountered before in the scanpy issues. See for example #786

[2020-10-03 12:30] WeilerP opened #1439 "Scanpy==1.6 cannot be imported for anndata<0.7.4"
## Description

`scanpy==1.6` cannot be used with `anndata<=0.7.3` due to an import error in `scanpy/__init__.py` as `concat` cannot be imported from `anndata`.

### Minimal code sample (that we can copy&paste without having any data)

[code]

[code]

#### Versions

<details>

[code]

</details>

[2020-10-03 15:58] WeilerP commented on #1419
I had a look at scanpy's [setup file](https://github.com/theislab/scanpy/blob/master/setup.py) `setup.py` and realised that running

[code]

does neither install all packages used within Scanpy's code base nor packages required for documentation or testing.

IMO, these packages should be installed in a _developer installation_ as they are all part of the development cycle. Adding a file `requireme

[2020-10-03 16:05] WeilerP commented on #1419
Were there every any thoughts or discussions on adding pre-commit hooks? This would, for example, automatically enforce the black coding style prior to committing new changes.

The `.pre-commit-hooks.yaml` file could, for example, look as follows:

[code]

[2020-10-03 19:58] jhrdt commented on #1439
Hej,

I stumbled upon your issue.

Test for my PR #1440:

[code]

[2020-10-03 21:08] bfurtwa commented on #1277
Sure:

[code]

[2020-10-04 06:50] giovp commented on #1436
This is interesting to know.

Can you elaborate on this? What tipe of technology and plot do you have in mind?

Mmh, I still think that the added value for looking at the fullres instead of the png in the context of overlaying spots to image is very little. In the hires png, even when cropping, the underlying resulting image is still quite good. Maybe not enough for analysis purpose, but for visua

[2020-10-04 08:51] WeilerP commented on #1439
Thank you for your PR!

I am, however, not sure if #1440 suffices: For one, `anndata/_core/merge.py:concat` only exists since `anndata==0.7.2a1`, so the version of `anndata` in `scanpy/requirements.txt`  has to be bumped up to at least `anndata>=0.7.2a1` (`anndata>=0.7.2` would probably be better). In addition, prior to `anndata==0.7.4`, many bug fixes have been implemented for `anndata/_core/merg

[2020-10-04 09:04] WeilerP opened #1441 "Incorrect pip install statement in documentation for contributors"
## Description

The documentation in `CONTRIBUTING.md` states that all dependencies required for testing can be installed via `pip install scanpy[test]`. It should, however, be `pip install "scanpy[test]"`.

### Minimal code sample

[code]

[2020-10-04 10:20] jhrdt commented on #1435
Hej,

I would like to implement this (`n_components` parameter).

If I am not mistaken, https://github.com/theislab/scanpy/blob/master/scanpy/tools/_tsne.py#L12 is the place where such an extra argument should be added.

MulticoreTSNE also supports this parameter (See: https://github.com/DmitryUlyanov/Multicore-TSNE/blob/f30b34041a24bce7d2b02bb93475b0462626d5c8/MulticoreTSNE/__init__.py#L51).

[2020-10-04 17:02] adamgayoso commented on #1441
I think this is a zsh issue. Try adding:

[code]

to your `.zshrc`.

[2020-10-04 17:35] adamgayoso opened #1443 "deprecate scvi in external"
I was wondering if we could deprecate the scvi external wrapper as we now have `scvi-tools`. I could also update the wrapper to have minimal functionality, but I think it would be better for people to use our API now that it's tightly integrated with scanpy anyway.

[2020-10-04 20:50] jhrdt commented on #1441
I would suggest `scanpy\[test\]` . Works with BASH and ZSH.

[2020-10-05 06:53] flying-sheep commented on #1441
Noglob turns off all globbing though. Would be great if one could turn off just Extended globbing for a command.

After all, `pip install *.whl` could be useful.

[2020-10-05 07:28] #1441 closed, assigned to nobody

[2020-10-05 07:44] ivirshup commented on #1443
Sounds reasonable, would you want to add anything more to Ecosystem about this? Also, would you like to make a PR with the deprecation message pointing to `scvi-tools`?

[2020-10-05 08:23] LuckyMD commented on #1443
With the scanpy ecosystem growing also with packages outside of scanpy external, it would probably be good to have a page with all packages that are part of this ecosystem. Ideally this would be on the Scanpy page I guess as it would be a first port-of-call for users.

Such a page could have brief explanations of the capabilities of each of these tools, and link to tutorials from all the independe

[2020-10-05 11:42] bfurtwa opened #1445 "Variance explained annotation for scanpy.pp.pca"
- [x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

Would it be possible to add a paramete

[2020-10-05 15:06] adamgayoso commented on #1443
Thanks for the responses!

I already made a PR to update the docs (https://scanpy.readthedocs.io/en/latest/ecosystem.html). I can also do the latter.

Is this different than the ecosystem page? Sounds reasonable though

[2020-10-05 16:00] LuckyMD commented on #1443
Hah, so I wasn't aware of the ecosystem page yet. This looks very cool, and could really be built upon nicely. I think a more clear tutorial integration into the page would be useful.... and I guess some tools don't really have any brief explanations there.

[2020-10-05 19:04] esrice commented on #1277
It looks like in your initial call to `sc.pl.pca` you are not specifying `use_raw=True`. Do you still get this error when you do?

[2020-10-05 20:07] bfurtwa commented on #1277
Yes:

[code]

[2020-10-05 21:03] esrice commented on #1277
What version of scanpy are you using? I don't see a function called `_get_color_values` in `scatterplots.py` in the HEAD version. Can you try installing the development version and seeing if you get the same error? The issue might be that the version you are currently using does not include the fix I made above.

[code]

[2020-10-05 22:00] bfurtwa commented on #1277
This is the error with the development version:

[code]

[2020-10-05 22:53] esrice commented on #1277
Alright, I think I found the problem and hopefully fixed it, although I am not sure as I don't completely understand how the `_get_color_source_vector` function works. If you'd like to try my fix, it's in my fork:

[code]

[2020-10-06 12:54] giovp commented on #1433
From the traceback, it'ss look like it's scvelo https://github.com/theislab/scvelo
Can you post this error with a reproducible example in scvelo repo ?

Will close this, feel free to reopen if problem persist

[2020-10-06 12:54] #1433 closed, assigned to nobody

[2020-10-06 13:06] roofya commented on #1433
@giovp

I solved the problem its scvelo and I have installed the package and now it works fine.

Thank you

[2020-10-06 13:32] kleurless commented on #1406
Hi! Same issue here, but for me no plotting function works for any gene.

I have two Seurat object which I converted to .h5ad files using Seurat-disk, I have read them into scanpy and want to plot a few markers using a dotplot. For one dataset, I can plot any gene I want and it succeeds. For the other dataset, I can't plot **any** gene, in any type of plot (tsne, violin, dotplot, matrixplot, etc.)

[2020-10-06 13:52] giovp commented on #1406
can you paste the output of this:
[code]

[2020-10-06 13:57] kleurless commented on #1406
@giovp `adata_2.var`
![image](https://user-images.githubusercontent.com/60929679/95211155-829dfb80-07ec-11eb-819b-a4102b762a59.png)

[2020-10-06 14:19] giovp commented on #1406
mmh, I just tried with a random anndata and it works for me:

[code]
![image](https://user-images.githubusercontent.com/25887487/95213441-1c66a800-07ef-11eb-8b4b-f754d14eb12c.png)

[code]

can you check your versions? Also, can you print shape of `adata.raw` and `adata.X`?

[2020-10-06 14:32] kleurless commented on #1406
[code]

[code]

[2020-10-06 14:34] giovp commented on #1406
ok, do you mind updating both scanpy and anndata and try again? There has been a major refactoring of plotting functions in 1.6.0 and it could address your issue

[2020-10-06 14:38] kleurless commented on #1406
Sorry, that isn't an option for me.. I guess I'll just revert back to Seurat

[2020-10-06 14:42] giovp commented on #1406
mmh can I help you with how to go wrt to update?

@bz520251 is this still an issue for you?

[2020-10-06 18:01] jpreall commented on #1411
This appears to have something to do with the default value of `top_n_markers = None`, because when I use some specific number like `top_n_markers = 20`, it works normally.

[2020-10-06 21:19] jhrdt commented on #1435
I am not interested anymore.

[2020-10-07 01:30] rboiarsky commented on #1292
I am not sure I need a reproducible example to explain this... if you click on the link above that leads you to the documentation for the pl.rank_genes_groups function, you'll there is no description of the 'key' argument for that function. This should be added, so that users know how and when to make use of it. Do you have a specific further question?

[2020-10-07 06:44] jphe opened #1446 "sc.tl.filter_rank_genes_groups gene name with NA"
- [ ] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-10-07 08:04] giovp commented on #1292
good catch! Thank you for reporting this.
Pinging @Koncopd since I believe you were involved in major refactoring of this.
Thank you @rpeys

[2020-10-07 14:12] suzhanhao commented on #1411
Same here. I tried to follow the notebook tutorial to reproduce the results, but ran into this issue. As @jpreall suggested, I set `top_n_markers = 100`, and the results returned are fine.

[2020-10-07 17:23] brianpenghe opened #1447 "sc.tl.filter_rank_genes_groups: min_fold_change doesn't work"
Scanpy 1.5.0
Out of curiousity I set min_fold_change to different values but it didn't work. Even when I set min_fold_change=100 it doesn't shorten the gene list.

So is it because the filters are working in an OR logic? If that's the case, I don't think the default values for each filter should be the ones you set - they should be a very harsh condition to make sure customer-specified parameters

[2020-10-07 17:54] brianpenghe opened #1448 "Split violin plot"
Hello,
Currently only scanpy.pl.rank_genes_groups_violin can give us a split violin plot. But can we request a feature to allow us to do a split-violinplot of our own gene lists?

![image](https://user-images.githubusercontent.com/4110443/95563834-d5a6c700-0a15-11eb-9a03-c9610bb65651.png)

Thanks

[2020-10-07 22:16] alevax commented on #1295
The same error happens to me, @Blohrer

**Versions:**

[2020-10-07 23:05] alevax commented on #336
Yes, Absolutely. Getting back the dotplot summarized information would be great!

[2020-10-08 01:51] vitkl commented on #1436
I mean any smFISH or highly-multiplexed protein technology. The plot I have in mind is this:
This visualisation is implemented in our package (in active development - we haven't released yet): https://cell2location.readthedocs.io/en/latest/cell2location.plt.html#cell2location.plt.mapping_video.plot_spatial
![download-20](https://user-images.githubusercontent.com/22567383/95405951-0ea94380-0911-11e

[2020-10-08 16:20] zktuong opened #1449 "filter_rank_genes_groups in version 1.6.0 takes an extremely long time to complete"
- [X] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

Hi, Thanks for the great software package. I've noticed a very noticeable speed decrease with `filter_rank_genes_groups` between versions 1.5.1 and 1.6.0 (see below for the

[2020-10-09 06:18] fidelram commented on #1448
Can you elaborate? You can use `sc.pl.violin` independently.

[2020-10-09 06:22] fidelram commented on #1427
Certainly we need to do this not only for matrix plot but for dotplot. I will take a look.

As a workaround you can always do:

`adata.var = adata.var.reset_index().set_index('gene_name')`

[2020-10-09 06:24] fidelram commented on #1449
I think that we should deprecate this function.

What I use instead is the `min_logfoldchange` parameter of the `sc.pl.rank_genes_groups_*` plots

[2020-10-09 08:07] Koncopd commented on #1449
This will be fixed when this pr https://github.com/theislab/scanpy/pull/1391 is merged.

[2020-10-09 08:57] brianpenghe commented on #1448
OK I just updated my question and attached a sample image. What I want to do is split-violinplot.

[2020-10-09 08:58] giovp commented on #1436
Hi @vitkl

thanks a lot for the feedback, all noted, we'll work toward enabling large tissue image available for storing+plotting. Will keep this open for reference!

[2020-10-09 12:00] giovp commented on #1407
Phneograph was recently updated and also new wrappers are available in external thanks to @awnimo @Koncopd .
Does this work for you @asmariyaz23 ? I will close this but feel free to reopen

[2020-10-09 12:00] #1407 closed, assigned to nobody

[2020-10-09 12:01] #1157 closed, assigned to atarashansky

[2020-10-09 12:03] #1266 closed, assigned to nobody

[2020-10-09 12:04] giovp commented on #1199
can you please post a reproducible example?

[2020-10-09 12:05] giovp commented on #1190
does the problem still persist?

[2020-10-09 12:09] giovp commented on #1445
similar to #1211

[2020-10-10 08:41] ccruizm opened #1450 "Generate scanpy.pl.stacked_violin"
Good day!

I have been looking at the nice core functions for plotting but could not find a way to generate the enclosed plot. Any suggestions on how to do it? Thanks in advance!! (Sorry I could not change the label to question)

<img width="256" alt="Screenshot 2020-10-10 at 10 41 05" src="https://user-images.githubusercontent.com/37718031/95650641-1d485400-0ae5-11eb-965f-963d17227ec8.png">

[2020-10-10 11:35] giovp commented on #1450
does this help?
https://scanpy.readthedocs.io/en/stable/api/scanpy.pl.stacked_violin.html

[2020-10-10 11:42] giovp commented on #1426
Hi,

First, the error that you are reporting has to do with series types of the dataframes. Howerver, it's very difficult to provide inputs, because it's unclear what `database` and `groupA` are. Can you report a reproducible example? Also, can you update to scanpy 1.6?

Thank you

[2020-10-10 11:48] giovp commented on #1016
Hi @olgabot ,
to expand on @ivirshup remark, there is a bit of overhead to port R tools to Scanpy. Also, I'm not sure what's the purpose of metacell for your analysis, but I suggest you to have a look at PAGA https://scanpy.readthedocs.io/en/stable/api/scanpy.tl.paga.html#scanpy.tl.paga
which is quite similar in scope and can have potential overlap. Of course if you feel like submitting a PR to `s

[2020-10-10 11:51] giovp commented on #1445
Hi @bfurtwa ,

would something like this be useful for your question? https://scanpy.readthedocs.io/en/stable/api/scanpy.pl.pca_overview.html#scanpy.pl.pca_overview
https://scanpy.readthedocs.io/en/stable/api/scanpy.pl.pca_variance_ratio.html#scanpy.pl.pca_variance_ratio
?

[2020-10-10 11:52] giovp commented on #1211
Hi @HypoChloremic

would something like this be useful for your question? https://scanpy.readthedocs.io/en/stable/api/scanpy.pl.pca_overview.html#scanpy.pl.pca_overview
https://scanpy.readthedocs.io/en/stable/api/scanpy.pl.pca_variance_ratio.html#scanpy.pl.pca_variance_ratio
?

[2020-10-10 15:09] vitkl opened #1451 "scanpy.pl.dotplot - does standard_scale need to subtract the min?"
I am wondering about the motivation that went into subtracting the min when performing standardisation of the scale between genes. I find that it leads a misleading visualisation when the genes expressed by all clusters so I am now copying and modifying your function for my work. Do you think it would be justified to remove min subtraction step or make it optional?
Thanks, and please let me know w

[2020-10-10 22:45] saiteja-danda opened #1452 "Not able to select subset from clustered data which is added externally (k-means)"
My issue is...
1. I read the data into anndata and performed all preprocessed steps and then used data matrix to perform non-linear dimensionality reduction (DR).
2. I performed DR and k-means clustering.
3. I added back the data into one of the components (X_tsne)
4. Added KM labels also.

Now, I am not able to select the clusters based on the cluster.
I want to select one of the clusters and per

[2020-10-12 07:11] ccruizm commented on #1450
Thanks for the reply. I looked at that source but I am still not able to generate that plot. I can generate stacked violin plots, as in the core plotting vignette, but have not found a way to draw the plot like the one above (adding the barplot on top of the violin plot, etc.). Any additional advice on how to do it? Thanks again!

[2020-10-12 12:38] jefferyUstc commented on #863
Has this been solved?

[2020-10-12 15:31] fidelram commented on #1451
If I recall correctly, the implementation mimic the one found in seaborn.  Besides, the idea is to map the gene expression to an scale from 0 to 1, thus is needed to subtract the min.

[2020-10-12 15:56] gokceneraslan commented on #1451
Exactly. But I do agree that it can be misleading in some cases e.g if there is one cell with a single UMI out of 1000 cells, this nonzero mean value will be mapped to 1, giving the impression that there is something going on. I recently abandoned standard_scale and switched to zscore and RdBu_r colormap both in heat maps and dotplots with vmin=-3 and vmax=3, which leads to a better standardizatio

[2020-10-12 15:58] #1451 closed, assigned to nobody

[2020-10-12 21:56] Ngort opened #1454 "sc.tl.rank_genes_groups assumes the data is log(x+1) transformed"
- [X ] Additional function parameters / changed functionality / changed defaults?

Could the function add a boolean parameter to make it work for non-log transformed data?

if [boolean depending on whether data is log transformed or not]:
foldchanges = (self.expm1_func(mean_group) + 1e-9) / (self.expm1_func(mean_rest) + 1e-9)
else:
foldchanges = (mean_group+ 1e-9) / (mean_rest + 1e-9)

[2020-10-12 23:48] gokceneraslan commented on #1454
I think that's a good idea. A general solution would be to move the part of rank_genes_groups where some statistics are calculated (e.g. log2fc, fractions, mean expression per group) to a different function with more flexible features.

For example, users run regress_out or combat sometimes and then run rank_genes_groups on these corrected values, but they wanna calculate log2fc and other summary

[2020-10-12 23:52] gokceneraslan commented on #1454
One idea: `sc.get.group_summary_stats()` can be called separately and its results are stored in a way that `sc.get.rank_genes_groups_df` can find and return them. This function can be called automatically in `sc.tl.rank_genes_groups` in a similar way we automatically run `sc.pp.pca` when `sc.pp.neighbors` is called or we run `sc.tl.dendrogram` when `sc.pl.dotplot(..., dendrogram=True)` is called.

[2020-10-13 03:31] wangjiawen2013 opened #1455 "sc.tl.rank_gens_groups pts"
when n_genes is set to a value (such as 2000), and pts=True, then sc.tl.rank_genes_groups will compute the fraction of cells expressing the genes, but the output includes all the genes, not just the 2000 genes.

[2020-10-13 07:18] fidelram commented on #1450
The latest version of scanpy added the possibility to enhance the plots in multiple ways. For this you need to use the new classes documented here https://scanpy.readthedocs.io/en/stable/api/scanpy.plotting.html#classes

In particular you want to check the function `add_totals()`: https://scanpy.readthedocs.io/en/stable/api/scanpy.pl.StackedViolin.add_totals.html#scanpy.pl.StackedViolin.add_totals

[2020-10-13 07:18] #1450 closed, assigned to nobody

[2020-10-13 07:33] fidelram commented on #1448
Thanks for the update. Now is clear.

We do not offer that possibility as most of those functions are based on seaborn, thus, simply passing the relevant data to seaborn will get you the image that you want.

Nevertheless, I would like to take a look. How do you think this should work. Just add a variable to show the genes that you would like to see. Or you mean a more generic function just to mak

[2020-10-13 07:53] fidelram commented on #1447
Please check https://github.com/theislab/scanpy/issues/863

[2020-10-13 07:56] brianpenghe commented on #1448
Thanks for your attention. Yes it would be nice if I could compare two .obs categories with regard to expression distributions of a list of genes I supply.

Thanks!

[2020-10-13 08:01] fidelram commented on #1455
Can you elaborate? What do you mean with the output?

In the past we only computed up to 100 genes by default but now we do it for all. You can always limit the number of genes you want to see afterwards. So maybe we should remove the `n_genes` from the function or deprecate the parameter.

[2020-10-13 08:05] fidelram commented on #1448
This is a way to do it btw:

[code]

![image](https://user-images.githubusercontent.com/4964309/95832957-4a8e3f80-0d3b-11eb-8bbf-47366408815a.png)

[2020-10-13 08:47] ccruizm commented on #1450
Thank you for your help! Super useful.

[2020-10-13 09:05] brianpenghe commented on #1448
Thank you very much!

[2020-10-13 09:05] #1448 closed, assigned to nobody

[2020-10-13 10:46] LuckyMD commented on #1452
Hi @saiteja-danda,

I cannot reproduce your code above as I don't have your data. Could you try to generate a minimal reproducible example with data from e.g., `sc.datasets.pbmc68k_reduced()`?

In general, could you check the output of `adata.obs['km'].value_counts()` to check whether the covariate you added was correctly stored? What output are you getting? You didn't share an error message.

[2020-10-13 13:17] Koncopd commented on #1454
I like this idea. Even now this summary stats calculation is in the separate private [method](https://github.com/theislab/scanpy/blob/64e3ab864d21b0be8e9bbdf50bd496d34c56f239/scanpy/tools/_rank_genes_groups.py#L137). It should not be problematic to move it to a separate function.

[2020-10-15 02:05] Chenyanjuan1993 commented on #1406
I have the same problem. Updating both scanpy and anndata could not solve it.

[2020-10-15 07:30] giovp commented on #1406
@Chenyanjuan1993 thank you for reporting this. I think it's some typing problem with the var_names index, and so possibly regarding your anndata.

Can you share the list of commands that you run before that error? Like do you concat/merge? Also, could you run that with this anndata `adata = scanpy.datasets.pbmc3k()`

[2020-10-15 14:41] yuxiaokang-source opened #1457 "sometime sc.pp.filter_genes_dispersion return the gene_subset with the dimension of n_top_genes-1"
- [ ] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-10-15 14:56] yuxiaokang-source commented on #1457
in the source file(highly_variable_genes.py)
[code]
the ` df['dispersion_norm']` is the type of `np.float64`,but the `dispersion_norm` is `np.float32`,so the `disp_cut_off` is `np.float32`,but in line
`gene_subset = df['dispersion_norm'].values >= disp_cut_off` ,
It means the array of `float64` will compare with `float32`, it is not accurate sometimes.
in my simulation code, the dubug result is fo

[2020-10-15 15:14] LuckyMD commented on #1457
There is already a PR to fix this #1456. This should be merged into master soon.

[2020-10-15 15:14] #1457 closed, assigned to nobody

[2020-10-15 19:40] LouisK92 opened #1458 "Invert dendrogram order in matrix plot"
I was trying to invert (/ mirror / reverse) the order of a dendrogram and correlation matrix when using `sc.pl.correlation_matrix()`. I didn't find a raised issue or a solution on that. Here is a (hacky) solution that solves the issue by applying the function `invert_dendrogram()`. Might be helpful if somebody runs into that issue. Maybe it could be interesting to add an "invert" option in the plo

[2020-10-16 15:11] emdann opened #1459 "Can't draw graph edges in sc.pl.embedding"
Hi,
Seems like there is something wrong with the edge plotting on embeddings

[code]

[code]
![Screenshot 2020-10-16 at 16 10 20](https://user-images.githubusercontent.com/32264060/96275744-ff3d9080-0fc9-11eb-8706-d398e3b08c79.png)

#### Versions

<details>

WARNING: If you miss a compact list, please try `print_header`!
-----
anndata     0.7.4
scanpy      1.6.0
sinfo       0.3.1
-----
PIL

[2020-10-18 16:26] malumbres commented on #1426
Fixed after updating to 1.6! Many thanks!
marcos

[2020-10-18 17:10] #1426 closed, assigned to nobody

[2020-10-20 07:22] bfurtwa commented on #1445
Hi @giovp ,

although these plots contain very similar information, I specifically need the variance explained annotation in the scatter plot.

[2020-10-20 09:55] giovp commented on #1445
Have you thought about just adding it to the axis like this?

[code]

Any scanpy function can return a matplotlib axis, that could be further manipulated, checkout the `return_axis` argument of e.g. pca plotting function https://scanpy.readthedocs.io/en/stable/api/scanpy.pl.pca.html

[2020-10-20 09:56] giovp commented on #1445
I don't think we'll prioritize adding such functionality, also because it doesn't really translate to other types of embedding. But if you think it's really necessary feel free to open a PR, I'd be happy to help with that!

[2020-10-20 19:34] diazdc commented on #1258
I'm having the same issue. Is there a work around for this? Changing `rcParams["legend.loc"] ` has no effect either.

[2020-10-20 22:50] alejandro-jimenezsanchez opened #1460 "sc.pl.umap error message if sc.tl.umap has not been computed."
- [x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

...
Hi scanpy develovepers,

A rotatio

[2020-10-21 06:46] Zifeng-L opened #1461 "filtered genes still existed in rank_genes_groups"
Hi，here is a bug in the funtion named "scanpy.tl.rank_genes_groups". I tried to filter the genes starting with "HLA", then I used "scanpy.tl.rank_genes_groups" to check the marker genes in each group. However, the genes starting with "HLA" still existed.

### Minimal code sample (that we can copy&paste without having any data)

[code]
output: Index([], dtype='object')

[code]
![image](https://user

[2020-10-21 09:32] zktuong opened #1462 "standard_scale = 'var' in sc.pl.stacked_violin doesn't scale across var properly?"
- [x] I have checked that this issue has not already been reported.

---

Hi,

with scanpy version 1.6.0, the `standard_scale = 'var'` option looks like scaling wasn't done and looks exactly the same as `standard_scale = None`.

### Minimal code sample (that we can copy&paste without having any data)

[code]

#### Versions

<details>

scanpy==1.6.0 anndata==0.7.4 umap==0.4.6 numpy==1.19.2 scipy==1

[2020-10-21 09:40] #1462 closed, assigned to nobody

[2020-10-21 10:24] LuckyMD commented on #1461
Please check your `adata.raw`. The default for `sc.tl.rank_genes_groups` is `use_raw=True`, which means it uses the data stored in `adata.raw` this may include genes that you filtered out in `adata.X`.

[2020-10-21 11:08] picciama commented on #1258
Totally forgot about this one sorry :(

**The problem**
In `scatter_base`: https://github.com/theislab/scanpy/blob/040e61ff50836d4a6cdd7da7482dcb4ee50d05ae/scanpy/plotting/_utils.py#L736-L740

For non categorical variables, this code gets the current figure and adds a separate axis on which the colorbar is plotted.
Therefore, the axes objects on which the data is plotted do not contain a legend ob

[2020-10-21 12:21] SabrinaRichter opened #1463 "Dots horizontally flipped in pl.embedding plot"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

I found that when plotting edges with scanpy.pl.embedding, the dots and edges do not fit together, but are horizontally flipped, like here
![image](https://user-images.githubuse

[2020-10-21 14:44] LuckyMD commented on #1411
Thanks @jpreall and @suzhanhao for jumping in with solutions here. I have finally found some time to look at this. The recent change is that `sc.tl.rank_genes_groups` now saves DE results not just for the top 100 genes, but for all genes. So the default for `top_n_markers`, which was to use all genes that have results stored automatically shifted from 100 genes to all genes. And if you look at ove

[2020-10-21 15:28] LuckyMD commented on #1411
Addressed by  #1464

[2020-10-22 00:19] diazdc commented on #1258
Thanks!

[2020-10-22 13:04] giovp commented on #1459
Hi,

you might have conflicts with matplotlib versions, googling raised this [issue](https://stackoverflow.com/questions/53421905/matplotlib-attributeerror-module-matplotlib-cbook-has-no-attribute-define-a)

I could reproduce the result
[code]
![image](https://user-images.githubusercontent.com/25887487/96875694-cee96c80-1477-11eb-883f-bb1feb0d5f0e.png)

[2020-10-23 14:32] wfma commented on #643
I have the same issue as @levinhein!

[2020-10-23 16:11] ywen1407 opened #1467 "rank_genes_group error"
- [Yes ] I have checked that this issue has not already been reported.
- [Yes ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---
Hi all, I am wondering if anyone has had similar situation as mine.
After data normalization, batch correction with combat, and work through the pipeline on my own dat

[2020-10-23 17:29] LuckyMD commented on #1467
Please check this issue: #456

Your data in `adata.raw` are probably `np.matrix`. You can either format to `np.ndarray` or to `scipy.sparse.csr_matrix()` to solve this. Note you are using `adata.raw.X` and not `adata.X` in `rank_genes_groups()` by default. So your proposed line of code will not solve your error. Please instead use for example:

`adata.raw.X = scipy.sparse.csr_matrix(adata.raw.X)`

[2020-10-23 17:29] #1467 closed, assigned to nobody

[2020-10-25 13:25] brianpenghe commented on #287
The link is broken

[2020-10-25 13:47] Sophia409 opened #1468 "scanpy cannot be imported in my windows system"
Hi,
I couldn't import scanpy due to an error: DLL load failed. I have checked pre-existing issues, but all of them seem to be an h5py issue. My error report seems different from them.
[code]

[2020-10-25 14:22] Koncopd commented on #1468
Hi, if you use conda, try `conda install pytables`.
If you don't, try installing from the corresponding wheel here https://www.lfd.uci.edu/~gohlke/pythonlibs/#pytables

[2020-10-25 15:44] Sophia409 commented on #1468
@Koncopd Hi, Thank you for the pointer. It seems to be a problem caused by pytables package. But I still couldn't import tables after installing and uninstalling pytables packages for many times. And I'm in Windows system.
(base) C:\Users\yuhong>python
[code]

[2020-10-26 10:26] massonix opened #1469 "CITE-seq data normalization"
Dear scanpy team,

In your CITE-seq  vignette you use the function `sc.pp.normalize_geometric(protein)` to normalize CITE-seq data. However, I think the description and motivation for the method are not detailed enogh to understand what is going on under the hood. Could you please give me a brief explanation on how that works? I've been using the centered log-ratio in Seurat, but there is definete

[2020-10-26 13:18] Koncopd commented on #1468
You can also try creating a new conda environment and installing pytables there at first and try to import it.

[2020-10-26 17:19] danielStrobl opened #1471 "sc.datasets.pbmc3k_processed() returns 404"
The download of the anndata object of the pbmc_3k_processed dataset doesn't work, as the branch from which the object should be downloaded from changed from `master` to `main`.

https://github.com/theislab/scanpy/blob/256f5944cd03fc0b8b510d607502d7170f8e5813/scanpy/datasets/_datasets.py#L305

[2020-10-27 06:35] bluepint22 commented on #1300
Thank you! This works brilliant. Just to add on, need to restart kernel for this change to kick in.

[2020-10-27 22:22] BrianLohman commented on #1360
Hi @ivirshup,

This looks like a great function but it's not super clear what the ```group``` arg is. Is it supposed to be one of the levels of the ```groupby``` arg in ```sc.tl.rank_genes_groups```? I would guess so based on the example here: https://scanpy.readthedocs.io/en/stable/api/scanpy.get.rank_genes_groups_df.html but that does not work for me

[code]

Thanks for your help

[2020-10-28 08:29] giovp commented on #1458
@LouisK92 is this related to #1300 ?
If so, there is a comment with solution, would that work?

[2020-10-28 08:47] #1411 closed, assigned to nobody

[2020-10-28 14:15] massonix commented on #391
I am experiencing the same problem, and it also comes from a Seurat object that I converted to anndata with [SeuratDisk](https://github.com/mojaveazure/seurat-disk).

[2020-10-29 01:03] rboiarsky commented on #391
I am also getting the error `RuntimeWarning: invalid value encountered in log
  dispersion = np.log(dispersion)` when running `sc.pp.highly_variable_genes(adata, min_mean=1.7, max_mean=5, min_disp=0.5, flavor='seurat')` on log scale data in the adata.X slot with mean=0 and max=16.336065. Any ideas?

Update: I just noticed that my adata.X contains a numpy array instead of a sparse matrix. Perhaps t

[2020-10-29 02:26] rboiarsky commented on #391
FIXED: Updating adata.X to a scipy csr sparse matrix using `adata.X = scipy.sparse.csr_matrix(adata.X)` fixed this error.

I still get `RuntimeWarning: invalid value encountered in sqrt  std = np.sqrt(var)` when running `sc.pp.scale(adata, max_value=10)` even after forcing to a csr matrix, but doesn't seem to affect downstream results...

[2020-10-29 11:07] massonix commented on #391
Thanks for your update @rpeys, I will try to convert to scipy csr sparse matrix :)

[2020-10-29 13:41] cdedonno commented on #1460
Hi @SNRNS,

`sc.pl.umap` looks for the UMAP coordinates that should be stored in `adata.obsm`, specifically it looks for coordinates in `adata.obsm['X_umap']`. These coordinates are computed and stored by `sc.tl.umap`. If `adata.obsm['X_umap']` does not exist the plotting function does return an error which I think is pretty self-explanatory:

`KeyError: "Could not find entry in 'obsm' for 'umap'.

[2020-10-29 13:58] cdedonno commented on #1300
I could not reproduce this bug, I am using

`scanpy==1.5.1 anndata==0.7.4 umap==0.3.10 numpy==1.19.2 scipy==1.5.2 pandas==1.1.2 scikit-learn==0.23.2 statsmodels==0.12.0 python-igraph==0.8.2 louvain==0.6.1 leidenalg==0.7.0`

@giovp maybe be a good idea to close this?

[2020-10-29 14:26] cdedonno commented on #1300
I will close this for now, @letaylor feel free to open this issue again if you have still problems or any suggestions.

[2020-10-29 14:26] #1300 closed, assigned to nobody

[2020-10-29 16:12] cdedonno commented on #1460
@SNRNS I will close this issue for now. Feel free to open again or make further inquiries if you still have doubts.

[2020-10-29 16:12] #1460 closed, assigned to nobody

[2020-10-29 19:31] giovp commented on #1211
will close this due to inactivity

[2020-10-29 19:31] #1211 closed, assigned to nobody

[2020-10-30 03:56] linanzhang opened #1475 "Update function _download_visium_dataset"
I noticed that 10x has released some new spatial gene expression datasets. Could you include them? It should be a simple change in this line [https://github.com/theislab/scanpy/blob/ab9247bdf8b7a3decc34a15b26fec813ea8fba0d/scanpy/datasets/_datasets.py#L323](url).

Also, I've encounter errors when using `scanpy.datasets.visium_sge`. It seems that the url is outdated. The link to the datasets is cha

[2020-10-30 11:41] lucygarner commented on #953
I am also getting a TypeError when I run the following code:
`sc.pl.paga_path(adata, nodes = [0, 5, 1], keys = ['IFNG', 'GZMB'], show = True)`

What is the current solution to this issue?

Many thanks,
Lucy

[code]

[2020-10-30 15:38] haskankaya commented on #409
Hi there, I am having the same issue as above. I have tried the fix that @Xparx has provided but it yields more problems. See the below error which I am now receiving:

[code]

I thought that this might be something to do with the fact that the `np.ones` object is a numpy array instead of a pandas series so I tried substituting this with the line `adata.uns['dpt_changepoints'] = pd.Series(np.ones(

[2020-10-30 16:15] giovp commented on #1475
yes! I've made a PR #1473 and waiting for approval, will keep you posted here!

[2020-10-30 21:25] BrianLohman commented on #1360
Also posted here: https://scanpy.discourse.group/t/sc-tl-rank-genes-groups-specify-groups-and-implementation-for-multiple-tests/328 to try to follow the issue submission guidelines.

Expanded documentation on how to to use ```sc.tl.rank_genes_groups``` in conjunction with ```sc.get.rank_genes_groups_df``` would be much appreciated.

[2020-11-01 12:24] sbridgett opened #1477 "set_figure_params() bug when running at command-line"
- [X ] I have checked that this issue has not already been reported.
- [X ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

When I run scanpy over an ssh connection to a remote Ubuntu Linux server (so not using the IPython notebooks), the scanpy "set_figure_params(...)" command just outputs an

[2020-11-02 05:19] WWXkenmo opened #1478 "sc.tl.rank_genes_groups return errors"
Hi, I found that using the sc.tl.rank_genes_groups to perform differential gene expression analysis return the following error

---
[code]

[code]
I was wondering that its associate with my pandas version? or other issues?
my pandas version 0.23.4

[2020-11-02 13:40] giovp commented on #953
@flying-sheep could you explain again what you need from ICB? Sorry not sure I understand. Thank you!

[2020-11-02 13:50] #1475 closed, assigned to nobody

[2020-11-02 19:33] JBreunig commented on #1396
Is there a general fix for this besides zhangguy's great suggestion?  (It works but as was stated, but I'm not sure how this alters other functions in the scanpy).  I continue to get the putative over scheduling and sometimes a crash (on big datasets) when using all cores versus the super fast completion when using 1/2 cores) on a 32 core/64 thread threadripper.  (RAM doesn't seem to be a problem

[2020-11-02 20:39] YubinXie commented on #643
Same issue here. Downgrading scipy from 1.5.4 to 1.2.1 helps.

[2020-11-03 11:43] wkopp opened #1479 "Mismatching cluster color codes in sc.pl.heatmap"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

### Description
The issue is visible/reproducibe from the [plotting tutorial](https://scanpy-tutorials.readthedocs.io/en/latest/plotting/core.html#Heatmaps) in cell 23.
Her

[2020-11-03 12:47] michalk8 opened #1480 "Issue with new h5py"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-11-03 17:02] #1463 closed, assigned to giovp

[2020-11-03 17:17] njbernstein opened #1481 "Hashsolo pre_existing_cluster argument doesn't work"
- [ ] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-11-03 17:18] njbernstein opened #1482 "pre_existing_clusters argument for hashsolo doesn't work"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-11-03 17:18] njbernstein commented on #1482
I'll be submitting a fix for this shortly

[2020-11-03 17:57] #1481 closed, assigned to nobody

[2020-11-04 09:01] pinin4fjords opened #1484 "PR problem: docstring error"
Hi!

I'm having trouble getting the CI to pass on this PR: https://github.com/theislab/scanpy/pull/1476

This seems to be the issue:

[code]

... but the function does have that one-line description.

Would you be able to suggest to me what I'm doing wrong?

[2020-11-05 16:14] BrianLohman opened #1485 "sc.tl.rank_genes_groups: reference argument is ignored"
- [ x] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

Hello,

I am having problems with the ```sc.tl.rank_genes_groups``` function. Specifically, I specify a reference level with ```reference = ``` argument but it is ignored.

[2020-11-05 16:21] ivirshup commented on #1485
This issue has been mentioned on **Scanpy**. There might be relevant details there:

https://scanpy.discourse.group/t/sc-tl-rank-genes-groups-specify-groups-and-implementation-for-multiple-tests/328/3

[2020-11-05 16:23] BrianLohman commented on #1485
Hi @ivirshup,

Yes, both of them are me. I incorporated feedback from the help forum which suggested that this function has a bug, hence, the bug report.

[2020-11-05 19:09] Koncopd commented on #1485
@BrianLohman
I can't reproduce this. Could you please update scanpy and check?

[2020-11-06 01:48] rbf22 opened #1486 "plotting data horizontal plots with shared axis"
- [x ] I have checked that this issue has not already been reported.
- [ x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

The problem here is that the violin plots are horizontal rather than vertical and that they share the same x-axis scale. Plotting two sets of numbers 10s vs 10,000s the 1

[2020-11-06 08:43] galicae commented on #1480
God bless you for this. It happens with all string fields everywhere (so `obs` and `var` columns, everything in `uns`).

[2020-11-06 08:59] giovp commented on #1486
Hi @rbf22 ,
what's the issue here?

[2020-11-06 09:10] giovp commented on #1484
mmh, I checked the PR, could it be that for some args in the docs you have the colon and typing? Can you try to remove all of them and check again?

[2020-11-06 09:43] giovp commented on #1479
Hi @wkopp

you are defining group labels from this:
[code]

but none of those cluster labels are presents in `pbmc`.
If you run the function you'll also notice the warning

[code]
as in `adata.obs.clusters` there is no `NK` or `T-cell` category.

Try this, and you'll see that the warning disappear and plotting is consistent
[code]

[2020-11-06 10:22] wkopp commented on #1479
Thank @giovp!
I have replaced the previous definition of `marker_genes_dict` with the one you suggested
[code]
But I still seem to obtain inconsistent color codes. I also continue to obtain warnings

[code]

I have also tried to use different groupby arguments (`clusters` or `louvain`) and `dendrogram=True/False`, but this didn't seem to matter much regarding the color code matching. However, the

[2020-11-06 10:39] giovp commented on #1479
if you reproduce exactly this code, it still throws warning?
[code]

The point about `groupby` argument is that the unique labels in that obs column need to match the ones in marker_genes_dict. So for instance, if
[code]
if there is a mismatch, then the warning will be thrown

RE: colors, that as to do with whether you called any plotting function before that specific one. For whatever `adata.obs[

[2020-11-06 10:49] wkopp commented on #1479
Could you try to use `resolution=0.5`. For me, when using leiden clustering with `resolution=.1`, the issue/warning is not provoked, but with 0.5 it is, because there are more clusters identified.

[2020-11-06 10:56] giovp commented on #1479
exactly, the reason is that `resolution=0.5` returns more clusters than the one I listed above (from 0 to 4). Just include in the dictionary `marker_genes_dict` all of the clusters returned by res=1

[2020-11-06 11:03] wkopp commented on #1479
I'm not following. Do you mean I should add empty lists for clusters without known markers?

[2020-11-06 11:08] giovp commented on #1479
might complain with empty lists, but you could just add other markers
or, subset the anndata
[code]

[2020-11-06 11:43] wkopp commented on #1479
Thank you, @giovp

I see. So when using heatmap, the mapping of marker genes must represent all clusters.
It won't work if markers are supplied for only a subset of the clusters.

As far as I can tell, though, this is not apparent from the documentation of the function `help(sc.pl.heatmap)`.
Also, in the plotting tutorial, which I referred to in the beginning, only a subset of markers are supplied