[2018-12-05 07:39] fidelram commented on #388
The change is quite useful. Please go ahead and add a PR.

On Wed, Dec 5, 2018 at 3:52 AM Tim Rand <notifications@github.com> wrote:

[2018-12-05 07:40] fidelram commented on #387
I am partial color blind as well. So I second any initiative in this
direction.

On Tue, Dec 4, 2018 at 7:03 PM Alex Wolf <notifications@github.com> wrote:

[2018-12-05 09:31] flying-sheep commented on #387
I don’t consider this breaking backwards compatibility. Everything is still in the same place, still has the same labels. Only the default color of the labels is different.

If we only switch the green or red color with another, most people won’t even notice.

[2018-12-05 09:35] ftheis commented on #387
how about making green just a bit brighter/less bright to make it discernible from red for color-blind people? should not break much

---
Fabian Theis
Institute of Computational Biology - http://icb.helmholtz-muenchen.de
Helmholtz Zentrum München and Depts. Mathematics&Life Sciences, TU München

Helmholtz Zentrum Muenchen
Deutsches Forschungszentrum fuer Gesundheit und Umwelt (GmbH)
Ingolstaedter

[2018-12-05 09:48] SamueleSoraggi opened #389 "Plot of ranking genes does not accept 'ncols' graphical option"
Hej,
I have a minor plotting issue.

when using the following command `sc.pl.rank_genes_groups(all_data, n_genes=20, sharey=True, ncols=5)`, I cannot get the subplots in groups of five panels on each row, even though this option is present in the documentation :)

It might be that it needs a fix.

Cheers,
Samuele

[2018-12-05 12:09] LuckyMD commented on #387
I guess that would be best done by switching the green with another green somewhere down the list to not mess with the color map entirely. Not sure this is a general purpose fix for all types of colorblindness though, no?

[2018-12-05 12:23] flying-sheep commented on #387
try it yourself :smile: https://addons.mozilla.org/de/firefox/addon/let-s-get-color-blind/

[2018-12-05 18:30] timrandg commented on #388
Hi Fidel,
Please note new pull request
dotplot can take vmin vmax arguments from user
<https://github.com/theislab/scanpy/pull/390>
Tim

On Tue, Dec 4, 2018 at 11:39 PM Fidel Ramirez <notifications@github.com>
wrote:

[2018-12-05 20:22] timrandg commented on #388
mmmm...
looks like there are some difficulties here.
The decorator sitting ontop of dotplot() causes a weird error for kwds
dictionary lookups. If I leave the decorator in place, then I get a
keywords error when, vmin is left out as a parameter. If I take the
decorator off the method, it works. error is coming from the

@doc_params()

decorator. But 1. it looks like this function only purpose in l

[2018-12-05 21:44] timrandg commented on #388
mmmm #2...
The previous email regarding decorator issue, may have been a problem from
namespace shadowing in a jupyter notebook. I think the previous pull
request works--but suggest testing with and without vmin vmax arguments.
I'll update you as I do more testing myself.
Tim

On Tue, Dec 4, 2018 at 11:39 PM Fidel Ramirez <notifications@github.com>
wrote:

[2018-12-06 01:33] ivirshup commented on #373
@flying-sheep, I'm pretty sure the logical conclusion of any long discussion about types is that everything should be done in Haskell.

I don't like the use of branches with `isinstance` because it breaks polymorphism, which is a key part of pythonic code to me.

@falexwolf, I completely agree with you on "what makes a good docstring". The knowledge overhead for numeric python doesn't include type

[2018-12-06 02:49] falexwolf commented on #388
`@doc_params` is used to add keyword argument descriptions that are shared among many functions to a specific docstring. it has so far not posed any problems. In the case of `dotplot`, it adds, e.g., the `{common_plot_args}`.

[2018-12-06 02:50] falexwolf commented on #387
I'm fine with such rather small changes. This should indeed not bother people. Tell me when you decided on a green that satisfies @ftheis. We don't want to make this change multiple times... :wink:

[2018-12-06 02:55] falexwolf commented on #389
Hm, the [code](https://github.com/theislab/scanpy/blob/21adc0c9a31fb1eebb16579aa4f41700bc939aa2/scanpy/plotting/tools/__init__.py#L180-L188) for this looks fine: do you have less than 5 groups?
[code]

[2018-12-06 06:07] timrandg commented on #388
Yes, sorry about the confusion--I reneged the post about the decorator
(@doc_params). So I believe the pull request improves the dotplot function.
Tim

On Wed, Dec 5, 2018 at 6:49 PM Alex Wolf <notifications@github.com> wrote:

[2018-12-06 09:17] flying-sheep commented on #387
Some colors of that cycle are too close for people with deuteranomaly (by far the most common type):

`#1f77b4` `#ff7f0e` `#2ca02c` `#d62728` `#9467bd` `#8c564b` `#e377c2` `#7f7f7f` `#bcbd22` `#17becf`

Normal | Deuteranomaly
--- | ---
![Normal](https://user-images.githubusercontent.com/291575/49573631-6605b380-f936-11e8-9629-68b177e59043.png) | ![Deuteranomaly](https://user-images.githubuserconte

[2018-12-06 09:23] ftheis commented on #387
thanks Phil - as discussed before can you just change the red and green i.e. #ff7f0e #2ca02c which look virtually the same to people with deuteranomaly (incl me) by the two colors you suggested?

---
Fabian Theis
Institute of Computational Biology - http://icb.helmholtz-muenchen.de
Helmholtz Zentrum München and Depts. Mathematics&Life Sciences, TU München

Helmholtz Zentrum Muenchen
Deutsches Fors

[2018-12-06 09:25] flying-sheep commented on #387
I just changed one color in each of the named pairs (i.e. the green, the purple, and the kakhi). Are the swatches in the lower pictures distinguishable for you? Then the mathematical model for color closeness matches your vision and we should adopt something like it.

[2018-12-06 09:30] LuckyMD commented on #387
@ftheis So `#ff7f0e` and `#2ca02c` is the problem, rather than `#d62728` and `#2ca02c`? The `#ff7f0e` is an orange which appears distinguishable from the rest (except `#b5bd61`) in the deuteranomaly simulated colours above.

[2018-12-06 10:00] flying-sheep commented on #373
That’s what ABCs are for. `isinstance(thing, Mapping)`  works beautifully for everything that has the `Mapping` protocol, no matter if it’s a `dict` or not.

[2018-12-06 10:02] flying-sheep commented on #373
Btw: IPython 7.2 is live and contains my signature rendering prettificattion… except that I made a mistake and it renders wrong. Anyway, I fix that in ipython/ipython#11525 and things should be pretty in IPython 7.2.1:

![grafik](https://user-images.githubusercontent.com/291575/49578355-7707f200-f941-11e8-89e9-aa78ae023d8b.png)

[2018-12-06 10:13] fidelram commented on #389
It is working fine for me and is part of the testing. Which version do you
have? maybe you need to use `n_panels_per_row`.

On Thu, Dec 6, 2018 at 3:55 AM Alex Wolf <notifications@github.com> wrote:

[2018-12-06 12:17] flying-sheep commented on #387
when you use the firefox extension I quoted above, you’ll see that the orange and green are very similar for people with *protanomaly*, not deuteranomaly. so i guess fabian has the former, more rare thing. confirmed by fabian and the simulation, my changed colors seem to work well for both types.

so I assume the webtool can be used to design this. the only change from default in the parameters I

[2018-12-06 12:28] LuckyMD commented on #387
cool... I didn't know backticks made that possible.

[2018-12-06 16:56] ltosti opened #391 "highly_variable_genes - issue"
Hi there,

While running ```sc.pp.highly_variable_genes(adata.X)```  I got the following error:

```AttributeError: X not found```

I then ran ```sc.pp.highly_variable_genes(adata)``` and got the following:

```ValueError: Bin edges must be unique: array([nan, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf,inf, inf, inf, inf, inf, inf, inf, inf]). You can drop duplicate edges by settin

[2018-12-06 17:09] fidelram commented on #391
It looks like your adata object is corrupted. You should be able to type
`adata.X` to get the matrix.

How are you generating the adata object?

On Thu, Dec 6, 2018 at 5:56 PM ltosti <notifications@github.com> wrote:

[2018-12-06 17:12] ltosti commented on #391
When I run adata.X I get
```<14636x24181 sparse matrix of type '<class 'numpy.float32'>' with 16866605 stored elements in Compressed Sparse Row format>```

That looks fine?

[2018-12-06 21:38] Koncopd commented on #391
Hi,
could you please try
[code]
As highly_variable_genes expects logarithmized data.

[2018-12-07 02:34] ivirshup commented on #373
Are you talking about the `collections.abc.Mapping` in this case? [From the 3.7 docs](
https://docs.python.org/3/library/typing.html#classes-functions-and-decorators):

Additionally, those functions just throw an error for subscripted generics, so you definitely can't do `isinstance(m, Mapping[str, int])`. I don't think I'm totally clear on the differences in intended use cases for `ABC`s vs `Type

[2018-12-07 07:51] ltosti commented on #391
Hi @Koncopd, my data are indeed already normalised.

@fidelram I generated the data merging a few datasets using ```bbknn```. But when I tried on a single sample, I got the same error.

[2018-12-07 09:58] flying-sheep commented on #373
I only just now got the distinction between types and classes in python. So when they talk about “types”, they mean stuff in the typing module, got it. So

- Types (`typing.*`), ABCs, and regular classes can be used for type annotation
- ABCs and regular classes can be used for `isinstance` and `issubclass` checking
- ABCs and mixins can be mixed in to enhance a class you defined

where a mixin is

[2018-12-07 12:33] Marius1311 commented on #346
Hi Alex!

Sorry for this long delay, I just forgot completely.
Maybe I wasn't clear enough in my original post, here is where the issue lies:

When I run

[code]

everything is fine and I get my desired result. However, when I just change the reference setting

[code]

then I get the following error

[code]

I absolutely understand how to solve this - as you said, I can just use the tutorial call

[2018-12-07 13:52] Koncopd commented on #391
Hm, very hard to say anything without looking at the dataset. Any negative values in the dataset?
Or
[code]
Does it show true?

[2018-12-07 14:40] ltosti commented on #391
When I run this on the single sample I get ```False```.

When I run this on the merged (batch-removed) sample I get:

[code]

[2018-12-07 15:48] fidelram commented on #386
The variable y_axis is something I introduced in my latest PR. If you
update to the master branch you should see those changes.

On Tue, Dec 4, 2018 at 2:49 AM pritykin <notifications@github.com> wrote:

[2018-12-07 16:03] flying-sheep opened #392 "`rank_genes_groups_gene_names` is no longer here."
correlation_matrix:

https://github.com/theislab/scanpy/blob/21adc0c9a31fb1eebb16579aa4f41700bc939aa2/scanpy/tools/top_genes.py#L58

exploratory_rank_analysis:

https://github.com/theislab/scanpy/blob/02e78bb025f9cd8d02cf6d39256fea008ec51d7f/scanpy/plotting/top_genes_visual.py#L109

also correlation_matrix is not included in the docs, and the recommendations alex made on 573519e524815fd2c227c876da

[2018-12-07 16:11] flying-sheep commented on #72
It’s still not in the docs, and by now also broken… #392

[2018-12-07 16:15] Koncopd commented on #391
I mean on non-normalized dataset, which is a sparse matrix.

[2018-12-07 16:39] ltosti commented on #391
On non-normalized dataset I get ```False```.

[2018-12-08 14:06] sonyasofia7 commented on #383
Thank you!
It was just not clear from the tutorial in the beginning that the same thing is used to define colors in plots :(

[2018-12-08 14:06] #383 closed, assigned to nobody

[2018-12-09 06:48] falexwolf commented on #391
The initial problem is due to the fact that the new 'highly_variable_genes' function does not take numpy arrays anymore: https://github.com/theislab/scanpy/blob/master/scanpy/preprocessing/highly_variable_genes.py

It's also mentioned in the docs, but we should, of course, have thrown a clear error message. Now it does: https://github.com/theislab/scanpy/commit/a578ced0b2e44b26998fb9e08c5bb0ffb82a

[2018-12-09 06:48] #391 closed, assigned to nobody

[2018-12-09 06:52] falexwolf commented on #392
Both of these modules are not in the docs and not referenced in any tutorial and I never considered them mature code... I always planned on fixing these... but my bandwidth for this is limited...

I should not have merged them into master, that's my fault... Won't happen again...

[2018-12-09 06:53] falexwolf commented on #346
Thank you for pointing it out, that's obviously a bug!

[2018-12-09 09:32] flying-sheep commented on #392
Oh, there was a PR? I missed that. I thought it was just committed directly to master.

I think it’s even OK to merge in unstable functions as long as we don’t reexport them in `scanpy.api`.

[2018-12-09 10:43] flying-sheep commented on #387
Fixed in 58fae77cc15893503c0c34ce0295dd6f67af2bd7

![grafik](https://user-images.githubusercontent.com/291575/49696239-acae1480-fba7-11e8-8801-10c9ac825481.png)

[2018-12-09 10:43] #387 closed, assigned to nobody

[2018-12-10 01:16] ivirshup commented on #373
I've played around with ABCs for defining interfaces, but had thought the `typing` module was more closely tied with them. Do you understand the rationale for `typing` classes being separate when ABCs and regular classes can be used for annotation?

As far I can tell, it's for subscripted (parametric?) annotations. For many python classes those would have to be a runtime check – e.g. `List[int]` –

[2018-12-10 09:32] flying-sheep commented on #373
the runtime checks would be too costly or impossible. to test for `List[int]`, you’d have to traverse the whole thing and check every element. And for e.g. `Iterator[int]`, you just can’t test it at all – if you’d iterate the thing to check the objects it yields, you exhaust it and it’s no longer usable.

[2018-12-10 17:17] VolkerBergen opened #393 "PCA with sparse data"
Right now we get different PCs when using sparse data (applying TruncatedSVD) compared to using dense data (applying PCA).

`TruncatedSVD(X-X.mean(0))` would be equivalent to `PCA(X)`. `X-X.mean(0)` would obviously not be sparse anymore, which is why it is currently implemented as `TruncatedSVD(X)`. The first PC will be mainly representing the vector of means, thus be very different from zero-cent

[2018-12-10 21:05] Koncopd commented on #393
For pca of sparse matrices i think it should work this way
1) Create class for lazy evaluation of X - mean, i.e store X, mean separately and implement multiplication by some dense B as `sparse.csr_matrix.dot(X, B) - mean.dot(B)`.
2) Pass instance of this class to [randomized_svd](https://github.com/scikit-learn/scikit-learn/blob/7fe3413475bf50683f821d296c2ca6cb525a7714/sklearn/utils/extmath.py#L23

[2018-12-11 21:28] falexwolf commented on #393
**Most importantly**: Other than stated in the docs, the default for `zero_center` is `True` and has been `True` since I believe, July 2017 (very early Scanpy, maybe 0.2..).

@VolkerBergen: I concur. One should obtain the same representation independent of the data type and that's what the default behavior of the function should give you.

@Koncopd: One can also talk about a proper implementation

[2018-12-11 21:30] falexwolf commented on #393
Ah, just saw that the docs are and have been correct. They state that the default is `True`. I'm just still not used to the fact that the default value is not displayed right next to the parameter value but only in the function header...

[2018-12-11 21:36] falexwolf commented on #393
And, you're right: [line 486](https://github.com/theislab/scanpy/blob/17141d02ad19ad10aedd8361633be3cd670b3001/scanpy/preprocessing/simple.py#L486) could be a bug. It should be `zero_center is None` and not `zero_center is not None`. Hm, @Koncopd, could it be that the function does the opposite as wished? Did this happen when introducing the `chunked` version a couple of months ago or was it prese

[2018-12-11 21:42] falexwolf commented on #393
The original line was
[code]
which did the expected thing, @flying-sheep introduced the bug 22 days ago in https://github.com/theislab/scanpy/commit/ce10d02f58c3308b60c23c43a36949b6aeed3ea8.

Damn, I wouldn't have expected such a thing in a commit "improved docs". It went into release 1.3.4 and 1.3.5...

Of course, it's my fault. I should have written a test in the first place.

@Koncopd: can you

[2018-12-11 21:43] Koncopd commented on #393
Can't say i remember, but i don't see any reason for me to edit this block when i was adding the chunked computation...

Yes, i will.

[2018-12-11 21:44] falexwolf commented on #393
I fixed the bug: https://github.com/theislab/scanpy/commit/15593d532fbaa696bf1ea328d1991d31b334e175.

And I'll immediately make a new release and put a warning on the webpage...

@Koncopd: Thank you for adding the tests!

[2018-12-11 21:55] falexwolf commented on #393
Done with release 1.3.6 and the warning: https://github.com/theislab/scanpy/commit/35030d28bb4e1e4559449bfe41238523bee0e616

[2018-12-11 21:57] Koncopd commented on #393
As for `randomized_svd`, looking at [this](https://github.com/scikit-learn/scikit-learn/blob/7fe3413475bf50683f821d296c2ca6cb525a7714/sklearn/utils/extmath.py#L120) it seems that is should work properly if a class for lazy evaluation inherits from standard sparse class and implements \_\_mul\_\_ and \_\_rmul\_\_.

[2018-12-11 23:05] VolkerBergen commented on #393
Following @Koncopd 's idea, wouldn't it be sufficient to simply have line 340 in https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/extmath.py changed to
[code]

[2018-12-12 09:51] Koncopd commented on #393
@VolkerBergen
No, similar lines also should be changed in [`randomized_range_finder`](https://github.com/scikit-learn/scikit-learn/blob/3a884c5ee507f735e2df384727340c72c5219a8e/sklearn/utils/extmath.py#L148), which is used by `randomized_svd` function. Or the whole `safe_sparse_dot` function.

But copying the file extmath.py (or the part of it related to svd) and changing this lines would be suffi

[2018-12-12 10:08] flying-sheep commented on #393
damn, the only thing I could have done wrong there…

It went into that commit because the previous code was too convoluted to understand, and I needed to understand that line to improve the docs! I ended up understanding it it but rewrote the line incorrectly. I’m sorry!

Did you add a test after 15593d5?

[2018-12-12 14:46] Koncopd commented on #393
@VolkerBergen
Also appropriately implemented power method (last section of [this](http://www.cs.yale.edu/homes/el327/datamining2013aFiles/07_singular_value_decomposition.pdf), for example) for svd should be fine.

[2018-12-12 17:20] alexmascension opened #394 "AttributeError: module 'warnings' has no attribute 'warning'"
Maybe I am doing something wrong. I try to recover the observation from annData as a dataframe, and I am playing with some of the commands. This is an example.

[code]

Then this error happens:

[code]

[2018-12-12 17:35] flying-sheep commented on #394
Fixed in https://github.com/theislab/anndata/commit/7b1077d5e1a63fef0d47d716d19ea14ad2ad10de

[2018-12-12 17:35] #394 closed, assigned to nobody

[2018-12-12 21:03] pritykin commented on #386
Yes, now it works great for me, thanks!

[2018-12-12 21:03] #386 closed, assigned to nobody

[2018-12-13 06:51] PattF opened #395 "Paga coordinates from phate plot"
Is there a way to plot a paga plot based off the coordinates from a phate plot?
No issue in doing it from an fa plot, just wondering if its possible from a phate plot as well?

[2018-12-13 18:37] a-munoz-rojas opened #396 "Dot plot scaling issue/request"
It would be great to be able to adjust the frequency scale of the dot size to the min-max values of the data set, instead of 0-100% of total cells. This is particularly important to visualize expression of genes that is rare in some subpopulations, that are otherwise impossible to see because the dots are too small. As a side note, Seurat does this scaling automatically and it works well. Thanks!

[2018-12-13 21:06] aditisk opened #397 "Calculate differential expression between user defined groups of clusters"
Hello,

I want to be able to use sc.tl.rank_genes_groups() to calculate differential expression between two groups of my choice. For example, if I have 16 clusters in my UMAP plot and I want to compare group 1 (all cells in clusters 1 to 8) to group 2 (all cells in clusters 9 to 16) how can I do this ?

Thank you in advance for any help.

[2018-12-13 22:17] LuckyMD commented on #397
Hi,

You could just create a new `.obs` variable with the two groups and the perform `sc.tl.rank_genes_groups()` over this variable. For example, you could do something like this:

[code]

as there are only two groups the top-ranked genes for either groups will be the up-regulated genes in that group (and down-regulated in the other group) that are most differentially expressed between the groups.

[2018-12-14 10:48] cartal commented on #262
Hi, I'm sorry I forgot about this trend, I just stumble into the same issue.

Lets say I have done my analysis in scanpy and everything is good and nice, but now I want to run, say, the cluster 10 from the louvain subset, with Palantir. Palantir can read 10X and 10X_H5 files. Is there a way to plug-and-play this with scanpy?

In another case, if I want to extract the subset expression matrix, wher

[2018-12-14 13:53] fidelram commented on #396
Can you give me a visual example of what you want to see if I am following
you?

On Thu, Dec 13, 2018 at 7:37 PM a-munoz-rojas <notifications@github.com>
wrote:

[2018-12-14 18:14] a-munoz-rojas commented on #396
Sure - this is an output from a Seurat analysis. You can see that the scale of the dot size goes from 10% to 60%, such that the group with 60% expressing cells is scaled to the max dot size:

<img width="246" alt="pastedgraphic-3" src="https://user-images.githubusercontent.com/37122760/50017697-d9dd3700-ff9a-11e8-8c28-fb6cd7f064e7.png">

As a comparison, this is a (different) output from scanpy th

[2018-12-14 18:44] aditisk commented on #397
Hi,

Thank you so much for the prompt response. I was able to make the comparisons following your method. As you suggested, I am going to try using MAST or limma for DEG testing in the future.

Thanks.

[2018-12-15 15:30] #397 closed, assigned to nobody

[2018-12-15 21:27] falexwolf commented on #397
Thank you so much for fielding so many of the issues, @LuckyMD! :smile:

Can we elaborate a bit further on this one, though? For simple two-group comparisons, `rank_genes_groups` with `method='wilcoxon'` (Wilcoxon-Rank-Sum/Mann-Whitney U test) should be a legit choice, shouldn't it? It's used in many of this year's Nature, Cell and Science single-cell papers, it's the default test of Seurat (https

[2018-12-15 21:29] falexwolf commented on #397
And, I think, we'd want to start advertising [diffxpy](https://github.com/theislab/diffxpy) in addition to the usual suspects, shouldn't we? Any comments from your side, @davidsebfischer?

[2018-12-16 03:01] falexwolf commented on #262
You can always export as a `.csv` file and read that into other tools using `adata.write_csvs(filename, skip_data=False)`. You can call `adata.T` for transposing before.

I can imagine that Palantir would also accept `AnnData` objects, you could make an issue there. Also, have you tried `tl.paga` for trajectory inference, the paper is [here](https://doi.org/10.1101/208819)?

[2018-12-16 03:09] falexwolf commented on #395
You should be able to call `paga_compare(adata, basis='phate')`. Let me know if there are problems with this.

[2018-12-16 03:12] falexwolf commented on #394
Thank you @flying-sheep!

@alexmascension, you can use `adata.to_df()` to convert the data matrix in `adata` into a dataframe.

[2018-12-16 03:16] falexwolf commented on #393
@flying-sheep no worries! We'll steadily increase test coverage. I assume that almost no one should have run into the bug in the past 22 days. Among those that updated their version, only very few will have run the PCA with sparse data...

@Koncopd, I'm very happy if you move forward with a proper sparse implementation of PCA! :smile:

[2018-12-16 04:31] PattF commented on #395
Perfect, that worked great!
I'll close the thread.

[2018-12-16 04:31] #395 closed, assigned to nobody

[2018-12-16 06:57] #325 closed, assigned to nobody

[2018-12-16 07:03] falexwolf commented on #302
@flying-sheep and anyone interested: I started putting the notebooks on `scanpy-tutorials`: https://github.com/theislab/scanpy-tutorials and https://scanpy.readthedocs.io/en/latest/tutorials.html now links to the docs generated from `scanpy-tutorials`.

I'm doing it like this for now as it's quite a bit less work than getting everything to run on readthedocs, there might indeed be problems with th

[2018-12-16 07:12] Koncopd commented on #393
Ok, it will be here
https://github.com/theislab/scanpy/tree/pca_sparse

[2018-12-17 10:00] manarai opened #399 "annotating anndata object with clusters and tnse info from .csv file"
Dear,

Thanks for this fantastic package. I saved one of my analysis to get .csv files output using the cmd adata.write_csv('./ouput').  I modified some of these files (the obs.csv and obsm) for pecific purposes related to a collaborative project while respecting the dimensions and the order of the cells. How can I reload back these files into an anndata object?

adata = sc.read_csv('./ouput/*') ?

[2018-12-17 10:19] flying-sheep commented on #399
[The documentation for `AnnData.write_csvs`](https://anndata.readthedocs.io/en/latest/anndata.AnnData.write_csvs.html) tells you

Sorry for that! We thought that not having a function to read back those CSVs, we won’t lull people into the false security that the AnnData object can be safely restored from CSVs.

But if you have nothing else but those files, you can of course try to use [`pandas.rea

[2018-12-17 14:30] LuckyMD commented on #397
@falexwolf I try to answer where I can.

I should probably have clarified a bit above. I would argue that most real data DE tests benefit from accounting for technical covariates. For example, you should probably not perform batch correction on your data and then do a wilcoxon rank sum test, but instead take the normalized (and log transformed) data or the raw counts and include a batch covariate

[2018-12-17 14:58] davidsebfischer commented on #397
I agree with @LuckyMD about the points regarding covariates.

With respect to two group comparisons without confounding, rank-sum tests have less statitical power than t-tests (https://stats.stackexchange.com/questions/130562/why-is-the-asymptotic-relative-efficiency-of-the-wilcoxon-test-3-pi-compared), disclaimer I haven't checked this proof, I think this is a standard statistics result though, t

[2018-12-17 16:05] fidelram commented on #396
Thanks, now is becoming clearer. Can you specify the maximum percentage
value or this is taken from the data?

What would be a nice name for a parameter to add to the function?
`max_fraction` ?

I would not be able to work on this for the next days but at least we can
throw some ideas. The change is the code is probably quite simple.

On Fri, Dec 14, 2018 at 7:14 PM a-munoz-rojas <notifications@gi

[2018-12-18 05:33] manarai commented on #399
From a gene matrix, tsne and cluster .csv files obtained from cell ranger output I was able to load these into scanpy and display a tsne plot that look exactly like the output of cellranger cloupe file. This is great thanks!

![screen shot 2018-12-18 at 14 32 39](https://user-images.githubusercontent.com/39877296/50134113-eaaae700-02d1-11e9-96db-8c2a3393724b.png)

[2018-12-18 05:33] #399 closed, assigned to nobody

[2018-12-18 19:07] a-munoz-rojas commented on #396
The maximum percentage value is automatically taken from the data, and the Seruat function also has parameters to let the user scale these values (similar to vmin and vmax for heatmaps). I think it would be nice to have this option in this function as well.

For parameter names, a suggestion could be 'dot_min' and 'dot_max'. Maybe it would be best if the default behavior is to scale automatically

[2018-12-19 10:35] flying-sheep opened #400 "Getting rid of scanpy.api"
Hi, as we discussed, @falexwolf wants to get rid of `scanpy.api` and make `scanpy` what is was before.

For this, we can take hints from trio, which has a nice public API here: https://github.com/python-trio/trio/blob/master/trio/__init__.py

[2018-12-20 15:24] fidelram commented on #396
PR #401 addresses the issue. I would be great if you can give it a try.

[2018-12-21 11:02] LuckyMD commented on #397
Also, I just found time to read the links you posted @davidsebfischer. Shouldn't we always use a welch t-test instead of a t-test in marker gene detection according to your second stackexchange link? They state that If you don't have a good reason to assume equal variances in the groups, then use the Welch correction... if we have a `group` vs `rest` type of setup as we do in `rank_genes_groups()`

[2018-12-21 17:01] cartal commented on #262
Hi, I am trying PAGA. Thanks a lot for the help.

[2018-12-21 17:01] #262 closed, assigned to nobody

[2018-12-21 17:02] cartal opened #404 "Export table with markers"

[2018-12-21 17:04] #404 closed, assigned to nobody

[2018-12-26 00:22] gokceneraslan commented on #242
`useast.ensembl.org` seems to be working.

[2018-12-26 20:56] falexwolf commented on #397
@LuckyMD

Thank you for the whole in-depth discussion. It makes a lot of sense! :smile:

To your question: Scanpy has used Welch's adaption of Student's t-test from the very beginning.

@davidsebfischer

Thank you! I guess it would be nice to have a single-cell tutorial in diffxpy that shows higher sensitivity by accounting for technical covariates.

[2018-12-26 23:40] LuckyMD commented on #397
It's always a nice feeling when your understanding catches up to someone else's decision making a long time ago... ;)

[2018-12-27 04:20] JuHey opened #405 "sc.pl.stacked_violin: IndexError, list index out of range"
Scanpy vs. 1.3.6
installed using pip3
OSX 10.10.5
Jupyter lab

code:
`list_of_list_of_marker_genes = [mg1, mg2, mg3]
for mg in list_of_list_of_marker_genes:
    sc.pl.stacked_violin(adata, mg, groupby = 'louvain’, rotation=90)
    print(mg)`

This works for some mg's but not for all; sc.pl.matrixplot works for all of them; the same for sc.pl.violin; it works also if I would combine all marker gene

[2018-12-27 20:07] falexwolf commented on #405
@fidelram Could it be that `stacked_violin` doesn't fully account for `.raw`?

[2018-12-27 22:23] falexwolf commented on #396
The PR is merged, so I'm closing this issue.

[2018-12-27 22:23] #392 closed, assigned to nobody

[2018-12-28 01:01] a-munoz-rojas commented on #396
Sorry I forgot to reply! I gave it a quick try and it looked great. Thank you very much Fidel!

[2018-12-28 01:05] falexwolf commented on #400
This PR deals with it: https://github.com/theislab/scanpy/pull/406

[2018-12-28 19:19] Munfred opened #407 "Read the docs does not show full table of contents of left bar + font improvement"
Hello, I have a minor suggestion that I think will be very helpful for people to navigate and read the documentation.

Right now Read the Docs does not display the full table of contents on the left (i.e. one link for every page).
For example, to go to the page on `scanpy.api.pp.calculate_qc_metrics` (which is https://scanpy.readthedocs.io/en/latest/api/scanpy.api.pp.calculate_qc_metrics.html) I h

[2018-12-28 19:32] falexwolf commented on #407
Thank you for your suggestions! I'm very happy to improve things. We're just right now working on improvements on another branch (`beyondapi`). I'll get back to this thread in a couple days with the results...

[2019-01-02 02:02] falexwolf opened #408 "automodule docs"
I'm probably not seeing something very simple:
https://scanpy.readthedocs.io/en/latest/api/scanpy.external.html#module-scanpy.external
renders fine whereas
https://scanpy.readthedocs.io/en/latest/api/scanpy.api.html#module-scanpy.api
https://scanpy.readthedocs.io/en/latest/api/scanpy.plotting.html#module-scanpy.plotting
both append an auto-generated list of all functions and classes defined in the

[2019-01-02 10:18] flying-sheep commented on #408
Well, [`scanpy/__init__.py`](https://github.com/theislab/scanpy/blob/9d599f921bcd5a0464f9db409e3ec0c58f8c8d2c/scanpy/__init__.py), [`scanpy/api/__init__.py`](https://github.com/theislab/scanpy/blob/9d599f921bcd5a0464f9db409e3ec0c58f8c8d2c/scanpy/api/__init__.py) and [`scanpy/external/__init__.py`](https://github.com/theislab/scanpy/blob/9d599f921bcd5a0464f9db409e3ec0c58f8c8d2c/scanpy/external/__in

[2019-01-02 14:50] falexwolf commented on #408
Hm, simply removing `.. automodule:: scanpy` is not possible in the case of `scanpy/plotting/__init__.py` as then sphinx doesn't seem to know anymore where all the `pl.*` functions come from.

Also, `docs/api/index.rst` renders completely fine: https://scanpy.readthedocs.io/en/latest/api/index.html. The problem is with `scanpy/api/__init__.py` (which doesn't contain `..automodule::`, as we're just

[2019-01-02 15:09] flying-sheep commented on #408
I see! OK, so `.. automodule` [doesn’t by default include the members](http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html), and we don’t have [`autodoc_default_options`](http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_default_options) set.

However I don’t understand what you mean by

So will it simply not link them? Because that can have other reas

[2019-01-02 15:24] flying-sheep commented on #408
Hmm, maybe it has to do with some docstring bugs, let’s check. e.g. this is pretty borked, I’ll fix it: https://icb-scanpy.readthedocs-hosted.com/en/latest/api/scanpy.external.exporting.cellbrowser.html

[2019-01-02 15:40] flying-sheep commented on #408
Docutils says that all kinds of imports fail in `plotting`, hmm…

/edit: ah, of course.

1. autosummary generates `docs/api/scanpy.plotting.rst` containing a header and

[code]

2. the `automodule` directive renders the docstring from `plotting/__init__.py` and then the autogenerated list of functions.

To fix this, we need to create `scanpy.plotting.rst` ourselves. Will do so

[2019-01-02 16:35] flying-sheep commented on #408
Fixed in 9861b66128c0a3a04df9d784e26664874dd23b1b

[2019-01-02 16:35] #408 closed, assigned to nobody

[2019-01-02 16:36] #400 closed, assigned to nobody

[2019-01-02 17:29] falexwolf commented on #408
Thank you, great!

[2019-01-03 19:36] Xparx opened #409 "KeyError: 'dpt_order_indices' missing if branching=0"
I don't think this is fixed in the previous issue https://github.com/theislab/scanpy/issues/129.

If you run `sc.tl.dpt(adata)` it creates the `dpt_pseudotime` property in `obs` as expected. However using dpt in plotting functions fails like `sc.pl.dpt_timeseries(adata)`. This is due to the  `dpt_order_indices` property not being created if `branching=0`.

[2019-01-04 14:30] SamueleSoraggi opened #411 "Message from highly_variable_genes"
Hi,

when using the command
[code]

I get this informative message:
[code]

Even though not all of them are booleans! I guess it is just a copy-paste residue from implementation :)
Cheers,
Samuele

[2019-01-04 16:26] falexwolf commented on #411
Thank you! Fixed via https://github.com/theislab/scanpy/commit/9c1bc7e0b565727530487d6067a0711c76fac549.

[2019-01-04 16:26] #411 closed, assigned to nobody

[2019-01-04 16:33] falexwolf commented on #407
This should be fixed via: https://github.com/theislab/scanpy/issues/407

We're super happy if you check out the new: https://scanpy.readthedocs.io/en/latest/api/ and give us your feedback! We know that we still have an issue with the return sections, which was introduced in the past couple of months as we changed the docs generator. We're working on that.

[2019-01-05 00:04] Munfred commented on #407
The new documentation index looks great! It's exactly what I was thinking about! Thanks so much for being so responsive!

[2019-01-05 12:48] falexwolf commented on #407
Great that you like it! :smile: I'm closing this.

[2019-01-05 12:48] #407 closed, assigned to nobody

[2019-01-07 12:22] falexwolf commented on #409
Sorry about the slow response, I'll look into this early this week.

[2019-01-07 16:03] Xparx commented on #409
No worries, It's a minor issue of convenience. If I interpreted the missing keys correctly it's not to difficult to add them manually.
There are two keys missing. The one I mentioned and one related to the branching of the tree which I'm unsure how to interpret. I added the following two lines to my script.

    adata.obs['dpt_order_indices'] = adata.obs['dpt_pseudotime'].argsort()
    adata.uns['

[2019-01-07 16:15] fidelram commented on #405
Hi, sorry for the late reply. Given that the function works for some mg
genes but not for other, this usually indicates that the gene may not be in
the matrix. Can you try to set `use_raw=True` just to check if this is the
issue (although use_raw should be True by default). Still, very suspicious
that it works with with other functions like matrixplot.

On Thu, Dec 27, 2018 at 9:07 PM Alex Wolf <n

[2019-01-07 18:50] falexwolf commented on #405
That's why I meant the usual `use_raw=None` defaulting to `True` if `.raw` has been set might not be consistently implemented in `stacked_violin`?

[2019-01-07 18:54] JuHey commented on #405
Hi, no worries! I tried that but by explicitly stating ‘use_raw=True’ but it did not change the outcome.

From: Fidel Ramirez <notifications@github.com>
Reply-To: theislab/scanpy <reply@reply.github.com>
Date: Monday, January 7, 2019 at 11:16 AM
To: theislab/scanpy <scanpy@noreply.github.com>
Cc: "Heymann, Jurgen (NIH/NIDDK) [E]" <heymannj@niddk.nih.gov>, Author <author@noreply.github.com>
Subject

[2019-01-07 20:01] davidhbrann opened #415 "equal_frequency bins in highly_variable_genes"
Hi,

Using Seurat, in their variable gene function I've had some success using the `equal_frequency` option, where each bin contains an equal number of genes. Would it possible to implement this option in scanpy?

If you'd like I could submit a PR to implement this feature. I think it could be as simple as using `pd.qcut` instead of `pd.cut` or you could use a similar style as in the `cell_ranger`

[2019-01-08 07:49] fidelram commented on #405
Looking at the function code I don't see why your example does not work.  @falexwolf, I checked and `use_raw` is consistently used in all plot functions.

@JuHey Can you check that `mg` is a python list?

Do you mind sharing privately your data to try to identify the problem? Or even better, can you reproduce the problem using the example data in Scanpy (e.g. https://scanpy-tutorials.readthedocs.i

[2019-01-08 12:36] falexwolf commented on #415
These appear to be consistent, simple changes and I assume they would be covered by this test: https://github.com/theislab/scanpy/blob/master/scanpy/tests/test_highly_variable_genes.py

If you have any doubts about this, let's discuss before making a PR. Otherwise, I'm happy if you move forward with it.

[2019-01-09 15:44] JuHey commented on #405
@fidelram Thank you for your suggestions! The example data in Scanpy worked without flaw. I will go over my code again!

[2019-01-09 20:49] iandriver opened #416 "latest install AnnData is not defined"
`pip install -e .`
gives:
[code]

[2019-01-09 20:56] cornhundred opened #417 "to_df method does not appear to be working correctly"
I'm trying to export a Pandas DataFrame from the adata object using the example notebook pbmc3k and I'm getting a weird result shown below:

<img width="1079" alt="screen shot 2019-01-09 at 3 52 51 pm" src="https://user-images.githubusercontent.com/8352840/50927784-d1a3da80-1426-11e9-9b01-fef15bdf2e2d.png">

I could not find documentation on the `to_df` method in the documents.

[2019-01-09 21:11] cornhundred commented on #417
I think I figured it out, just had to convert the matrix (`adata.X`) todense in order to get the DataFrame I wanted:
<img width="1102" alt="screen shot 2019-01-09 at 4 09 20 pm" src="https://user-images.githubusercontent.com/8352840/50928530-f00ad580-1428-11e9-97f3-37cd6aa8b4d6.png">

I'm trying to export a DataFrame for use with [clustergrammer2](https://github.com/ismms-himc/clustergrammer2). Se

[2019-01-10 01:40] Xparx opened #418 "Plotting ax and figure manipulation, e.g. fig.tight_layout() and other related workflow issues."
scanpy version 1.3.7

NOTE!: During typing this issue out i figured out how to solve it and save figures with all elements showing with the help of
`fig1.savefig("name.svg" bbox_inches='tight')`, which solves 90% of the issue I had. I also noticed that these functions have a built in save function where I found the answer. I added a question at the bottom which is still of interest to me. However,

[2019-01-10 01:57] Xparx opened #419 "All plotting functions could return an ax and/or fig handle."
scanpy version 1.3.7,

I noticed that some figures does not return an ax handle.
Specifically rank_genes_groups_heatmap does not return an axis becouse _rank_genes_groups_plot does not return an axis from the matrix plot. Only tracksplot and stacked_violin seems to return an axis in [_rank_genes_groups_plot](https://github.com/theislab/scanpy/blob/master/scanpy/plotting/_tools/__init__.py#L258).

[2019-01-10 08:09] flying-sheep commented on #416
Fixed in de16b79f9cbf2bc881faa7a36ebf6aaeb24ee786, sorry!

[2019-01-10 08:09] #416 closed, assigned to nobody

[2019-01-10 08:13] fidelram commented on #418
@Xparx Thanks for reporting the problem an a potential solution.

Each plotting function has a save parameter which does:
[code]
So, instead of calling `fig.savefig()`, what you can do in your example is to add `save='test.png'`:

[code]

[2019-01-10 08:35] fidelram commented on #419
All plotting functions should return an ax or an ax list if `show=False`.   `_rank_genes_groups_plot` returns whatever the internally called function returns (which could be tracksplot or heatmap etc). However, I don't recall testing this output in all cases.

Can you provide a non working example using the test data? Here you can see how to use one of the test datasets: https://scanpy-tutorials.r

[2019-01-10 09:18] SamueleSoraggi opened #420 "Mismatching between colours and clusters in Leiden"
Hi,

when I run a command like this

[code]

trying out different resolution, the vector `all_data.uns['leiden_colors']` happens to have a number of colors for the Leiden clusters that is not matching the number of Leiden clusters found the last time I ran the command above. Maybe the function that append the color vector to the annData object could be changed so that it checks if the vector of co

[2019-01-10 11:42] fidelram commented on #420
I think that the `all_data.uns['leiden_colors']` list is only updated if the new number of clusters is bigger than the previous cluster number as the goal is to avoid missing colors.

In you use the the `palette` argument, the color list will always be updated.

[2019-01-10 12:47] nh3 opened #421 "Behaviour of `percent_top=None or []` in `calculate_qc_metrics()` inconsistent to documentation"
The documentation says:

However, supplying `percent_top=None` or `percent_top=[]` leads to index-out-of-bounds error, due to `proportions = top_segment_proportions(X, percent_top)` being always executed and `top_segment_proportions()` not handling a None or empty second argument.

[2019-01-10 17:17] iandriver commented on #416
Thanks!

[2019-01-11 16:52] Xparx opened #422 "heatmap plot can't handle groupby integer categoricals"
scanpy.__version__ : '1.3.7'

I'm trying to visualize my data with a heatmap and ran in to the following issue (title) and thought I note it,

The code I try to run:
[code]
and I get the flollowing traceback
[code]

It seems like the function `_plot_categories_as_colorblocks` expects the len function to be applied to each category to be able to place it properly. However my categories are time sta

[2019-01-11 17:08] Xparx commented on #419
Hi thinks for the answer and thanks for the link on the test data and visualization, I will try to use that going forward.

I will cook up a non working example if needed, however just looking at the code https://github.com/theislab/scanpy/blob/master/scanpy/plotting/_tools/__init__.py#L302 there is missing return statements for a few of the plotting functions in the `_rank_genes_groups_plot` unle

[2019-01-11 18:11] fidelram commented on #419
I will take a look.

On Fri, Jan 11, 2019 at 6:08 PM Andreas <notifications@github.com> wrote:

[2019-01-11 23:55] falexwolf commented on #419
Hey! Thank you for the thoughtful considerations!

Yes, by default, Scanpy plotting functions return `None`, other than in other packages. Scanpy's plotting should be seen as being even more high-level, than, say Seaborn. A single one-line function call should display a publication-quality visualization in a notebook and no ugly string representation of a returned Axes should clutter the output. T

[2019-01-12 00:03] falexwolf commented on #422
Scanpy expects string categories in a couple of places. Didn't you get a warning at some point when trying to set integer categories?

[2019-01-12 00:24] falexwolf commented on #421
@ivirshup Could you field this one?

[2019-01-12 00:27] falexwolf commented on #420
Yes, the 'leiden_colors' field in `.uns` will only be updated if needed, i.e., if the number of categories in the `leiden` field in `.obs` exceeds the number of available colors. As Fidel mentions, passing `palette` will automatically trigger resetting the colors according to the chosen palette.

[2019-01-12 00:30] falexwolf commented on #418
Cool! :smile:

The only thing to add to this, you can change the directory where you want figures to end up here: https://scanpy.readthedocs.io/en/latest/api/index.html#settings

[2019-01-12 00:30] #418 closed, assigned to nobody

[2019-01-12 00:57] falexwolf commented on #417
Thank you for pointing out that bug.

It's fixed here: https://github.com/theislab/anndata/commit/2d11f9fb1cb9059a178c7d11ffa595b49b742342

Documentation is here: https://anndata.readthedocs.io/en/latest/anndata.AnnData.to_df.html

[2019-01-12 00:57] #417 closed, assigned to nobody

[2019-01-13 23:44] Xparx commented on #419
@falexwolf Thanks for the explanation.
I see now that it's an issue of how the package should be used, i.e. the philosophy behind your api, and I seem to have tried to use it in a different perhaps more low level way. I will look in to using more low level functions/modules if I need it and work with your original intended workflow which i think make sense. I have missed the whole settings functio

[2019-01-13 23:56] Xparx commented on #422
I did notice this warning in later versions of scanpy but only for index of `var` and `obs` not the table columns themselves. The loom file i'm loading contains this variable as an integer int64 type. I simply load the data and convert to categorical.

[code]
This does not raise a warning, which seems like it would be hard to catch as I work on the dataframe directly.
Setting a dataframe with an i

[2019-01-14 00:08] Xparx commented on #418
Didn't know about the setting settings! I will try to use that.  I noticed the `save` figure argument but couldn't connect it to saving where I wanted and how to incorporate it in to my workflow. With the settings functionality it is probably doable.
Thanks for your responses.

[2019-01-14 03:18] ivirshup commented on #421
@falexwolf, can do.

@nh3, just taking a look into this now. I think I've found the bug, but could you post a reproducible example so I can make sure?

[2019-01-14 03:47] nh3 commented on #421
Just load any data, e.g. pbmc3k, then do `sc.pp.calculate_qc_metrics(adata, percent_top=[])` which gives the following: (this is on v1.3.7, haven't tested on earlier versions)

[code]

Not sure if there are other impacts, but I think perhaps basically one just need to check `percent_top` before calling `top_segment_proportions()` at line 72.

[2019-01-14 04:28] ivirshup commented on #421
Just checking to make sure we're working with the same data, since there could be different errors coming from that. The PR should do the right thing on `pbmc3k`. Could you check if it works for you?

[2019-01-14 04:37] nh3 commented on #421
Yes it works great. Thanks!

[2019-01-14 04:43] ivirshup commented on #421
No problem, thanks for the bug report!

[2019-01-14 04:49] ivirshup commented on #317
No longer getting errors on plotting tests. Was this being actively worked on? I think it's ready to close otherwise.

[2019-01-14 07:39] fidelram commented on #317
Indeed the tests have been modified and now `testing.setup` is being used. Thanks for the tip. You can close this issue.

[2019-01-14 08:38] ivirshup commented on #317
Great, thanks for fixing that!

[2019-01-14 08:38] #317 closed, assigned to nobody

[2019-01-14 11:54] fidelram commented on #419
Nevertheless, some of the plotting functions are returning ax by default. I
will need to change that.

On Mon, Jan 14, 2019 at 12:44 AM Andreas <notifications@github.com> wrote:

[2019-01-14 15:12] SamueleSoraggi opened #426 "Save a matrix in an annData object"
Hi

I am trying to use the package MAGIC-IMPUTE on the annData object on which I am working with scanpy. I do something of this type

[code]

I then save the annData object on my hard drive to reopen it in another python notebook. But when I read the h5ad file, I cannot anymore find all_data.magic. Am I doing something wrong?

Cheers,
Samuele

[2019-01-14 16:39] flying-sheep commented on #426
Yeah, AnnData doesn’t serialize arbitrary attributes to disk.

I assume the output of `fit_transform` is cell×gene? Then you could do `all_data.layers['magic'] = ...`. If the output is `cell×y` with `y != n_genes` then you should do `all_data.obsm['magic'] = ...`

[2019-01-15 06:06] ivirshup commented on #385
Should the scatter plots accept `gene_symbols`? I'd like to not have to reset my `var_names` to have easy marker plotting. However, I could imagine namespace issues between `adata.obs.columns` and gene symbols, especially for programatic usage.

[2019-01-15 08:25] #426 closed, assigned to nobody

[2019-01-15 09:14] fidelram commented on #426
FYI, you can use magic within scanpy using `sc.pp.magic`

On Tue, Jan 15, 2019 at 9:25 AM Samuele Soraggi <notifications@github.com>
wrote:

[2019-01-15 12:08] ivirshup opened #428 "pbmc3k dataset has NaNs for gene_ids"
Possibly related to #275. The provided `sc.datasets.pbmc3k` does not have values for `"gene_ids"`. It'd be useful to have a standard dataset with ensembl ids and gene symbols for testing visualization functions with the `gene_symbols` argument.

[code]

However, if I download the source files, everything works out fine:

[code]

Which makes me think the file hosted at `http://falexwolf.de/data/pbm

[2019-01-15 12:28] VolkerBergen opened #429 "counts_per_cell has no effect on pp.normalize_per_cell(adata)"
`counts_per_cell` has no effect on `pp.normalize_per_cell(adata)` as it is overwritten here:

https://github.com/theislab/scanpy/blob/e0d2ea60fa2394f1158618bc69dff4fc639b51c4/scanpy/preprocessing/_simple.py#L599

Would be great if one could use, e.g. the initial cell size (from before filtering). Note, that this issue only holds when passing `AnnData`. With `AnnData.X` it works fine.

[2019-01-15 20:41] briangottfried opened #431 "Error in pca_loadings when components > 5"
Hi,

I am getting an error when the list of components is greater than 5 in `sc.pl.pca_loadings`. The error is a NamedError, `NameError: name 'count' is not defined`, coming from [this line](https://github.com/theislab/scanpy/blob/master/scanpy/plotting/_anndata.py#L554).

[2019-01-16 22:27] Xparx opened #432 "scanpy.api.tl.pca compensate for few genes < 50 but not few cells."
Minor bug I assume.

Using fewer than 50 cells raises the following error when trying to run `sc.tl.pca`. The code handles this when the `n_vars < 50` but not when `n_obs` is.

[code]

[2019-01-17 19:22] a-munoz-rojas opened #433 "merge"

[2019-01-17 19:22] #433 closed, assigned to nobody

[2019-01-17 22:00] sherman5 opened #434 "Reading h5ad with backed='r' does not reduce memory usage"
Whether I read the data as:
`adata = sc.read('test.h5ad', backed='r')`

or:
`adata = sc.read('test.h5ad', backed='r+')`

The amount of memory used is the same (I'm measuring memory usage with `/usr/bin/time -v` and looking at `Maximum resident set size`).

In my particular case, I have a very large data set and I'm only interested in `adata.obs`. My current solution is to use the `h5py` package an

[2019-01-18 18:56] ajitjohnson opened #435 "TypeError: ufunc 'log1p' output (typecode 'd') could not be coerced to provided output parameter (typecode 'l') according to the casting rule ''same_kind''"
Hi there,

I seem to have trouble analyzing a dataset.

https://www.dropbox.com/s/og5lw42chh2qujm/Trial_data1.csv?dl=0

If I run sc.pp.log1p (adata), I get the following error.

TypeError: ufunc 'log1p' output (typecode 'd') could not be coerced to provided output parameter (typecode 'l') according to the casting rule ''same_kind''

I could normalize it on my own and say if I do a PCA analysis and

[2019-01-19 10:47] ghost opened #436 "Information about scores"
Hello, I would like to know how the scores are calculated in the case of the differential expression analysis using the wilcoxon's test.
This is what I found in the code of the function _rank_genes_groups.py:
`scores = (scores - (n_active * (n_active + m_active + 1) / 2)) / sqrt(
                    (n_active * m_active * (n_active + m_active + 1) / 12))
scores[np.isnan(scores)] = 0
pvals = 2 * st

[2019-01-20 12:31] ghost commented on #436
Maybe I got it. Scores are the z scores used to calculate the p-values and are also the scores that are also the scores of each gene given the results. Is it right?
Thanks

[2019-01-21 09:17] falexwolf commented on #436
Yes, you're right, they are the z-scores used to calculate the p-values! I added a note in the docs to clarify this: https://scanpy.readthedocs.io/en/latest/api/scanpy.tl.rank_genes_groups.html

[2019-01-21 09:17] #436 closed, assigned to nobody

[2019-01-21 09:21] falexwolf commented on #435
This is really strange, have you had problems with other datasets? Is your dataset corrupted in some way?

[2019-01-21 09:26] falexwolf commented on #434
Well, but the amount of memory should be a lot smaller than if you used
[code]
There should not be any difference between `'r`' and `'r+'`, so that's intended behavior.

If you open it in backed mode, everything except the data matrix gets loaded into memory (using the `h5py` package).

It should use as little memory as your custom solution. If it doesn't, I'd be happy to go through more details.

[2019-01-21 09:29] falexwolf commented on #432
Hm, I would even say this is bug on the sklearn PCA level.

[2019-01-21 09:35] falexwolf commented on #431
Thank you! Should be fixed via: https://github.com/theislab/scanpy/commit/16c160f5ab67f9834502a0ec37e173d2e72dfc1b

[2019-01-21 09:35] #431 closed, assigned to nobody

[2019-01-21 09:42] falexwolf commented on #429
@Koncopd: will this still be an issue in the new implementations of `normalize_total` and `normalize_quantile`? Would be great if you checked!

[2019-01-21 10:00] falexwolf commented on #428
Thank you very much for pointing me to this! What you assume is absolutely right! I just replaced the file. The previous file was created when there wasn't even a function `read_10x_mtx`... I added a section to the docstring describing how the file was produced: https://github.com/theislab/scanpy/commit/fcd125252c307b5ecc077ad0e69fa9d6a1106ebb

See the updated docs: https://scanpy.readthedocs.io/e

[2019-01-21 10:02] #428 closed, assigned to nobody

[2019-01-21 10:31] falexwolf commented on #385
I guess this should be clarified with your PR, @ivirshup, right?

[2019-01-21 10:32] #421 closed, assigned to nobody

[2019-01-21 10:36] ivirshup commented on #385
Yeah, I decided just to go for it 🤠. I'd be happy to update the code if there ends up being a `gene_symbols` flag.

[2019-01-21 10:49] falexwolf commented on #385
Thank you! That's the way to go! 😎

[2019-01-21 10:51] falexwolf commented on #419
Thanks, guys! 🙂

[2019-01-21 10:51] #419 closed, assigned to nobody

[2019-01-21 10:58] falexwolf commented on #317
Yeah, @fidelram added it in this PR: https://github.com/theislab/scanpy/pull/369. :smile: It's awesome, tests run through for me, too, everywhere...

PS: Only thing that remains is the unnecessarily long runtime due to too-large test data in a couple of instances. I'll take care of it very soon.

[2019-01-21 11:01] falexwolf commented on #422
OK, thank you for the explanation! Let us think about it. There are a couple of sanity checks running in the background, which are easy to call at the beginning of the plotting functions, for instance, if they don't cost performance. E.g., there was a standard `adata._sanitize()` call in all the plotting functions. Is it still there, @fidelram? If not, no problem... We should have a solution that

[2019-01-21 11:13] ivirshup commented on #434
I've noticed this behavior too. Here's a couple examples:

[code]

Using a larger dataset:

[code]

While making those examples I got a range of results, though what I've posted are the ones I saw most often. It's enough to make me think there's something strange going on.

[2019-01-21 12:25] sherman5 commented on #434
To add on to what @ivirshup said, reading the file with a custom approach results in significantly less memory used:

I created the `h5ad` file with:

[code]

Then read it three different ways:

[code]

[code]

[code]

where `custom_read` is defined as:

[code]

and here's some verification the custom read is actually reading the data

[code]

Here's some version info I neglected in the original c

[2019-01-21 13:06] falexwolf commented on #434
@Koncopd, this seems to be not related to the observation you mentioned a couple of days ago: fixed-length strings in categories... Can you please look into it? Something seems to be fundamentally wrong (very likely I'm responsible for that).

[2019-01-21 13:43] Koncopd commented on #434
Yes, this really looks strange. I'll investigate.

[2019-01-21 13:52] flying-sheep commented on #422
You mean regarding “should we allow integer indexes”?

[2019-01-21 16:12] falexwolf opened #437 "Edit on GitHub links are broken"
Hi @flying-sheep,

it seems that the links broke in the course of the change to `scanpydoc`. Currently, what should resolve as
[code]
resolves as
[code]
It's evidently just missing the `scanpy/` subdirectory and the fact that it shouldn't point to `__init__.py`. I'm getting this from the [paga docs](https://scanpy.readthedocs.io/en/latest/api/scanpy.tl.paga.html).

It would be terrific if you coul

[2019-01-21 16:14] falexwolf commented on #437
We already had this issue 2.5 years ago: https://github.com/theislab/scanpy/issues/36, at the time, of course, with a very different docs backend.

[2019-01-21 21:58] flying-sheep commented on #437
Well, `project_dir` is configurable:

https://github.com/theislab/scanpydoc/blob/02a0fcb5b5ddfd1f9427c27e736e83126f6cfc64/scanpydoc/rtd_github_links.py#L144

but why does it go to `__init__.py`?

[2019-01-22 04:02] wangjiawen2013 commented on #381
I think I find the reason. When run sc.tl.louvain(adata), louvain_colors will be saved in adata.uns, sc.pl.paga will use louvain_colors. But, when run sc.tl.louvain(adata) again with another resolution and then rerun sc.tl.paga, louvain_colors will not be updated, and the error occurs!

[2019-01-22 04:06] wangjiawen2013 commented on #381
And leiden_colors has the same case.

[2019-01-22 06:32] SamueleSoraggi commented on #381
I had the same issue and was suggested to use the 'palette' options.
colours will not change when you get less clusters than the time before!

tir. 22. jan. 2019 5.06 AM skrev jiawen wang <notifications@github.com>:

[2019-01-22 09:49] SamueleSoraggi commented on #420
Thanks for the hint. Someone else asked a similar question and answered to him.

[2019-01-22 09:49] #420 closed, assigned to nobody

[2019-01-22 09:52] SamueleSoraggi commented on #389
It was indeed that. Sorry for the long time for checking, I forgot about it (Christmas holiday party effect).

[2019-01-22 09:52] #389 closed, assigned to nobody

[2019-01-22 09:54] flying-sheep commented on #437
I think the issue we had 1½ years ago was that we didn’t handle the links at all!

[2019-01-22 09:58] SamueleSoraggi opened #438 "Plot of ranked genes groups with non-raw data or layers"
Hej,

I have been trying to plot the ranked gene groups with a dotplot in this way

[code]

or from non-raw data
[code]

I get an error regarding the index names of the genes. Other commands for plotting gene rank groups (such as heatmap) show the same problem. The error goes as follows:
[code]

I checked the var_names and obs_names of my object, but they seem totally fine. Do you have any ideas a

[2019-01-22 10:46] flying-sheep commented on #437
Fixed in theislab/scanpydoc@10fec8a371398a2e0ecdd0a912fd10b13b11fe1f

[2019-01-22 10:47] #437 closed, assigned to nobody

[2019-01-22 13:40] SamueleSoraggi opened #440 "UMAP scatterplot fails with backed data"
Hej all,

I am using a backed dataset because, when I run the umap scatterplot, the RAM go pretty much crazy on our server. When I use not-backed data, I can do UMAP scatterplots without any problem apart from the memory usage. But now that the data is backed, when running the following:
[code]

I get an error message that seems related to the `h5py` package. Here is the whole trace back.

[code]

[2019-01-22 14:59] SamueleSoraggi commented on #440
Hej again,

I found a solution to my problem. If I read my object enabling the cache, I do not need to have it backed, because the huge use of memory when I generate the plots does not happen anymore.

However I like the idea of having backed data, and it would be nice to understand why it did not work. Maybe it will be useful with larger datasets.

Cheers,
Samuele

[2019-01-22 16:18] ajitjohnson commented on #435
Hi Alex,
I managed to get the log working by using your function to convert to AnnData rather than mine. (adata = sc.AnnData(x))

However, coloring the plots still does not work. I get the following error.
TypeError: object of type 'numpy.int64' has no len()

You can reproduce the error by the following
### Load Data
x = pd.read_csv('Trial_data.csv', delimiter=',', index_col=0)
### Drop DAPI
x = x

[2019-01-23 01:36] falexwolf commented on #435
Could you post the full error traceback so that I see where the error is raised?

[2019-01-23 01:39] falexwolf commented on #440
It should work and I've plotted using backed mode quite a bit. But you're right, your traceback suggests that something got broke.

[2019-01-23 01:43] falexwolf commented on #437
Great! :smile:

[2019-01-23 01:45] falexwolf commented on #438
Sorry, hard to figure out what's going on. Yes, please paste the traceback.

[2019-01-23 01:56] falexwolf commented on #381
Oh, thank you for sharing the reason! This was indeed a bug. It's fixed here: https://github.com/theislab/scanpy/commit/9ee2ac25c1df171286beffdcc835567e8cf00e7f

[2019-01-23 02:35] wangjiawen2013 opened #443 "sc.pl color threshold"
Dear,
Sometimes we need to set a threshold for the gene expression value to make a distinction between positive and negative cells. So how to set a threshold to the sc.pl colorbar so that negative cells (gene expressing value under the threshold) will be shown as grey (or other color), and positive cells (gene expressing value higher than the threshold) will be shown as usual ?

[2019-01-23 07:48] SamueleSoraggi commented on #440
When I have again time I will try step by step my script and try to see what happens, Maybe it will be useful in future for someone else :)
I will post an update here in a little while.

[2019-01-23 08:07] SamueleSoraggi commented on #438
Yeah it is pretty cryptical, but I hoped it happened already to some of you :) Here is the traceback.

[code]

Cheers,
Samuele

[2019-01-23 09:44] fidelram commented on #438
Looks like if for some reason the gene names that you want to plot are not
in your anndata object.

can you run `sc.pl.umap(all_data_flt_clst, color=['PRM2'])` ?

On Wed, Jan 23, 2019 at 9:07 AM Samuele Soraggi <notifications@github.com>
wrote:

[2019-01-23 11:00] SamueleSoraggi commented on #438
Yeah, the UMAP plots work alright, and I can recognize many of the genes I get in the message are indeed genes that are expressed in the data, for I can visualize them on my UMAP plots. It is kind of weird, I am wondering if somewhere I messed up the format of those names, but then why would they work on UMAP?

[2019-01-23 11:36] LuckyMD commented on #438
Have you subsetted your AnnData object to highly variable genes, while keeping the full dataset in `.raw`? In that case it could be that genes that are found as markers via `rank_genes_groups`, are not in `adata.var_names`, but only in `adata.raw.var_names` and therefore cannot be found by the plotting function. I've previously encountered issues with this, but I thought it had been solved now.

[2019-01-23 12:01] SamueleSoraggi commented on #438
Yeah, the raw data has been indeed assigned before I subsetted through highly variable genes. It might be this sort of mismatching that is problematic.
However I encounter the same problem when trying to plot a layer. The layers should contain the same set of genes as the data.

[2019-01-23 12:18] LuckyMD commented on #438
I'm not entirely sure what you mean by plotting a layer here. You mean that you run `rank_genes_groups` on a layer? Or is plotting a layer completely unrelated to `rank_genes_groups`?

[2019-01-23 17:20] fbrundu commented on #242
You can check if the mirror is working by using the url:

http://<ensembl_biomart_mirror>/biomart/martview

This is the url used internally by bioservices. The available mirrors are listed [here](http://www.ensembl.org/info/about/mirrors.html).

For example, at the moment the mirror useast is not available.

I think we can close this issue since it's not related to the scanpy's code.

[2019-01-23 20:29] ajitjohnson commented on #435
Hi Alex,

Below is the error I get. Thank you for looking at this.

[code]

[2019-01-23 22:56] Koncopd commented on #429
@falexwolf
Hm, new versions don't have `counts_per_cell ` at all.

[2019-01-24 02:08] ivirshup commented on #242
I'd argue a janky dependency is an issue with scanpy's code, as there are interfaces to BioMart which are better behaved. Here's a proof of concept:

[code]

Running it:

[code]

The drawback with [pybiomart](https://github.com/jrderuiter/pybiomart) is it's unclear how actively it's maintained. However if this looks reasonable to you, I can open a PR with this change.

[2019-01-24 03:43] fbrundu commented on #242
I agree but I'm not in charge of the PRs. Probably a better solution would be to provide a backend parameter in the PR to choose which module to use. In my opinion bioservices looks more mature and maintained.

[2019-01-24 12:43] AltynaiA opened #445 "Paul15 example broken"
I tried to run the paul15 example notebook, but the following cell raised an exception:

[code]

[2019-01-24 12:56] flying-sheep commented on #445
I assume we do `isinstance(idx, int)` at some point and didn’t think of `np.int64` and friends there.

https://github.com/theislab/anndata/blob/9335e1016620af396853a212cf5bfc26e1d829d1/anndata/base.py#L250-L251

[2019-01-24 13:27] sinclaircooper opened #446 "Documentation for rank_genes_groups"
Hi,

Thanks for the great tools included in scanpy.

I was searching to see what the logfoldchange numbers in the `rank_genes_groups` are. i.e. is it natural log/log base 10 or log2? The code in https://github.com/theislab/scanpy/blob/master/scanpy/tools/_rank_genes_groups.py shows that it is log2foldchange.

Perhaps this should be made clear in the documentation? Or `logfoldchange` should be chna

[2019-01-24 20:12] falexwolf commented on #446
Thank you for the kind words!

Hm, it's in the [docs in the returns section](https://icb-scanpy.readthedocs-hosted.com/en/latest/api/scanpy.api.tl.rank_genes_groups.html). Should it be somewhere else?

But you're right, I'm also not completely happy with the name `logfoldchange`. We'll harmonize with what's out there at some point and I'm currently tending to `log2FC` because @davidsebfischer star

[2019-01-24 20:34] falexwolf commented on #445
Hm, strange, the notebook is in the tests...

I also just ran it through myself, manually, everything got me exactly the same results as available online: my versions are
[code]

Could it be that you're using an older anndata or scanpy or something? I think I added the notebook to the tests around Scanpy 1.3 or so.

[2019-01-24 21:15] falexwolf commented on #445
Btw: I just polished the notebook a little and uploaded it [here](https://scanpy-tutorials.readthedocs.io/en/latest/paga-paul15.html). Results are unchanged, of course...

[2019-01-24 21:15] #445 closed, assigned to nobody

[2019-01-25 01:14] wangjiawen2013 commented on #443
It's like what cellranger and seurat does

[2019-01-25 13:33] Koncopd commented on #434
@falexwolf
https://github.com/theislab/anndata/pull/103 fixes the problem.

[2019-01-25 15:31] Koncopd commented on #434
@sherman5 thanks for finding this.

[2019-01-25 15:32] sherman5 commented on #434
@Koncopd  thanks for fixing it quickly

[2019-01-25 15:47] sinclaircooper commented on #446
Whoops, sorry, I read that returns section a couple of times but somehow missed the `log2` bit! Apologies.

However, I agree with you that renaming the `log2FC` would remove any ambiguity.

[2019-01-25 15:50] davidsebfischer commented on #446
@falexwolf, yes I think overall fold changes with 2 as a basis are more intuitive than with e as a basis for most people, similar to basis=10, but basis 2 gives a more sensible dynamic range than 10 does on gene expression data.

[2019-01-25 19:58] fidelram commented on #443
Can you post an example? Or a link to a page were this functionality is
shown?

On Fri, Jan 25, 2019 at 2:14 AM jiawen wang <notifications@github.com>
wrote:

[2019-01-25 23:55] manarai opened #447 "scATACseq"
Hi,

Thanks for this amazing package.

I have been playing with scanpy on scATACSeq data generated from 10x. And in comparison to the cellranger analysis, I think analysis scanpy does pretty descent job and adds more possibilities. I would like to displays some peaks that are highly present if some clusters using the genome browser which scanpy seem to be able to do "I think" ( as shown below). Is

[2019-01-26 03:14] wangjiawen2013 commented on #443
A similar function corresponding to sc.pl in scanpy is FeaturePlot function in Seurat. The detailed parameters of this function are as follows:
FeaturePlot (object, features.plot, min.cutoff = NA, max.cutoff = NA, cols.use = c("grey", "blue")). expresssion value under min.cutoff will be shown as grey, higher than max.cutoff will be shown as gradually changing blue color.

here is an example:
![seu

[2019-01-26 03:14] wangjiawen2013 commented on #443
And here is the hyperlink:
https://satijalab.org/seurat/pbmc3k_tutorial.html
we can get information about negative cells and positive cells in such a plot. Now we can only show positive cells using sc.pl....

[2019-01-26 07:32] fidelram commented on #447
I don't think that what you want is possible.

sc.pl.tracksplot plots data in a way that resemble a genome browser track
but ist not because it does not understand coordinates. It simple groups
the cells by the given groupby condition and then plots the value of each
gene in a separate track. The y value is the gene expression (or in your
case the ATAC-seq value). The x coordinate, simple puts all

[2019-01-26 08:46] #434 closed, assigned to nobody

[2019-01-26 20:32] manarai commented on #447
Hum, I see. Thanks for the clarification!

[2019-01-26 20:32] #447 closed, assigned to nobody

[2019-01-26 21:25] falexwolf commented on #434
Thank you, both! It very likely wasn't there in the beginning and I probably messed it up at some point. It seems that I should make a test that checks that memory usage behaves properly...

[2019-01-26 21:40] falexwolf commented on #446
Thanks David, I completely agree, but I was really just talking about the naming convention: `log2FC` vs. `log2foldchange` vs. `logfoldchange` vs. other possibilities... 🙂

[2019-01-26 21:51] falexwolf commented on #242
Hm, my impression is also that `bioservices` is relatively mature but tries to achieve a lot of things.

`pybiomart` looks minimalistic and evidently only focuses on interfacing biomart and has a high coverage, which is nice. For that reason, I tend to prefer @ivirshup implementation over the @fbrundu's original `bioservices`-based one.

But I don't have a strong opinion. I would not have implemen

[2019-01-26 21:53] falexwolf commented on #429
@VolkerBergen, is this really important? I had the intend of allowing passing a precomputed  `counts_per_cell` vector, but I think it wasn't really ever used... So, for a simpler function and cleaner code, it would be nice to get rid of it; as @Koncopd did for the new version. Any objections?

[2019-01-26 21:54] falexwolf commented on #435
Sorry for all the trouble. I just wanted to download from your dropbox link but the file wasn't there anymore...

[2019-01-26 22:30] falexwolf commented on #445
Are you running on Windows, @AltynaiA? Then the solution could be this fix in anndata: https://github.com/theislab/anndata/pull/102

[2019-01-26 22:32] falexwolf commented on #435
Are you running on Windows? Then the solution could be this fix in anndata: https://github.com/theislab/anndata/pull/102

[2019-01-26 22:35] ajitjohnson commented on #435
Ah sorry, I happened to have deleted it today. Here is it.

https://www.dropbox.com/s/26a5rhrjj99czeq/Trial_data.csv?dl=0

Meanwhile, I will also take a look at the solution you had sent. I usually run it on a jupyter notebook and I work between windows and mac.

[2019-01-26 22:50] fbrundu commented on #242
Of course! Whatever works, I don't mind have the implementation changed..

Thanks

[2019-01-27 07:12] ivirshup opened #448 "Warning about setting `obs` to categorical when that's already been done"
On current master (f428848ece1d7a4794), every time I try to plot a scatter plot I get warnings about setting columns of `obs` to categorical, even though it's already been done. Here's an example:

![screen shot 2019-01-27 at 6 05 40 pm](https://user-images.githubusercontent.com/8238804/51797863-94c94780-225e-11e9-82db-2f170518a977.png)

[2019-01-27 09:05] VolkerBergen commented on #429
Totally fine. Was just wondering whether we can make it work as expected for the deprecated normalize_per_cell module, which is just modifying a single line (PR?).

My use case: I have found that, in the context of RNA velocity analysis, normalizing by initial sizes (cell sizes before filtering) can be quite important. That is where I used to pass the `counts_per_cell` attribute.

Here, I made it

[2019-01-28 04:50] cornhundred opened #449 "mnn batch correction recommended number of genes and negative gene values"
Hi, the documentation describes running MNN batch correction on a set of highly variable genes - how many genes are recommended?

* I tried running with the top 10,000 variable genes. Is this a good number.

* Also, does selecting for these highly variable genes effectively permanently filter the dataset for only these genes?

* I noticed that the minimum gene expression level for some genes was l

[2019-01-28 09:59] LuckyMD commented on #242
Maybe I could throw in another ID mapping tool. [BED](https://f1000research.com/articles/7-195/v1) is pretty good. More comprehensive than Biomart and quicker too. It is however a local implementation that runs in a docker container. The image is updated every month or so. At the moment I run a container internally here... but maybe we could make a webserver out of this which can be directly integ

[2019-01-28 10:00] fbnrst opened #450 "ValueError with sc.pp.highly_variable_genes with pandas 0.24"
Minimal example:
[code]
Output:
[code]
The error is gone with pandas 0.23.4. There was a change in the API of reindex in pandas: http://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.24.0.html

[2019-01-28 10:21] LuckyMD commented on #449
Hi @cornhundred,

While I can't speak for the intention of the authors of MNN, typically one would use 3000-6000 highly variable genes in scRNA-seq data analysis. That tends to cover the most important sources of variation. If you have a very deeply sequenced dataset from a sensitive scRNA-seq protocol (Smart-seq2/mcSCRB-seq?) with a lot of heterogeneity, you could make an argument for using more.

[2019-01-28 13:27] ddemaeyer opened #451 "Additional functionality"
Dear all, I'm currently using scanpy exhaustively and have noticed that compared to other R scRNA-seq packages some nice functionality is still missing.

1. Scater has the plotExplanatoryVariables function which plots the variance explained by different features (https://rdrr.io/bioc/scater/man/plotExplanatoryVariables.html). Is there currently an alternative in Scanpy for this plot?

2. Is there

[2019-01-28 18:27] cornhundred commented on #449
Hi @LuckyMD, thanks for the recommendations we (@SharkieJones) will try lowering the number of variable genes (we ranked based on variance) and will look through the tutorials.

[2019-01-28 23:13] LuckyMD commented on #449
No problem. If you would like to have a copy of the manuscript that goes with the tutorial, I can send it to you if you send me an email.

[2019-01-29 02:48] aopisco commented on #363
hi @falexwolf, it still isn't working. The problem is with categorical variables, I'm currently doing this before subsetting:

[code]
but it's really annoying, specially when using scvelo. Can you look into it? Also something problematic is that the `adata.uns['variable_color']` doesn't delete after you delete `adata.obs['variable']` so when you run into the subsetting problem my fix doesn't work

[2019-01-29 07:33] jipeifeng commented on #450
I have also got the same problem. And I have fixed the issue by reinstalling pandas to 0.23

[2019-01-29 10:19] flying-sheep commented on #363
@aopisco are you sure it’s the same problem? There’s currently a problem with categorical changes in pandas 0.24, and this issue here has been existing for longer.

[2019-01-29 15:54] #450 closed, assigned to nobody

[2019-01-29 16:56] cornhundred opened #452 "dataframe-to-adata upload method"
Is there a `to_adata` method (analogous to `to_df`) that allows users to upload a Pandas DataFrame into an adata object?

[2019-01-29 16:57] cornhundred commented on #449
Thanks, I'll email you.

[2019-01-29 16:57] #449 closed, assigned to nobody

[2019-01-29 18:43] aopisco commented on #363
@flying-sheep yes, it's exactly the same problem, with the exactly same error message that only happens when I (or the function) wanna subset an existing adata object

[2019-01-30 03:34] aopisco commented on #448
it started happening only a couple of days ago. @falexwolf is it because of pandas 0.2.4?

[2019-01-30 09:09] wangjiawen2013 commented on #443
@fidelram vmin and vmax parameters in sc.pl.umap() can meet my needs, there is no need to modify the function. sorry to trouble you.

[2019-01-30 09:55] ivirshup commented on #448
Fixed via https://github.com/theislab/anndata/pull/107.

It looks like it was pandas `v0.24.0`. Now `is_string_dtype` returns `True` for `Series` with categorical `dtype`.

[2019-01-30 09:55] #448 closed, assigned to nobody

[2019-01-30 13:23] falexwolf opened #453 "Backwards-compat breaking changes"
A list for keeping track of things that we might change when breaking backwards compat at some point:

- [x] merge sparse pca
- [x] merge https://github.com/theislab/scanpy/pull/1111
- [ ] merge #572
- [ ] set the cachdir default to `user_cache_dir(…)`, `~/.scanpy/cache/` or `~/.cache/`
- [ ] stationary states in DPT: https://github.com/theislab/scanpy/blob/b11b4abe5e16053c010e57b2dd3a27396a4b0cf2

[2019-01-30 14:01] maximilianh commented on #450
Same problem here. So glad that I found this ticket. From flying-sheep's commit, it looks like either upgrading scanpy to the newest version or downgrading pandas would work. There is also some anndata version requirement going up, no idea why.

[2019-01-30 15:54] flying-sheep commented on #450
because part of the fix is in anndata, of course!

[2019-01-30 16:02] flying-sheep commented on #443
OK, great!

[2019-01-30 16:02] #443 closed, assigned to nobody

[2019-01-30 16:04] stefanpeidli opened #454 "Windows compatibility issues with dependencies"
Hi!
As someone else posted on [stackoverflow](https://stackoverflow.com/questions/54366505/importerror-dll-load-failed-while-file-is-in-working-directory/54441575#54441575), there seem to be problems with the tables dependencies for windows users resulting in the following error when importing scanpy:

[code]

I've also posted an answer suggestion there. Maybe you could require h5py to have a fixe

[2019-01-30 17:31] flying-sheep commented on #454
hmm, I’m not sure if it’s possible to require versions depending on the platform.

where’s the h5py issue about this?

[2019-01-30 22:03] stefanpeidli commented on #454
I think the issue on h5py closest to this might be [this](https://github.com/h5py/h5py/issues/1142).
I have not opened a seperate issue there yet. Do you think it is caused by scanpy or h5py?

[2019-01-31 17:35] sebpott opened #455 "setting gene_symbol to select symbol from adata.var fails in sc.pl.umap()"
I would like to color the umap representation using gene expression values. For ease of use I'd like to display the Gene name instead of gene_id which are the adata.var_names in my case. Setting `gene_symbols = 'Symbol'` doesn't seem to work for me or I am using it the wrong way.

When running `sc.pl.umap(adata, gene_symbols = 'Symbol', color = ['Tnnt2'])`

 I get the follwoing error message:

[co

[2019-02-01 02:37] ivirshup commented on #455
Hey @sebpott. That feature was implemented after the 1.3.7 release, so it should work if you use the development version or wait until the next release.

[2019-02-01 04:52] jipeifeng opened #456 "Get errors when performing sc.pp.highly_variable_genes!"
I am following workflow of '_Best-practices in single-cell RNA-seq: a tutorial_' to analyze my single-cell sequencing data sets.
I have calculated the size factor using the scran package and did not perform the batch correction step as I have only one sample. Then, I intended to extract highly variable genes by using the function sc.pp.highly_variable_genes. Unfortunately, I got an error:

<detail

[2019-02-01 06:39] jipeifeng commented on #456
Hi, I have fixed the issue.
It appears that adding, subtracting or dividing numpy.ndarrays with scipy.sparse matrices returns a numpy.matrix. numpy_array /= scipy_sparse_matrix, This command changed the type of numpy_array to numpy.matrix which caused downstream problems. So, you have to transfer the matrix to sparse format again for downstream analysis.
I used the command 'adata.X = scipy.sparse.

[2019-02-01 08:09] flying-sheep commented on #454
definitely in pytables or h5py.

[2019-02-01 08:09] #454 closed, assigned to nobody

[2019-02-01 09:55] fidelram commented on #438
@SamueleSoraggi you are right, the layers contain the same genes as the adata.X matrix. I assume that in your case, you did a highly variable gene selection which affects both adata.X and adata.layers but not adata.raw.

The solution is to mark highly variable genes without removing the other less variable genes. This functionality was added some few months ago and may not be properly reflected on

[2019-02-01 12:20] sebpott commented on #455
thanks @ivirshup, will do!

[2019-02-01 12:20] #455 closed, assigned to nobody

[2019-02-03 15:57] falexwolf commented on #456
Thank you for sharing this! We should indeed print warnings if `numpy.matrix` causes problems. I wasn't aware of it.

[2019-02-03 16:29] falexwolf commented on #443
Great to read that!

[2019-02-03 17:04] falexwolf commented on #448
Thank you guys for identifying and fixing this! :smile:

[2019-02-03 17:08] falexwolf commented on #363
Can we get a small AnnData object and a couple of lines of code that allows reproducing the problem? I still wouldn't know how to fix this as I've never experienced it... Sorry about the trouble that you're experiencing!

[2019-02-03 17:10] falexwolf commented on #452
Just do `adata = sc.AnnData(df)` where `df` is a DataFrame.

[2019-02-03 17:10] #452 closed, assigned to nobody

[2019-02-03 17:11] falexwolf commented on #450
Thank you so much for fixing this, @flying-sheep!

[2019-02-03 17:15] falexwolf commented on #451
Dear Dries, sorry, but I'm not going to have bandwidth anytime soon for implementing something like this. A pull request would, of course, be welcome! ;)

[2019-02-03 17:16] falexwolf commented on #242
Interesting, but hm, I can't really judge on BED... sounds like a more long-term and comprehensive project?

[2019-02-03 17:30] falexwolf commented on #429
Yes, of course, happy to see a PR! Thank you!

Also, thank you for the details!

[2019-02-04 08:50] bebatut opened #458 "Documentation for pl.scatter"
Hi,

Some of the parameters documented online for `pl.scatter` are not accepted by the method: `ncols`, `wspace`, `hspace`. And some are not documented: `right_margin`, `left_margin`.

The difference seems to come from the parameters described in `{scatter_bulk}` and used for `pl.scatter` documentation.

What should be fixed `scatter_bulk` or inputs for `pl.scatter`?

Bérénice

[2019-02-04 09:09] fidelram commented on #458
Hi Bérénice, ncols, wspace and hspace should work although they are only
meaningful when more than one plot is present. I think that right_margin
and left_margin were used in the initial implementation but no longer.

On Mon, Feb 4, 2019 at 9:50 AM Bérénice Batut <notifications@github.com>
wrote:

[2019-02-04 09:26] bebatut commented on #458
`right_margin` and `left_margin` are still listed as parameters for `pl.scatter`:

https://github.com/theislab/scanpy/blob/c15a5e8763097082c82cd8ef6fee697954c487dc/scanpy/plotting/_anndata.py#L49

And `ncols`, `wspace` and `hspace` are not accepted (with the current version on conda) 😟

[2019-02-04 09:42] flying-sheep commented on #450
Sure! @ivirshup figured out independently within 2 hours of me that `is_string_dtype` now works differently: theislab/anndata#107

The fix needed three parts:

1. I fixed the tests to actually work (they were broken since forever because they used a hardcoded file name instead of `tmp_path`, and therefore reused the same file)
2. I pulled his changes, which covered the writing portion of the neede

[2019-02-04 09:51] LuckyMD commented on #455
@ivirshup Just to clarify... would you not have to have `'Tnnt2'` either as a column in `.obs` or in `.var_names` if you want to use it with the `color` parameter? Or does `gene_symbols` also allow you to look for a `color` parameter in the `gene_symbols` `.var` column?

[2019-02-04 10:02] LuckyMD commented on #242
It's probably not a quick fix, you are right. Just thought that if future ID mapping is considered here, it would be good to add an option.

I could add a python API (I have a barebones version already) and we could add it to `sce` for anyone who is running a local BED container anyway?

[2019-02-04 16:01] rjpbonnal commented on #450
Dear All,
running the tutorial `pbmc3k.ipynb`

I get a similar error than above:
[code]

These the [packages](https://gist.github.com/helios/a8c2f0f74cb9cc26097a0cdf1aed08e9) I have installed for this analysis both conda and pip

[2019-02-04 16:09] LuckyMD commented on #450
Hi @helios,

You will have to install scanpy from github to use the fix for this. The latest release (1.3.7) does not yet include the fix.

[2019-02-04 16:19] rjpbonnal commented on #450
Hi @LuckyMD,
thanks. I was doing exactly that.  I can confirm that everything works as expected.

[2019-02-04 17:57] andreatangherloni opened #460 "Additional parameters in some functions - new functions"
Dear all,

I am writing to ask you some other functionalities.
I have just moved from Seurat to Scanpy and I am finding Scanpy a very nice and well done Python package.

1. I wrote a function to show the 3D plot of the UMAP, tSNE and PCA spaces. In the `scanpy.tl.tsne` function is not possible to change the number of components, it calculates only the first two components, even if the `scanpy.pl.t

[2019-02-04 18:08] fidelram commented on #458
I think that there is no up to date Conda installation. Only Pip. The current version is 1.3.7

[2019-02-04 20:24] aditisk commented on #262
@falexwolf @cartal @LuckyMD I am also trying to export a gene by cell expression file. I tried using adata.write_csvs(filename, skip_data=False) but that wrote the output to multiple files. Is there a way to generate a single file with genes as rows (with gene names as row IDs) and cells as columns (barcodes as column IDs) ?

Thank you in advance for your help.

[2019-02-04 21:55] Xparx commented on #349
As this issue is not closed I'll add a question here.

Is it possible, or if not could it be added, that the cells in the heatmaps are sorted within the groupby variables. Either by pseudotime if availible or just clustered simply by hierarchical clustering. This could add a more visually and intuitive pleasing ordering of cells.

For example as in my figure above the groupby miss some property of

[2019-02-05 01:05] falexwolf commented on #262
No, there is no way to produce a single file with data and metadata. Having genes as rows can simply be achieved by transposing the matrix (`adata.T.write_csvs(...)`).

[2019-02-05 01:07] falexwolf commented on #458
We're not maintaining the bioconda version, but it looks as if it was up to date: https://bioconda.github.io/recipes/scanpy/README.html

How is it working, anyways? Does somebody know? Does it automatically pull from PyPI?

[2019-02-05 01:10] falexwolf commented on #460
Thank you for the constructive wish list! All of it sounds doable. Would you feel comfortable with adding this functionality yourself? A pull request would be welcome!

[2019-02-05 01:11] maximilianh commented on #262
In exporting.cellbrowser the cellbrowser export function creates two files,
one with the expression matrix (genes on rows, cells as columns) and one
for the cell metadata. That may be what you're looking for?

[2019-02-05 01:13] falexwolf commented on #450
@flying-sheep, so, we need 1.3.8 essentially, now, right?

[2019-02-05 01:15] falexwolf commented on #242
Yes, in `sce` this would be welcome!

[2019-02-05 08:59] flying-sheep commented on #450
Yes. Do you think scanpy is quality-controlled enough that we can cut new releases whenever we please? Else I’m not comfortable to just create a new tag from master and release it by myself.

[2019-02-05 09:02] flying-sheep commented on #458
We have the ![](https://img.shields.io/badge/install%20with-bioconda-brightgreen.svg) badge. I think we should remove that if we’re not actually recommending installation that way. If there’s a “[On ]bioconda” badge to put next to the PyPI badge, I’d prefer that.

/edit: The badges are custom, we can control the text. I replaced it to match the PyPI badge, except that we can’t get a version, so I

[2019-02-05 09:12] flying-sheep commented on #458
yes: bioconda/bioconda-recipes#12958

[2019-02-05 09:50] andreatangherloni commented on #460
Thank you for the prompt reply,  I am going to open a pull request.
I can work on points 1 and 4. May you help me with the other 2 points?

Thanks!

[2019-02-05 10:26] LuckyMD commented on #242
It's on my Todo list!

[2019-02-05 10:38] Koncopd commented on #429
Shoild i add `counts_per_cell` to the new normalization functions?

[2019-02-05 11:05] VolkerBergen commented on #429
I find normalising by initial cell sizes quite important. That's the only use case for me where I use `counts_per_cell`. And I believe that applies to many others as well. Thus, one might think of having a bool option such as `by_initial_size` instead. What do you think, @falexwolf ?

In that case, one would have to store the initial cell size before filtering (either when doing the gene filtering

[2019-02-05 11:58] falexwolf commented on #429
I like @VolkerBergen's suggestion. On the other Hand, @LuckyMD uses the scran estimate of size factors for normalization. Processing something like that would need a `counts_per_cell` argument (which I'd call `normalization_factor` today, I guess).

If one needs to manually compute the `counts_per_cell` before calling the function, then the whole convenience and purpose of the function is gone, th

[2019-02-05 12:03] falexwolf commented on #458
Thanks! Makes sense! (Both the badge and the automatic update from PyPI).

[2019-02-05 12:06] falexwolf commented on #450
Good, yes, in the meanwhile, test coverage should be high enough. I can't think of any major hole anymore. Still, it would be nice to briefly coordinate for Scanpy; at least, still these days. But yes, in this case, please make release 1.3.8!

[2019-02-05 12:47] flying-sheep commented on #450
I did, and then I realized that we have the `import scanpy as sc` change and more features, so I called it 1.4. Btw: could you please add me as owner to scanpy and anndata on PyPI? then I can manage releases and delete files on PyPI.

[2019-02-05 13:00] LuckyMD commented on #429
I was wondering if using the initial `total_counts` versus the post-filtering `total_counts` really matter that much. In the end we typically only filter out genes that have very few counts, so that the difference between the initial and post-filtering `total_counts` should be minimal. Principally using pre-filtering values is probably more logical, although I'm not sure it really changes anything

[2019-02-05 15:17] VolkerBergen commented on #429
It does not matter much in most cases. Just in the mentioned use case of RNA velocity analysis it does as many cells usually get filtered out because of low unspliced count nums. Whatsoever, it is no effort to compute initial sizes beforehand and you are ensured to do the "right thing", no matter how much you've filtered out.

[2019-02-05 15:47] Koncopd commented on #429
Also new functions don't have filtering.

[2019-02-05 15:50] VolkerBergen commented on #429
That's good to know! That means, `filter_genes` would simply annotate the genes kept just like `highly_variable_genes`?

[2019-02-05 16:24] LuckyMD commented on #429
@VolkerBergen If you're filtering out cells, you wouldn't have different total counts per cell, right? Only if you filter out genes. Or is that what you meant?

[2019-02-05 16:25] VolkerBergen commented on #429
Sorry, meant genes, of course.

[2019-02-05 16:41] fidelram commented on #349
Should be possible to do what you want.

`sc.pl.heatmap` basically plots a pandas DataFrame that has as columns the selected gene names, and as rows the cells with an index based on the categories.

You can modify this dataframe (called `obs_tidy`) to have the ordering that you want.

This is the line in the current code that returns the dataframe: https://github.com/theislab/scanpy/blob/master/sc

[2019-02-05 18:12] Koncopd commented on #429
@VolkerBergen
Hm, i also meant filtering of cells. No filtering of cells in `normalize_{total, quantile}`.
What do you mean by filtering of genes in relation to normalization?

[2019-02-05 18:15] Koncopd commented on #429
What should the argument `by_initial` do?

[2019-02-05 23:47] ivirshup commented on #455
Yes (definitely) and yes (I think)

Passing an argument for `gene_symbols` means that instead of searching `.var_names`, the column of `.var` whose name was passed will be searched.

For example, if you had an AnnData object `adata` with ensembl ids as `adata.var_name`, and hgnc symbols under the column `adata.var[“gene_name”]`, the following calls should plot similar things (different titles):

[

[2019-02-06 01:02] ivirshup commented on #242
Just an update, I've got the PR mostly done, but I'm having trouble keeping the arguments to `sc.queries.gene_coordinates` simple. Could someone who uses that function show me their use case? Is it that common to want the coordinates for only one gene, but also want to limit the coordinates to particular coordinates?

Would it be reasonable to replace this function with something more simple and o

[2019-02-06 01:13] ivirshup commented on #242
@LuckyMD that BED tool does look cool, and I can think of a couple times it'd would've been really useful. Is it easy to get information beyond gene-ids out of it? For instance, could I give a uniprot id and get transcript locations from ensembl?

[2019-02-06 07:07] flying-sheep commented on #242
Yes. The only problem with BED is that it’s super large and needs quite some memory to run as well. Having a publicly hosted instance backed by some rich company would be great.

[2019-02-06 08:24] LuckyMD commented on #455
That's really cool! A nice additional functionality to what was first introduced in `pl.scatter`.

[2019-02-06 08:42] LuckyMD commented on #242
The latest BED docker image is 1.62 GB, which is not that big for an ID mapping DB I reckon (with the docker environment of course). You can also build your own, more limited versions of the database. There are instructions for this in the [github](https://github.com/patzaw/bed).

BED memory usage I haven't really checked. Server side it's using 1 GB idly at the moment, no idea how that changes at

[2019-02-06 10:18] ONeillMB1 opened #463 "Conversion to/from ExpressionSet (R)?"
Great package!

Since the AnnData class structure is similar to R's ExpressionSet and many single-cell programs are developed in R, I am wondering if there is an EASY way to read/write the objects from python to R and vice versa.

[2019-02-06 13:24] grst commented on #463
Have a look at https://satijalab.org/seurat/conversion_vignette.html

[2019-02-06 13:32] flying-sheep opened #464 "Transition away from positional APIs"
We never wanted APIs that can be used with more that ~2 positional parameters. We should go to keyword-only-parameters.

This can be done via [legacy-api-wrap](https://github.com/flying-sheep/legacy-api-wrap)

[2019-02-06 16:43] falexwolf commented on #450
Wasn't entirely planned to have 1.4 exactly now, but, fine, we have some stuff already 😄 I briefly tweeted about it: https://twitter.com/falexwolf/status/1093140419997822978

[2019-02-07 13:44] alexmascension opened #465 "sc.pl.stacked_violin and rank_genes_groups_stacked_violin `column_palette`"
Hi,

When using the sc.pl.stacked_violin and sc.pl.rank_genes_groups_stacked_violin functions, would it be possible to implement a `column_palette` option? Currently the `row_palette` plots colors according to the genes, which is really helpful to colorize genes by sets. Still, it would be interesting to plot the violin colors according to the groups using a `column_palette` option. I guess that o

[2019-02-07 13:50] fidelram commented on #465
if you use swap_axes then the columns becomes the rows and you can use the
row_palette. Would that work for you?

On Thu, Feb 7, 2019 at 2:44 PM alexmascension <notifications@github.com>
wrote:

[2019-02-07 14:48] alexmascension commented on #465
Hi,

We get this error without swapping axes:

The code is
[code]
The error is
[code]

However, I would still consider the addition because in many cases where the amount of genes is considerable, if the user wants the genes to be in the rows, `swap_axes = True` should be necessary, and they would not be able to color the violins according to the clusters of cells.

[2019-02-07 15:01] fidelram commented on #465
This is solved in PR #425 (which also includes other enhancements)

[2019-02-07 15:45] alexmascension commented on #465
Hi,

I'm sorry but I fail to see how would PR #425 solve the problem. Could you give me a hint on this?

[2019-02-07 16:57] fidelram commented on #465
the last commit solves the problem: https://github.com/theislab/scanpy/pull/425/commits/c31c0aedf3dbe4c53009b0ce66ea95a2bc9ebdc6

[2019-02-07 18:21] aditisk commented on #262
@falexwolf thanks for the feedback. As @maximilianh suggested, I was able to export the expression matrix from the cellbrowser export function. Thank you for your help.

[2019-02-07 18:38] a-munoz-rojas commented on #446
Hi all - I just saw this and I agree that `log2FC` is a better name. I would be happy to help with this small change if necessary!

[2019-02-07 19:10] maximilianh commented on #262
Nice to hear that it worked. As a side product, you can now create a cell
browser html directory from the generated directory.

On Thu, Feb 7, 2019 at 10:21 AM aditisk <notifications@github.com> wrote:

[2019-02-08 04:38] timrandg opened #468 "scanpy cannot be reloaded (and this slows development)"
Hi Alex,

Here is an interesting bug with scanpy. For developers, it is useful to be able to reload a previously imported module within the environment containing useful variables and data for testing (a sample scRNA dataset) after changing scanpy's source code. However, scanpy cannot be reloaded. This means that to test, one has to stop the kernel, restart, reload all of the data needed for a plo

[2019-02-08 04:55] ahsv opened #469 "Wilcoxon in rank_gene_group ignores genes on chunk borders"
Using `method=wilcoxon` in the `rank_genes_groups` function chunks the genes into groups (to avoid using too much memory).  The scores for the genes on the endpoints of these chunks are never computed, however.

This can easily be observed by looking at a dataset containing 5000 genes (so that the chunk size is 2000) and setting `rankby_abs=True`.  The genes with indices 2000, 4000, 6000, .... wil

[2019-02-08 04:56] ahsv opened #470 "rankby_abs does nothing for logistic regression in rank_genes_groups"
The `rankby_abs` parameter is ignored for `method=logreg` in the `rank_genes_groups` function.

[2019-02-08 04:59] #388 closed, assigned to nobody

[2019-02-08 14:46] #468 closed, assigned to nobody

[2019-02-08 14:46] flying-sheep commented on #468
Well, of course it should play nice with `importlib.reload`!

It was an easy fix, I just needed to make sure that the function doesn’t cycle.

[2019-02-08 23:45] timrandg commented on #468
This did fix the recursion issue, thanks. But imortlib.reload(sc) still didn't allow updated source to take effect. I don't know why. Maybe the import tree for this package too complex for importlib.reload???

But the following worked for me.
[code]

[2019-02-09 12:50] VolkerBergen commented on #454
Same issue with OSX python 3.7, solved simply with `conda install pytables`.

[2019-02-09 17:37] VolkerBergen commented on #429
Filtering out genes would obviously change the cell sizes. Hence, with the argument `by_initial_size` it was meant that initial sizes (before filtering) are used. But when `filter_genes` only annotates instead of actually filtering, it does not matter indeed.

[2019-02-10 11:20] afrendeiro opened #472 "Tracking operations performed on AnnData objects"
When exploring various options of preprocessing data, I try to avoid having several copies of AnnData objects in memory if they're not sparse, so I save them to h5ad at key steps. Sometimes alas, after a few iterations I re-write stuff and forget what operations have been performed in my "X" (particularly in the preprocessing steps).

So, because being lazy makes me creative, I started tracking th

[2019-02-10 13:32] flying-sheep commented on #454
Pytables is in requirements.txt (the PyPI package is called “tables”), how did y’all get Scanpy installed without all its dependencies?

https://github.com/theislab/scanpy/blob/f252d3a84200cc76060a786ef0589405fc5c9c12/requirements.txt#L7

[2019-02-10 13:36] flying-sheep commented on #468
I think autoreload does indeed do more than importlib.reload:

https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html#caveats

[2019-02-10 15:10] VolkerBergen commented on #454
`conda install` (not `pip`). Perhaps, that is due to pytables' conda dependencies (such as hdf).

[2019-02-10 15:12] VolkerBergen commented on #454
Just checked.. same thing applies for windows. It returns an error until you `conda install pytables`.

[2019-02-11 00:17] yyoshiaki opened #473 "Facecolor of scatter plots for categorical data fail to be non-transparent."
Hi,

Even when we set `sc.settings.set_figure_params(transparent=False)` the scatter plot for **CATEGORYCAL** data is transparented.
(ex. `sc.pl.umap(adata, color='louvain')` )
Continuous data goes well, so I think it is a bug.

When you switch Jupyterlab's theme into dark, it will be easy to check.

Best,
Yoshiaki

[2019-02-11 00:33] ivirshup commented on #453
Could this issue include the previously discussed (https://github.com/theislab/scanpy/pull/316#issuecomment-436380459) change from `copy` to `inplace`?

[2019-02-11 07:17] fidelram commented on #473
Can you post an example showing the problem that we could reproduce? scanpy
includes some datasets that can be used for this cases.

On Mon, Feb 11, 2019 at 7:58 AM yyoshiaki <notifications@github.com> wrote:

[2019-02-11 09:10] flying-sheep commented on #453
sure. could you please edit your comment to contain a link to said discussion?

[2019-02-11 09:16] flying-sheep commented on #454
Hm. the conda package doesn’t list availability for windows: https://anaconda.org/bioconda/scanpy, just “conda install linux-64  v1.3.7,  osx-64  v1.3.7”

[2019-02-11 09:22] VolkerBergen commented on #454
`conda install` meant to be related to `pytables`, not `scanpy`. `scanpy` runs easily via `pip`, only the tables dependency complains..

[2019-02-11 12:09] ivirshup opened #475 "`rank_genes_groups` modifies its argument `groups`"
`rank_genes_groups` modifies its argument `groups`:

[code]

[2019-02-11 12:40] LuckyMD commented on #473
Is this related to having white in the color palette for plotting? I have noticed this as well. You can always create your own color palettes using `matplotlib.colors` and the `color_map` parameter. Although I'm not sure how this works with categorical data.

[2019-02-11 14:14] #475 closed, assigned to nobody

[2019-02-11 14:28] yyoshiaki commented on #473
Thank you for your kind replies, and sorry for my poor descriptions.

This is what happend on my env.

![image](https://user-images.githubusercontent.com/19543497/52568903-597c6a80-2e53-11e9-8d9a-3e530bd6f991.png)

And now I solved by just adding this,

[code]

I verified the same thing on another environment, but it didn't happen.
So this might be critically relating to my personal environment.
I

[2019-02-11 21:23] tsotnech opened #476 "UMAP color pallet when plotting a gene"
Hi guys,

I can't change the color palette when plotting a gene with sc.pl.umap functions.
if I plot louvain or certain categories, it does change the color scheme
e.g.
`sc.pl.umap(adata, color=['louvain'], palette='tab20') `

but If I plot a gene
`sc.pl.umap(adata, color=['NANOG'], palette='plasma')`

it doesn't change the color scheme and I always get 'viridis' color palette.

Is there any way I

[2019-02-11 21:49] aditisk commented on #476
@tsotnech I ran into the same issue a few months ago but found a fix by using the sc.pl.scatter() function instead. I have pasted the command here and it worked for me.

from matplotlib import pyplot as plt
sc.pl.scatter(adata,color='NANOG',legend_loc='none',color_map=plt.cm.Reds,size=5,basis='umap')

Hopefully this works for you too.
-Aditi

[2019-02-11 22:32] tsotnech commented on #476
awesome, thanks a lot @aditisk, that works well

[2019-02-12 00:20] ivirshup commented on #475
Thanks!

[2019-02-12 01:15] yyoshiaki commented on #473
Sorry for opening an issue over and over.
I noticed that the declear below is inconpatible with `set_figure_params`.

[code]

If possible, I hope facecolor setting parameter is added https://github.com/theislab/scanpy/blob/master/scanpy/settings.py#L85-L136

Best,

[2019-02-12 01:48] ivirshup commented on #453
I've edited my comment. I'd also be very in favor of the differential expression API getting reworked (#61). It's possible diffxpy should cover this, but I'm not really sure what the state of its development is.

[2019-02-12 02:01] ivirshup commented on #476
Continuous color schemes are given with the `color_map` argument, categorical schemes are given with `palette`. All the scatter plots (`scatter`, `pca`, `tsne`, `umap`, etc...) share these arguments.  Here's an example:

[code]

It's not that clearly documented for `umap`, and is pretty easy to miss.

[2019-02-12 02:09] ivirshup commented on #156
@falexwolf, should this be closed? It looks like the provided color palette is used now.

[2019-02-12 05:07] Xparx opened #478 "scatter plot array size argument gives inconsistent behavour"
I'm trying to use an array for the size argument to my umap/scatterplot with the following code
[code]
With these libraries
`scanpy==1.3.7 anndata==0.6.16 numpy==1.16.1 scipy==1.2.0 pandas==0.23.4 scikit-learn==0.20.2 statsmodels==0.9.0 python-igraph==0.7.1 louvain==0.6.1 `

Running the following code bit. I use some dummy variable for size.
[code]
I get the following two figure as output
![umapco

[2019-02-12 09:47] flying-sheep commented on #475
Thanks for reporting :smile:

[2019-02-12 09:58] flying-sheep commented on #473
What do you mean? In which way is it incompatible?

In matplotlib/matplotlib#9698 it’s said that

`figure.facecolor = (0, 0, 0, 0)`.

So we should add a `facecolor` parameter and deprecate `transparent` (with a nice message to point people to `set_figure_params(facecolor=(0, 0, 0, 0))`)

[2019-02-12 11:22] fidelram commented on #478
I think the problem is the option `sort_order` which is True by default for
numerical data.  This changes the ordering of the dots and thus it messes
up with your own sizes. Setting `sort_order=False` should fix the problem.

On Tue, Feb 12, 2019 at 6:07 AM Andreas <notifications@github.com> wrote:

[2019-02-12 11:36] wangjiawen2013 opened #479 "multimodal analysis"
Dear,
Now users can analyze and explore multi-modal data with Seurat, are there any equivalent methods in Scanpy ? Cellranger3 adds some new features and now supports multi-modal data too.

Using Seurat with multi-modal data: https://satijalab.org/seurat/multimodal_vignette.html

here is an related issue: https://github.com/theislab/scanpy/issues/351

[2019-02-12 19:03] sophiamaedler commented on #397
Any news when diffxpy will be up on biorxiv? The package looks super interesting and I'd like to learn more about the background to the methods you implemented.

[2019-02-13 01:19] tsotnech opened #480 "sc.pl.tracksplot tracks do not align with the clusters"
Hi guys,

sorry for opening so many issues, I really love using tracksplot for visualizing the expression in different clusters, but the small issue I have is that tracks actually never align well with the clusters "timeline" at the bottom. especially the first and last tracks are always misaligned. I couldn't find the list of arguments that I can pass through sc.pl.tracksplot command maybe just c

[2019-02-13 04:10] yyoshiaki commented on #473
I was wrong, it worked well...

[code]
![screenshot from 2019-02-13 12-42-06](https://user-images.githubusercontent.com/19543497/52685380-d9f2b680-2f8c-11e9-8ca2-692b083116ee.png)

Anyway,

sounds a good solution. Expliciting that 'white', 'w' or (1,1,1) are also applicable may be kind.
Of course, you can add theme like Seurat's one though I'm not sure how many people are requiring it.

- https://

[2019-02-13 06:48] fidelram commented on #480
Thanks for reporting. I will take a look.

On Wed, Feb 13, 2019 at 2:19 AM tsotnech <notifications@github.com> wrote:

[2019-02-13 08:23] flying-sheep commented on #473
Definitely! Good docs are everything.

[2019-02-13 08:25] flying-sheep opened #481 "Replace set_figure_params(transparent=True) with set_figure_params(facecolor=(0,0,0,0))"
As detailed in https://github.com/theislab/scanpy/issues/473#issuecomment-462694429

[2019-02-13 08:25] #473 closed, assigned to nobody

[2019-02-13 08:29] fidelram commented on #480
I can not reproduce the problem.

Does this works for you?
[code]
![image](https://user-images.githubusercontent.com/4964309/52697496-dc93e280-2f71-11e9-8d01-65305c5d3c5d.png)

What is your version of matplotlib?

[2019-02-13 09:06] ivirshup commented on #472
I like this idea, but think it could be expanded on a bit. I think there are benefits to approaching this through logging. Some advantages of doing this through logging:

* Global record. If a copy is made or an AnnData split, you could figure out which object came from where.
* Control over level of detail. What kind of information is recorded can be customized. Maybe the user wants provenance, b

[2019-02-13 17:13] veghp opened #482 "Github install error"
Tried to install via  `$ pip3 install -e .`  but returned this error:
[code]
The variable `__version__` in line 38 in utils.py is not defined.

[2019-02-13 17:14] veghp commented on #482
In any case, running:  `$ pip install anndata -U --no-deps`  solves the problem, as then the problematic part of utils.py is not run.

[2019-02-13 17:54] fbrundu commented on #311
Hi all,
any update on this? I'm on version 1.4 and even if in the documentation the color parameter is defined as string or list of strings, I'm still unable to pass to the scatter method a list of strings as value.
Thanks

[2019-02-13 18:17] tsotnech commented on #480
I have matplotlib 2.2.2.

Update!
I just updated my matplotlib to the latest version and it works well there is no misalignment any more!

thanks again

[2019-02-14 00:02] #480 closed, assigned to nobody

[2019-02-14 07:28] fidelram commented on #480
Glad that it worked, and thanks for reporting the issue.  I realized that the requirement for scanpy was `matplotlib>=2.2.2`. I updated it  to 3.0.0.

[2019-02-14 07:32] fidelram commented on #311
@fbrundu can you help me by posting an example hopefully using the datasets included in scanpy?

[2019-02-14 11:45] dawe opened #483 "Error when plotting PAGA"
I noticed that `sc.pl.paga` function has this piece of code

[code]

and layout is, by default, `None`. This may result in passing an empty `adj_tree` to the `_compute_pos()` function. Actually this is exactly what happened to me:

[code]

is this intended?

[2019-02-14 11:57] flying-sheep commented on #482
Thank you!

[2019-02-14 12:01] flying-sheep commented on #483
Already fixed in 6c3e92924ea09ef288e422b283c6e03410d64a0b

empty? you mean an unset variable.

[2019-02-14 12:01] #483 closed, assigned to nobody

[2019-02-14 12:46] #482 closed, assigned to nobody

[2019-02-14 19:25] Leprechaun777 commented on #290
How were the bulk labels generated then assigned to cells in the pbmc68k dataset? I'm trying to do the same on my data.

[2019-02-14 19:59] fbrundu commented on #311
Hi @fidelram,
One way in which I'd like to do it is like the following:

[code]

to show the relationship between two genes (i.e. gene1 and gene2), and one third gene (in this case Mki67 in one subplot, Pclaf in the second).
One of the subplots could be like the following:

![test](https://user-images.githubusercontent.com/697622/52814026-1e538480-3069-11e9-9af5-ef7a4761ff25.png)

Hope this is cle

[2019-02-14 20:47] aditisk commented on #181
@LuckyMD Have you added the function above to Scanpy yet ? If yes, what is it called ?
Thanks,
Aditi

[2019-02-15 09:33] LuckyMD commented on #181
Hi,
I haven't added it yet. But I have a new impetus to do so due to some reviewer's comments... so I will submit a pull request soon ;).

[2019-02-15 22:06] Xparx commented on #478
Yes, that seems to fix the issue. Thank you for the quick reply.

[2019-02-16 16:10] veghp opened #487 "PAGA plotting error"
Running `sc.pl.paga(adata)` in v1.4 returns an error:
[code]

There is a conditional before the referenced line, which assigns value to `adj_tree`, and indeed, running these works fine:
[code]

[2019-02-16 17:04] picrin opened #488 "Why n_genes is not equal to the number of genes with non-zero expression?"
I find this behaviour surprising:
[code]
I would expect both lists to be equal, not "mostly equal". Is there any good explanation for this behaviour?

[2019-02-17 03:20] ivirshup commented on #488
`n_genes` was calculated when you filtered cells. I agree that this implicit behavior can be confusing.

btw, if your expression is in a sparse matrix, this would be a more efficient way to count the number of expressed genes:

[code]

[2019-02-17 04:58] ivirshup commented on #479
In theory I think we can do most of that. In practice, I got some errors.

I think it would be worth formalizing what the supported interface for doing multimodal analysis is. I'd really like it to be uniform. I could see it being based on keys in `.var`:

[code]

View based:

[code]

Different expression types could be put under `.obsm` (probably the closest "analogy" to `SingleCellExperiment`'s

[2019-02-17 13:23] ivirshup opened #489 "[Suggestion] Expression atlas datasets?"
I've written up a little script for making an `AnnData` given an accession for the EBI single cell expression atlas ([gist](https://gist.github.com/ivirshup/e7f0c435474d9b06b622c63d4221afe6)), and was wondering if it'd be useful to add under `sc.datasets`. It could be nice to make it easier to try out methods/ have examples which weren't for pbmcs.

[2019-02-17 18:34] afrendeiro commented on #472
Interesting ideas. I actually didn't notice scanpy has no logging implemented - this would indeed be useful and could already solve half the problem indeed. However, I doubt the best way to go about this would be post hoc with decorators etc, but rather intrinsically throughout the various API functions.

Regardless of logging, I still think that having something which is intrinsically attached to

[2019-02-18 04:00] ivirshup commented on #472
Scanpy does have logging implemented (examples: [neighbors](https://github.com/theislab/scanpy/blob/d4a7a2d98c1ea219c93d798170a2ca31d208cdbf/scanpy/neighbors/__init__.py#L84), [highly variable genes](https://github.com/theislab/scanpy/blob/d4a7a2d98c1ea219c93d798170a2ca31d208cdbf/scanpy/preprocessing/_highly_variable_genes.py#L81)), but it's not that widely used. I think this is because it has to

[2019-02-18 10:18] picrin commented on #488
Oh, thank you. When I comment out the filter genes step I get sensible counts. It completely makes sense!

[2019-02-18 11:14] afrendeiro commented on #472
Sorry I missed the logging. I also didn't see the `sc.settings.logfile` option, which obviously makes absolute sense and is convenient to have persistent records when working interactively with anndata objects. I guess just more consistent logging across scanpy functions would be really great.

Something like `sc.logging.get_operations(adata_id=id(adata))` would also be super cool, but would it be

[2019-02-18 15:07] aditisk opened #490 "How to extract cells co-expressing certain genes of interest ?"
Is there a way to extract cells that are co-expressing my genes of interest ? How can I make a UMAP plot showing these cells similar to the single gene UMAP plots ?

Thanks.

[2019-02-18 15:12] aditisk opened #491 "How to infer biological meaning from sub-clusters seen on UMAP ?"
Is there a metric I can use to prove similarity/differences between sub-clusters on a UMAP plot ? For example, is there a way to prove that cells in cluster 1 are/are not biologically similar to cells in cluster 2 ? Or another thing I would like to know is how similar/different is cluster 1 to all other clusters in this data-set and I wanted to know what metric (some sort of distance metric?) can

[2019-02-18 15:37] LuckyMD commented on #491
Hi,
Your question is actually quite difficult to answer. It depends on how you define cell identity. For example, depending on how you set the resolution parameter for your clustering you can get a very different number of clusters. As clusters often have super- and sub-structure, you cannot easily say when a sub- or superstructure is not meaningful (e.g., T-cells vs CD4+ and CD8+ T-cells). Unfort

[2019-02-18 16:32] joshuahwu opened #492 "Regressing out genes"
In Seurat, there is an option of selecting a list of genes in the pre-processing regressOut function. I was wondering if there was similar functionality in Scanpy. Doing something like below does not work for me as a lot of the cells have 0 expression, giving me a PerfectSeparationError.

`adata.obs[gene] = adata[:, adata.var_names==gene].X`
`sc.pp.regress_out(adata,gene)`

Any help would be appre

[2019-02-19 02:27] ivirshup commented on #488
No problem!

[2019-02-19 03:16] ivirshup commented on #472
Yeah that's what I was thinking for tracking between serializations. I figure there could be a boolean argument like `exhaustive` which would signify whether you want this particular AnnData or all previous `AnnData`s this could be derived from in the logs.

I think it'll be possible to write the logs to some field in an object. There is a question of how complicated this would be to implement, wh

[2019-02-19 09:00] LuckyMD commented on #492
Hi,
I'm not entirely sure how Seurat does it, but I assume you could take the mean expression level (or mean z-score) of a couple of genes, store that in a `.var` column, and regress that out by `sc.pp.regress_out(adata, var_col)`?

Something like this:
[code]
If you want to ensure an equal contribution of all the genes to the gene score without weighting by mean gene expression, you could first u

[2019-02-19 15:06] #487 closed, assigned to nobody

[2019-02-19 15:07] veghp commented on #487
Solved here: https://github.com/theislab/scanpy/issues/483

[2019-02-19 19:00] Leprechaun777 opened #495 "Annotating cells help"
How were the bulk labels generated then assigned to cells in the pbmc68k dataset? I'm trying to do the same on my data.
Ideally I would like to use my own list to label cells. For example a cell has Gene X and Gene Y, then the 'bulk_label' in .obs is loaded with a string 'Cell Z'.

Thank you

[2019-02-20 10:44] afrendeiro commented on #472
`sc.logging.get_operations` with `exhaustive` would be great, but if one could find a way to store the same persistently or in the object too upon the user's request that would cover all the ground.

[2019-02-20 15:36] fidelram opened #496 "Error related to verbosity"
@flying-sheep: After the recent changes I am getting the following error:

[code]

The problem is solved by setting the verbosity level. E.g.

[code]

[2019-02-20 16:35] gtca commented on #102
It seems that the issue still can be reproduced in scanpy v1.4:

[code]

[2019-02-20 19:18] smanne07 opened #497 "Seurat method 'vst' from FindVariableFeatures in highly_variable_genes function"
Hi,
More of a request than an issue.

I am trying to replicate FindVariableFeatures with option selection.method = "vst" in seurat by using highly_variable_genes function in scanpy,i went through the documentation but could not find this option,is it available and am i missing something or is it not implemented yet.

It would be nice to have this option.

Thank you
Sasi

[2019-02-21 06:41] wangjiawen2013 opened #498 "paga colorbar"
Dear,
I cannot add colorbar in paga with the following code:

[code]

And, even though I used colorbar=True, the colorbar didn't display either.
How to solve the problem?

[2019-02-21 09:31] flying-sheep commented on #102
do you also have the newest anndata version?

[2019-02-21 11:11] flying-sheep commented on #496
fixed by #486

[2019-02-21 11:11] #496 closed, assigned to nobody

[2019-02-22 01:34] wangjiawen2013 opened #499 "Calculate qc metrics with sns.jointplot"
Dear,
When I Calculate qc metrics for visualization according to the example in https://scanpy.readthedocs.io/en/latest/api/scanpy.pp.calculate_qc_metrics.html#scanpy.pp.calculate_qc_metrics:

[code]

The following error occurred:
AttributeError: 'str' object has no attribute 'get'
It seems that sns.jointplot are not compatible well with adata.obs, anybody who can help me ?

[2019-02-22 01:57] ivirshup commented on #499
Oh, I totally wrote that call to `seaborn` wrong. Should be:

[code]

[2019-02-22 14:25] juje11 opened #501 "sc.pp.filter don't filter the same number between sc.1.3.7 and sc.1.4"
Hi all,

I have updated my scanpy to version 1.4 (was working on 1.3.7 before) and did not get the same filtering output using sc.pp.filter_ working with the same input dataset (10X).

By running in sc1.3.7: sc.pp.filter_genes(adata, min_counts=2)
->  267 genes were filtered out and I was able to follow up on my analysis until the end.

However, after switching to the new version, I could not get

[2019-02-22 15:10] #497 closed, assigned to nobody

[2019-02-25 17:37] rojinsafavi opened #502 "sc.pl.rank_genes_groups_dotplot"
I get the following error when I tun dotplot:

[code]

Do we need to store marker genes within the adata object?

[2019-02-25 20:35] fidelram commented on #502
Just delete MY2L, or use sc.pl.dotplot

[2019-02-26 08:09] InesAssum opened #504 "sc.tl.pca error: no field of name X_pca"
I'm using scanpy==1.4 anndata==0.6.18 numpy==1.15.4 scipy==1.2.1 pandas==0.24.1 scikit-learn==0.20.2 statsmodels==0.9.0 python-igraph==0.7.1 louvain==0.6.1 on Mac 10.12.6 with python 3.7.1
I'm trying to do a pca on a annData object
`sc.tl.pca(adata, svd_solver='arpack')`
and get the following error even after restarting the jupyter notebook:
[code]

[2019-02-26 09:19] InesAssum commented on #504
I did figure out what's going on. I worked on a view of an AnnData object, where the original AnnData object did not have the X_pca field and it could not be added only in the view.

I updated to the latest scanpy and anndata version

this is my AnnData object:
[code]

if I now filter my AnnData object for highly variable genes I only got a "View" of my AnnData object
[code]

then on adata2, I can

[2019-02-26 09:19] #504 closed, assigned to nobody

[2019-02-26 16:19] zhangguy opened #505 "heatmap for PCA and other functions"
Hi,
Thanks for developing this amazingly fast package.
Is it possible to add some more functions to facilitate PC selection for making the graph? like the ones from Seurat ```PCHeatmap```, ```JackStraw``` and ```PCElbowPlot``` as shown in Seurat's tutorial
[https://satijalab.org/seurat/pbmc3k_tutorial.html](url)

[2019-02-26 21:38] aditisk commented on #491
@LuckyMD Thanks for your detailed reply. I will try some of the approaches mentioned in the 2nd paragraph and see if that helps us answer our question.

Thanks.

[2019-02-26 21:38] #491 closed, assigned to nobody

[2019-02-27 01:57] tsotnech opened #506 "Exporting raw data in CSV"
Hi Guys,

this it perhaps rather a question than issue,
Is there a way to export raw data in csv format? If I do this
`adata.write_csvs("filename", skip_data=False)`

it works perfectly fine

but with
`adata.raw.write_csvs("filename", skip_data=False)`

I get this error
`AttributeError: 'Raw' object has no attribute 'write_csvs'`

Thanks,

[2019-02-27 08:52] LuckyMD commented on #506
Hi,

You should be able to convert the `adata.raw.X` object into a pandas dataframe and use the `pd.Dataframe.to_csv()` function. You will have to write the raw csvs separately for `adata.raw.X`, `adata.raw.obs` and `adata.raw.var` though. The last two are already dataframes, so no need to convert.

So like this:
[code]

[2019-02-27 19:50] tsotnech commented on #506
Thanks for the reply, unfortunately pandas dataframe conversion gives me this error

`pd.DataFrame(adata.raw.X).to_csv(filename_raw_x)`

`ValueError: DataFrame constructor not properly called!`

[2019-02-27 20:59] LuckyMD commented on #506
Hi,
Sorry, I guessed the convention a bit ;). I think it should be something like:
`pd.DataFrame(data=adata.raw.X, index=adata.raw.obs_names, column=adata.raw.var_names)`

[2019-02-27 22:33] tsotnech commented on #506
@LuckyMD
Thanks a lot, that option did work, however I might have an issue somewhere else. when I ran this command it creates a data frame with different values per cell and gene. Then I went to check my raw.X and if I do

`print(adata.raw.X) `
I get this kind of values

[code]

but if I look at adata.X it has values already after scaling and looks like this
[code]

I have saved raw slot right bef

[2019-02-28 09:19] fidelram commented on #505
for PCHeatmap I made the following function:

[code]
for `PCElbowPlot` you can use `sc.pl.pca_variance_ratio`. Also take a look at `sc.pl.pca_loadings`

[2019-02-28 09:56] maximilianh commented on #506
You can also use the cellbrowser export function in tools. It will create
two tab-sep files, one with the raw matrix and one with the meta data.

On Wed, Feb 27, 2019 at 11:33 PM tsotnech <notifications@github.com> wrote:

[2019-02-28 13:25] LuckyMD commented on #506
@tsotnech
I don't entirely understand your problem. If you use `sc.pp.scale()` on your anndata object you will scale the gene expression data to have a mean of 0 and a variance of 1 in `adata.X` while `adata.raw.X` remains unchanged. So then your data will look different.

Also, it looks like @maximilianh's suggestion is a lot nicer than the code I provided.

[2019-02-28 16:42] VincentGardeux opened #507 "Arrays for row_attrs or col_attrs"
Hey,

I just stumbled into an issue with scanpy.
If I have an gene or cell annotation that is not 1-dimensional (I store ERCCs as a M x 92 float matrix in col_attrs), it generates an error:
"Exception: Data must be 1-dimensional"

However, it is allowed by the loompy nomenclature to have multiple dimensions.
And actually loompy package accepts it.

Could it be corrected, so it can be accepted as a

[2019-02-28 22:15] tsotnech commented on #506
@LuckyMD @maximilianh Thanks guys for the reply.
Sorry I'm just used to Seurat setup and kind of got lost. Long story short my issue is negative values, after data processing and scaling I have negative values in the expression matrix that throughs off my downstream analysis. But before scaling adata.X format looks completely different (as I mentioned in my previous post). I just want to have a ma

[2019-03-01 01:08] LuckyMD commented on #506
Hi again,

As I was trying to explain before, the `sc.pp.scale()` function scales gene expression values to be centred at 0 and have a variance of 1. That will necessarily produce negative expression values. Maybe the function you were intending to use is `sc.pp.normalize_per_cell()`? That would normalize the gene expression values to give counts per million (or counts per some other constant).

[2019-03-01 01:31] tsotnech commented on #506
@LuckyMD
raw data before scaling has all of these "coordinates"  e.g. (0, 2005) basically what value is assigned to what cell and gene right? When I try to export raw slot all of these "coordinates" gets exported with the values in a weird way. however after scaling those coordinates are gone as I showed before I get scaled values and I understand I can be negative, which is totally fine. I just w

[2019-03-01 16:17] LuckyMD commented on #506
I think I understand what you mean. The "coordinate" representation you are referring to is a sparse matrix format. If you don't want that representation, you can densify your data using the function:
`adata.X.toarray()`. I think you should be able to do the same with `adata.X.raw` as well.

Scaling removes the sparse matrix formatting, as the matrix is no longer sparse after scaling. In other wor

[2019-03-01 16:26] maximilianh commented on #506
I'll modify the cell browser export function to export the raw matrix by
default. I think this has come up before and it's pretty easy to do.

On Fri, Mar 1, 2019 at 5:17 PM MalteDLuecken <notifications@github.com>
wrote:

[2019-03-01 18:34] jhu99 opened #509 "Error in sc.pp.highly_varaible_genes"
adata = sc.read_10x_mtx(input_file)
sc.pp.highly_variable_genes(adata)
-------------------------------------------------------------------------
Output:

ValueError: Bin edges must be unique: array([          -inf, 9.99999996e-13, 9.99999996e-13, 9.99999996e-13,
       9.99999996e-13, 9.99999996e-13, 9.99999996e-13, 9.99999996e-13,
       3.46620451e-04, 6.93240901e-04, 2.42634304e-03, 7.27903098e

[2019-03-01 19:56] tsotnech commented on #506
@LuckyMD @maximilianh
Thanks guys for your help and sorry for misunderstanding I think I wasn't explaining correctly my issue.

So at the end this worked perfectly well to export raw data matrix

[code]

[2019-03-01 23:49] #506 closed, assigned to nobody

[2019-03-01 23:51] LuckyMD commented on #509
Hi!

It looks like you have too many 0 count genes in your dataset. I would filter genes and cells before calculating highly variable genes.

In case you're interested, I've been working on a tutorial for single-cell RNA-seq analysis. It's available [here](www.github.com/theislab/single-cell-tutorial)

[2019-03-02 18:06] biskra opened #510 "Geneset based clustering and CytOF Compatibility"
I want to start off by mentioning how much I love scanpy. I recommend this package to everyone I know who is doing single cell sequencing. I love how PAGA and UMAP can be integrated together. PAGA makes appreciation of data topology so simple. In addition, it's so easy to do velocity analysis with the scvelo integration. Installing scanpy as well as hdf5/loom compatibility is remarkably easier on

[2019-03-03 04:44] ShobiStassen opened #511 "memory requirements"
Hi,
I am trying to run the full 1.3M 10X mouse cell dataset (using the 1M_neurons_filtered_gene_bc_matrices_h5.h5 file from 10X website).
I have 126GB RAM and Intel® Xeon(R) W-2123 CPU @ 3.60GHz × 8 which is above the requirements you mention needed to run the full cluster.py method without subsampling. (https://github.com/theislab/scanpy_usage/tree/master/170522_visualizing_one_million_cells)
I g

[2019-03-03 20:23] aditisk opened #513 "Color cells from only 1 cluster at a time"
Is there a way to color cells belonging only to a certain cluster on the UMAP plot ? For example, can I have only cells in cluster 0 in a dark color and everything else as grey colored dots in the background ?

I would also like to do the same with other adata observations like Patient ID etc.

Thank you.

[2019-03-04 09:11] LuckyMD commented on #513
Hi @aditisk,

You can always make a dummy `.obs` variable for cluster membership. Something like this:
`adata.obs['cluster_dummy'] = adata.obs['louvain'] == adata.obs['louvain'].cat.categories[0]`

By iterating over the last index (currently at 0), you can create dummy variables to visualize via `sc.pl.umap(adata, 'cluster_dummy')`

Hope that helps!

[2019-03-04 09:56] #438 closed, assigned to nobody

[2019-03-04 10:00] SamueleSoraggi opened #514 "Issues on bbknn"
Hej all

it seems there is a problem on the batch correction with bbknn. It gives an error at the pca step of bbknn, but I have problem understanding if this is due to the bbknn package itself or the wrapper of scanpy around it, or if it is due to my data, even though it worked when I used it previously.

[code]

gives the error

[code]

[2019-03-04 11:08] falexwolf commented on #510
Thank you for the super-kind words, @biskra.

(1) I agree it's useful! Why don't you subset `adata` to the genes that are interesting for you and run an embedding and clustering on them? That's definitely valid. You can keep everything else in `.raw`. I personally would either set the `highly_variable_genes` annotation to `False` for genes that I'm not interested in after calling `pp.highly_variab

[2019-03-04 11:10] falexwolf commented on #513
Thanks, @LuckyMD!

In some cases, the `groups` parameter of the scatter plot might also do the job for you... But it's more limited than what Malte suggests.

[2019-03-04 14:08] aditisk commented on #513
Thanks a lot @LuckyMD and @falexwolf.

[2019-03-04 14:08] #513 closed, assigned to nobody

[2019-03-04 18:01] macros29 opened #515 "Error when writing to h5ad"
I encountered the following error when trying to save data to h5ad file:

[code]

I was confused for two reasons:
1) All of my columns in obs are already converted to pandas ordered categorical data but they are still "forced" to be converted again into unordered categorical data;
2) because the columns are now unordered categorical data , it raised the final error which I did not encounter in ear

[2019-03-04 23:09] shayanhoss commented on #515
I just had the same error occur when trying to save my objects

[2019-03-05 00:43] shayanhoss commented on #515
@macros29 try `pip install anndata --force-reinstall` then import your packages again and try saving.

[2019-03-05 01:53] macros29 commented on #515
That indeed solved it! Thanks alot, @shayanhoss ! Although I still don't know what caused the issue in the first place exactly.

[2019-03-05 01:53] #515 closed, assigned to nobody

[2019-03-05 11:06] falexwolf commented on #515
There was an update in how `pandas` treats categoricals a couple of weeks ago (I think 0.24); we had to update `anndata` in order to incorporate the changes; that's why a newer version of `anndata` was necessary. I'm sure you unconsciously updated `pandas` before. :)

Thanks for fielding this one @shayanhoss!

[2019-03-05 11:13] falexwolf commented on #511
It should definitely run through with these resources, and I and many other people ran it already. @Koncopd, could you check whether everything behaves still normally? I don't know how we can test this, but I also can't see who we might have broken it.

[2019-03-05 11:19] falexwolf commented on #429
@LuckyMD: Yes, scran's size factor calculation would be very nice-to-have and should be a simple task.

[2019-03-05 12:39] ShobiStassen commented on #511
hi Alex, I'm not sure how to test this either. I tried to run in a new clean conda environment but cant use more than 50% of the cells in pre-processing (otherwise the process is killed at even the normalization stage, "pp.normalize_ per_cell" and uses over 120GB RAM)
The file from 10X i'm using is the link to "1M_neurons aggr - Gene / cell matrix HDF5 (filtered)" from https://support.10xgenomics.

[2019-03-05 13:13] Koncopd commented on #511
@falexwolf
Yes, i will run through it and check the memory usage and so on.

[2019-03-05 14:09] LuckyMD commented on #429
I will put it on my long list of potential HiWi topics...

[2019-03-05 16:25] ShobiStassen commented on #511
I also just tried to run on a Windows machine (to make sure it was not just something to do with the memory management in my Linux machine which has 128GB RAM) with 64GB RAM and 6 cores @3.6GHz and also get Memory error at the normalization step when trying to process the 1.3M neuron file.

[2019-03-06 10:15] falexwolf commented on #511
Sergei (@Koncopd) tested it out and will get back to you. He also found a peak memory usage of 121 GB. I have to admit that I never made checks with that degree of detail and I fear that for now, I'll simply update the documentation stating that peak memory usage can go up to ~120 GB. I'm still puzzled by that, and maybe some efficiency found it's way into the code which wasn't there (simple guess

[2019-03-06 10:16] falexwolf commented on #511
Just updated the readme https://github.com/theislab/scanpy_usage/blob/master/170522_visualizing_one_million_cells/.

[2019-03-06 10:25] PattF opened #516 "Custom annotations and correlation matrix"
Probably quite trivial to most, but was hoping someone could help out with how to create custom annotations? I'm interested in creating annotations specific for cell types that I'd define through a few marker genes, (this being aside from the leiden clustering already performed).
I'd then be interested in running such an annotation against a list of genes and creating a correlation matrix, similar

[2019-03-06 17:44] biskra commented on #510
Thank you so much for the help, @falexwolf! I will give those solutions a shot. It seems like I can apply a similar solution for CytOF data.  I think with your provided solution, I can work my way to multi-modal analysis with custom code.

I will get to work on the PR!

[2019-03-06 19:03] a-munoz-rojas opened #517 "Log2 fold changes in rank_genes_groups are calculated from log-transformed data"
Hi all. I was looking through the `_rank_genes_groups` function and noticed that the fold-change calculations are based on the means calculated by `_get_mean_var`. The only problem with this is that (usually) the expression values at this point in the analysis are in log scale, so we are calculating the fold-changes of the log1p count values, and then further log2 transforming these fold changes.

[2019-03-06 19:18] LuckyMD commented on #517
I second the notion of double logs not making sense. You could use differences in mean expression on the log-scale to give log-fold changes though I think.

If you use count data, you should probably use an NB model (or at least Poisson). The t-test assumes normality, which is at least approximated by log-normalized data.

[2019-03-06 19:50] a-munoz-rojas commented on #517
@LuckyMD Yeah, we can definitely do the differences in mean expression on the log-scale as a quick fix. However, I think it's a little bit more intuitive to express fold-changes with a base of 2, as opposed to a base of e, which is the transformation used for the data matrix. This also mimics what other packages usually report, but I'm happy either way!

For the differential testing itself, I comp

[2019-03-06 20:03] Koncopd commented on #511
Hi, @ShobiStassen.
As @falexwolf said, i tested the memory usage in the step where you have the problem.
https://github.com/Koncopd/anndata-scanpy-benchmarks/blob/master/cluster_1m_neurons.ipynb
The peak usage is around 121 GB, but it should still be possible to run with 126 GB RAM. Maybe another process took some serious amount of memory?

[2019-03-06 22:18] shayanhoss opened #518 "Update setup.py to update dependent packages"
After updating to the most recent version of scanpy, I had to separately update anndata, louvain, and leidenalg packages that are dependancies. Any dependent package updates of these types should just happen when the newest version is installed.

[2019-03-06 22:55] falexwolf commented on #518
They should if you call
[code]
anndata will also update if you call
[code]

The fact that we have `[igraph]` and `[louvain]` not in the default install is that they take quite a while.

If the docs are unclear about it, happy to have you point us to it: https://scanpy.readthedocs.io/en/latest/installation.html :)

[2019-03-06 22:58] falexwolf commented on #517
I agree and had also noticed it. Double logs make no sense. It should be the log2 basis. @a-munoz-rojas, as you implemented this, would you make PR to fix it?

[2019-03-06 23:32] a-munoz-rojas commented on #517
Sure thing, I'll make a PR now. I'll add a parameter and leave the default assuming that the data passed is log-transformed. Sorry for missing this earlier! I also added a fix for an indexing bug that was left-over from the original chunking done during the wilcoxon test. I'll add the details to the PR.

[2019-03-07 02:09] ShobiStassen commented on #511
hi Koncopd, ive tried running your exact lines of code and my memory increment is the same as yours for reading the file and filtering the genes by count. Once i hit the normalization function, my memory shoots above 120 and crashes. in your case, your peak memory usage during normalization is around 92GB and only during filter_genes_variable do you hit 121GB
I dont have any other processes that a

[2019-03-07 09:44] LuckyMD commented on #517
I guess you could just divide by `ln(2)` to get log2 values before subtracting? That way you should have everything a bit quicker.

I haven't tried Wilcoxon on raw counts yet... the only thing I would be wary of is that we shouldn't really assume equal variances especially in marker gene calculations... for the t-test we use Welch's correction at least.

I recently read an interesting [preprint](h

[2019-03-08 02:38] Koncopd commented on #511
Ok, so the first problem is normalization for some reason.
@falexwolf , it seems we should just use new normalize_total when the pull request is accepted, it is more memory efficient.
![image](https://user-images.githubusercontent.com/3065736/54003760-9afeed80-4153-11e9-9187-8e474a2fa03e.png)

[2019-03-08 03:28] wangjiawen2013 commented on #514
try this:
import scanpy.api as sc
sc.pp.bbknn(adata,batch_key='batch', n_pcs=15)

or:
import bbknn
bbknn.bbknn(adata,batch_key='batch')

[2019-03-08 03:30] wangjiawen2013 opened #520 "scvi integration"
https://github.com/YosefLab/scVI/issues/206

[2019-03-08 04:31] gokceneraslan commented on #520
I can help with that, too. I spent some time with scvi recently.

[2019-03-08 05:09] ShobiStassen opened #521 "heatmap cluster-color bar"
Hi,
I would like to set the scatterplot color palette and the heatmap cluster-color bar palette to be the same so that the clusters in the scatterplot are the same as those in the heatmap cluster-color-bar. I am using matplotlib to plot a scatterplot (using some other embedding) and need the cluster colors to match those in the automatic colorbar on the heatmap clusterbar.
If i globally set the pa

[2019-03-08 09:15] falexwolf commented on #511
Cool, @Koncopd! I'll rewrite a recipe for this with the new functions, which should be a lot more memory effective.

[2019-03-08 09:30] falexwolf opened #522 "Getting rid of legacy umap code"
Now that UMAP is mature, we can get rid of the temporary frozen umap copy, I introduced a year ago for various reasons (see below).

Meanwhile, the following two functions can maybe direcly imported from UMAP, if not, we could make a PR there or use pynndescent?
https://github.com/theislab/scanpy/blob/07606455c524b38c4efec475a0d7ba87251754bb/scanpy/neighbors/__init__.py#L105
https://github.com/the

[2019-03-08 09:31] falexwolf commented on #522
@tomwhite: This is the project I was mentioning before. We've discussed for months already, but we didn't really kick it off. Now there is bandwidth and it's the top priority.

[2019-03-08 11:42] gokceneraslan commented on #522
There might be couple of things that's available in umap but not in pynndescent such as sparse matrix support https://github.com/lmcinnes/pynndescent/issues/6 Since we typically use PCs, it's mostly fine. But in cases where users do sc.pp.neighbors(., use_rep="X") with a sparse adata.X this can be a problem. My 2 cents 😊

[2019-03-08 12:14] flying-sheep commented on #502
did that help?

[2019-03-08 12:16] #499 closed, assigned to nobody

[2019-03-08 12:16] flying-sheep commented on #499
Should be fixed!

[2019-03-08 12:18] flying-sheep commented on #489
Sure, that seems like a great idea!

[2019-03-08 12:19] #478 closed, assigned to nobody

[2019-03-08 12:19] flying-sheep commented on #478
great, thank you for the help @fidelram

[2019-03-08 12:53] fidelram commented on #521
In principle the scatter plot and the the heatmap use the same colors. See for example: https://scanpy-tutorials.readthedocs.io/en/latest/visualizing-marker-genes.html#Heatmaps

The colors on the left are the same colors stored for the scatter plot clusters.

[2019-03-08 13:48] falexwolf commented on #489
Awesome idea! :)

Sorry that I haven't merged all your other PRs, yet. I got back to work on Scanpy yesterday or so after being sick for 2 weeks and another 2 weeks of complete chaos (sick babies)... ;)

You'll get feedback very soon, but at first sight, all of them looked fine, anyway. :)

[2019-03-08 13:51] falexwolf commented on #522
Thanks, @gokceneraslan!

[2019-03-08 14:19] brianpenghe commented on #405
Same error!

[2019-03-08 14:24] brianpenghe commented on #405
Actually I solved this problem by adding more markers in the marker gene list.
Alternatively The error will be gone if I `swap_axes=True`
Interesting

[2019-03-08 15:57] falexwolf commented on #520
I'd love to have scVI integration! :)

[2019-03-08 19:52] a-munoz-rojas commented on #517
That's a great point, I'll definitely implement that to speed things up.

I also read that same paper, which made me realize that we (and most other pipelines as far as I know) use mean log. I agree that the original interpretation is log mean. Any thoughts on switching to log mean (for everything except t-tests)?

[2019-03-09 06:38] outlace commented on #405
I'm also getting this list error, but @brianpenghe 's suggestion of using `swap_axes=True` also seems to have fixed the problem. At least it shows a plot now, although not sure if its correct yet

[2019-03-09 08:53] brianpenghe commented on #405
@outlace Did you try adding more marker genes? The error is gone if you have a large number of marker genes to plot in my case.

[2019-03-09 18:05] outlace commented on #405
@brianpenghe No I did not try that, but I will soon. Ideally we should be able to plot however many we want

[2019-03-10 01:46] outlace commented on #405
Just made a pull request that fixes this issue. @brianpenghe

I did some debugging and the variable `num_rows` was incorrectly calculated only when `swap_axes==False` on line 880 of `_anndata.py`. Instead of `num_rows = len(categories)` it should be `num_rows = len(var_names)` . If you make that small change in your _anndata.py in `~/anaconda3/lib/site-packages/scanpy/plotting/_anndata.py` then re

[2019-03-10 02:47] MichaelPeibo commented on #460
@andrea-tango
Really awesome!
I am also wondering to find some parameters to tune in scanpy's `rank_genes_groups` like in Seurat.

Because I found there is some difference in makers by scanpy's default(using `wilcoxon` ) and Seurat's default parameters` only.pos = TRUE, min.pct = 0.25, logfc.threshold = 0.25`. (Seurat's default method is wilcoxon), in this case, I can find interesting markers calc

[2019-03-10 08:43] MichaelPeibo commented on #348
Hi @cartal
I tried to plot violin plot in multiple columns. How did you go through with it?

[2019-03-10 10:31] grst opened #526 "Limitations of regress_out as a standard processing step?"
According to the PBMC 3k tutorial, which I consider as the 'best practice' tutorial for scanpy, regressing out the fraction of mitochondrial reads and the number of detected genes is recommended as a 'standard processing step'.

Having analysed two different datasets, I am so sure anymore if this is a good idea.

**number of detected genes**
I loaded these datasets into scanpy and processed them a

[2019-03-10 15:51] falexwolf commented on #526
Great, thank you for summarizing this so neatly. We could even link from the PBMC3k tutorial to this.

Quick answer: yes, there are many situations in which `pp.regress_out` can do more harm than good. In most cases, I personally don't correct for mitochondrial gene expression, for instance. Quite a few people will agree with that. Whether a certain processing step makes sense or not depends on th

[2019-03-10 15:56] falexwolf commented on #460
Interesting, @MichaelPeibo! Would you share these results somewhere publicly? A notebook on GitHub?

@andrea-tango. Yes, we should get the functionality of 2 and 3 functionality into `rank_genes_groups`. @Koncopd, could you work on this?

[2019-03-10 16:34] andreatangherloni commented on #460
@MichaelPeibo @falexwolf I started working on points 2 and 3, but it is better if you will work on these points.
I wrote the code for points 1 and 4.
In order to generate volcano plots, I calculated the log2FC relying on the `diffxpy` library.
I can push again the code for tSNE and also the code for volcano plots.

Please, check the `rank_genes_groups` function.
Considering 2 groups of cells and u

[2019-03-10 16:37] Koncopd commented on #460
@falexwolf
Hi, yes.

[2019-03-10 16:49] falexwolf commented on #460
Great, thank you, @andrea-tango and @Koncopd!

@andrea-tango, would you make a PR? We can then look at how you solved this. In principle, I'm very hesitant to add `diffxpy` as a dependency of Scanpy. It depends on Tensorflow itself, which is a large dependency. What would be OK would be to have a wrapper in `scanpy.external`, but I don't know whether this makes sense. Why not using `diffxpy`s Volc

[2019-03-10 17:08] andreatangherloni commented on #460
@falexwolf I agree with you about the `diffxpy`  a `scanpy` dependencies, Tensorflow is a very important dependency!

I did it, I pushed the code where I added the parameter `n_components` for `scanpy.tl.tsne` function.

I wrote a function in which you can change the colour of the genes, you can add the names of the genes etc.

I tried them on data coming from the lab in which I am working.
I can

[2019-03-10 17:39] falexwolf commented on #460
Oh, thanks! Sorry for the long downtime, the whole family was sick... I'm going through the PR now.

The tests question was actually targeted towards @davidsebfischer, but thanks anyways! The comparison question was also targeted to @davidsebfischer, @tcallies. But if you do it, @andrea-tango, awesome!

[2019-03-10 17:51] falexwolf commented on #453
Completely agreed, @ivirshup!

The `inplace` and `copy` change is not just about renaming. See my edit of the check box list above.

[2019-03-10 19:10] gokceneraslan commented on #460
Very good suggestions. One small question:

Isn't this `rankby_abs=False` which we have by default in `rank_genes_groups`? (and which was actually called `only_positive=True` previously https://github.com/theislab/scanpy/blob/master/scanpy/tools/_rank_genes_groups.py#L100)

[2019-03-11 01:05] MichaelPeibo commented on #460
Hi @falexwolf
I am sending you the simpler code ,my anndata which can be reproduced in some way, and csv marker file calculated by Seurat to your email, you might to repeat my marker analysis if you would like

Sorry for doing it in this way, I not familiar about how to make public notebook...and our data is too preliminary to be public.

[2019-03-11 08:03] MichaelPeibo commented on #265
Just curious about the case of 'batch effect', it looks like to me library construction protocol/chemicals is main source of batch effects.

However, if I use same protocols, sequencing platform and slight difference of sequencing depth for some sample, but in different time course, would you call it batch effect?

A more specific case is, if I have time-course data1 which has not geneX, however,

[2019-03-11 09:31] LuckyMD commented on #517
We had a journal club about this recently and couldn't really come up with a good solution tbh. Mean-log is so much easier for a lot of applications. Log-transforming data also has a variance-stabilizing effect and it reduces skewness so that the data at least better approximates a normal distribution than before, which many downstream methods assume (although data is often still far from normal).

[2019-03-11 10:36] davidsebfischer commented on #460
Hi all, thanks for the mention @andrea-tango! If have been making multiple changes in diffxpy and batchglm recently, the following refers to the branch diffxpy dev, I haven' merged all of this into master yet as I am waiting for some last issues to be fixed.

1. Are diffxpy's tests correct: We are using unit tests to check a) that all tests fullfill the null model. b)  for standard tests that do n

[2019-03-11 10:39] LuckyMD commented on #526
Hi @grst,

We've been working on a best-practices workflow/tutorial for scRNA-sesq data for the past year. The tutorial is based on scanpy, but it also integrates tools from R. You can take a look at a case study which implements the workflow [here](https://github.com/theislab/single-cell-tutorial). The revised manuscript should be submitted this week as well, so I hope it will be out soon. If you

[2019-03-11 12:18] MichaelPeibo commented on #438
Hi @SamueleSoraggi @fidelram
I came to the same problem---unable to find genes after filtering by HVGs.
Did you figure it out and go through?

Or I can only use unfiltered matrix to plot? However, if I do not filter matrix with HVG, there is a slight difference between clustering and take a lot of time running `sc.tl.rank_genes_groups`.

Any suggestion?

[2019-03-11 12:28] andreatangherloni commented on #460
Hi @davidsebfischer, I am writing a simple jupyter notebook where I am analysing the 10x_pbmc68k_reduced.h5ad data.

I selected only clusters 0 and 1:
`twoClusters = adata[np.logical_or(adata.obs.louvain == '0', adata.obs.louvain == '1')]
`

Running  `sc.tl.rank_genes_groups(twoClusters, groupby='louvain, method='wilcoxon',  corr_method=''bonferroni)`, I obtained the following genes

![image](http

[2019-03-11 12:38] LuckyMD commented on #460
Just a note... I also have some code to make a volcano plot in line [111] [here](https://github.com/theislab/single-cell-tutorial/blob/master/Case-study_Mouse-intestinal-epithelium.ipynb). Don't know if this is still needed, but I thought I would see if someone cares.

@davidsebfischer do you allow labels in your volcano plot function? And can it take any object, or only some custom `diffxpy` ones

[2019-03-11 13:09] fidelram commented on #460
@andrea-tango @MichaelPeibo To address the filtering of rank_genes_groups (eg. `min.pct = 0.25, logfc.threshold = 0.25`) I recently added a function called `sc.tl.filter_rank_genes_groups`.  See https://github.com/theislab/scanpy/pull/425

@falexwolf I don't know why`sc.tl.filter_rank_genes_groups` does not show up in the docs. I will take a look. Also, I just noticed that this PR with updated exa

[2019-03-11 14:47] LuckyMD commented on #460
does `sc.tl.filter_rank_genes_groups` filter the `sc.tl.rank_genes_groups` result? Or does it recompute? The former would not alleviate the multiple testing burden.

[2019-03-11 15:02] grst commented on #526
Thanks for your comments.
In this case, I will indeed use the function more cautiously in the future.

@LuckyMD, I would be really interested in the manuscript. I'll send you an email regarding that.

Best,
Gregor

[2019-03-11 15:29] fidelram commented on #438
@MichaelPeibo how did you run the HVG? There is as parameter called `subset_data` or something like that, which will allow you to keep all genes and only flag the HVG.

[2019-03-11 17:37] fidelram commented on #460
does not recompute, simply saves the filtered data under
adata.uns['rank_genes_groups_filtered']. Thus, different parameters can be
tested quickly. Off course, sc.tl.rank_genes_groups has to be call first.

On Mon, Mar 11, 2019 at 3:47 PM MalteDLuecken <notifications@github.com>
wrote:

[2019-03-11 18:30] LuckyMD commented on #460
If p-values are regarded as a valuable output rather than just the ranks, it might be worth recomputing as thresholding would ease the multiple testing burden. I guess that's the idea behind the `min_pCells` parameter request.

[2019-03-12 01:14] andreatangherloni commented on #460
@LuckyMD your tutorial is very interesting!
I agree with you regarding the `min_pCells` parameter, it should be used as a filtering step before calculating the marker genes.

[2019-03-12 01:21] wangjiawen2013 commented on #265
In different time course, the batch effect and true biological variation will be entangled.

Batch effects, which occur because measurements are affected by laboratory conditions,reagent lots and personnel differences. This becomes a major problem when batch effects are correlated with an outcome of interest and lead to incorrect conclusions. However, in single cell RNAseq, different datasets shou

[2019-03-12 01:36] MichaelPeibo commented on #438
Hi @fidelram
Thanks for pointing it out!

I used default parameters of `subset=False` in `scanpy.pp.highly_variable_genes`.

Actually, I think I found where the trick is.  I used `.concatenate` to combine multiple datasets, and default parameter of `join` is `inner`, which will only filter common colomns/genes? Following this, I got some interesting genes missing when I did violin plot;

In the se

[2019-03-12 10:14] Koncopd commented on #460
@falexwolf @andrea-tango
I have a question regarding point 2 (log2FC values in `rank_genes_groups`). I see that only `'logreg'` method doesn't return logfoldchanges. But logfoldchanges don't seem natural for `'logreg'` as this method doesn't even use `reference` for calculation.

[2019-03-12 23:54] tsotnech opened #529 "adata.concatenate() only merges certain genes"
Hi guys,

I was trying to merge two different data sets from different experiments.
adata1.X.shape (244, 5038)
adata2.X.shape (2218, 2007)
with adata.concatenate()

I end up with
adata3.X.shape (2462, 822)

It merges all the cells but removes lots of genes after concatenation. Just to double check,
adata.concatenate only merges the genes that are present in both datasets? I know that certain genes

[2019-03-13 04:23] gokceneraslan commented on #529
You can use join='outer' option of concatenate function to use the union of genes in the merged dataset.

[2019-03-13 12:43] falexwolf commented on #529
Thanks Gökcen!

[2019-03-13 12:43] #529 closed, assigned to nobody

[2019-03-13 16:23] tomwhite commented on #522
Thanks for tackling this one @falexwolf.

I didn't realise until recently that umap has a copy of pynndescent too. However, I think it would be possible for scanpy to depend on both umap and pynndescent packages, and use the latter for generating the knn graph directly. This would mean new features in pynndescent (like the threading support) could be used from scanpy.

[2019-03-14 03:02] wangjiawen2013 commented on #365
do you have any references on t-test_overestim_var ? I cannot find papers on this test method. what's the difference from t-test ? @falexwolf

[2019-03-14 03:17] outlace opened #530 "Math domain error in rank_genes_groups function"
I get the error below when trying to run the following:

`>>> sc.tl.rank_genes_groups(adata, 'louvain', groups=['5','16','19','30'], reference='0', method='wilcoxon')`

[code]

Here `adata` is real data from our lab, not the tutorial data. Have been trying to replicate the cluster analysis tutorial. All previous steps work fine. Interestingly, if I remove group '5' from the list of groups it works

[2019-03-14 08:46] csijcs commented on #455
Hello, I'm having a bit of trouble with this. I know the issues is closed, but I thought it might be better to continue this discussion rather than start a new one, though I can do that if you prefer. I have an AnnData object `adata` with ensembl ids as `adata.var_name` and mouse gene symbols under the column `adata.var[“gene_name”]`. When I call:
`sc.pl.umap(adata, color=['ENSMUSG00000074637'])`

[2019-03-14 12:55] fidelram commented on #455
should be gene_symbols in plural.

On Thu, Mar 14, 2019 at 9:46 AM csijcs <notifications@github.com> wrote:

[2019-03-14 17:35] brennerUT opened #531 "Flaws with current approaches for normalization, PCA, and feature selection?"
I just saw this biorxiv manuscript and I was wondering if there are any ways to easily incorporate multinomial methods in scanpy
[Feature Selection and Dimension Reduction for Single Cell RNA-Seq based on a Multinomial Model](https://www.biorxiv.org/content/10.1101/574574v1)

[2019-03-15 02:35] csijcs commented on #455
Ok great, thanks.

Similarly, I still can't call by gene name with `sc.pl.violin`

`sc.pl.violin(adata, ['ENSMUSG00000074637'], groupby='louvain')` works, but not
`sc.pl.violin(adata, ['Sox2'], groupby='louvain')`

Another thing that would be helpful is if `sc.tl.rank_genes_groups` would use gene_symbols instead of the Ensembl ID. Is it possible?

It seems like these re getting lost in the Louvain

[2019-03-15 12:59] ParisaMa opened #532 "Plotting the expressions of several markers on a single UMAP plot"
Hi,

Would it be possible to plot several markers on a single UMAP plot instead of having a plot for each of them separately? The color parameter of the pl.umap function takes the markers as a list of strings and plots them individually.

Thanks,
Parisa

[2019-03-15 13:00] ParisaMa opened #533 "expressions of several markers"

[2019-03-15 13:03] #533 closed, assigned to nobody

[2019-03-15 14:46] LuckyMD commented on #532
Hi @ParisaMa,

So you want a single umap visualization with the the sum of several marker genes (or some related score) plotted on top of this? I'm a bit sceptical regarding how that would be helpful (you may want to know which cells have 0 values for a particular marker), but there is a way to do this.

You can use `sc.tl.score_genes(adata, gene_list, score_name='my_score')` to calculate a gene s

[2019-03-15 14:57] ParisaMa commented on #532
Hi @LuckyMD

Thanks for your reply! I'm actually interested in the distribution of a bunch of markers instead of just looking at one. I have a set of markers for a specific population (extracted from a study) and would like to know how how their expressions look like on my clusters (to see if I actually have that population). However, because of the differences in the scales, it can be tricky and

[2019-03-15 15:59] LuckyMD commented on #532
Hi @ParisaMa,

I think then you'd be better off using `sc.pp.scale()` to create z-scores and then just using the second method I suggested, but using `.mean(1)` instead of the sum. That way you take the average z-scres of the marker gene expression values.

I think it would probably be better to look at this in a violin plot though, if you really want to see the marker gene expression distribution

[2019-03-15 22:10] knapii-developments opened #534 "Getting Error Variable names are not unique when using .read_10x_h5 function"
Good Evening,

My goal here is to get either a Gene barcode or dense matrix from a .h5 file from 10x. I'm currently trying to use the .read_10x_h5() function to help me achieve this. To my understanding I just need to input the file name into the function. When I run my code (See below), I get an error stating that "Variable names are not unique. To make them unique, call `.var_names_make_unique`.

[2019-03-16 01:32] LuckyMD commented on #534
Hi @knapii-developments,

You are missing a return value for the `sc.read_10x_h5()` function. That function will return your anndata object. You can call `.var_names_make_unique` on that object like this:
[code]

[2019-03-16 04:37] ivirshup commented on #460
Sorry this is a little off topic, but it's something I've found useful:

@LuckyMD and anyone else looking for an interactive volcano plot, I've been using [`hvplot`](https://hvplot.pyviz.org) in my notebooks. A volcano plot can be made from DE data frame with something like:

[code]

<details>
<summary> Complete example using scanpy </summary>

[code]

</details>

[2019-03-16 04:43] ivirshup opened #535 "Argument tab completion for sc.pl.umap-like functions?"
It'd be nice if some level of tab completion of argument names could be maintained for functions like `sc.pl.umap`. This came up recently in #455, and I find myself frequently misspelling (mostly mis-pluralizing) argument names like `color/ colors` and `gene_name/ gene_names`. I've given this a shot using `functools.wraps`, but no luck yet.

Any ideas on if we could do this @flying-sheep?

[2019-03-16 06:55] ivirshup commented on #455
@fidelram knows more about the plotting code than me, but here's some recommendations:

* Many of the downstream plotting functions for `rank_genes_groups` take `gene_symbols` arguments. See the docs for functions like: `sc.pl.rank_genes_groups_*`
* The `gene_symbols` argument is recent, and is gradually being added to functions.
* You can always set `var_names` to be gene symbols. I prefer keepin

[2019-03-16 07:04] ivirshup commented on #510
@biskra Just my two cents on (3), I mostly use histograms or hex bins for viewing qc metrics. I've been meaning to write this up as a tutorial for a while, but I think you can lean on whole pyviz ecosystem pretty heavily here.

Something static and pretty:

[code]

If you'd like it to be interactive:

[code]

Or, if you want to play with cool most-biggest-data toys:

[code]

[2019-03-17 23:37] davidhbrann commented on #196
I just encountered the same issue when trying to convert data that I had merged using `MergeSeurat`.

[2019-03-18 05:47] csijcs commented on #455
I tried to set `var_names` from gene_symbols, and I get a warning message:
`Variable names are not unique. To make them unique, call `.var_names_make_unique`.`

In calling `adata.var_names_make_unique()` I get the error:
`TypeError: unsupported operand type(s) for +: 'float' and 'str'`

I can ignore this and take it through most of the analysis and am able to make the plots and rank the genes by n

[2019-03-18 08:44] SamueleSoraggi commented on #514
I tried the second one and it worked, while the first one does not anyway.

[2019-03-18 11:44] LuckyMD commented on #455
I have noticed that clustering is always slightly different on different systems... even when using exactly the same code. This will have to do with the underlying numerical libraries I assume. I don't think that has anything to do with gene names.

[2019-03-18 13:01] #514 closed, assigned to nobody

[2019-03-18 13:01] flying-sheep commented on #514
Thank you, fixed!

[2019-03-18 13:02] flying-sheep commented on #196
I wrote something that’s able to convert between AnnData and SingleCellExperiment: https://github.com/flying-sheep/anndata2ri/

Maybe that’s helpful?

[2019-03-18 13:24] flying-sheep commented on #535
I think to preserve the signature like that we could easily do a subset of what `update_wrapper` (and therefore `wraps`) does:

[code]

but first: what did you try and why did it fail?

[2019-03-18 13:57] SamueleSoraggi commented on #514
thanks for the help and the fix to both.
Cheers.

Den man. 18. mar. 2019 kl. 14.01 skrev Philipp A. <notifications@github.com

[2019-03-18 15:08] fbnrst opened #536 "Scatter plot of numerical observation with missing data"
I have a dataset for which I have an observation that is only available for some cells. When I make a scatter plot that I color code for this observation not all cells are plotted:
[code]
While this should plot 10 cells it only shows one cell:
![image](https://user-images.githubusercontent.com/7300030/54540172-caa1c700-4997-11e9-946e-01c1e04dd2d2.png)
I can get the plot I want by filtering cells f

[2019-03-18 17:00] fidelram commented on #536
That's very strange. I will take a look

On Mon, Mar 18, 2019 at 4:09 PM Fabian Rost <notifications@github.com>
wrote:

[2019-03-18 17:50] roshan9128 opened #537 "Updating scanpy"
I see that some functions have been deprecated and replaced by new ones. What is the simplest way to update Scanpy using conda?

[2019-03-18 20:08] a-munoz-rojas commented on #517
Thanks for your thorough response! And I apologize for the late reply, I've been away at a conference. I agree with what you mentioned - in my experience I also don't see a 1,000-10,000 fold change in size factors, even when you're comparing drastically different cells with dramatic differences in RNA content (e.g. regulatory T-cells with large cells like macrophages). In this scenario, however, a

[2019-03-19 02:00] ivirshup commented on #535
Here's pretty much what I've tried:

[code]

Tab completion shows:

<img width="597" alt="image" src="https://user-images.githubusercontent.com/8238804/54574990-8e796f80-4a46-11e9-8ad4-ae5aeead9604.png">

As opposed to:

<img width="598" alt="image" src="https://user-images.githubusercontent.com/8238804/54580161-fdf95a00-4a5a-11e9-9b51-8eeec17babfc.png">

[2019-03-19 02:18] ivirshup commented on #530
This certainly looks strange. Would you mind making a minimal complete example? If you need, [here's a useful guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to making one.

[2019-03-19 09:07] flying-sheep commented on #535
Hmm, doesn’t seem to work with `functools.partial`. It works if I do almost the same, but with a lambda:

[code]

But I think the custom solution above is better anyway! `wraps` is if you really want to pose as the wrapped function, while we only want to inherit its signature.

[2019-03-19 10:03] falexwolf commented on #535
Just wanted to mention that this would add much convenience. Since Fidel rewrote the plotting API, I saw that it was the right thing to do to reduce all the code in the almost-identical function headers, but  I was missing the autocomplete, which had obviously disappeared.

[2019-03-19 10:17] falexwolf commented on #537
There is no new release with these changes, yet. You'd need to install from github if you want them. However, these updates aren't critical and you can continue using the old functions without any bad conscience. A new release is obviously pushed to GitHub, PyPI and BioConda, and announced on twitter (https://twitter.com/falexwolf).

[2019-03-19 10:23] falexwolf commented on #455
The slight difference is due to scikit learn's implementation of PCA. If the top PCs are enough for you, you get perfect reproducibility, as in the tutorials [clustering](https://scanpy-tutorials.readthedocs.io/en/latest/pbmc3k.html) and [trajectory inference](https://scanpy-tutorials.readthedocs.io/en/latest/paga-paul15.html). Higher PCs are subject to the instability of the underlying iterative

[2019-03-19 10:37] falexwolf commented on #460
@ivirshup, this is cool and very useful. Would you make a notebook "Interactive plotting" for http://scanpy-tutorials.readthedocs.io? And we'd link to it from https://scanpy.readthedocs.io/en/latest/tutorials.html as done for the other notebooks. You could also add the example from https://github.com/theislab/scanpy/issues/510#issuecomment-473506882. As time passes, this could grow. But these two

[2019-03-19 10:42] falexwolf commented on #531
We're very happy to consider PRs around engineering representations around NB or multinomial methods. But we have to admit that we're not currently working on this.

[2019-03-19 10:45] fbnrst commented on #536
I just add the versions I used:
[code]

[2019-03-19 10:45] falexwolf commented on #530
Sorry, there is a small bug in the wilcoxon method, that might hit sometimes. @a-munoz-rojas, it should be resolved after merging your fix, don't you think so? I'd be happy to move forward as soon as the code-overhead issue around double logarithmization is fixed. Should be very simple. Thank you!

[2019-03-19 10:51] falexwolf commented on #365
No, there aren't any references. It's most easy to understand from this: https://github.com/theislab/scanpy/blob/662f66a4c2bc9a254990792f570cc971a444c575/scanpy/tools/_rank_genes_groups.py#L191

We had quite some material before (@tcallies, where did it go?), but we're now moving away from it and will set a different default test in the future.

[2019-03-19 10:55] falexwolf commented on #460
@Koncopd, updating `logreg` with a proper implementation accounting for `reference` is another story. We can talk about it sometime soon.

[2019-03-19 10:57] falexwolf commented on #438
Yes, what you describe makes sense! :)

[2019-03-19 11:41] flying-sheep commented on #535
The PR is in motion, seems to work well!

[2019-03-19 11:52] #535 closed, assigned to nobody

[2019-03-19 12:04] LuckyMD commented on #455
I have gotten fairly different clustering results when using `svd_solver='arpack'` in all but 1 case actually. The biological interpretation is still roughly the same, but the depth of subclustering you can do does differ. Based on a preliminary test, using arpack for all `sc.pp.pca()` calls does improve the reproducibility, although clustering results still differ (tested on Fedora 25 and Fedora

[2019-03-19 12:18] falexwolf commented on #455
Thanks for the heads up! Still, the reason for this is not related to the clustering algorithm, but the PCA. The clustering is greedy and will show large deviations upon slight changes of the graph, but otherwise, it's deterministic. I don't know whether there is a way around it...

[2019-03-19 12:39] fidelram commented on #536
the problem is that at some point the code calls np.argsort on a
pandas.Series and this returns -1 for NaN values. I will submit a PR to fix
this. Meanwhile, simpy plot as follows: sc.pl.pca(adata, color='property',
size=50, sort_order=False)

On Tue, Mar 19, 2019 at 11:45 AM Fabian Rost <notifications@github.com>
wrote:

[2019-03-19 12:59] #536 closed, assigned to nobody

[2019-03-19 15:29] LuckyMD commented on #455
Unless you write your own system agnostic numerical libraries or run everything in a docker container... probably not. So just to clarify... you do expect using `sc.pp.pca()` with `svd_solver='arpack'` to not be 100% reproducible across systems as well then?

[2019-03-19 20:21] outlace opened #542 "Suggestion: Start a gitter.im chat room"
Many bio data analysis packages hosted on GitHub will have a Gitter.im chat room with a direct link in the readme. This is very helpful for newcomers with questions that may not qualify as an issue but can be quickly answered by the package contributors or just powerusers.

I recommend scanpy start a gitter. It may help slow the posting of new issues and allow faster triaging and help.

[2019-03-20 17:41] aditisk opened #544 "Issue using new features in the visualizing marker genes tutorial"
Hello, I am trying to use the visualize marker genes tutorial to make some plots. I am importing scanpy in the new way (import scanpy as sc) as suggested in the tutorial but I am getting an error message:

AttributeError                            Traceback (most recent call last)
<ipython-input-5-dfc1e4d9ed06> in <module>()
----> 1 ax = sc.pl.correlation_matrix(adata, 'cell_types')

AttributeErro

[2019-03-20 23:21] david758 opened #545 "heatmap does not have return_fig parameter"
Hi,

the heatmap function treats return_fig as a kwarg parameter and raises "AttributeError: Unknown property return_fig". Does heatmap not actually support returning the figure even though the documentation states that function has this parameter? If so, how do I go about saving my heatmaps?

Thanks.

[2019-03-21 09:18] #545 closed, assigned to nobody

[2019-03-21 09:19] flying-sheep commented on #545
Hi! Sorry, my bad. That parameter was undocumented, and I added it to the wrong docstring building block.

It’s available in all scatterplots for dimension reductions, like `pca`, `tsne` and so on.

[2019-03-21 10:29] fidelram commented on #545
To save your heatmaps use the `save` argument.

[2019-03-21 10:46] fidelram commented on #544
I think that correlation matrix is only in the latest master version. You can install it using:
[code]

Also, be sure to load scanpy as 'import scanpy as sc'. If you use the old method (`import scanpy.api as sc`) it will not work.

[2019-03-21 17:22] aditisk commented on #544
@fidelram thanks for letting me know. I am using the command you suggested and still getting an error:

CCBR-KULKAMILT:~ kulkarnia2$ pip install git+https://github.com/theislab/scanpy.git
Collecting git+https://github.com/theislab/scanpy.git
  Cloning https://github.com/theislab/scanpy.git to /private/var/folders/56/g1b462hs0d3816ktcj6twm8hmsw5ch/T/pip-req-build-o4lkd6tp
xcrun: error: invalid acti

[2019-03-21 17:59] fbnrst opened #547 "sc.datasets.moignard15() raises ValueError"
[code]
Output
[code]
[code]

[2019-03-21 21:44] jhu99 opened #548 "sc.pl.heatmap cannot show different colors for more than 20 cell types"
I plot heatmap for normalized gene expression for 34 clusters.  The code is as below:

sc.pl.heatmap(adata, marker_genes, use_raw=False, swap_axes=True, show=False, show_gene_labels=True, save=ofile, groupby='louvain', dendrogram=True)

However, there are only 20 colors for the cluster bars. How can I deal with this issue?

![heatmap](https://user-images.githubusercontent.com/4293164/54787042-eeb4

[2019-03-21 21:47] falexwolf commented on #547
Ah, sorry, that was introduced by a PR quite a while ago; fixed it via https://github.com/theislab/anndata/commit/90bea2c1721d5dbfad20975b14809c63cc126ae8.

Added a test that will make sure it doesn't happen again in the future:
https://github.com/theislab/anndata/commit/8737bc2c3fe7946fdab0f6f63f36695e86a4b6a3

[2019-03-21 21:47] #547 closed, assigned to nobody

[2019-03-22 08:15] falexwolf commented on #542
Agreed! :) I just haven't ever done that... ;) I'm happy if someone else does it but would otherwise look into it next week or so...

[2019-03-22 09:40] flying-sheep commented on #542
I wanted to do it, but I couldn’t create gitter.im/scanpy.

I noticed that https://github.com/scanpy exists which seems to be the problem. Seems to be a typo though, their name is Scana.py with a second “a”. I contacted the GitHub support, maybe they can rename it and give us https://github.com/scanpy.

[2019-03-22 09:55] fidelram commented on #548
the problem is related to the palette being used. The color palette is taken from the scatter plots. A way to fix this is by running for example `sc.pl.umap(adata, palette='Blues')`. Then run the heatmap again.

[2019-03-22 11:00] falexwolf commented on #542
Thanks, great!

[2019-03-22 14:21] fbnrst commented on #458
I also just realised that `pl.scatter` does not take `ncols` as an argument.  I am also using scanpy v1.4 from bioconda. The online documentation also does not mention ncols as an argument:
`scanpy.pl.scatter(adata, x=None, y=None, color=None, use_raw=None, layers='X', sort_order=True, alpha=None, basis=None, groups=None, components=None, projection='2d', legend_loc='right margin', legend_fontsize

[2019-03-22 16:21] jhu99 commented on #548
Cool! It did solve my problems. Thank you!

From: Fidel Ramirez
Sent: Friday, March 22, 2019 5:55 AM
To: theislab/scanpy
Cc: screamer; Author
Subject: Re: [theislab/scanpy] sc.pl.heatmap cannot show different colors formore than 20 cell types (#548)

the problem is related to the palette being used. The color palette is taken from the scatter plots. A way to fix this is by running for example sc.p

[2019-03-22 16:26] gokceneraslan commented on #548
Actually, it'd be great to reuse category number-based dynamic color map selection code thingy we have for scatterplots here. What do you think @fidelram ?

[2019-03-22 17:28] LuckyMD commented on #435
So I just reproduced this error for `sc.pp.log1p()` using my own data after using the `sc.pp.downsample_counts()` function. It might have to do with that?

i noticed that `sc.pp.downsample_counts()` returns `np.int64` rather than `np.float64` I reckon that's what the log transformation is complaining about.

If I add the line:
[code]
after the downsampling call, it works again. Maybe add that to `

[2019-03-22 17:34] ajitjohnson commented on #435
It was related to adata conversion that @falexwolf alluded to and specifically affects windows machines (because of changes in numpy). I got the latest version of AnnData and it works now.

[2019-03-22 18:03] LuckyMD commented on #435
Exactly the same error message pops up when inputting `np.int64` data into `sc.pp.log1p()`. This is with the latest scanpy, and using data that has otherwise worked well when not using `sc.pp.downsample_counts()`. I thus wouldn't consider this resolved, although I can open another issue as well.

[2019-03-22 19:35] fbrundu opened #550 "Heatmap does not respect Ordered Categorical"
I am trying to plot a heatmap to visualize genes that peak at different temporal clusters. I am passing the `groupby` parameter as the original leiden label transformed into an Ordered Categorical. However, the `pl.heatmap` API displays the clusters in alphabetic order.

My code and the relative results follows:

[code]

![pt](https://user-images.githubusercontent.com/697622/54848355-72c8d000-4cb7

[2019-03-22 20:54] ajitjohnson commented on #435
Aha okay. My problem was resolved when I updated the AnnData package for converting pandas dataframe into AnnData object using

 '''adata = sc.AnnData(x)'''

[2019-03-22 20:58] #534 closed, assigned to nobody

[2019-03-22 21:01] falexwolf commented on #550
Hm, that is a behavior that @fidelram built in. Typically you should be able to achieve different orderings of categories by doing exactly what you did (you don't need `ordered=True`, which would mean you're looking at ordinal categories). For instance, the legends in scatter plots respect that.

@fidelram, what's the reason for ignoring the `.cat.categories` order?

[2019-03-22 21:03] falexwolf commented on #435
We just merged an update on the `downsample_counts` function by @ivirshup; evidently, the data type shouldn't be changed by downsampling, should it?

[2019-03-22 22:26] LuckyMD commented on #435
I can confirm that it is currently

<img width="1124" alt="Screen Shot 2019-03-22 at 23 25 14" src="https://user-images.githubusercontent.com/13019956/54856264-e4c20900-4cf9-11e9-88f0-15a9ace275f1.png">

[2019-03-23 05:53] ivirshup commented on #435
No matter what it returns, it definitely shouldn't make stuff fail. I think that `downsample_counts` was returning integers before the most recent PR as well.

iirc, I made `downsample_counts` use integers because a) numba was failing inference unless I was explicit about integers and b) downsampling counts only makes sense for integer valued numbers. At the time I couldn't see a reason to convert

[2019-03-23 22:46] aditisk commented on #544
I downloaded the folder from GitHub and then installed Scanpy and it worked for me.

[2019-03-23 22:46] #544 closed, assigned to nobody

[2019-03-24 09:43] SamueleSoraggi commented on #438
I stilll encounter the problem, even when I set `adata.raw=adata`.
However, it works with `use_raw=false` or by choosing a layer when I run the `scanpy.plotting.rank_genes_groups function` and does not when I use other plotting functions like `sc.plotting.rank_genes_groups_dotplot`.
It is weird, I guess they are based on the same way of looking at the rank of genes.

[2019-03-24 18:04] LuckyMD commented on #435
Originally everything was `np.float32` in scanpy, but as of a recent anndata commit (somewhere between 0.6.11 and 0.6.12), that was changed and now the input data precision is left up to the user.

Which functions hard code `np.float32`?

[2019-03-24 18:09] a-munoz-rojas commented on #530
Hi @falexwolf - I think it be resolved with the bug fix, but I'm not entirely sure. I just pushed the changes addressing the code-overhead issue, we can give it a try to see if it fixes it. Otherwise we'd have to take a closer look.

[2019-03-24 20:58] falexwolf commented on #435
Nothing should be hardcoded `np.float32`, but it might be that some functions still do that from an early time, where, for instance, scikit-learn's PCA was silently transforming to `float64` (and Scanpy silently transformed back etc.).

Nothing should change the dtype that the user wants, except, for instance, when we logarithmize an integer matrix etc. Here, there should be a default `dtype='floa

[2019-03-24 21:14] falexwolf commented on #458
`pl.scatter` is, unfortunately, not in the best shape anymore. Since Fidel rewrote a large part of the plotting API, it's not used by any of the frequently used embeddings scatters anymore and would need to be simplified a lot, before actually adding new functionality (like `ncols`).

Would you mind correcting the docs? What are you using `pl.scatter` for?

[2019-03-24 22:13] fbnrst commented on #458
Sure, I can have a look at the docs. I've been using it because of the `layers` argument since `pl.umap` does not seem to have it.

[2019-03-25 04:48] ivirshup commented on #542
As a possible alternate/ supplement, what about a discourse forum? I think threaded conversations are useful, especially when you can't expect everyone who has input to be online at the same time. It also looks like google indexes discourse, which could reduce repeated questions.

[2019-03-25 04:52] outlace commented on #542
I created gitter.im/scanpyhelp

https://gitter.im/scanpyhelp/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2019-03-25 04:56] outlace commented on #542
@ivirshup A discourse forum would be great but it looks like its quite pricy with no free version

[2019-03-25 05:11] ivirshup commented on #542
Expanding on this a bit, here's an example discourse forum I've found useful: [https://discourse.julialang.org](). Good, relevant threads show up all the time in google searches, while I've spent a lot of time trying to find help on various `pyviz` and `conda` gitters with a pretty low success rate.

I think something like gitter/ single slack channel works for about 20 people, but after that it g

[2019-03-25 05:23] ivirshup commented on #542
@outlace, whoops, didn't see your message before I posted mine, chatroom model woulda stopped that.

It looks to me like it's free to self host and theres (admittedly kinda high) educational price for discourse. I'll check out how easy it is to self host.

An alternative for threaded conversations is a good old fashioned google group or a tag on stack overflow. (edit: we could probably even just u

[2019-03-25 05:59] outlace commented on #542
@ivirshup I guess stackoverflow tag would work for now until a dedicated discourse or the like is setup. The advantage of gitter is that if people are online questions can be answered rapidly which is helpful when youre in the middle of an analysis and run into a problem. It's no fun when you have to give up and wait until the next day to get some help. But I can see that timezone differences may

[2019-03-25 06:24] ivirshup commented on #435
Should `downsample_counts` also get a `dtype` argument? Internally I've used `np.integer`, which I think just uses the system word size.

[2019-03-25 08:15] fidelram commented on #458
@fabianrost84 The 'layers' were not added to anndata until recently and had not been implemented in all functions. However, adding this functionality to the different scatter plot functions is straightforward.

Let me prepare a quick PR.

[2019-03-25 09:16] flying-sheep commented on #542
Hi, we’re still waiting for a response from the owners of https://github.com/scanpy (we asked them if it’s possible to rename the org to “scanapy”, the actual name of their project)

Until then, I’d like to not use gitter.im/scanpyhelp

[2019-03-25 12:24] fbnrst commented on #458
As @bebatut pointed out, `pl.scatter` uses `doc_scatter_bulk` for the documentation. It does not seem to make sense to remove `ncols` from `doc_scatter_bulk` as it is used for `pl.umap` and so on.
How should the docs for `pl.scatter` be corrected? Should we remove `doc_scatter_bulk` and copy-paste the relevant documentation from `doc_scatter_bulk` to the `pl.scatter` doc string? At least until `pl

[2019-03-25 14:09] fidelram commented on #458
@fabianrost84 The best would be to remove `doc_scatter_bulk`  and copy paste the relevant documentation.

[2019-03-26 01:21] ivirshup opened #558 "Where should `sc.datasets` put data?"
I'm adding that expression atlas downloader now (#489), and wondering where the files should go.

`pbmc68k_reduced` and `toggleswitch` put the datasets relative to where scanpy is installed (via `__file__`). All other functions place the data relative to where the python process was started.

While I like not storing the same files all over a filesystem, I'm not sure in the `scanpy` installation d

[2019-03-26 07:41] flying-sheep commented on #558
The scanpy install directory is super wrong, as it’s not writable for many people.

There’s exactly one correct way of determining a global place for cache* files like this: [`appdirs.user_cache_dir(...)`](https://pypi.org/project/appdirs/)

Alex and me talked in the past and decided for a visible directory in the working directory. I’d be up for changing it to `user_cache_dir(…)` for the data.

*

[2019-03-26 07:57] flying-sheep commented on #458
please never say those words when speaking about code again :stuck_out_tongue_winking_eye:

No but seriously: There’s at least 6 reasons not to do that and to introduce a second (temporary) variable instead: https://github.com/theislab/scanpy/pull/557#issuecomment-476512533

[2019-03-26 09:25] maximilianh commented on #558
Hi Isaac, I have a related question: does your expression atlas
downloader also store the coordinate and all the meta data?

[2019-03-26 10:05] ivirshup commented on #558
@flying-sheep That does look useful, though I definitely see a lot of toolkits using something like `~/.{toolkitname}` on my mac. Personally, I'd look under my home directory first.

I think if things are going to move, there should be a sensible default, but the location should be user configurable (probably through an environment variable). For example, the main hpc I'm on only gives me about 1g

[2019-03-26 10:08] maximilianh commented on #558
Well, I know nothing, maybe you already have everything, but I could
look at an example? The advantage of the expression atlas is that they
have really good meta data. That's provided through their downloadable
files, as far as I remember. So if you got everything that is in their
downloadable meta data files, then you certainly have everything of
interest.

[2019-03-26 10:15] flying-sheep commented on #558
There’s two possible reasons: 1.: We’re talking about something from the 80’s like SSH or BASH. They earned their right to things their way because they’re older than the standards they’re not following. Or 2.: Whoever designed this didn’t do their research and just hacked in first thing that came to mind. This is not an excuse.

MacOS knows about `~/Library/Caches` and to clean it out when disk s

[2019-03-26 11:40] falexwolf commented on #558
Hey! 😄

I'd in principle happy if we move the default `scanpy.settings.cachedir` from `./cache/` to `appdirs.user_cache_dir()`.

However, if then any Scanpy installation breaks, as _the main hpc I'm on  1gb of space where appdirs would put these files_, I would probably not make this the default, but choose something like  `~/cache-scanpy/`, that is, a visible directory in home (if we really want,

[2019-03-26 11:41] falexwolf commented on #558
PS: `pbmc68k_reduced` and `toggleswitch` are from back in the days; they should remain the only examples that actually have the data in the repository and the PyPI distributions. All other datasets should download their data from some stable URL...

[2019-03-26 11:53] falexwolf commented on #522
@Koncopd, could we have a meeting or VC on the progress here? Let's discuss via email. 🙂

@tomwhite, any updates from @lmcinnes regarding integrating the distributed version of `pynndescent` into UMAP itself? I'm not 100% convinced to mingle with private functions within UMAP that might eventually break (another reason for why I copied over code from UMAP back in January/February 2018). It would b

[2019-03-26 12:03] ltosti opened #559 "matrixplot - standard_scale issue"
Hi @fidelram ,

When I try to use

[code]
I get this heatmap.

![louv1](https://user-images.githubusercontent.com/11874103/54995344-d2c8ba80-4fc6-11e9-84fe-4f659915293d.png)

But as soon as I add ```standard_scale='var'```:

[code]

I get the following error

[code]
Any idea of why I'm getting this?

Package info:

[code]

Thank you!

PS: this happens also when I just use the example data as in [h

[2019-03-26 12:53] ivirshup commented on #558
@maximilianh Sure! This [gist](https://gist.github.com/ivirshup/e7f0c435474d9b06b622c63d4221afe6) has a script to download a dataset and write it to a `.h5ad` file. I think having scanpy and tqdm installed should be sufficient to run it. Usage should be:

[code]

where `accession` is something like: `E-EHCA-2` or `E-GEOD-98816`.

But what it does is just download and parse the expression `.zip` an

[2019-03-26 12:55] ltosti opened #560 "pip installation - missing tools?"
Hi there,

I was trying do dig down to understand the problem in #559 , and I found out that in my ```plotting/_anndata.py``` [these lines](https://github.com/theislab/scanpy/blob/f33924011f7d0a7924fada933e1a20d7b5ceaac3/scanpy/plotting/_anndata.py#L828-L837) and all the ones related to ```standard_scale``` are missing. So I created a new conda environment and tried to install a new version of sca

[2019-03-26 12:56] ivirshup commented on #558
I think @falexwolf voiced my thoughts much more eloquently. A non-hidden directory in the root folder makes a sensible default to me. Would anyone be against also having some environmental variables/ a scanpy config (I’m thinking `.cfg` or `.json`) so this (and things like verbosity) don’t have to be set manually each session?

[2019-03-26 13:00] maximilianh commented on #558
not that it matters, but I agree with Alex and Isaac. Our compute cluster
also is extremely picky on where you put data >100MB and the directories
and their differences are completely obscure to anyone but its users
(="big" file systems vs "fast fstat" file systems vs "archival" file
systems).

[2019-03-26 13:44] Koncopd commented on #522
@falexwolf
Hi, Alex. What i figured out for now.

https://github.com/theislab/scanpy/blob/07606455c524b38c4efec475a0d7ba87251754bb/scanpy/neighbors/__init__.py#L105
This can be replaced by importing this
https://github.com/lmcinnes/umap/blob/a858c6322a3e682d8daf9c17e13ac023f3e18cfa/umap/umap_.py#L148

https://github.com/theislab/scanpy/blob/07606455c524b38c4efec475a0d7ba87251754bb/scanpy/neighbors

[2019-03-26 14:37] flying-sheep commented on #558
That's a misconfigured server, not a normal case. We should use appdirs as default, catch a IOError on write, and send a nice message like

All linux-based systems should set $XDG_CACHE_DIR if there's a better place than ~/.cache for such files.

[2019-03-26 14:40] maximilianh commented on #558
@flyingsheep I can assure you, that's the normal case in academic HPC
systems.

On Tue, Mar 26, 2019 at 3:37 PM Philipp A. <notifications@github.com> wrote:

[2019-03-26 14:46] flying-sheep commented on #558
Sure, and I'm not against supporting special cases! Could you please explain the setup?

Do you have a user home? Is there a canonical cache directory outside of the user home? Is there a way to detect that we are on such a system or a environment variable pointing to the canonical cache directory?

Some systems are strange. We should be nice and support those systems while still doing the correct

[2019-03-26 17:50] gokceneraslan commented on #560
These are the features that are added recently in the development version of scanpy and therefore not in any released version. You can either install the development version from github using `pip install git+https://github.com/theislab/scanpy -U` or by following the instructions here https://scanpy.readthedocs.io/en/latest/installation.html#development-version. Note that the development version i

[2019-03-26 17:50] #560 closed, assigned to nobody

[2019-03-26 17:52] gokceneraslan commented on #559
Same as #560, see https://github.com/theislab/scanpy/issues/560#issuecomment-476770853.

[2019-03-26 17:52] #559 closed, assigned to nobody

[2019-03-26 17:55] gokceneraslan commented on #560
@falexwolf @flying-sheep Do you guys think it makes sense to switch to "stable" in the documentation by default similarly to TensorFlow, PyTorch and Pandas which use stable by default?

[2019-03-26 18:53] gokceneraslan commented on #558
I agree that this is a huge and common problem in many HPC systems. I usually install conda and R packages to non-home directories with bigger space to avoid issues on servers. One can fill up hundreds of MB by just installing a single package e.g. human genome from Bioconductor 😄

There is a user home and the cache is `~/.cache` and $XDG_CACHE_HOME is undefined (at least in my case). Some pip whe

[2019-03-26 20:15] ontsilla opened #561 "Cannot import scanpy in jupyter notebook with python 3.5.2"
Hello,

I'm having troubles with importing scanpy in my jupyter notebook. I am working on a server which has python 3.5.2 installed, and unfortunately I cannot update it.

I am getting this issue:

[code]

I am also getting the same issue with import scanpy.api as sc. I believe this is a common issue with python 3.5.2 but unfortunately I cannot change the python version.

Thank you so much!
Olga