[2020-11-06 12:17] giovp commented on #1479
Mmh no, it does work as you expect, just need to turn the dendrogram off.
[code]

or just pass the list of markers (list, not mapping)
[code]

If you pass a dict with incomplete annotation and request dendrogram, then it fails, and the warning says this clearly:
[code]
and it still produces a plot (yet unordered).

The `var_group_labels` is also described in `help(sc.pl.heatmap)` as you pointed ou

[2020-11-06 13:07] wkopp commented on #1479
Since I just copied the example from the tutorial, I think it would be great fix the handling of heatmap there. There, the problem is sort of two-fold: 1) as you mentioned, the groupby labels NK/T-cell etc. hadn't been defined before, and 2) that only markers for only a subset of the clusters are used (5 out of 9 clusters have markers) are used with `dendrogram=True`. Both of them independently pr

[2020-11-06 13:49] giovp commented on #1479
yes very good point, the tutorial needs to be fixed for sure because now it would fail.
trowing error in the heatmap is also probably the best way to go.
Thank you for reporting this! I'll have a look as soon as I have time

[2020-11-06 15:19] rbf22 commented on #1486
I’ve updated the issue. Thanks!

[2020-11-06 15:31] giovp commented on #1486
mmh a preoducible example means something like this:
[code]
and this works.

what's `'pct_counts_house'` that you are calling?

[2020-11-06 15:35] rbf22 commented on #1486
Pct_counts_house could be replaced by mt in your example. I’ll try you example and post the result.

[2020-11-06 16:34] rbf22 commented on #1486
This does not fail, but it does produce the warnings:

/Users/banana/opt/miniconda3/lib/python3.8/site-packages/seaborn/_core.py:1303: UserWarning: Vertical orientation ignored with only `x` specified.

Here is the plot that shows that individual plots are horizontal compared to the previous versions that were vertical. Also you can see that the plots share the same x axis, which should not be the

[2020-11-06 16:50] rbf22 commented on #1486
Try this for a fix,

import seaborn as sns
sns.set_theme(style="whitegrid")
tips = sns.load_dataset("tips")
ax = sns.violinplot(x=tips["total_bill"])

![image](https://user-images.githubusercontent.com/2634345/98392560-ff4f1000-200c-11eb-88f8-07bb00582841.png)

ax = sns.violinplot(y=tips["total_bill"])

![image](https://user-images.githubusercontent.com/2634345/98392610-0f66ef80-200d-11eb-8056-4ec

[2020-11-06 16:56] rbf22 commented on #1486
The line that creates this in scanpy looks like:

        g = g.map(
            sns.violinplot, y, orient='vertical', scale=scale, order=keys, **kwds,
        )

[2020-11-07 00:28] #1361 closed, assigned to nobody

[2020-11-07 18:37] brianpenghe opened #1487 "f"Values {list(not_found)}, from {list(indexer)}, " "are not valid obs/ var names or indices.""
This bug only occurred in 1.6.0 but not 1.5.0

I was running `scanpy 1.6.0` this:

`sc.tl.filter_rank_genes_groups(adata, groupby=obs,\
                    max_out_group_fraction=max_out_group_fraction,
                    min_fold_change=min_fold_change,use_raw=use_raw,
                    min_in_group_fraction=0.25,log=log)`

But got this error:

[code]

[2020-11-09 09:31] ivirshup commented on #1480
Tracking this under https://github.com/theislab/anndata/issues/442

Basically, anndata does not work with h5py 3.0 at the moment.

[2020-11-09 10:24] #1480 closed, assigned to nobody

[2020-11-11 02:09] onegoodguy-tnt commented on #1283
zuozhebujiangwude,xiedaimabuxiubug

[2020-11-11 21:32] ivirshup commented on #599
This issue has been mentioned on **Scanpy**. There might be relevant details there:

https://scanpy.discourse.group/t/filtering-cells-by-expression-of-specific-gene/256/2

[2020-11-11 22:37] WeilerP commented on #1486
@rbf22, if I am not mistaken, this issue has been fixed in #1422.

[2020-11-11 23:05] rbf22 commented on #1486
Yes, this looks like the same issue, happy to close this for now. Is matplotlib more stable for plotting?

[2020-11-11 23:05] #1486 closed, assigned to nobody

[2020-11-12 07:20] ivirshup commented on #1439
You're totally right. Opening a PR to bump the required version now.

[2020-11-12 07:29] ivirshup commented on #1484
The issue is that there was a blank line starting with three spaces, and that triggered an error whose message wasn't particularly related to that. I think this test could probably get rewritten.

https://github.com/theislab/scanpy/blob/a8ee1e01e6cea1d3b9f5474997508c99497d4fb4/scanpy/tests/test_docs.py#L18-L38

The error came from the `if any(broken)` block. Basically it's checking for lines which

[2020-11-12 08:14] ivirshup commented on #1469
It's equivalent to the CLR transform.

However, I'm not sure if this is the right way to go. CLR was used in a formative paper on the topic (doi:10.1038/nmeth.4380), and it's been brought forward from there. Here's that explanation for it's use:

<img width="559" alt="CBMC antibody-derived tag normalization and clustering. Since each ADT count for a given cell can be interpreted as part of a whole

[2020-11-12 08:37] ivirshup commented on #849
This seems to be working now. Given that matplotlib updates are known to introduce bugs, I'm not sure we want to pin matplotlib to `3.3.3`. I'm concerned that's too strong of a restriction, since it's likely there's someone out there who needs to use an older version.

Right now this is causing CI to fail, since there's a canary test that fails when the function works 😆.

[2020-11-12 10:06] flying-sheep commented on #1484
If a linter flexible enough to enforce this existed, it would be great.

The test should definitely exist, something in our code requires the docstrings to have that format, I just forgot which part. (But in any case it guarantees consistent formatting so that’s nice)

#1492 should fix that test to ignore blank lines for the time being.

Also isn’t it cool that it points exactly to the problematic

[2020-11-12 12:25] #849 closed, assigned to nobody

[2020-11-12 17:02] CarstenKnutsen commented on #337
Hi I am having a similar issue where I would like to set the tick locations on the colorbar. Using similar code as above

[code]
I get the following error 'UserWarning: Use the colorbar set_ticks() method instead'

How can I access the colorbar specifically?

Thanks!

[2020-11-12 17:29] #1484 closed, assigned to nobody

[2020-11-13 01:41] #1439 closed, assigned to nobody

[2020-11-13 13:52] LisaSikkema commented on #1487
Hi Brian,
Did you do any subsetting of your adata between running `rank_genes_groups` and `filter_rank_genes_groups`? The only way I can reproduce your error is by removing genes from my adata in between the two commands.

[2020-11-13 13:57] brianpenghe commented on #1487
Hi Lisa, I didn't remove genes. Currently I'm using scanpy1.5.0 and everything is fine.

[2020-11-13 14:50] LisaSikkema commented on #1487
Okay, when I run this:
adata = sc.datasets.pbmc68k_reduced()
sc.tl.rank_genes_groups(adata, "bulk_labels", method="wilcoxon")
sc.tl.filter_rank_genes_groups(adata, min_fold_change=3)
I get no error.
Can you find a reproducible example of your error?

[2020-11-13 19:34] nhyda opened #1495 "min_in_group_fraction in filter_rank_genes_groups doesn't work as expected"
the default value of min_in_group_fraction is 0.25, which I understand is filter those genes that has less than 25 percent present in the group.

I use min_in_group_fraction = 0, max_in_group_fraction=1.01 to try to filter everything just by foldchange and adj_p value, but it doesn't add any gene when comparing to min_in_group_franction=0.25,

in my test, if I filter on rank_gene_groups by foldcha

[2020-11-14 18:39] TheAustinator opened #1496 "`pip install -e .` raises LookupError: setuptools-scm was unable to detect version for '/home/ubuntu/code/scanpy'."
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

setuptools-scm can't find the package version when running `pip install -e` or `pip install .`. I stepped through `scanpy/_metadata.py`, and it does appear to be able to ge

[2020-11-18 02:20] weishwu opened #1497 "Bug with pie colors in sc.pl.scanpy"
It works fine when I set the color to 'seurat_clusters'. But I want to show the pie chart for each node so I changed the color parameter according to the format in the documentation. This caused a "unhashable type: 'dict'" error. I looked into the paga.py code but couldn't figure out where the problem is.

The 'seurat_clusters' contains 8 clusters:

[code]
`Index(['0', '1', '2', '3', '4', '5', '6'

[2020-11-18 02:40] adamgayoso commented on #1469
I'm also a bit confused about how the CLR is applied. In the CITE-seq paper, I think it was done within a cell (over proteins), then I think they had switched to within a protein (over cells), and now in Seurat v4 it appears to be back to within a cell.

Any per cell normalization is a bit tricky because the panels will differ between datasets as well as the titration of antibodies used. The simpl

[2020-11-18 08:53] ivirshup commented on #1496
@TheAustinator, can you replicate this in a fresh environment (e.g. conda)? It could help to limit the number of other installed packages.

@flying-sheep, any ideas?

[2020-11-18 10:49] chenyang1999 commented on #1497
我同样面临着这个 bug
我的代码是
[code]
错误信息：
[code]

[2020-11-18 11:02] flying-sheep commented on #1496
@TheAustinator does the `flit` branch work?

[2020-11-18 20:23] picciama opened #1500 "Allow using arbitrary vectors in plotting (not only `obs` columns)"
- [x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

Quite often I need to color UMAPs base

[2020-11-19 05:57] ivirshup commented on #1500
This has been worked on here: https://github.com/theislab/anndata/pull/342

The idea is to allow any vector from the anndata object to be used for coloring, but that PR seems a bit stalled at the moment. This would also be useful for providing parameters in other places, like `regress_out`.

[2020-11-19 08:31] dagarfield opened #1502 "Better document `legend_loc=None` for embedding plots"
- [x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

It is a lovely tool, but it would be g

[2020-11-19 09:56] ivirshup commented on #1502
You can pass `legend_loc=None`.

Thanks for noting this. Looking at the docs, I can definitely see how this isn't clear.

[code]

[2020-11-19 11:03] dagarfield commented on #1502
Tada! Works perfectly.
Thanks for the tip, and may this GitHub comment serve as substrate to all future google searches on this issue.

[2020-11-20 02:29] TheAustinator commented on #1496
Hey guys, thanks for getting back to me. @flying-sheep `pip install -e` isn't working on the flit branch because it doesn't have a `setup.py` -- is there another way to install?

[2020-11-20 09:51] dagarfield commented on #1502
So one small update here -- it works like a charm for categorical variables, but not for continuous variables.
e.g.

Still gives something like a legend:
![image](https://user-images.githubusercontent.com/10536275/99786010-40234a80-2b1e-11eb-83ab-77c9341dab05.png)

Presumably this is because the color strip on the right is not actually a legend in the underlying matplotlib?

[2020-11-20 12:05] pedrofale opened #1503 "Imaging Mass Cytometry data"
Hi everyone,

Thank you for scanpy! I use it very frequently for my research. I am getting started with spatial data, and would like to ask if there is any prediction for when IMC data will be supported? You mention this in the [spatial transcriptomics tutorial](https://scanpy-tutorials.readthedocs.io/en/latest/spatial/basic-analysis.html) so I suppose it's coming soon -- but how soon?
If you have

[2020-11-21 14:29] giovp commented on #1503
hi @pedrofale !
Thanks a lot for the interest! Yes indeed we are working on an extension that handles spatial data and should be public in ~1 month. I'll keep you posted here as soon as we have it ready.
question re: IMC. What's the data format that you are interested in importing to anndata? Is it something more elaborate than a feature matrix `(obs, features)` and spatial coordinates `(obs, coor

[2020-11-23 09:31] cartal opened #1504 "ValueError: b'There are other near singularities as well. 0.090619\n'"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of scanpy.

---

Hi,

Trying to run `scVI` to analyse my data using the latest `scanpy+scvi-tools` workflow, as described [here](https://www.scvi-tools.org/en/stable/user_guide/notebooks/harmonization.html).

However, I'm running into a weird issue with the new `seurat_v

[2020-11-24 01:55] ivirshup commented on #1504
Seems like this is a known issue in the source library: https://github.com/has2k1/scikit-misc/issues/9.

I don't think I could comment much more off the top of my head. @adamgayoso, do you have any suggestions here? Is trying to increase the `span` fine?

[2020-11-24 03:51] adamgayoso commented on #1504
I think the solution is to remove some of the most lowly expressed genes, though increasing `span` may also work.

[2020-11-24 08:00] ivirshup commented on #1504
Could you suggest some error handling behavior here? I think there could definitely be a more helpful error message.

[2020-11-25 11:27] rbpatt2019 opened #1508 "Saving plots results in a prefixed filename, regardless of sc.settings.figdir"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

As far as I can tell, `sc.pl.violin` always prepends the string "violin" to all save filed, regardless of `sc.settings.figdir`. This complicates programatically setting the

[2020-11-26 14:12] r-reeves commented on #1289
Hi all,

I am trying to use ScanPy for integrating multiple scRNA-Seq samples (~20). Doing so that I can look at RNA Velocity with SCVelo, and want to use MNN as I got good batch effect removal previously in monocle using MNN.

Is it true - as stated above, that the current implementation of mnncorrect with ScanPy is only operating on expression values? I have run through a ScanPy MNN [tutorial ](

[2020-11-26 14:21] giovp commented on #1289
what's the stage of this @Koncopd @Mirkazemi ?

[2020-11-26 16:20] sinnamone commented on #1407
I solved the problem after installing with this command:

pip install scipy==1.4.1 --use-feature=2020-resolver

[2020-11-26 17:09] Koncopd commented on #1289
Soon (i hope).

[2020-11-26 17:55] LuckyMD commented on #1289
Hi @r-reeves,
Maybe this is indeed a separate issue. `mnnpy` is indeed working on the gene expression matrix, and not on a low dimensional embedding like `FastMNN` (which is what I assume you might have been using?). You could try [Scanorama](https://github.com/brianhie/scanorama) which is a method similar to FastMNN, using a sped up algorithm and no iterative merging of batches, but a method they

[2020-11-27 05:50] ivirshup commented on #1508
How I save plots is:

[code]

I think how this argument works is one of the things we would change in a major API breaking release. @fidelram, would you add anything to this?

[2020-11-27 06:32] ivirshup opened #1509 "umap 0.5 compatibility"
It'd be good to make sure everything works with umap 0.5 before it get's released.

[2020-11-27 06:54] justinesjw opened #1510 "Error exporting adata using sc.export_to.spring_project"
Hi,

Thanks for the awesome tool!

May I know in which version can I find [`sc.export_to.spring_project`](https://scanpy.readthedocs.io/en/stable/external/scanpy.external.exporting.spring_project.html)? I have tried scanpy==1.6.0, 1.0.3, 1.1a1 but faced this error

![image](https://user-images.githubusercontent.com/26448066/100419830-47b79600-30c0-11eb-9e08-b3ae1e18ea1b.png)

[This tutorial](https

[2020-11-27 10:59] LuckyMD commented on #1510
Hi @justinesjw,

As the help page you linked to suggests the function is called `scanpy.external.exporting.spring_project`

You could use:
[code]

[2020-11-27 11:25] LuckyMD commented on #1508
You could also not make this breaking by checking if there are any `/` in the string and appending `umap` or `violin` after the last `/`? Would be a bit messy, but quicker to release.

[2020-11-27 15:41] giovp opened #1513 "adjustText for `legend_loc="on data"` leged location"
- [x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

would be really cool to have adjustTex

[2020-11-27 21:32] brianpenghe opened #1514 "filter_rank_genes_groups much slower than rank_genes_groups"
I was using Scanpy 1.5.0
It took me more than two hours to finish filter_rank_genes_groups with default parameters while rank_genes_groups takes less than 5 minutes.
But theoretically, it shouldn't be too different from rank_genes_groups right?
But it seems way slower than rank_genes_groups and much slower than Seurat.
Is there a way to make it faster?

[2020-11-28 07:21] ivirshup commented on #1508
I don't want to do too much with string mangling. Now that mention trying to detect it though, I don't think I'd have anything against passing a `Path` to override this behaviour.

We could also add a different argument with this behaviour – like `path` – then deprecate `save`, or at least passing a string to `save`.

On the other hand, I wonder how much we gain by controlling the saving of a figu

[2020-11-28 07:39] ivirshup commented on #1513
I've used it a bit, and have gotten nice results. I think I've mentioned it before (#938), but that was on an unrelated issue so it's good to have.

The results are nice:

<details>
<summary> Example usage </summary>

[code]

</details>

![image](https://user-images.githubusercontent.com/8238804/100496350-81af9780-31a7-11eb-8b38-2eb7f914c1a1.png)

I believe you're also supposed to be able to make

[2020-11-28 12:15] Koncopd commented on #1514
Hi, @brianpenghe
Updating scanpy should solve the problem.

[2020-11-29 09:15] ryansohny commented on #1478
I too have the exact same issue with scanpy.tl.rank_genes_groups().

Is this something to do with anndata 0.7.5 requires pandas version >=1.0,  yet, pandas coming along with installing scanpy with 'pip install scanpy' is in version 0.23.4?

[2020-11-30 09:19] r-reeves commented on #1289
Hi @LuckyMD
Thank you for the fast reply. Yes to FastMNN, as I understand from using align_cds – when you specify discretely what you want to remove e.g. sample-sample variation it calls FastMNN from batchelor. Thanks for the recommendation – I will check out Scanorama, been meaning to read the review on integration techniques.

Ahh okay, I misunderstood the process then – my understanding was tha

[2020-11-30 14:56] LuckyMD commented on #1508
I quite like the saving of figures as it means people can use scanpy who otherwise aren't as familiar with data science in python. Calling a function on an axis object or saving the last axis object that was is displayed is not always intuitive to new users.

[2020-12-01 04:25] ivirshup opened #1515 "moignard15 dataset link broken"
`sc.datasets.moignard15()` results in a 404. The previous link http://www.nature.com/nbt/journal/v33/n3/extref/nbt.3154-S3.xlsx seems to not be working anymore.

It looks like supp info is still there, so links probably just need to be updated: https://www.nature.com/articles/nbt.3154#Sec24

Alternatively, maybe springer needs the 10k in publishing fees to keep their servers running.

[2020-12-01 04:36] justinesjw commented on #1510
Noted. Thanks for your help!

[2020-12-01 07:27] Adrilaw commented on #990
upgrade your kali linux with the command
sudo apt upgrade
pip3 install scanpy

[2020-12-01 07:35] #1510 closed, assigned to nobody

[2020-12-01 08:26] guensen0 commented on #1371
Hi,

great options with the styles... just one comment/question... to me, it seems that the automatic detection of the background for the color of the dot is not working:

dot_edge_color : str, Tuple[float, …], None (default: 'black')
Dot edge color. When color_on='dot' the default is no edge. When color_on='square', edge color is white for darker colors and black for lighter background square col

[2020-12-02 11:23] LisaSikkema opened #1519 "rank_genes_groups "groups" argument ignored or not clearly explained"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

Hi,

My understanding of the "groups" argument in sc.tl.rank_genes_groups is that it subsets the data and then performs the differential expression testing. I.e. if I have

[2020-12-02 22:35] xguse opened #1521 "creating and plotting dendrograms do not see the same dendrogram"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

### Minimal code sample (that we can copy&paste without having any data)

[code]

[code]

### Description

So as you can see in the reproduction, it looks like `sc.tl.dendr

[2020-12-02 23:29] flying-sheep commented on #1496
I merged it into master now. You can try a regular `pip install .` or `flit install -s` for an editable install (after installing flit) as described here: https://scanpy.readthedocs.io/en/latest/installation.html#development-version

Pip says that btw if you try `pip install -e .`

[2020-12-03 13:56] Koncopd commented on #1519
Hi, @LisaSikkema
I'll check.

[2020-12-03 20:22] chsher commented on #987
Thank you @LuckyMD, it worked!

[2020-12-03 21:26] fidelram opened #1530 "rank_genes_groups method='logreg' causes error with `sc.get.rank_genes_groups_df`"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

when running `sc.tl.rank_genes_groups` with `method='logreg'` the `logfoldchanges` are not generated. However, this field is
required by `sc.get.rank_genes_groups_df`.

[co

[2020-12-03 21:45] fidelram commented on #1521
I will take a look.

This is related to the possibility of using `groupby` with a list of categories.

[2020-12-04 05:22] #1395 closed, assigned to nobody

[2020-12-04 05:52] mxposed opened #1531 "kNN graph and leiden clustering differences between scanpy and Seurat"
In our analyses we wanted to try SCTransform normalization instead of default log-norm. I have done it quite crudely, but it works: I run SCT in Seurat and dump the counts on disk to load in scanpy.
While verifying that this approach worked, we encountered slight inconsistencies between clustering using (1) vanilla log-norm scanpy (2) SCT imported scanpy and (3) SCT in Seurat.
After investigation,

[2020-12-04 08:03] fidelram commented on #1531
Thanks for the nice investigation. However, is very difficult to say what the differences could be. Have you checked the `sc.tl.leiden` parameters. I think that by default `weights=True`. Also `sc.pp.neighbors` has as default `n_neighbors=15` ( I think). This may account for some differences.

[2020-12-04 10:21] LuckyMD commented on #1531
Hey @mxposed!

Nice work on the scArches covid model!

Love these types of comparisons :). There are a lot of potential differences. Just a few that come to mind:
1. Louvain and leiden are stochastic... random seeds will differ. This can generate quite different clusterings. I would check against different choices of random seed in Scanpy and/or Seurat to see what the background distribution is fo

[2020-12-04 10:51] dawe commented on #1531
My two cents.
In additions to everything mentioned in this issue (parameters, rng, libraries) and the fact sNN and kNN are slightly different, neither Leiden nor Louvain method will save you from missing small populations (see [here](https://www.pnas.org/content/104/1/36)), it is a well-known issue when working with modularity.

[2020-12-04 12:42] LuckyMD commented on #1531
True, the resolution limit could play a role. But I would assume not yet at this scale, as we would expect a more even degree distribution in a kNN graph, and we're not looking at modules that make up a very small proportion of the total nodes. It would be interesting to check when this starts being important for larger atlases.

Have you found this to be a problem in some of your datasets?

[2020-12-04 14:55] dawe commented on #1531
@LuckyMD Mine was a general answer, I agree that at this scale it may not be an issue but it may indeed be for larger atlases.

@mxposed about your first question: cell distances depend on the HVG in absolute terms, but the overall structure of your data is more "relative". If the kNN graph topology is overall conserved you'll end up with similar populations.

[2020-12-04 16:23] hspitzer opened #1534 "sc.pl.embedding with basis "spatial" has side-effects and is missing one row of points"
- [x] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

sc.pl.embedding with basis "spatial" behaves strangely. See code example below.
- when "spatial" is an `unit` array, the resulting plot is missing the top row of points (I

[2020-12-06 00:41] mxposed commented on #1531
@fidelram Thank you for pointing this out. I did miss the `n_neighbors` parameter for `sc.pp.neighbors` function. It has default 15, while Seurat's have default 20 (and yes, they then prune the kNN). Adding this parameter did solve the discrepancy in the first dataset, but not the second, in the investigation (I have not updated the notebook).

@LuckyMD Thank you! I really liked applying scArches,

[2020-12-07 02:16] dangeles commented on #1021
Hi all! I've been using `scanpy` and ran into a similar problem. I was wondering if there's an easy / appropriate work-around, other than simply deleting `obsm[X_diffmap]`?

Thank you all for developing `scanpy`, it's a really wonderful piece of software.

[2020-12-07 09:59] giovp commented on #1534
EDIT: the issue is that coordinate system in this case has origin bottom left, whereas coordinate system in visium is top left.

[2020-12-09 12:26] djbios opened #1537 "PCA don't return `Axes`"
https://github.com/theislab/scanpy/blob/8d9eec4c4763edb4a522dbec3fa5ea48832ff0f8/scanpy/plotting/_tools/__init__.py#L139
Cant use mpl axis after `pca_variance_ratio` and other PCA plots in my code, because they never returns from function

[2020-12-11 10:47] LisaSikkema commented on #1519
Hi @Koncopd , did you get a chance to look at this yet?

[2020-12-11 12:32] #1479 closed, assigned to nobody

[2020-12-11 16:29] xuebaliang opened #1539 "Can scanpy transform scATAC-seq peak matrix into "Gene activity matrix"?"
- [ ] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

...
Sometimes we need to collapse the

[2020-12-11 17:32] LuckyMD commented on #1539
Maybe this is more a feature request for [Episcanpy](https://github.com/colomemaria/epiScanpy)

[2020-12-13 06:53] ivirshup commented on #1519
@LisaSikkema, current behavior just changes the groups which are tested (I'd call this the "left hand side" in `group vs reference`) not what they are tested against. That is controlled by the `reference` argument.

I agree this could be more clear. It would also be nice if `reference` was more flexible.

[2020-12-13 07:09] ivirshup commented on #1537
@djbios you should be able to work around this by getting the current figures via `plt.gca()` (get current axis) and `plt.gcf()` (get current figure).

@fidelram, how should we handle this?

The documentation suggests that these functions will return `Axes`, though many of them don't operate on single `Axes` and instead have `GridSpecs`/ `Figures`.

Could we do a pass over all plotting functions a

[2020-12-13 07:09] #1515 closed, assigned to nobody

[2020-12-13 07:21] ivirshup commented on #1509
It looks like the new release breaks most of our usage from (at least) a change in arguments to `simplicial_set_embedding` (ping @Koncopd).

<details>
<summary> Example error </summary>

[code]

</details>

It looks like there is also a lot of cool stuff in the new release!

[2020-12-13 09:53] Koncopd commented on #1509
Thanks, i'll check.

[2020-12-14 09:23] LisaSikkema commented on #1519
I see. Yes then maybe we should change this annotation:
`groups : {‘all’}, Iterable[str] (default: 'all').`
`Subset of groups, e.g. ['g1', 'g2', 'g3'], to which comparison shall be restricted, or 'all' (default), for all groups.`
to something like:
`Subset of groups, e.g. ['g1', 'g2', 'g3'], for which differentially expressed genes should be calculated, or 'all' (default) for all groups.`
?
I coul

[2020-12-14 10:43] djbios commented on #1537
Thanks, thats works

[2020-12-15 17:47] mjhubisz opened #1545 "cell_ranger flavor of highly_variable_genes expects non-logarithmized data?"
- [X ] I have checked that this issue has not already been reported.
- [ X] I have confirmed this bug exists on the latest version of scanpy.
- [ X] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

I believe this may be a bug in documentation. It says that scanpy.pp.highly_variable_genes expects logarithmized data, except when flavor='seurat_v3'. However, after rea

[2020-12-15 22:33] rboiarsky commented on #348
Can we reopen this issue? I still don't see this functionality available. The ask is to be able to specify the number of rows or columns for the arrangement of the output panels from `sc.pl.violin`. Right now if I plot 8 genes, for example, they all show up on one row, yielding tiny plots. It would be nice to be able to pass in something like `ncols=4` so that the 8 panels will be arranged as a 2x

[2020-12-17 04:30] ivirshup commented on #1519
That doc change looks good to me!

For any change to `reference` it would be good to keep it simple. Maybe it could accept a list of groups?

[2020-12-17 05:37] zzhmark commented on #1468
`pytables` in pip is named `tables`, and scanpy `import tables` accordingly, so you have to separately install it using also pip, not conda. I suggest editing the [installation guide](https://scanpy.readthedocs.io/en/stable/installation.html).

Besides, my installing using `conda install -c bioconda scanpy` would always give conflicts with nvidia cuda versions, but changing the version makes nothi

[2020-12-17 05:49] ivirshup opened #1546 "sc.pl.violin throws error if adata does not have .raw"
Ping @fidelram

[code]

[code]

The issue seems to be that `use_raw=None` is not handled by `_get_obs_rep`. I think this should error, but the error should just be that `None` isn't a valid value for this argument.

The real issue is that `sc.pl.violin` is not handling `use_raw` correctly.

[2020-12-17 05:54] ivirshup commented on #348
@rpeys I think that might be better as a new feature request. I'd like to keep this closed since the bug that was reported here has been fixed.

[2020-12-17 05:59] #1482 closed, assigned to nobody

[2020-12-17 17:49] Fougere87 opened #1549 "sc.tl.dendrogram doesn't use var_names"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.
Latest on pip at least scanpy-1.6.0
---

I'm using the sc.pl.dendrogram multiple times different lists of genes on my dataset (incrementing number of highly variable genes basica

[2020-12-18 06:45] redafekry commented on #1252
File "C:\Users\Reda\Anaconda3\lib\site-packages\hdbscan\hdbscan_.py", line 941, in fit_predict
    self.fit(X)
  File "C:\Users\Reda\Anaconda3\lib\site-packages\hdbscan\hdbscan_.py", line 919, in fit
    self._min_spanning_tree) = hdbscan(X, **kwargs)
  File "C:\Users\Reda\Anaconda3\lib\site-packages\hdbscan\hdbscan_.py", line 615, in hdbscan
    core_dist_n_jobs, **kwargs)
  File "C:\Users\Reda\A

[2020-12-18 10:40] wangjiawen2013 opened #1550 "continuous color map"
Hi,
When plotting gene expression profile on tsne/umap, Cellranger and Seurat can display the zero-expression cells in gray color, while scanpy doesn't display those cells. such as:
Seurat featureplot:
![image](https://user-images.githubusercontent.com/29703450/102605221-f1d68b00-415f-11eb-9bc2-797a25db897e.png)

And cellranger:
![image](https://user-images.githubusercontent.com/29703450/102605354

[2020-12-18 11:05] wangjiawen2013 commented on #1550
Scanpy has enhanced sc.pl.umap function last year. For example, now sc.pl.umap(adata,color=["louvain"],groups="1") can highligt cluster 1 while displaying other clusters in gray color. I think they are very similar, excepting that  gene expressing values are continuous variables.

[2020-12-18 11:36] ivirshup commented on #1550
What you mean by not showing the cells? Do you have an example of this? For sure some color maps (like `"Reds"`) can seem to make cells seem invisible since white is their lowest value, but I'm not aware of any cell hiding.

As for displaying zero count cells as some color, you can do that by passing a `cmap`, e.g. a cubehelix one:

[code]

![image](https://user-images.githubusercontent.com/823880

[2020-12-18 15:09] wangjiawen2013 commented on #1550
Thanks for you detailed guidance. All I want is to display zero count cells as some color (gray) and this is what cellranger and seurat do. I can do it now following the above code. This is just what I want !

[2020-12-18 15:28] gokceneraslan commented on #1509
This seems related to the new Densmap feature https://umap-learn.readthedocs.io/en/latest/densmap_demo.html (see https://www.biorxiv.org/content/10.1101/2020.05.12.077776v1)

Would be cool to support it in scanpy.

[2020-12-18 15:38] gokceneraslan commented on #1504
I also experienced this a few times, and took me some time to understand what is going on. I fully agree with @ivirshup, we should improve the error message.

[2020-12-18 15:41] cartal commented on #1504
In the end, increasing the `span` to 1 fixed it for me. However, I'm still not sure why it happened.

[2020-12-19 18:06] adamgayoso commented on #1504
I wish I understood why this was happening too. I believe it's the same underlying C code as the R implementation, and I don't think Seurat's code does anything special to prevent this.

Increasing the span could really affect which genes are selected as HVG I believe, whereas removing some outliers by low expression might not?

[2020-12-20 00:13] dkobak commented on #1233
@ivirshup @pavlin-policar I'd like to get back to this issue. I think maybe we should postpone discussing `ingest` until later (as well as "recipes" based on our Nat Comms paper, and other topics raised above) and focus on switching to openTSNE first.

Scanpy's architecture is to compute kNN graph by calling `sc.pp.neighbors` and then run dimensionality reduction (UMAP) and clustering (Leiden) on

[2020-12-20 01:11] gokceneraslan commented on #1504
In my experience, this happens if batch key is not None and one or more batches have low number of cells. Does it make sense to catch this error and simply skip the problematic batch or inform the user that batch doesn't have enough cells?

[2020-12-20 01:14] gokceneraslan commented on #1504
@cartal Do you mind sharing the output of the following:

adata.obs.combined.value_counts()

[2020-12-20 02:29] rboiarsky opened #1552 "requesting ncols parameter in sc.pl.violin()"
It would be nice to have a way to split the violin plots from `sc.pl.violin()` into a specific number of rows, similar to the `ncols` parameter in `scanpy.pl.umap()`

[2020-12-20 21:01] pavlin-policar commented on #1233
I think it would make a lot of sense to at least switch the t-SNE implementation to openTSNE at the very least. For the recipes, there' already something similar in the preprocessing module. So I'd imagine calling standard t-SNE with `sc.tl.tsne` and the recipes like `sc.tl.tsne.recipe_multiscale`.

I very much prefer option 1. If I understand option 2 correctly, we would normalize the 15 neighbor

[2020-12-20 23:20] dkobak commented on #1233
Yes, this is my understanding of how it works in scanpy. See https://scanpy.readthedocs.io/en/stable/api/scanpy.pp.neighbors.html:

[code]

That's not what I meant. I meant taking UMAP's weights for k=15 and normalizing the matrix so that it sums to 1, as in t-SNE. That said, I would also prefer option 1 because I don't want anything that sounds like it's a UMAP/t-SNE hybrid.

[2020-12-20 23:50] pavlin-policar commented on #1233
Thinking about this a bit further, yes, that does make perfect sense. I suppose we'd want to add a "tsne" option there as well then.

I see now and I completely agree with you: I don't really like this. This would then be some strange mesh between UMAP and t-SNE. It feels messy.

[2020-12-21 04:46] ivirshup commented on #1550
Glad to help!

[2020-12-21 04:46] #1550 closed, assigned to nobody

[2020-12-21 16:03] fidelram commented on #1521
I tried the code and it works fine on the master branch.

Can you check if also works for you?

[2020-12-23 23:33] Hussam1 opened #1556 "ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-12-24 20:10] #1556 closed, assigned to nobody

[2020-12-27 17:37] kanefos commented on #391
I have an AnnData object whose .X matrix has been transformed by size factor division, +1 and log. Subsequent ```sc.pp.highly_variable_genes(dataset, flavor='cell_ranger', n_top_genes=1000)``` yields the ```ValueError: Bin edges must be unique: ... You can drop duplicate edges by setting the 'duplicates' kwarg``` error discussed above. Transformation to a sparse matrix did not alleviate the error,

[2020-12-28 12:08] Pawan291 opened #1559 "Hello All, I am trying to learn and create single cell RNA seq pipeline for my project. When I was doing quality control, I met this problem. Can anyone help me? Thank you a lot."
- [ ] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-12-28 17:15] LuckyMD commented on #1559
Hi,

I guess this issue might be more appropriate in the [single-cell-tutorial github](https://github.com/theislab/single-cell-tutorial).

I assume that the AnnData object you are working with does not contain sparse data. In that case you can leave out the `.A1` from your commands. Also, you're currently working with an `ArrayView` rather than an AnnData object, which you can change with a `adata

[2020-12-29 11:59] Pawan291 commented on #1559
Thank you very much for the help and link to tutorial. It works for me

[2020-12-29 11:59] #1559 closed, assigned to nobody

[2020-12-29 12:08] Pawan291 opened #1560 "Hello, I am trying to calculate highly variable genes from my data sets using the above code from the scanpy script published on github. I am facing this error. could someone please help me with this? Thank you very much."
- [ ] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2021-01-04 04:09] ivirshup opened #1562 "matrixplot group order changes with pandas 1.2.0"
@fidelram

The test `test_matrixplot_obj` fails if `pandas>1.2.0` as the groups order changes. These groups are meant to be sorted with `plot.add_totals(sort='descending')`. All groups have the same value here, so my assumption is this is fine. I'm going to change the test for now, but it'd be good to hear back from you on whether this is a bug or not.

It would probably be good if we could ensure

[2021-01-04 05:01] ivirshup opened #1563 "Pre-commit (dev workflow)"
I'd like to start using [pre-commit](https://pre-commit.com) with scanpy and anndata. Pre-commit is essentially a tool that manages scripts we'd like to run before each commit, e.g. linting and formatting, so it becomes essentially impossible to forget these.

I think this can allow PRs to progress faster since it gives us a way to codify formatting requirements – so we don't have to remember them

[2021-01-04 09:17] wangjiawen2013 opened #1565 "split view"
Hi,
Cellranger supports split view according to smaples or clusters, they have the same x-axis range and y-axis range, then we can see the genes expression on split view. Does scanpy support this function ?
![split-view](https://user-images.githubusercontent.com/29703450/103519656-dfbf5100-4eb0-11eb-92a2-473fac842017.png)

[2021-01-04 11:00] Pawan291 opened #1566 "hello, I am trying to use normalisation part of scanpy and encounter this error. I tried to install Louvain but it is not helping. could anyone please help me. Thank you"
- [ ] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2021-01-04 12:23] LuckyMD commented on #1563
I like this idea a lot. I recently learned about automated linting and blacking of code per commit and have started using it for the single cell open problems project upon the suggestion of @scottgigante.

[2021-01-04 12:25] LuckyMD commented on #1566
Hi @Pawan291, It seems `louvain` has not been properly installed in your environment. Could you post the output of `scanpy.logging.print_versions()` as suggested in the template? You should just need to `pip install louvain`.

[2021-01-04 12:53] Dan-121 commented on #1486
sorry, i miss the point, How can we fix the problem, I met the same problem

[2021-01-04 13:02] Pawan291 commented on #1566
I installed again louvain with this command (although i already tried this command 3 times) and it work for me now. Thank you very much for the help.

[2021-01-04 13:03] #1566 closed, assigned to nobody

[2021-01-04 13:40] wicktir opened #1567 "Kernel dies - sc.pp.neighbors"
Hi there.

Everytime I run the code _sc.pp.neighbors_ the kernel dies. Unfortunately, there is no error message or error code. It just dies while computing neighbors.

Other scanpy codes like _sc.pp.filter_cells_ and _sc.pp.filter_genes_ work without a problem.

I'm using:

- windows 10 64-bit 24 gb ram
- python 3.8.5 in jupyter notebook
- numpy 1.19.4
- scanpy 1.6.0

Is there someone who would be

[2021-01-04 13:44] LuckyMD commented on #1560
Hi,
It looks like this code comes from the [single-cell-tutorial github](https://github.com/theislab/single-cell-tutorial). It might be best to report the issue there.

It looks like you haven't filtered out genes that are not expressed in your dataset via `sc.pp.filter_genes()`. If you filter the dataset (maybe with `min_cells` set to 5-50, depending on the size of your dataset), then this should

[2021-01-04 13:46] LuckyMD commented on #1566
Also, this code is from the single-cell-tutorial github. Thus, a better place to post an issue would be in that [github](https://github.com/theislab/single-cell-tutorial).

[2021-01-04 14:45] giovp commented on #1486
try updating scanpy

[2021-01-04 16:02] Dan-121 commented on #1486
Thank you,I will have a try&nbsp;

发自我的iPhone

------------------ Original ------------------
From: giovp <notifications@github.com&gt;
Date: Mon,Jan 4,2021 10:45 PM
To: theislab/scanpy <scanpy@noreply.github.com&gt;
Cc: Dan <735393152@qq.com&gt;, Comment <comment@noreply.github.com&gt;
Subject: Re: [theislab/scanpy] plotting data horizontal plots with shared axis (#1486)

try updating scanpy

—
Y

[2021-01-04 16:11] michalk8 commented on #1563
@ivirshup

I'd recommend these:
- `mypy` for type checking (I've caught a few bugs using it)
- `autoflake` to remove unused variables/imports (by default removes only imports from Python's standard library)
- `yesqa` to automatically remove unused `# noqa` for flake8
- `check-yaml` and `pretty-format-yaml` I also found useful
- `requirements-txt-fixer` to sort the reqs.
- `check-added-large-files`

[2021-01-04 16:14] Koncopd commented on #1563
I really don't want it to be mandatory. It is not a rational objection, i just prefer my code to be committed as i wrote it and then run some formatting scripts separately if needed.

[2021-01-05 02:49] ivirshup commented on #1563
@michalk8 thanks for the extensive recommendations!

I think I'd like to keep the number of tools used small. It's the worst when you want to fix a bug, but instead have to learn about configuring a linter. More tools means more configurations people need to be familiar with, and the goal is reducing cognitive load.

Yeah, I figured this would be the case. Does `mypy` allow partial typing these da

[2021-01-05 07:16] #1546 closed, assigned to nobody

[2021-01-05 08:38] Hrovatin opened #1568 "Embedding - set scatter colour when 'color' (by obs/var) is not used"
- [ x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

Add parameter for setting embedding/U

[2021-01-05 09:21] #1443 closed, assigned to nobody

[2021-01-05 10:11] ivirshup opened #1570 "Backport guide"
We'd like to be able to back port So that we can do actual bugfix releases. We can use some tooling (https://meeseeksbox.github.io) to make this easier. I need to document this process so that we can get back ports going as soon as we make the next release (turns out it get's harder to back port when the PR was merged a few months ago).

[2021-01-05 10:15] ivirshup commented on #1568
Soon, you can do:

[code]

<img width="752" alt="image" src="https://user-images.githubusercontent.com/8238804/103634345-0bb70100-4f9b-11eb-9557-44a94d8fc7cd.png">

Is this what you're looking for?

[2021-01-05 10:24] ivirshup commented on #1567
Does this cause the same issue?

[code]

And when you say "dies", is there a segfault message, or are you seeing a jupyter kernel failure message?

In general, this sounds like a numba issue. I'd recommend taking searching the `umap-learn` or `numba` repositories for similar issues.

[2021-01-05 10:25] LuckyMD commented on #1563
I think I misunderstood... I thought you were suggesting things like [autoblack](https://github.com/cclauss/autoblack) in github actions for commits.

[2021-01-05 11:01] wicktir commented on #1567
It causes exactly the same issue when I run:

[code]
There is no segfault message. The jupyter kernel failure message is:

_Kernel restarting. The kernel appears to have died. It will restart automatically._

[2021-01-05 14:21] bio-ruxandra-tesloianu opened #1572 "Cannot write my anndata object to file. Already checked the other errors"

[2021-01-05 14:36] #1572 closed, assigned to nobody

[2021-01-06 05:54] ivirshup commented on #1567
First, make sure your versions of numba and umap are up to date.

Then running this without jupyter, just in python. I think jupyter is likely hiding whatever error the python process is crashing with. E.g.:

[code]

If this fails, I think you should be opening an issue upstream with numba or umap (if you can figure out which one is at fault).

I've had this sort of thing happen a few times. Some

[2021-01-06 06:00] ivirshup commented on #1565
Thanks for the suggestion. I believe this has been suggested before in #955, and is on the todo list.

[2021-01-06 06:01] #1565 closed, assigned to nobody

[2021-01-06 10:31] LuckyMD commented on #1567
sometimes the jupyter console logs give you an idea of what is happening as well. I've had this happen when you run out of memory.

[2021-01-08 16:41] galicae opened #1573 "Cluster content plot for integrated data"
- [ ] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [x] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

I am integrating multiple datasets. In

[2021-01-09 13:00] vitkl opened #1574 "Adding cell2location to the list of scRNA->spatial integration methods"
Hi!

I am wondering if you could add https://github.com/BayraktarLab/cell2location to your list of scRNA->spatial integration methods (https://scanpy-tutorials.readthedocs.io/en/latest/spatial/integration-scanorama.html).

Thanks!

[2021-01-11 09:35] giovp commented on #1574
Hi @vitkl !
that's a great idea yes, should be kept updated with most recent methods.
Unfortuantely I don't have capacity now, do you mind opening an issue in https://github.com/theislab/scanpy-tutorials to keep as reminder? I will close this but of of course you could reference this in the tutorial repo.
Thank you!

[2021-01-11 09:36] #1574 closed, assigned to nobody

[2021-01-11 09:50] giovp commented on #1563
If I can jump on this, talking by personal experience, it would be a very very useful tool for contributors, especially young/inexperienced ones (like me!).

In squidpy @michalk8 put together a very comprehensive check list in pre-commits, and I'm appreciating it more and more as I get familiar with it.
yes, there is a lot of cognitive load at the beginning, and yes it can be very (very) painful,

[2021-01-11 12:01] flying-sheep commented on #1563
@Koncopd pre-commit doesn’t *have* to be configured, you can choose not to enable it. Of course tests will fail then.

regarding mypy: I guess it’s possible to make everything return `-> t.Any:  # TODO fix typing`

I like isort!

Also we should get #1527 in before doing any big restructuring: It’s been through too many rounds of delays and I had to resolve conflicts so many times.

[2021-01-11 13:47] flying-sheep opened #1576 "Diff coverage"
@ivirshup https://stackoverflow.com/a/57222267/247482

`azurepipelines-coverage.yml`
[code]

[2021-01-12 03:07] wangjiawen2013 opened #1578 "shared high variable genes"
Hi,
Is it necessary to use only high variable genes for the downstream analysis ?
If an examperiment includes many batches, then each batch will give a different set of high variable genes, how to determine the shared high variable genes (intersection or union) when integrating the batches ? Does scany have any fucntion to get the  shared genes ?

[2021-01-12 03:13] ivirshup commented on #1576
Looks like this is not available for python yet ([docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/test/codecoverage-for-pullrequests?view=azure-devops#prerequisites))

[2021-01-12 09:32] OnlyBelter opened #1579 "Error in `sc.tl.umap`"
- [ ] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2021-01-12 09:57] OnlyBelter commented on #1579
Since `umap-learn` updated to version `0.5.0` from `0.4.6`, the interface may have changed.

[2021-01-12 17:26] davidhbrann commented on #1578
The `batch-key`option in `scanpy.pp.highly_variable_genes` provides this functionality, and adds `highly_variable_intersection` to `adata.var`. For more information, see the documentation: https://scanpy.readthedocs.io/en/stable/api/scanpy.pp.highly_variable_genes.html#scanpy.pp.highly_variable_genes.

[2021-01-12 18:21] scottgigante commented on #1579
+1. Seems like pinning the version to <0.5 for now would solve the problem.

[2021-01-12 18:27] scottgigante commented on #1579
Looks like this was solved on master last month. Any chance we could get a bugfix release?

[2021-01-12 19:32] wflynny commented on #351
I've been using a rough python implementation of Chris McGinnis's MULTIseq demuxing code for all my multiplexed experiments.  This algorithm has been incorporated into Seurat as an alternative to their default `HTODemux` function.  This [recent preprint](https://www.biorxiv.org/content/10.1101/2020.11.16.384222v1) suggests it's one of the better algorithms for sample demultiplexing.  I recently pu

[2021-01-13 01:24] wangjiawen2013 commented on #1578
Please refer to this related issue:
https://github.com/10XGenomics/cellranger/issues/108#issuecomment-758455901
What about PCA in scanpy ?

[2021-01-13 06:50] ivirshup opened #1581 "Examples sections headings are wrong"
From the `rank_genes_groups_matrixplot` docs:

<img width="1117" alt="image" src="https://user-images.githubusercontent.com/8238804/104416321-b9439900-55c7-11eb-8690-f93312bef864.png">

The `Examples` heading is just showing up as text, should be styled.

[2021-01-13 09:40] #1534 closed, assigned to giovp

[2021-01-13 10:46] LuckyMD commented on #1578
You don't have to use HVGs for downstream analysis, but it is typically done for two reasons (at least):
1. Using fewer genes is computationally less expensive for downstream analysis.
2. The signal-to-noise ratio is better with highly variable genes than in the full gene set.

The second point is usually particularly important, as even if one single gene doesn't contribute as much to the PCA if i

[2021-01-13 10:46] #1578 closed, assigned to nobody

[2021-01-13 14:47] fidelram commented on #1573
I have several plotting functions that allow to compare any two categorical columns in `.obs` to achieve similar output but never found the time to integrate them into scanpy. Is really quite some effort to add proper tests, documentation and code standards. I will be happy to share the code if other people is willing to help.

One problem with the stacked bar plot is that with lot of samples it i

[2021-01-13 15:09] fidelram commented on #351
If your implementation already uses scanpy, the best is to keep it in your repository and we can link to it from scanpy (see https://scanpy.readthedocs.io/en/stable/ecosystem.html).

I did some work on HTOs in the past and for me what worked best was to fit a gaussian mixture but I had not followed the new methods. Something that helped was to visualize the results as follows (each row a different

[2021-01-13 16:12] wflynny commented on #351
@fidelram Sounds good---I'll update the code and then open a PR to get it added to the ecosystem docs.

In my experience with HTOs (and now LMOs & CMOs), GMMs and even poisson/negative binomial mixture models don't work particularly well for all experiments as they tend to only call 50-70% of cells as singlets/multiplets.  The remaining "negatives" or uncalled cells can really hamper some experime

[2021-01-13 16:17] fidelram commented on #1562
If I understand correctly, pandas > 1.2.0 `plot.add_totals(sort='descending')` returns a different sorting compared to previous version. However, most of the categories have the same number of cells and thus a different sorting is equally valid.

![image](https://user-images.githubusercontent.com/4964309/104478840-0a9d5980-55c3-11eb-94b0-b0e2092c55c3.png)

My suggestion is to use other dataset in

[2021-01-13 16:45] njbernstein commented on #351
@wflynny `hashsolo` allows you to set a prior for your expected rate negatives, singlets, and doublets, which helps quite a bit with the issue you described despite modeling the log CMO counts as a normal distribution. Additionally, you can also add cell types if you've done cell-type annotation or even leiden clustering labels to help with cell type variability with CMO counts.  This helped me qu

[2021-01-13 17:04] wflynny commented on #351
@njbernstein Probably not the right place for this discussion, but a couple of follow-up questions for you:
- Do you happen to have a benchmark of `hashsolo` vs the other demuxing algos?  It's been on my todo list for ..a while.. but still haven't gotten around to doing it.  I've seen the benchmarks of the doublet finding capabilities of `solo` and they look good.  As a user of scrublet, it'd be n

[2021-01-13 17:20] njbernstein commented on #351
In supplementary figure 9 of our paper, I did a light comparison of tools using the demuxlet data as ground truth: https://www.cell.com/cms/10.1016/j.cels.2020.05.010/attachment/040c239d-1e70-42a4-8974-9fbd75c65551/mmc1.pdf
Which I think is a fine first stab at getting at this comparison, but it could be better. Hashsolo performance was comparable with other methods but is able to recover cell typ

[2021-01-13 17:22] njbernstein commented on #351
@wflynny  on my to-do list is to add solo to scVI directly and then scanpy will be a nice play to do both types of doublet finding.

[2021-01-14 05:40] ivirshup opened #1585 "Add build and `twine check` CI task"
`twine check` is not great at telling you why it's failing. It would be easier to figure out what caused the break if we were continuously checking for this.

Inspired by finding out that `authors` can't have new lines, via an error that says `long_description` can't have section headings (which definitely isn't true).

[2021-01-14 07:49] #1562 closed, assigned to nobody

[2021-01-14 08:24] ivirshup commented on #1579
So we've just put out a release of 1.7.0rc1, and will be releasing it proper soon.
I'm looking at making a 1.6.1 release where the only change is pinning umap, but there are some CI issues (largely tests failing due to Matplotlib outputs changing slightly).

[2021-01-14 09:56] elo073 commented on #891
On similar issue: is there a way to plot the cells in random order? So that no specific group would be on top, but randomly mixed.

[2021-01-14 10:09] ndrsfel commented on #1579
Thank you for the release update! I just had to
`pip install git+https://github.com/theislab/scanpy.git@1.7.0rc1`

[2021-01-14 10:53] Zethson commented on #1585
Currently being added to sfaira:
https://github.com/theislab/sfaira/pull/72/files#diff-de563ce0a02335898f4a4e1bca2fc074614122bfce30b980d7065142806e4defR38

Feel free to just copy the code.

[2021-01-14 11:09] ivirshup commented on #1579
I've just pushed 1.6.1 (pinning umap), but you can get the release candidate for 1.7.0 with `pip install "scanpy==1.7.0rc1"`

[2021-01-14 11:09] #1579 closed, assigned to nobody

[2021-01-14 11:14] ivirshup commented on #891
You can pass `sort_order=False`, but then it should just be the order in AnnData object.

[2021-01-14 11:26] LuckyMD opened #1588 "Default plotting order for cluster annotations"
- [x] Additional function parameters / changed functionality / changed defaults?

As this has come up several times (in my own work and in issue reports such as #891), I was wondering if it might be a good idea to have `sort_order=False` (or even better to use random ordering) as default for plotting any clustering result. That would require `sc.tl.louvain()` and `sc.tl.leiden()` to store a flag i

[2021-01-14 11:48] ivirshup commented on #1588
I thought we didn't sort for categorical plots? Other than when there are "null" values, then `sort_order=True` puts non-null values on top, which `sort_order=False` disables.

https://github.com/theislab/scanpy/blob/1878644614ecba4b265241e68b07cc32ac13db4d/scanpy/plotting/_tools/scatterplots.py#L255-L262

Do you have examples of this not being the case?

I have been thinking about what we should

[2021-01-14 11:49] elo073 commented on #891
Thank you, that could be helpful. Then I'd have to shuffle the order of the cells in the AnnData object first. Is there any easy way to do this?

[2021-01-14 13:02] ivirshup commented on #891
I can think of a couple ways:

[code]

[2021-01-14 13:08] elo073 commented on #891
Thank you! This works
[code]

[2021-01-14 14:58] LuckyMD commented on #1588
Hmm, you're right. I think it must have been the that the ordering of cells in the `adata` object was also non-random. We had this quite a bit in the benchmarking data integration project while plotting batch. In several methods (e.g., scanorama), individual batch anndata objects are concatenated to generate the final output, which results in batch-ordered anndata objects.

Maybe instead of just h

[2021-01-15 03:36] ivirshup commented on #1588
I was thinking it could make sense to have a `sort_order="random"` option, but then do we also need to start handling seeds?

Overall, I'm not sure random ordering is really a solution for overplotting. Smaller points, a faceted plot, or figuring out where there are overlapping groups seem like much more principled solutions.

[2021-01-15 03:59] ivirshup commented on #1588
Ha, I was looking through some notebooks about this and realized we have discussed this problem before: https://github.com/theislab/scanpy/issues/1263 😆.

Let's consolidate this to that issue

[2021-01-15 03:59] #1588 closed, assigned to nobody

[2021-01-15 05:36] ivirshup commented on #1263
As an additional example, I was thinking about using [zebra-stripes (like a camera)](https://en.wikipedia.org/wiki/Zebra_patterning) for showing when information was hidden. Not sure if it's quite there yet, but its something:

<img width="1318" alt="image" src="https://user-images.githubusercontent.com/8238804/104683802-c2f60980-574b-11eb-9a96-8d65e853739d.png">

<details>
<summary> Code </summar

[2021-01-15 15:03] parashardhapola opened #1590 "Bug when running PCA in chunked mode"
- [x] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

[code]

[code]

I believe the error is due overwriting of `start` variable.
 It is declared in [line 116](https://github.com/theislab/scanpy/blob/master/scanpy/preprocessin

[2021-01-15 18:03] fidelram commented on #1263
We should make dynamic 3D plots ;-)

If I remember correctly, in the past we have the issue that the categorical colors were given by the adata.obs order and we change them such that they follow the order of the categories. Yet, I agree that a good mix of categorical colors is good sometimes. To address this issue I think that we can simply randomize the order if `sort_order=False` to avoid adding

[2021-01-16 17:08] LuckyMD commented on #1263
I would argue that this would be fair. In the end it's about showing which cells are represented per pixel/pixel bin. And rare cell types shouldn't be up-weighted in that in an unbiased representation (if there is such a thing).

In general I do like the idea of density being linked to transparency though. We could do a quick fix based on random order for now though, and then look into transparenc

[2021-01-16 20:40] michalk8 opened #1591 "Heatmap inconsistent order/swap_axes"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2021-01-17 07:09] ivirshup commented on #1263
I've been trying to be organized about keeping notebooks around for this ([here](https://github.com/ivirshup/notebooks/tree/master/plotting)). Of course, I rarely get the notebooks clean enough to push 😆.

Is it fair if coloring by batch and one dataset had fewer samples? Wouldn't you want to know that multiple batches were showing up in this region? I'm fairly convinced there is no good way to sh

[2021-01-17 07:21] ivirshup commented on #1591
Ping @fidelram

[2021-01-17 07:54] ivirshup commented on #1590
Thanks for the report! Should be fixed by #1592

[2021-01-17 08:34] #1590 closed, assigned to nobody

[2021-01-17 09:59] #1570 closed, assigned to ivirshup

[2021-01-18 02:22] ivirshup commented on #1366
Just as an updated thought on this, I don't think using the connectivity graph is the most straightforward way to approach this. We don't really care about closeness of points on the manifold, we care about closeness of the points on the plot.

I think you'd want to constrain color assignment by points on the plot. This has the side benefit of being more widely applicable, since it doesn't require

[2021-01-18 02:57] atarashansky commented on #1366
You could generate a connectivity graph from the UMAP projection using the euclidean distance metric and then do the graph coloring.

[2021-01-18 11:13] Pawan291 commented on #1560
Thanks for help.

[2021-01-18 11:13] #1560 closed, assigned to nobody

[2021-01-18 16:57] djwight commented on #990
Thanks, this also worked for me!

[2021-01-19 10:57] fidelram commented on #1263
@ivirshup I like your notebooks for a cookbook. Does it need to be super organized to add it to the readthedocs page?

Regarding the options, I like the `sort_order='random'`.

The `order_array` option would be equivalent to `sc.pl.embedding(adata[adata.obs.sample(frac=1).index], ...)` for `random` or any other sorting from of the adata object. The point is that user defined sorting is already cov

[2021-01-19 11:19] fidelram commented on #1591
Thanks for the nice report submission.

The code error is caused by the categories being integers when the code expect an 'str'. This is an easy fix.

The mapping of labels to color being different when colors are not in `adata.uns` is because the mapping is not saved (Fig 2 and 3). It is also an easy fix but requires the modification of `adata.uns` to save the colors. This is already done in `sc.

[2021-01-19 11:26] ivirshup commented on #1591
This seems reasonable since we already do it. Can you make sure to use the same `_get_palette` function for this? Maybe that should be moved out of `scatterplots.py` to somewhere more general?

We should probably have some logic for not saving the colors if the object is a view. Would have to think about this.

[2021-01-19 11:44] Pawan291 opened #1599 "KeyError in score_genes_cell_cycle"
- [ ] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2021-01-19 11:49] LuckyMD commented on #1599
Hi @Pawan291,
It looks like your `adata.var_names` do not contain the cell cycle genes you are testing for.  Is your dataset human or mouse?

Could you just print `adata.var_names[:10]`?

[2021-01-19 14:15] Pawan291 commented on #1599
Hi@Lucky MD,
the data sets are from mouse. Here is the output of the command adata.var_names[:10]
Index(['XKR4', 'GM37180', 'GM37363', 'GM37686', 'GM37329', 'GM38148',
       'GM19938', 'SOX17', 'GM37587', 'GM22307'],
      dtype='object')

[2021-01-19 14:36] LuckyMD commented on #1599
So the format seems to be correct. Do you have the genes that are apparently missing in your object? You can check this for all the values that are mentioned in the `KeyError` output at the bottom of your error report.

For example, is this statement `True`?
`'USP1' in [str(i) for i in adata.var_names]`

If not, your `adata` object might just be missing the cell cycle genes you are looking for. Ho

[2021-01-19 15:22] Pawan291 commented on #1599
I checked the most of the genes and it seems like datasets has these genes. In total the object has around 27000 genes.

[2021-01-19 16:54] LuckyMD commented on #1599
Could it be that you have something stored in `adata.raw` where these genes are not present? Maybe try setting `use_raw=False`.

[2021-01-19 17:31] Zethson commented on #1585
@ivirshup I've assigned myself and will do it this week.

[2021-01-19 19:11] atarashansky commented on #1366
Here’s one potential solution. Not sure if it works as intended or not. The `graph_coloring` function returns a numpy array of normalized RGB values for each cell in `adata`. Sorry for the ugly list comprehensions at the end — I can clean it up if this is a solution that is worth pursuing.

1) generate a nearest neighbor graph from the UMAP coordinates using the euclidean distance metric
2) coarse

[2021-01-19 21:35] brianpenghe commented on #1366
wow. I was thinking...maybe the PAGA graph can be used as the simplified graph for color assignment. But will try your solution here!

[2021-01-20 03:28] ivirshup commented on #1585
That'd be great, thanks!

I was thinking it could replace this step in the test builds:

https://github.com/theislab/scanpy/blob/5fc12f4a918e21f0c57937b787d52040db046f01/.azure-pipelines.yml#L78-L81

And was thinking of using azure for it instead of actions, just to consolidate CI stuff a bit. I was thinking a build and check could just be a separate job? Open to suggestions on this however.

[2021-01-20 05:22] ivirshup commented on #1366
@atarashansky, that's great! I've built on this a bit, with some points about graph construction

* The problems isn't really nearest K neighbors, it's radius neighbors
* Embedding position is relevant, but I think position in pixel space is more important in this case. You could imagine one dimension of your embedding plot having a range of (0, 100) while the other has (0, 1), but displayed on a

[2021-01-20 06:22] ivirshup commented on #1509
@gokceneraslan, have you tried `densmap`? I'm curious to hear someone's thoughts on it.

I'm also wondering if adding it as a feature would be more complicated than adding a few pass-thru parameters to `sc.tl.umap`.

[2021-01-20 08:26] Zethson commented on #1585
Yeah, guess eventually we should settle on one CI service. Effectively we should get rid of Travis, since they have serious problems.

Well you have to build the wheels to run the check anyways. But I did not have a look at the azure setup yet, so will see what I can come up with :)

[2021-01-20 09:22] ivirshup commented on #1585
Oh, what I meant is that we sorta do a check in the same job as running the tests. I was thinking this should be separated out into a job which does "build and check" together, rather than including it in the testing job.

[2021-01-20 10:37] Pawan291 commented on #1599
Thank you very much it works. now I am able to calculate cell cycle score and regress out these genes from my datasets :)

[2021-01-20 10:37] #1599 closed, assigned to nobody

[2021-01-20 11:53] Zethson commented on #1585
Ahh, I see. Yeah, fine with me.

[2021-01-21 06:02] ivirshup commented on #1568
@Hrovatin, I think this has been addressed. Let me know if I should reopen this

[2021-01-21 06:02] #1568 closed, assigned to nobody

[2021-01-21 09:13] wangjiawen2013 commented on #1578
Feature selection refers to excluding uninformative genes such as those which exhibit no meaningful biological variation across samples. Since scRNA-Seq experiments usually examine cells within a single tissue, only a small fraction of genes are expected to be informative since many genes are biologically variable only across different tissues (adopted from https://genomebiology.biomedcentral.com/

[2021-01-21 18:30] LuckyMD commented on #1578
Yes, this makes a lot of sense. This is also what we found in our review of data integration methods and pre-processing decisions [here](https://www.biorxiv.org/content/10.1101/2020.05.22.111161v2).

I'm not sure I agree with "only a small fraction of genes are expected to be informative though". There is definitely a variable signal-to-noise ratio though.

[2021-01-21 23:20] detrout commented on #1397
Hi I had this problem as well with 1.6.0 it was triggered by scanpy's test code.

[code]

I ended up with this patch to get the tests to run successfully.
[code]

[2021-01-22 06:55] fidelram opened #1604 "Show example plots as part of documentation"
In seaborn, the docstring example plots are shown as part of the documentation. Would be great to have this as part of scanpy as this will motivate the creation of more examples as part of the docstring while keeping them up-to-date.

See for example: https://seaborn.pydata.org/generated/seaborn.catplot.html
![image](https://user-images.githubusercontent.com/4964309/105457501-3a192980-5c87-11eb-8a

[2021-01-22 12:26] giovp commented on #1604
@fidelram that's a really great point and something I'd like to discuss at next meeting (already put it in the agenda).

Another great example of such examples 😅 is the way @michalk8 set it up for [cellrank](https://cellrank.readthedocs.io/en/latest/auto_examples/index.html) and squidpy [not yet public].
The even nicer thing is that @michalk8 implemented a CI pipeline for the tutorials/examples pa

[2021-01-22 20:11] YubinXie opened #1605 "PC2 has more variance than PC1 from scanpy.pp.pca"
- [x ] I have checked that this issue has not already been reported.
- [x ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

Hey, I noticed that after scanpy.pp.pca, I got a result with PC2 variance ratio larger than PC1. What could possibly be the reason for this?

![image (10)](https://user-i

[2021-01-22 21:24] #1458 closed, assigned to nobody

[2021-01-24 02:34] ivirshup commented on #1604
I would love to have this! I've been talking about this with @falexwolf and a bit with @flying-sheep.

Seaborn uses a sphinx extension from `matplotlib` to generate the plots ([plot directive](https://matplotlib.org/3.1.3/devel/plot_directive.html)).

I would definitely like to get tutorials running on CI as well, but think this is a little separate (some previous discussion: #302).

1. Tutorials

[2021-01-24 03:29] #59 closed, assigned to nobody

[2021-01-24 03:45] ivirshup commented on #117
Was fixed by bcbc3d00e38f7f06c44c8e793fac8b2ce32e17a0

[2021-01-24 03:45] #117 closed, assigned to nobody

[2021-01-24 03:46] #122 closed, assigned to nobody

[2021-01-24 03:46] #127 closed, assigned to nobody

[2021-01-24 03:48] ivirshup commented on #163
Fixed in #857

[2021-01-24 03:48] #163 closed, assigned to nobody

[2021-01-24 03:50] #167 closed, assigned to nobody

[2021-01-24 03:51] #137 closed, assigned to nobody

[2021-01-24 03:53] #331 closed, assigned to nobody

[2021-01-24 03:56] #476 closed, assigned to nobody

[2021-01-24 04:01] ivirshup commented on #1605
Can you provide an example where this occurs? I'm having trouble replicating this.

[2021-01-24 04:02] YubinXie commented on #1605
Hi @ivirshup , I figured out that it seems the function that I used from other packages which called scanpy set the zero-centered as False!

[2021-01-24 04:02] #1605 closed, assigned to nobody

[2021-01-24 04:05] ivirshup commented on #521
If the issue is continuous color maps, that can be specified with the `cmap` parameter.

[2021-01-24 04:05] #521 closed, assigned to nobody

[2021-01-24 04:06] #517 closed, assigned to nobody

[2021-01-24 04:14] ivirshup commented on #1605
Ah, thanks for the update!

[2021-01-24 04:17] #537 closed, assigned to nobody

[2021-01-24 09:35] #232 closed, assigned to nobody

[2021-01-24 09:36] #254 closed, assigned to nobody

[2021-01-24 09:37] #263 closed, assigned to nobody

[2021-01-24 09:45] ivirshup commented on #264
Still occurring, though it's a really weird case. Here's some code to reproduce:

[code]

[code]

Though I do get the same behaviour with `svd_solver="randomized"`

[2021-01-24 09:46] #279 closed, assigned to nobody

[2021-01-24 09:49] #320 closed, assigned to nobody

[2021-01-24 09:49] #396 closed, assigned to nobody

[2021-01-24 09:54] ivirshup commented on #465
I feel like the behavior around this has since (a) changed a lot (especially defaults), and (b) now does the expected thing when you want to color by cluster. Closing.

[2021-01-24 09:54] #465 closed, assigned to nobody

[2021-01-24 09:58] ivirshup commented on #492
This would be very easy to implement with: `sc.get.obs_df(adata, keys)`.

That would not solve the problem of (I believe) constant genes giving errors.

[2021-01-24 10:00] ivirshup commented on #440
I believe this should be working as of now (see #263 and #777)

[2021-01-24 10:00] #440 closed, assigned to nobody

[2021-01-24 10:01] #509 closed, assigned to nobody

[2021-01-24 10:11] ivirshup commented on #589
This was a bug in anndata, which should be fixed now. Sorry about the late response!

[2021-01-24 10:11] #589 closed, assigned to nobody

[2021-01-24 10:19] #159 closed, assigned to nobody

[2021-01-24 10:27] ivirshup commented on #422
This seems to be working now. As these seem equivalent enough:

[code]

Not sure if this ever got a test case though.

[2021-01-24 10:27] #422 closed, assigned to nobody

[2021-01-24 10:32] ivirshup commented on #481
Due to matplotlib deprecation from here: https://github.com/matplotlib/matplotlib/pull/9698 (have we just been missing deprecation warnings for this?)

[2021-01-24 10:34] #470 closed, assigned to nobody

[2021-01-24 10:38] #252 closed, assigned to nobody

[2021-01-24 10:41] #580 closed, assigned to nobody

[2021-01-24 10:45] ivirshup commented on #634
Closing as this seems specific to velocyto

[2021-01-24 10:45] #634 closed, assigned to nobody

[2021-01-24 19:25] transcriptomics opened #1606 "Combat works for some covariates yet fails for others"
- [ x] I have checked that this issue has not already been reported.
- [ x] I have confirmed this bug exists on the latest version of scanpy.
- [ x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repr

[2021-01-25 00:39] #96 closed, assigned to nobody

[2021-01-25 01:00] #463 closed, assigned to nobody

[2021-01-25 01:14] ivirshup commented on #1606
It's a hard to be sure without a reproducible example (e.g., we'd need to be able to make an `AnnData` object that could trigger this issue), but I suspect some categories in your batch and covariates are completely confounded. Here's an example that would also trigger this:

[code]

<details>
<summary> Full traceback </summary>

[code]

</details>

Does this occur in your data? You can check with

[2021-01-25 01:46] ivirshup commented on #674
I'm pretty sure this has been fixed. I believe the issue was that some groups would have zero expression for a particular gene which would trigger a warning when calculating within group variance. Please let us know if this hasn't been resolved.

[2021-01-25 01:46] #674 closed, assigned to nobody

[2021-01-25 01:49] #1585 closed, assigned to Zethson

[2021-01-25 02:26] transcriptomics commented on #1606
Thank you so much for the reply.
Error posted above is happening in two independent datasets possibly due to confounding factors as you mentioned. Though I don't quite comprehend what is a confounding factor in my specific case.

Here is the output of the batches and covariates as requested.

[code]

[code]

[code]

[code]

[2021-01-25 03:39] ivirshup commented on #1606
I believe the issue is that there are no plates which contain "Old"/ "Fetal" samples and any other kind. So these categories are completely confounded with plate.

[2021-01-25 11:08] LuckyMD commented on #1606
Hi @transcriptomics,
If you want to learn a little more about confounding, there's a pretty nice recent guide to setting up design matrices for differential expression testing [here](https://f1000research.com/articles/9-1444/v1). This is a very related issue as ComBat essentially fits the statistical model that you specify with your parameters in a similar manner than you would with a DE model. In

[2021-01-25 11:44] transcriptomics commented on #1606
Thanks so much for explanations.
This would mean that this is not a bug as I had thought rather a design issue. For this to work one would need somewhat non-overlapping distribution of batch key and covariates. Does not seem there are easy workarounds in this case!

[2021-01-25 12:25] LuckyMD commented on #1606
Actually, you need a very overlapping distribution of all covariates you want to fit. So that every covariate is represented in every batch ideally. There is indeed no workaround. It's an experimental design issue that now dictates what you can correct for an what you cannot.

[2021-01-25 12:25] #1606 closed, assigned to nobody

[2021-01-25 12:32] balthasar0810 commented on #1439
I am still having this issue. How can this be solved for non-hackers?

[2021-01-26 19:42] anbjork commented on #1599
Had same problem. It seems it tries to look for all gene names present in the anndata object,
rather than the cell cycle genes that are requested?

I have previously checked that the s_genes and g2m_genes in call
sc.tl.score_genes_cell_cycle(gdata, s_genes=s_found, g2m_genes=g2m_found)
are in the data.

use_raw=False
makes it run without error.

Error message below. Note that printout of gene name

[2021-01-26 22:00] liliblu commented on #1406
I am having this same problem. I updated:
anndata     0.7.5
scanpy      1.6.0

It did not fix the problem for me.

I can try with the pbmc data set, what should I use for the groupby?

[2021-01-27 04:13] ivirshup commented on #1406
@liliblu `"louvain"` would work.

@kleurless, sorry for such a late reponse to this! If you are still having this problem, does your `adata_2` have `.raw` set? `adata.raw.var_names` ca be different than `adata.var_names`, but is is used by default for plotting when available. Does your second call work with `sc.pl.dotplot(adata_2, adata_2.var_names[0:4], groupby='celltype', color_map = 'Reds', use

[2021-01-27 04:16] ivirshup commented on #405
Fixed by a later PR: https://github.com/theislab/scanpy/pull/525#issuecomment-767651929

[2021-01-27 04:16] #405 closed, assigned to nobody

[2021-01-27 10:49] #1591 closed, assigned to fidelram

[2021-01-27 11:19] ilcink commented on #490
Hey!
This
[code]

was very helpful, thanks for posting, @GMaciag !

Is there a similar way to split the dataset into gene1/gene2+ and gene1/gene2- cells, so that both of the categories are within 'CoEx' and you could compare them to each other just like leiden clusters for example?

[2021-01-27 11:25] wangjiawen2013 opened #1611 "mutiple heatmap annotation"
Hi,
Does scanpy support mutliple heatmap annotation now, just like this following heatmap, where "cyl" can be tissue source, "mpg" can be age and "am" can be time point, and so on
![006-heatmap-heatmap-annotation-1](https://user-images.githubusercontent.com/29703450/105984627-60025c00-60d5-11eb-8d07-c9e446d4bd62.png)

[2021-01-27 13:23] GMaciag commented on #490
Hi @natalkon

If you mean to plot them as categories instead of a continuous scale, then the solution is to turn the values into `pd.Categorical` like LuckyMD mentioned.

[code]

Like I mentioned before, one problem is that the `True` (coexpressing) cells are not always plotted on top when plotting both categories with umap. A better way of visualising is to make use of the `groups` parameter:
[co

[2021-01-27 16:38] dweemx opened #1612 "Reproducibility with normalize_total"
Hi,

We have encountered a bug regarding the reproducibility of the `normalize_total` in the latest version of `scanpy==1.6.11`. We also found this bug with `scanpy==1.4.4.post1`. This bug appears with an in-house dataset (containing 10x data and SMART-seq2 scaled data) and interestingly does not appear with the internal scanpy 10x 3k PBMC dataset.

### Minimal code sample

[code]
Output:
[code]

[2021-01-27 21:18] yuanx749 opened #1613 "Report pynndescent version in sc.logging.print_header"
Hi,

Thank you for the great tool. I think this is not a bug.

Recently I upgraded some packages and found my results were different from the previous runs. I figured out that it is caused by different versions of `pynndescent` (0.4.7 vs 0.5.1), which is recommended to use in UMAP. So I think `pynndescent` should be included in the output of `sc.logging.print_header()`.

#### Versions

<details>

[2021-01-27 23:54] ivirshup commented on #1613
I would definitely recommend using the `sc.logging.print_versions` function for a more complete listing of dependencies, which does include `pynndescent`. That said, I'm not against adding it to the more compact version.

[2021-01-27 23:58] ivirshup commented on #1612
Do your input objects have different `dtype` values in `X`? I suspect that is what's causing this.

If so, are the results very different? I would expect normalizing 64 bit vs 32 bit values to not be exactly the same (which is what `np.array_equal` is testing), but it's not good if the function is returning very different values. You can check this with `np.all_close`/ `np.isclose` or by looking a

[2021-01-28 00:50] ivirshup commented on #1611
This would definitely be useful. @fidelram, you were thinking of including more `seaborn` heat map features like this, right?

[2021-01-28 08:44] dweemx commented on #1612
Hi @ivirshup,

The in-house dataset is build from 2 `AnnData` objects, both have sparse matrix of type `'<class 'numpy.float32'>'` in the `X` slot.
I just ran (after the normalisation step):
[code]
which gives me:
[code]
As a lambda user, I would still find it confusing to have different (altough very similar) results (e.g.: embeddings) for 2 identical runs

[2021-01-28 17:41] fidelram commented on #1611
Indeed something like this would be nice. Do we have an example using `seaborn` ?

[2021-01-29 00:59] wangjiawen2013 commented on #1611
here are some examples, may they help
https://stackoverflow.com/questions/27988846/how-to-express-classes-on-the-axis-of-a-heatmap-in-seaborn
https://stackoverflow.com/questions/60177861/plotting-annotated-heatmaps-clustermaps-with-multiple-legends-in-seaborn
https://stackoverflow.com/questions/61816216/seaborn-clustermap-with-two-row-colors

[2021-01-29 06:47] fidelram commented on #1604
I tried the sphinx extension but could not get any result. Can somebody take over this?

[2021-01-30 04:27] ivirshup commented on #1611
The `clustermap` ([docs](https://seaborn.pydata.org/generated/seaborn.clustermap.html)) function does this. It doesn't do legends though, so that's something we would need to add ourselves.

[2021-01-30 07:41] fidelram commented on #1458
I don't quite understand what you want to do, but an easy solution is to invert the the ylim or xlim of the plot.

For example:

[code]

<img width="493" alt="image" src="https://user-images.githubusercontent.com/4964309/106350619-c904f200-62d6-11eb-912d-5744fc01c537.png">

[2021-01-31 17:38] brianpenghe commented on #1366
I tried your codes. It nicely separated neighbor clusters. However, it seemed that some colors have been used multiple times while other colors were less favored.
Is that true?
![image](https://user-images.githubusercontent.com/4110443/106396307-f947b000-63fe-11eb-92ba-eef16c69aa7c.png)

[2021-02-01 08:34] ivirshup commented on #1366
Yeah, looking at the code, the color used will just be the first item in the color list that hasn't been assigned to a neighbor yet. Maybe you could replace color selection to pick from a queue prioritizing less used colors? This would be less likely to converge to a minimal number of colors though. Might need to consider a different algorithm for this property.

<details>
<summary> Example </summ

[2021-02-02 02:29] ivirshup commented on #1612
If both inputs had equal data of the same dtype, then they should definitely be the same after normalization. Would you be able to share the data (or at least some reproducing subset) so this can be investigated further?

[2021-02-02 03:11] ivirshup commented on #1509
Closed by #1601 and #1589

[2021-02-02 03:11] #1509 closed, assigned to nobody

[2021-02-02 03:12] ivirshup opened #1619 "densmap"
This seems related to the new Densmap feature https://umap-learn.readthedocs.io/en/latest/densmap_demo.html (see https://www.biorxiv.org/content/10.1101/2020.05.12.077776v1)

Would be cool to support it in scanpy.

_Originally posted by @gokceneraslan in https://github.com/theislab/scanpy/issues/1509#issuecomment-748156450_

[2021-02-02 09:12] wangjiawen2013 commented on #1611
Legends can be added now.
 sns.palplot(palette)
https://www.chrisremmel.com/post/seaborn-color-labels/

[2021-02-02 21:57] brianpenghe commented on #1366
OK I'll prepare an object.

[2021-02-03 11:23] Zethson opened #1625 "gene ranking produces completely wrong results on the most recent tool/library combinations on specific dataset"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---
# Introduction

Hi,

so this is a weird one and I could not track it down yet.
The Schillerlab people have a workstation known as "agando". On this workstation the full envi

[2021-02-03 11:26] LuckyMD commented on #1625
This might just be the case as the scanpy versions are different. I fixed `marker_genes_overlap` at some point, and that should be in 1.7.0 but not in any released version before that. To get the same results just add the `top_n_marker=100` (if that was the name of the parameter). This was caused by rank_genes_groups being updated to output not just the top 100 genes by default anymore.

[2021-02-03 11:28] Zethson commented on #1625
@LuckyMD I checked the commits. Between the Scanpy version on agando and the latest release the `marker_genes_overlap` was not changed. But maybe I am blind.
I'll go for the empirical route and try it out. Will report back!

[2021-02-03 11:39] Zethson commented on #1625
@LuckyMD That was it!

:zap: speed response and to the point :)
Thank you!

[2021-02-03 11:39] #1625 closed, assigned to nobody

[2021-02-03 12:10] LuckyMD commented on #1625
Glad I could help :)

[2021-02-03 16:47] thebyronlee opened #1626 "What is the random number generator used by scanpy?"
Hi,

I am specifically trying to test something with random_state in sc.tl.umap, and would like to get more info on what random number generator is used. The docs there say that np.random is used if random_state=None, but does not explicitly comment on what the random number generator is otherwise. Could you please help clarify this?

Thank you!
Byron

...

[2021-02-04 06:22] ivirshup opened #1627 "Remove `scanpy.api`"
Finally get around to deleting `scanpy.api`. It's occasionally causing issues, makes docs more complicated and has been deprecated for a while.

[2021-02-04 07:18] ivirshup commented on #1626
We are currently using `sklearn.utils.check_random_state` to validate the argument for `random_state` in most places. Sometime's (especially in external) we pass the argument directly to the wrapped tool.

In sklearn `0.24.1`, this looks like `np.random.RandomState` if you pass an integer.

[2021-02-08 04:12] ivirshup commented on #617
This has addressed by the addition of the `embedding` function.

[2021-02-08 04:12] #617 closed, assigned to flying-sheep

[2021-02-08 09:20] Elhl93 opened #1629 "Interpretation and improving the sc.tl.score_genes functionality"
- [ ] New analysis tool: Calculate enrichment of a pathway across Conditions
- [ ] New plotting function: Distribution of gene-set score across Conditions.

Hi,

I really like your implementation of sc.tl.score_genes, which enables to extract biological information based on prior knowledge or to follow-up on genes in the DEgene analysis.

I ran the function with different gene sets on my dataset.

[2021-02-08 19:03] alitinet opened #1630 "Question about vst in highly_variable_genes"
Hi,

When running `highly_variable_genes `with `flavor='seurat_v3'`, the method expects raw counts. But in Seurat tutorials e.g. [here](https://satijalab.org/seurat/archive/v3.0/pbmc3k_tutorial.html) or in [Symphony](https://github.com/immunogenomics/symphony) in their code [here](https://github.com/immunogenomics/symphony/blob/main/R/buildReference.R), they run the method on normalized counts. Co

[2021-02-08 20:35] brianpenghe commented on #1366
Here's a toy example. The embedding and category are both there.
Thanks
[colortest.h5ad.zip](https://github.com/theislab/scanpy/files/5946672/colortest.h5ad.zip)

[2021-02-08 22:34] mbernste opened #1631 "Adding CellO to Scanpy"
Hi,

I am hoping to open a pull request soon to add [CellO](https://www.cell.com/iscience/fulltext/S2589-0042(20)31110-X), a cell type classification tool, to Scanpy's external API. I notice that there currently are no cell type classification tools available in Scanpy's external API.

I am wondering if there is an explicit reason no cell type classifiers have been added to date?  For example, I n

[2021-02-09 00:28] LuckyMD commented on #1630
@adamgayoso did you implement the vst method for HVG selection?

[2021-02-09 01:27] adamgayoso commented on #1630
Yes, looking at the source code, the `"vst"` method uses the counts slot.

https://github.com/satijalab/seurat/blob/69dbc46c82c5aaa5c2fd275a5d7bf28c04351c6a/R/preprocessing.R#L1817-L1825

In the unit tests, we test directly against the output of the Seurat method. The only known difference is how HVGs are aggregated across batches. I could not reproduce their results, as some of the R code was unc

[2021-02-09 06:20] ivirshup commented on #1631
Hi Matt,

No particular reason. We'd definitely like to have tools for this in our ecosystem!

[2021-02-09 06:43] mbernste commented on #1631
That's great, thank you for your response!

[2021-02-09 06:43] #1631 closed, assigned to nobody

[2021-02-09 10:28] alitinet commented on #1630
Thanks @adamgayoso, it's clear now.

[2021-02-09 10:28] #1630 closed, assigned to nobody

[2021-02-09 12:04] fidelram opened #1633 "DotPlot `.style()` resets previous value assignments"
Multiple calls to `sc.pl.Dotplot.style()` cause resetting of parameters. This issue can be observed as a change in the default colormap shown by #1632  Other methods that set default parameters are also affected like `.add_totals()`.

The following example should show the dots using the `Reds` colormap, but instead it uses the `winter` colormap because the second call sets the color map to `winter

[2021-02-09 13:32] fidelram opened #1634 "sc.get.obs_df() gives an error when `obsm_keys` is given and keys are not given"
Calling `sc.get.obs_df()` without the `keys` parameter causes an error:

[code]

[code]

Also, if `keys` is not a list, the object returned is not a pandas dataframe but a Series object in which the last row is the obsm values. In other words, instead of adding a column to a dataframe with the obsm values, a row is added to a pandas Series.

[code]
[code]

[2021-02-09 13:51] LuckyMD commented on #1630
Maybe the difference in outputs has to do with running on counts vs normalized expression data? I haven't really looked into vst much, so not sure how this should run.

[2021-02-10 02:22] ivirshup commented on #1633
I think it would be fine for the parameter description to define the behavior. I don't think it particularly matters whether the default parameter is None or not. I think this is a pretty common solution to this issue.

[2021-02-10 05:31] rboiarsky commented on #1495
it would be helpful to see the lines of code you ran in each of the two cases you describe. for example when you say " if I try mini_in_group_franction=0 in filter_ranK_gene_groups, I only get 25 back." --> in this case, did you use the default fold change argument?

[2021-02-10 05:45] rboiarsky commented on #863
For all those asking whether this has been updated, I'm not a contributor to this repo but from reading the source code, it looks like this has indeed been updated in the latest version of scanpy. From what I can tell,

- `np.log2((expm1_func(mean_in_cluster) + 1e-9) / (expm1_func(mean_out_cluster) + 1e-9))` is now consistently used to calculate and filter fold changes, in `rank_genes_groups`  and

[2021-02-10 05:45] #1626 closed, assigned to nobody

[2021-02-10 06:46] #1288 closed, assigned to nobody

[2021-02-10 07:03] galamm opened #1636 "dotplot cannot set gene_symbols"
I would like to change the var name when plotting dotplot by setting the `gene_symbols` to the desired name. But this generates the NameError. Below is an example using the scanpy built-in dataset.

[code]

[code]

#### Versions

<details>

scanpy==1.6.0 anndata==0.7.4 umap==0.3.10 numpy==1.18.4 scipy==1.4.1 pandas==1.0.3 scikit-learn==0.21.3 statsmodels==0.10.1 python-igraph==0.8.2 louvain==0.6.1

[2021-02-10 07:35] ivirshup commented on #1263
Another advantage is that it could be user specified per plot when there are multiple plots.

-------------------

I think there is another issue, which is that `sort_order` currently just applies to numeric values while here we are trying to deal with issues around categorical values. To me this suggests a need to have separate arguments for the two cases (`order_categorical`, `order_continuous`)

[2021-02-10 08:41] ivirshup commented on #1636
@galamm, thanks for the report! Also thanks for the example, very useful!

I think I see what the issue is here, though your error is unexpected. Are you using the most recent version of scanpy (1.7.0)?

The `gene_symbols` argument is supposed to refer to column in `var` that has more human readable gene names. The idea here is that you might have some unique identifier as `var_names` (like ensemb

[2021-02-10 08:45] ivirshup commented on #1539
@DaneseAnna, could you comment on whether this is something implemented in EpiScanpy?

[2021-02-10 09:04] #1634 closed, assigned to nobody

[2021-02-10 09:08] DaneseAnna commented on #1539
Hi, yes there is such functionalities in episcanpy.
To transform a peak matrix into a gene activity matrix you can use epi.tl.geneactivity

[2021-02-10 09:16] ivirshup commented on #1539
Great, thanks for the info!

[2021-02-10 09:16] #1539 closed, assigned to nobody

[2021-02-10 09:35] ivirshup commented on #1033
This seems to be fixed now.

[2021-02-10 09:35] #1033 closed, assigned to nobody

[2021-02-10 09:44] #1445 closed, assigned to nobody

[2021-02-10 10:02] chris-rands commented on #670
Is there anything like [clustree](https://github.com/lazappi/clustree) in python that integrates nicely with scanpy?

[2021-02-10 17:32] giovp commented on #1629
hey, thanks for the interest and very good questions, my 2 cents:

I think you could yes, maybe complementary to some standard approaches like hypergeometric test?

since you have densitieis, it should be ok (?). you could also try subsampling the condition where you have more samples n times

thanks, very much appreciated! Actually I don't think we have really a class/example of density/line plot

[2021-02-10 17:37] giovp commented on #967
I think this is what most people do.

I feel this could be a bug:  having `raw=True` by default coupled with this:

[code]

@Koncopd what's your take?

[2021-02-10 17:39] giovp commented on #953
@lc822 could you post a reproducible example? maren seems to have solved it so it could be something else.

[2021-02-10 17:41] giovp commented on #1471
closed with #1472 , next time @danielStrobl you could just do `git commit -m "<commit-message> #1471"` and it would be automatically linked (and then closed if PR is merged)

[2021-02-10 17:43] giovp commented on #1419
can we follow keep discussing on #1563 ?
@WeilerP not sure if you ever submitted that PR, but otherwise we can close this

[2021-02-10 17:53] WeilerP commented on #1419
Sorry, no, I didn't open a PR since I hadn't heard back regarding above comments. Fine to close it in favour of #1563, although it only concerns pre-commit hooks, right? The original idea of this issue was to make the dev installation easier, i.e. installing all required packages to run the full code base, tests etc. This currently doesn't happen when installing through `pip install ".[dev]"`.

[2021-02-10 18:28] giovp commented on #1419
that's a very good point yes, I know there is also #1527 underway, can you guys comment on this @flying-sheep @ivirshup cause I'm not sure timing wise how is it going ?

[2021-02-10 20:24] atarashansky opened #1643 "Any interest in getting SCTransform up on Scanpy?"
- [ ] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [x] Other?

I recently ported [SCTransform](https:

[2021-02-11 01:38] ivirshup commented on #1471
Or have some text that says "Fixes #{issue_number}" in the initial PR comment.

[2021-02-11 01:38] #1471 closed, assigned to nobody

[2021-02-11 03:46] #1627 closed, assigned to nobody

[2021-02-11 03:57] rboiarsky commented on #1325
I noticed this still isn't fixed in the latest version of scanpy. Is there a reason why not? Does my solution # 2 sound reasonable? I can attempt to create a pull request if so

[2021-02-11 04:22] ivirshup commented on #1643
Definitely love to have more contributions! I believe @LuckyMD and @giovp are quite keen on having this in the library.

Excited to see your benchmarks!

Side note: I'd definitely recommend looking into using `joblib` instead of `multiprocessing` for parallelization. It's a bit more simple to use, is much better about not oversubscribing your resources, and copying less data.

[2021-02-11 04:25] atarashansky commented on #1643
Thanks for the suggestion, @ivirshup! I'll take a look into that.

Would this be something that goes into `sce.externals`?

[2021-02-11 04:25] ivirshup commented on #1439
@balthasar0810, are you running into this with an up to date version of anndata?

[2021-02-11 04:29] ivirshup commented on #1643
I think there's a pretty strong desire on the team to see something like this in the main API, if you'd like to contribute this there.

[2021-02-11 04:31] atarashansky commented on #1643
Gotcha! I'll prioritize getting the benchmarks up and then I'll need some guidance on how to organize it to fit in scanpy's codebase. Thanks!

[2021-02-11 04:59] ivirshup commented on #1325
Hi @rpeys, sorry for being slow on this.

What are you trying to do exactly? Are you looking to use scanpy plotting features afterwards, or just get tables of genes? If it's the latter, I would suggest using `sc.get.rank_genes_groups_df`, where you can do something like:

[code]

You should then be able to use these genes to plot by passing the genes names to `var_names` parameter of the `rank_gen

[2021-02-11 05:14] ivirshup commented on #1419
I think #1527 is coming along nicely. It seems to mostly work now. It'd be great if some other team members could try it out and see if it works for them!

[2021-02-11 05:47] SalmonellaIIB commented on #932
I would like to ask how I can order the genes if they have different expression in each cluster? Should I order the genes based in overall expression?

[2021-02-11 06:07] ivirshup commented on #1563
I think it would be nice to start small, then gradually add to this. I'd nominate `black` as the first step, then using `pre-commit` on CI, then adding more tools. I like `black` for a starting place since we can just run it over both dev and stable branches and be confident in nothing breaking. For anything that requires more manual intervention, I think we'll have to wait until close to a new st

[2021-02-11 07:34] WeilerP commented on #1419
As far as I can tell, #1527 still doesn't install all packages in a dev installation required to run the entire code base and tests.

[2021-02-11 07:57] LuckyMD commented on #1643
agreed, this would be super cool!

[2021-02-11 08:03] ivirshup commented on #1419
`flit install -s` by default would install everything, passing `--deps=develop` actually leads to fewer things being installed. I think this is weird behavior, but it's the way flit works.

[2021-02-11 08:17] giovp commented on #1643
totally agree! would be really cool to have!

[2021-02-11 12:04] fbnrst opened #1644 "scrublet ignores threshold"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

### Minimal code sample (that we can copy&paste without having any data)

[code]

[code]

#### Versions

<details>

scanpy==1.7.0 anndata==0.7.5 umap==0.5.1 numpy==1.20.0 sc

[2021-02-11 12:07] fbnrst opened #1645 "scrublet crashes on dense input"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

### Minimal code sample (that we can copy&paste without having any data)

[code]

[code]

#### Versions

<details>

scanpy==1.7.0 anndata==0.7.5 umap==0.5.1 numpy==1.20.0 s

[2021-02-11 15:22] rboiarsky commented on #1325
Hi @ivirshup. Thanks for suggesting this workaround - I think that can work for my use case and I will go ahead using your suggestion.

In the meantime while this is not fixed, I think it might be worthwhile to include a note in the description of the `rankby_abs` argument in `rank_genes_groups` warning users that if they use the filter function afterwards, only upregulated genes will be retained.

[2021-02-11 18:38] fbnrst opened #1646 "Support coloring by boolean variables"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

### Minimal code sample (that we can copy&paste without having any data)

[code]

[code]

#### Versions

<details>

scanpy==1.7.0 anndata==0.7.5 umap==0.5.1 numpy==1.20.0 s

[2021-02-11 22:17] Koncopd commented on #1325
@ivirshup i can add `rankby_abs` to `filter_rank_genes_groups`, i don't think it is problematic.

[2021-02-12 00:37] ivirshup commented on #1325
@Koncopd, I'm not against that being added.

I think the broader question @fidelram has raised if we should deprecate `filter_rank_genes_groups`, which I'm inclined to agree with.

[2021-02-12 00:39] ivirshup commented on #1646
I think this more of an enhancement than a bug, though an error message saying we don't have a way to color by boolean values would be more clear.

What would you expect this to look like? Which styling options apply here?

[2021-02-12 03:27] ivirshup commented on #1645
I think this is upstream in `scrublet`, and I'm not sure it's appropriate to just convert whatever array is passed to a sparse array.

[2021-02-12 07:21] sevahn opened #1647 "cell type coloring in sc.pl.matrixplot"
Is there a way to select the coloring for the cell types in the "groupby" argument in sc.pl.matrixplot?

I have a custom color palette based on continuity from my other plots in my other subfigures. equivalent to the row_colors argument in sns.clustermap, is there a way to specify the right side colors for the different clusters?
thank you!
...

[2021-02-12 08:14] grst opened #1648 "Intended way to set_figure_params for a single figure"
I was wondering, what is the intended way to temporarily set plotting parameters, e.g. figsize?

Say I want to increase the figsize just for a single UMAP plot.

I could either temporarily `set_figure_params` and reset it manually afterwards
[code]

Or create the figure separately:
[code]
<p><br></p>

Would it make sense to extend `set_figure_params` to act as a context manager?

[code]

But maybe

[2021-02-12 09:23] fbnrst commented on #1646
I came across this when I wanted to plot the predicted doublets from scrublet. `predicted_doublet` is stored as boolean. So, I would like to have this plotted like a categorical. I realized that plotting actually works when using `pl.scatter`:

[code]

[2021-02-12 13:07] mbuttner commented on #953
I hve to clarify: I tried out the fix provided above from @flying-sheep and it does the job for me, but the error persists on the `master` branch.

[2021-02-12 13:10] giovp commented on #953
I just tried again with the reprex above and it works for me
[code]
![image](https://user-images.githubusercontent.com/25887487/107772027-f1133d00-6d3b-11eb-8866-f514acea297a.png)

I'm on a separate branch but it's on par with current master
[code]

[2021-02-12 14:01] mbuttner commented on #953
I copied your code to a google colabs instance and ran into a Type Error similar to the one above:
https://colab.research.google.com/drive/1LYxOAuNqaJHGfRjNjyluUHk9BFsmkWa4?usp=sharing

Error message:
[code]

Versions:
[code]

[2021-02-12 14:12] fidelram commented on #1647
Hi, this is not supported. Only in heatmap. The reason colors are not supported is that I am partial color blind (as a significant portion of the population is), which make plots requiring matching colors hard to decode. Hence the use of labels instead.

If you need the colors for your plots you can try replacing the groupby labels ax by the colors you want but this is not trivial.

[2021-02-12 14:15] fidelram commented on #1646
I have noticed the same issue. As a workaround you can do

[code]

[2021-02-12 14:18] fidelram commented on #1643
I agree that this should not belong to 'external' but to the main API.

Also, I would not be initially concerned about performance. Having the tool first is more important at the moment. We can later see how can be optimized.

[2021-02-12 14:21] fidelram commented on #1645
From the error message, you may want to try to convert the dense matrix to sparse matrix format as follows:

[code]

[2021-02-12 16:29] giovp commented on #953
...ok then let's wait for #1047 to get merged

[2021-02-12 16:32] atarashansky commented on #1643
I looked at a few genes and it looks like I'm getting pretty similar residuals compared to the R implementation. Something weird is going on with the genes in the last couple images so I'm currently trying to figure that before generating more thorough benchmarks. (I clip negative values to zero to preserve sparsity structure)

![image](https://user-images.githubusercontent.com/16548075/107794002-

[2021-02-12 17:17] atarashansky commented on #1643
Think I fixed it.
![image](https://user-images.githubusercontent.com/16548075/107798294-c8298280-6d10-11eb-8117-74f61ead56f2.png)
![image](https://user-images.githubusercontent.com/16548075/107798329-ceb7fa00-6d10-11eb-97cd-b990b0e97b3e.png)

Similarity of cluster assignments based on the R and python corrected expressions is 0.9 (`sklearn.metrics.v_measure_score`).

Correlations between the top c

[2021-02-12 17:18] fbnrst commented on #1645
Sure, this works as a workaround. Thing is, if I call doublets like described in the scrublet README, I do not get an error:
This works:
[code]
So is this upstream?

[2021-02-12 17:27] fbnrst commented on #1646
Thanks. I tried this as well. The problem that I had was that going back to a Boolean for subsetting was not easy:
[code]
This throws a key error:
[code]
while this works:
[code]

[2021-02-12 17:39] fidelram commented on #1646
you can  make a new column to avoid overwriting the boolean.

[code]

[2021-02-12 17:43] fbnrst commented on #1646
Thanks. Agreed. This is a workaround for sure.

[2021-02-12 22:40] sevahn commented on #1647
thank you for the fast response and for the information! will adjust my own approach accordingly.

[2021-02-13 17:48] giovp commented on #1643
Hi @atarashansky , looks really good!
Have couple of questions and comments:
- Is it the dataset in the original publication? Could you try it in a couple of other datasets (like the 3k ?). If you can make a notebook on how to run your implementation I could help with that.
- I would also plot the slope and intercept estimate against mean exp, as in original pubblication.

Re parallelization, @ivi

[2021-02-13 20:08] atarashansky commented on #1643
- Here are the fit parameters vs the geometric mean expression applied to the 33k pbmc dataset. Looks pretty similar!

![image](https://user-images.githubusercontent.com/16548075/107860398-faf87700-6df3-11eb-8c55-5befa70b350a.png)

- Thanks for pointing me towards the joblib parallelization. I’ll work on applying it here.

- Notebook incoming! Stay tuned.

[2021-02-13 20:13] atarashansky commented on #1643
Here’s the [notebook](https://github.com/atarashansky/SCTransformPy/blob/main/SCTransform_Example.ipynb).

[2021-02-15 09:13] honghh2018 opened #1650 "how to export the normlized data not the scale data on h5ad anndata object?"
Hi @ALL,
    I want that the object of annData to save the normalized expression matrix that exclude the scaling matrix to perform the pyscenic regulon analysis.but the code adata.to_df().to_csv(EXP_MTX_QC_FNAME) just save the scaling matrix that had the negative number in but just normalized d matrix.so i merely want to export the normlized matrix data and then imported to the pyscenic to analyiz

[2021-02-15 10:42] LuckyMD commented on #1650
Hi @honghh2018,

Whatever is output depends on what you store in `adata.X`. If you don't want to output scaled data, then you can avoid calling `sc.pp.scale()` on your data. An alternative would be to save a version of your data before scaling in a different adata layer. For example, before scaling, you can just store a copy of your data by e.g., calling `adata.layers['normalized_unscaled] = adata

[2021-02-15 16:57] chris-rands opened #1651 "Option to ignore "nan" with sc.pl.rank_genes_groups() and error while writing data to .h5ad"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of scanpy.
- [X] (optional) I have confirmed this bug exists on the master branch of scanpy.

`sc.tl.filter_rank_genes_groups()` replaces gene names with "nan" values, would be nice to be able to ignore these with `sc.pl.rank_genes_groups()` and instead show the top n ac

[2021-02-15 18:12] chris-rands commented on #1651
Sort of separate but also, an error writing such data with `adata.write("results.h5ad")`

Traceback:
[code]

`del adata.uns["rank_genes_groups_filtered"]` and the .write() call succeeds

[2021-02-15 20:50] gatocor opened #1652 "TypingError: Failed in nopython mode pipeline (step: nopython frontend)"
Hi, I am working with a big dataset over 100000 cells and I run into a problem when computing the neigbours. Find below an small example using a random matrix.
Observations,
when I run N_cells = 8000 it works perfectly for gauss metric.
when running N_cells = 10000, the neighbors computation crashes.

The problem is even more dramatic for method="umap".

### Minimal code sample (that we can copy&p

[2021-02-16 06:56] honghh2018 commented on #1650
Thanks @LuckyMD ,It was tremedously helpful for my case.
 Thanks again.

[2021-02-16 08:36] giovp commented on #1643
@atarashansky thanks a lot, looks really good indeed!
I'll have time to have a look on Friday and will get back to you then! and thanks for the notebooks!

[2021-02-16 08:57] gatocor commented on #1652
Found the problem.

I was running the library using python v3.9 with numba v0.51. Compatibility for python 3.9 is only available in the (currently) latest version of numba v0.53.

This incompatibility generated the crash in the pynndescent library. Why it worked for certain sizes and no other remains a mistery...

[2021-02-16 08:57] #1652 closed, assigned to nobody

[2021-02-16 09:36] giovp opened #1653 "allow different polygons in `sc.pl.spatial`"
- [ ] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [x] Other?

e.g. squares, hexagons cc @jwrth

[2021-02-16 10:51] LuckyMD commented on #1650
glad it worked out!

[2021-02-16 10:51] #1650 closed, assigned to nobody

[2021-02-17 10:51] GMaciag commented on #490
Hi

It's been a long time since the initial talk about writing a function addressing this issue, but with the whole pandemic situation I totally forgot about it. But the recent comments made me remember and so I finished writing it and put it in the PR #1657.

I hope it can be useful to other people and maybe even included in the main package :)

[2021-02-17 20:05] WeilerP opened #1658 "Numpy aliases of builtin types deprecated"
## Description

Just a minor `numpy` deprecation: As of `numpy==1.20`, aliases of builtin types (`np.float`, `np.int`, ...) are deprecated and should be replaced by the builtin Python counterparts.

[2021-02-18 04:53] ivirshup commented on #1644
Thanks for the repot!

@pinin4fjords, could you look into this? Also, there may be some other arguments which are not being passed correctly. For example, `n_prin_comps` and `use_approx_neighbors` are not passed from `scrublet` to `scrublet_call_doublets`. Is there any reason some of these aren't being passed, or should all common arguments be passed through?

[2021-02-18 05:04] ivirshup commented on #1651
This should be solved (albeit a bit differently) by #1529. There, you would pass the filters to the plotting functions.

[2021-02-18 05:20] #1647 closed, assigned to nobody

[2021-02-18 05:43] ivirshup commented on #1646
# Possible solution: just treat boolean as categorical

* This would also handle nullable booleans (though we currently cannot write those through `anndata`).
* Color palettes would just be `palette={True: "#xxxxxx", False: "#xxxxxx"},`.
* Default color palette (current behavior for 2 group categories) are orange for true, blue for false
  * We could change this, but I'm not sure what a good defau

[2021-02-18 05:46] ivirshup commented on #1648
You can use `matplotlib`'s `rc_context`. E.g.:

[code]

[2021-02-18 08:05] grst commented on #1648
cool, thanks!

[2021-02-18 08:05] #1648 closed, assigned to nobody

[2021-02-18 10:19] pinin4fjords commented on #1644
@ivirshup Honestly don't know what I was thinking here- the parameters are clearly not passed through. Perhaps I broke things when rearranging logic in the PR. In in any case I'll submit a fix soon.

[2021-02-18 10:59] pinin4fjords commented on #1644
PR with fix submitted, thanks @fabianrost84 for the report.

[2021-02-18 12:08] luglilab opened #1660 "Internal Server Error for queries.biomart_annotations"
- [ X] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprod

[2021-02-18 12:11] #1660 closed, assigned to nobody

[2021-02-18 12:53] dawe commented on #1629
Hi, sorry for the late response...

I think so. Historically, this function has been  used to score cell cycle and, in that case, one can say that cells are in a specific state *because* of a different distribution of signatures. This is generally true. I have myself used the score to underline cells with activated/depleted pathways. Also, I have used gene lists from KEGG or Reactome to score sing

[2021-02-18 15:57] ilcink commented on #490
Thank you very much, @GMaciag !!

[2021-02-18 17:26] YubinXie opened #1661 "sc.pl.rank_genes_groups_heatmap column color bar"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---
I am trying to use sc.pl.rank_genes_groups_heatmap and the main function works great. However, the columns on the top only contain cluster name, without including a bar or c

[2021-02-19 02:09] ivirshup opened #1662 "Add figure closing teardown for all tests"
The test suite can run into issues if a test generates a matplotlib figure but does not explicitly close it. Instead of having to remember that this call has to be added after every figure, I think we should just add a global test teardown that closes open figures. I think this will look like:

[code]

* [Docs for yield](https://docs.pytest.org/en/stable/fixture.html#yield-fixtures-recommended)
*

[2021-02-19 03:23] ivirshup opened #1664 "Inline example plots in docs"
Meta-issue for tracking the addition of rendered plots in the examples sections of the API docs (initial functionality implemented in #1632).

We now allow code samples which generate plots in our docs. See the examples sections of [`calculate_qc_metrics`](https://scanpy.readthedocs.io/en/latest/api/scanpy.pp.calculate_qc_metrics.html#scanpy.pp.calculate_qc_metrics) and [`dotplot`](https://scanpy.

[2021-02-19 16:21] YubinXie commented on #1446
I saw this error in my analysis as welll.

[2021-02-19 16:23] YubinXie opened #1670 "sc.tl.filter_rank_genes_groups fails"
- [x ] I have checked that this issue has not already been reported.
- [x ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

### Minimal code sample (that we can copy&paste without having any data)

[code]

[code]

#### Versions

<details>

[code]
</details>

[2021-02-20 15:34] jwrth commented on #1653
What about alternative normalization tools like SCTransform? I read that they are supposed to be better for spatial data. As non-mathematician of course I'm not sure how big the difference will really be in the end but it would be great if there was a easy way to call and test them if it's worth it.

I think a plot that shows the gene expression profile along a spatial axis would be nice if this i

[2021-02-21 04:01] ivirshup commented on #1670
I'm having some trouble reproducing this. Can you provide a complete example that reproduces this. I need to be able to recreate the data that causes this error for you locally. On my end, this works:

[code]

[2021-02-21 07:23] #1662 closed, assigned to ivirshup

[2021-02-21 09:02] ivirshup opened #1673 "Add more links to `project_url`"
- [ ] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [x] Other?

We should add more links to scanpy's [

[2021-02-21 16:41] YubinXie commented on #1670
[code]
Here is the output for the example code you provided. Could it be package versions?
![CBC5B0B6-CB0D-47E1-BD84-59A329762A9D](https://user-images.githubusercontent.com/16257776/108631788-ab402e00-7439-11eb-8fdc-27452a7a5a1f.png)

[2021-02-22 04:40] ivirshup commented on #1670
Huh. This is really weird, since it looks like it's almost entirely due to scipy sparse indexing. Must have something to do with versions. Two things:

* If you upgrade scipy, do you still run into this error?
* Could you get the version info from an environment where you've only imported scanpy and run this command?

[2021-02-22 04:43] YubinXie commented on #1670
I will try to update scipy. Here is the output from only import scanpy:
BTW, everything works fine until I updated scanpy to 1.7.0.

[code]

[2021-02-22 04:47] ivirshup commented on #1670
I can now reproduce this, it looks like scipy 1.4.0 has the relevant bug. We will bump the required version.

[2021-02-22 08:17] ivirshup commented on #827
This issue has been mentioned on **Scanpy**. There might be relevant details there:

https://scanpy.discourse.group/t/how-are-the-diffusion-plots-generated/400/2

[2021-02-22 08:32] ivirshup commented on #1434
@havardtl, sorry for the late feedback, but this would be a great first PR.

[2021-02-22 09:55] #1644 closed, assigned to nobody

[2021-02-22 13:00] giovp opened #1675 "make pinndescent as part of requirements? (or at least document better)"
- [ ] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

in the last months there's been several people raising issues about `sc.pp.neighbors` being very slow. After pointing them to installing `pynndescent` they noticed consider

[2021-02-22 17:41] giovp commented on #1643
@atarashansky sorry for getting back to you late! I played around with the implementation, thanks a lot for the notebooks!

few questions before opening the PR:
- do you think it's worth it to allow users to add other variables (beside log_umi) ?
- do you think it would be useful to add other models other than poisson?
- there are other outputs provided by R implementation other than pearson resid

[2021-02-22 23:40] gokceneraslan commented on #1643
This looks super cool! One minor thing is the bandwidth adjustment. Ideally this shouldn't require manual tweaking. Is this the case?

When I was playing around with Nebulosa (https://github.com/powellgenomicslab/Nebulosa) to reimplement it in python, I noticed that both bandwidth algorithms (`scott` and `silverman`) in scipy's gaussian_kde are really horrible. Bandwidths estimated by the `ks` pac

[2021-02-23 01:12] YubinXie commented on #1670
upgrading the scipy to 1.6.0 resolves the issue. Thanks!

[2021-02-23 01:29] YubinXie commented on #1670
actually something worse happened. Now I cant save adata.

[code]

[2021-02-23 02:35] ivirshup commented on #1675
I'd add the line as a `.. note` to `neighbors`, but I'd also be fine with adding pynndescent as a dependency. We'd just need to get rid of the code that works with non-pynndescent search.

[2021-02-23 03:35] ivirshup commented on #1670
@YubinXie, that is also super weird.

* Can you show versions from this environment?
* Can you also create a completely fresh environment and try this again?

[2021-02-23 12:33] giovp commented on #967
@Koncopd kind reminders. I can quickly fix the docs if it's desired behaviour.

[2021-02-23 13:00] giovp commented on #1563
can we get at least `flake8` also?

[2021-02-23 14:32] scottgigante commented on #1563
I just added `black`, `isort`, and `autopep8` to `scprep` which worked pretty seamlessly.
pre-commit config: https://github.com/KrishnaswamyLab/scprep/blob/dev/.pre-commit-config.yaml
precommit github action: https://github.com/KrishnaswamyLab/scprep/blob/dev/.github/workflows/pre-commit.yml

[2021-02-24 05:38] ivirshup opened #1682 "Plotting functions should show up in table of contents"
It would be useful for plotting functions to show up in the table of contents for the API section of the docs, like they do for all other functions

<img width="303" alt="image" src="https://user-images.githubusercontent.com/8238804/108953042-a213c300-76be-11eb-94c6-51d7829fb6ec.png">

<img width="303" alt="image" src="https://user-images.githubusercontent.com/8238804/108953055-a93ad100-76be-11eb-

[2021-02-24 07:59] ivirshup commented on #1563
I've just merged initial pre-commit stuff via #1684 (just black). Once the doc builds propagate, there will be a section under: "Getting set up" in the dev docs on how to install.

I would like to see a `flake8` PR, though it might take a bit of time to hash out configuration. Maybe @giovp or @Zethson would be interested in looking into this?

[2021-02-24 09:04] Zethson commented on #1563
Yeah, I can add flake8 and some more stuff

[2021-02-24 09:04] hahia opened #1688 "Score of rank_genes_groups"
Hello, I'm new to scanpy
Recently, I use scanpy on scRNA data, run

[code]

get the result
![image](https://user-images.githubusercontent.com/49113803/108975925-f79d9f00-76c1-11eb-93cb-3b854c484d59.png)

Can anyone tell me what's the score means here? How it be calculated?

[2021-02-24 10:19] Koncopd commented on #1688
Hi, for `method='wilcoxon'` this is [Wilcoxon rank-sum test](https://en.wikipedia.org/wiki/Mann%E2%80%93Whitney_U_test), and the scores are U_1 from methods in in the link. Higher absolute value of score -> lower p-value (more evidence the levels of expression between groups are different), higher score indicates higher expression, lower score -> lower expression.

[2021-02-24 12:05] hahia commented on #1688
Thank you very much !!!

[2021-02-24 12:11] giovp commented on #1629
that's great explanation, thanks @dawe !
@Elhl93 does this resolve the issue for you? If you'd still like to contribute to a PR for plotting let me know! I'll close this for the moment but please feel free to reopen for any issue.

[2021-02-24 12:11] #1629 closed, assigned to nobody

[2021-02-24 12:57] #1675 closed, assigned to nobody

[2021-02-24 12:57] #827 closed, assigned to nobody

[2021-02-24 12:57] #1434 closed, assigned to nobody

[2021-02-24 13:44] chris-rands commented on #1651
Thanks @ivirshup , that makes sense I think. For the 2nd issue (unable to write to h5ad) is actually a more important issue for me at least. I have frequently found that I cannot add dataframes in `adata.uns` and then write to .h5ad file. This looks like a known issue from the code https://github.com/theislab/scanpy/blob/0d25f457e100080e578809d4db625ea147eed121/scanpy/tools/_marker_gene_overlap.py

[2021-02-24 13:46] Koncopd commented on #1563
I'd prefer to have only black on pre-commit for some time.

[2021-02-24 13:48] Zethson commented on #1563
flake8 just checks and does not format. It makes aware of some nasty code and these things should get fixed immediately. I strongly advocate for it.

[2021-02-24 13:55] Zethson commented on #1563
Yeah, I ran into this stuff when creating the flake8 PR (#1689). isort is dangerous with Scanpy and requires good testing and many exceptions.

[2021-02-24 14:18] #1688 closed, assigned to nobody

[2021-02-24 19:13] xguse commented on #670
I have resorted to writing a small Rscript that takes a saved adata.h5ad file as input, loads it using `reticulate`, runs Clustree, saves it. I then run the script from a notebook using `invoke.run` from the `invoke` package as a function in a notebook and load the output figure as an image in the notebook.

Here is the script I use in case it helps:

[code]

I then run it like this from the noteb

[2021-02-24 19:20] LuckyMD commented on #670
@lazappi this comment was made for you to answer ;)

[2021-02-25 06:57] #1437 closed, assigned to nobody

[2021-02-25 08:40] lazappi commented on #670
I don't have a lot to add. As far as I know there's no native Python implementation of clustering trees. If you want to use the R **{clustree}** package you will need to transfer your data from R to Python in some way. Using straight **{reticulate}** to read a `.h5ad` file like you have here is one option but there are packages that will do it for you including [**{zellkonverter}**](https://biocon

[2021-02-25 09:59] Zethson opened #1694 "Move from 88 to 120 characters with Black"
This will be the discussion that no one ever wants since developers like us tend to bring our mice and keyboards to fight when it comes to questions like these, but hey I thought at some point it should be had anyways haha

@ivirshup recently introduced black as the formatting standard for Scanpy. I am not a fan of blacks formatting, but the idea of consistent formatting for big open source projec

[2021-02-25 11:10] chris-rands commented on #670
Thank you both for taking the time to answer. I was hoping there is a python port/re-implementation of clustree, but this is clearly not the case. Nonetheless, the workarounds you suggest are helpful

[2021-02-25 13:20] ivirshup commented on #1651
That's definitely out of date. This should work at the moment:

[code]

[2021-02-25 20:28] atarashansky commented on #1643
Sorry for the late reply, the notifications for this thread got sent to my spam folder.

@giovp

- I think so! It’s not difficult to extend it to more latent variables. We could allow them to specify any column(s) in the `obs` DataFrame.
- Hmm, I think `statsmodels` can do regression on lots of different models, but from the source paper it sounds like using Poisson was simplest/fastest and did no

[2021-02-25 20:32] atarashansky commented on #1643
@gokceneraslan

SCTransform does automatic bandwidth selection using the scott algorithm, which I am implementing with `gaussian_kde`. Although, I could change this to use bandwidth selection using `KDEpy`’s implementation, since I use their ISJ bandwidth algorithm for another step (the bandwidth algorithms used at different steps is following the methods write-up in the original paper).

[2021-02-25 23:42] ajynair commented on #826
+1

[2021-02-26 03:05] gokceneraslan commented on #1643
I don't know how "easy" the density estimation problem here is, but I would avoid scott's whenever I can (e.g. https://aakinshin.net/posts/kde-bw/).

[2021-02-26 09:34] chris-rands commented on #872
This is one way where Scanpy and Seurat diverge strikingly. Even the 'basic' Seurat tutorial uses JackStraw and has a whole section on "Determine the ‘dimensionality’ of the dataset", while the Scanpy tutorial doesen't mention it. Can anyone explain/show literature on if/why the scanpy default of 50 PCs works well? Is it correct to say that the each embedded PC is given equal weight in the neighbo

[2021-02-26 11:21] chris-rands commented on #1651
Right, but I still get the `TypeError` above with
[code]
`pbmc.uns["rank_genes_groups_filtered"]` is actually a dict with str keys and recarray values (so not a dataframe as I first thought)

[2021-02-26 12:37] flying-sheep commented on #1694
yes, but

1. after the flit PR. not going to rebase this again.
2. we need to manually go through and check that we have no “magic commas” that keep lists exploded that can be inline. will remove even more lines.

[2021-02-27 13:15] Hrovatin opened #1698 "Adding Moran's I calculation to Scanpy"
Could you add Moran's I calculation to Scanpy? It could be used in scIB and to also find variable genes across embedding (could be an alternative to SEMITONES that takes a while to be computed).

[2021-02-28 07:21] ivirshup commented on #1694
Some ways I like to work with the code:

* Left side of screen is text editor, right side is terminal/ docs/ something else
  *  86 characters available if I have a side bar open,  95 without
* Split code browser
  * 84 columns with a side bar open, 95 without

120 is too long for this. Also this is a pretty wide laptop screen (16-inch). I believe Alex uses a MacBook Air with even more limited scr

[2021-02-28 07:55] ivirshup commented on #1563
@Koncopd, I would agree, but there have a been a few bugs recently that flake8 definitely would have caught. This is stuff like "parameters are never used".

Rules that I think are useful:

* Catch bugs
* Can be automatically applied/ prevent "remove whitespace/ formatting" commits.

If you run into any rules you don't like, you can just add them to the ignore and we can deal with it during review

[2021-02-28 08:03] ivirshup commented on #1651
Yes, that was a known issue when `filter_rank_genes_groups` was implemented. We currently trying to figure out what the appropriate fix is for this. It might be that we remove the `filter_rank_genes_groups` functions and add their functionality to the `rank_genes_groups` plotting functions.

[2021-02-28 17:06] giovp commented on #1698
hi @Hrovatin
so was it useful for your task? Curious to hear. Couple of questions:
- why having a tool redundant between two packages?
- what is SEMITONES?
thank you!

[2021-02-28 19:09] Hrovatin commented on #1698
Yes, it works great for me. I can compare scores obtained on individual samples and on integrated data to show that genes that are spatially variable in samples remain such on integrated data. However, with default n_iters most pvalues were 0 (for my known marker set), but calculating more iters would take too long, so I might just use the I-score where possible.
I would like to add Moran's I as a

[2021-03-01 01:47] ivirshup commented on #1698
I think Morans I would be a good addition to scanpy, fits well with Gearys C (https://github.com/theislab/scanpy/pull/915)

[2021-03-01 05:22] TiongSun opened #1696 "LLVM ERROR: Symbol not found: __svml_sqrtf8"
Hi all,

When running "sc.pp.neighbors(adata, n_neighbors=4, n_pcs=20)" from this [tutorial](https://scanpy-tutorials.readthedocs.io/en/latest/paga-paul15.html) , the following error arises

"LLVM ERROR: Symbol not found: __svml_sqrtf8 error when running"

numba = 0.51.2
scanpy = 1.7.1

Does anyone encounter similar issue?

Thanks!

[2021-03-01 07:00] ivirshup opened #1697 "Drop python 3.6 for 1.8"
Numpy has dropped support for python 3.6 in 1.20.0, and have recommended that packages in the pydata ecosystem adopt a similar schedule for python versions ([NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html)). Should we follow this?

Some cool stuff we get by dropping 3.6:

* [Postponed evaluation of type annotations](https://docs.python.org/3/whatsnew/3.7.html#pep-563-postponed-eva

[2021-03-01 09:01] giovp commented on #1698
I see, now I understand the usage better as a metric, thank you!
I'd suggest that this is more of a feature request for Scanpy then @Hrovatin , feel free to open one or contribute to (theislab/scanpy#915) !

[2021-03-01 09:12] ivirshup commented on #1698
Transfered to scanpy

[2021-03-01 09:17] giovp commented on #1698
👀 crazy didn't know it was possible!

[2021-03-01 09:18] #953 closed, assigned to nobody

[2021-03-01 09:37] #1358 closed, assigned to nobody

[2021-03-01 09:50] LuckyMD commented on #1698
This would be a good fit for a potential `sc.metrics` module as discussed recently (can't find the issue anymore)

[2021-03-01 10:06] cartal opened #1701 "`scanpy` doesn't plot labels in UMAP"
- [ X] I have checked that this issue has not already been reported.
- [ X] I have confirmed this bug exists on the latest version of scanpy.
- [ X] (optional) I have confirmed this bug exists on the master branch of scanpy.

---
Hi

I'm trying to do a standard analysis of cells with `scanpy?`; however, I'm having a weird issue with plotting the results.

For instance, I get the following error wh

[2021-03-01 10:11] ivirshup commented on #1698
@LuckyMD I think we talked about it in the PR linked above.

So, what needs to happen here? Is it just copying and pasting some code from squidpy, or is there more implementation work to do?

[2021-03-01 10:37] flying-sheep commented on #1563
Flake8 can indeed be buggy, but the rules are very modular and can be turned off.

Even if we end up with only “unused import” and “unused parameter” being left, it’s a win.

[2021-03-01 10:41] flying-sheep commented on #1563
One thing I noticed: The pre-commit GH workflow for a commit I made seems to be queued for quite a while, doesn’t appear in the list of checks, and the PR thinks all checks have run.

This doesn’t seem ideal, as PRs can slip in where it will only run (and then fail) after the PR is merged.

Can we configure it to be mandatory? Will that change anything?

[2021-03-01 11:08] ivirshup commented on #1701
Can you show us the values of `combined_bbknn.obs['scNym']`?

Also, if you create a conda environment, does your problems still occur? I'm wondering if some dependencies like `pandas` could be out of date.

[2021-03-01 11:12] cartal commented on #1701
Hi,

Thanks for the quick reply!

I'm attaching the output for `combined_bbknn.obs['scNym']`:

![Screenshot 2021-03-01 at 11 09 39](https://user-images.githubusercontent.com/3297906/109489440-ca187300-7a7e-11eb-943d-270c0273c3fc.png).

This is really weird. When I tested it on my macbook I created a new environment and the problem persisted. However, there I downgraded to `scanpy==1.6` as well, th

[2021-03-01 11:14] ivirshup commented on #1701
Do you know how that entry could have been filled with `NaN`?

The plots and errors you were showing above are consistent with all the values being "null".

[2021-03-01 11:18] ivirshup commented on #1563
Github actions are down. It seems like they have problems at least once a week: https://twitter.com/githubstatus.

I'd be fine with having pre-commit be a required check. I'm a little antsy about having something that goes down frequently be required though.

[2021-03-01 11:24] cartal commented on #1701
The only issue I can think of was when I was creating the object. Before I used to transfer the `adata.obs` dataframe to a new one by doing `adata_new.obs = adata_old.obs`. When I did this in `scanpy==1.7.1` the transfer didnÄt show any errors, but it didn't copy. This was fixed when I added the `.copy()` to that command.

When I ran the same thing on a macbook pro, the labels somehow disappeared

[2021-03-01 11:29] ivirshup commented on #1701
Could you come up with the minimum amount of commands you'd need to run to reproduce this? It would also be helpful if this could be done using generated or publicly available data. [Something like this](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) would be great.

[2021-03-01 11:39] #698 closed, assigned to nobody

[2021-03-01 15:03] brianpenghe commented on #351
Any updates on this thread?

[2021-03-01 16:43] njbernstein commented on #351
@brianpenghe hashsolo is implementer in scanpy now

[2021-03-02 01:23] ivirshup commented on #1701
Just checking back on this, it's concerning if you are getting null values unexpectedly, but it's difficult for me to figure out why that could be happening without more information. It would be great if you're able to give us any update on this.

[2021-03-02 04:11] #979 closed, assigned to nobody

[2021-03-02 04:11] #1103 closed, assigned to nobody

[2021-03-02 04:17] ivirshup opened #1705 "Dotplot labels can extend off plot"
@fidelram

As noted in #1632, dotplot labels can often extend outside of the plotted area. Whether the full labels can be seen is dependent on how the plots are being output. It would be great if this always worked.

<details>
<summary> Example from the docs: </summary>

![](https://user-images.githubusercontent.com/8238804/107312688-122e2080-6ae5-11eb-8a7e-f61c51a8392c.png)

</details>

Could pos

[2021-03-02 04:18] ivirshup commented on #1645
@pinin4fjords, any thoughts on this?

[2021-03-02 08:41] cartal commented on #1701
Hi,

Yes, I will do it. Please bear with me while I make it.

[2021-03-02 09:31] fbnrst opened #1706 "pp.neighbors returns edgeless graph for n_neighbors=1"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

I worked on a very small bulk dataset recently (`n_obs = 15`), and wanted to try a 1-nearest-neighbor graph for the UMAP. However, edgeless graphs are returned for `n_neigh

[2021-03-02 10:43] ivirshup commented on #1706
I think this has to do with us relying on UMAP. You can check this yourself in UMAP, but you'll actually end up with n-1 neighbors per node. I believe this has to do with each point being it's own nearest neighbor, but I forget if that's important for nearest neighbor descent algorithm (prevent node from adding itself by already having it in the heap) or UMAP (simplexes??). If I can find a link to

[2021-03-02 11:17] pinin4fjords commented on #1645
Ahh, I think this is just because of the way I've tried to translate into to the Scanpy workflow. There's a sparsing step [at the start of the basic Scrublet workflow](https://github.com/swolock/scrublet/blob/67f8ecbad14e8e1aa9c89b43dac6638cebe38640/src/scrublet/scrublet.py#L100), but I'm [injecting](https://github.com/theislab/scanpy/blob/76814588696d00183e5f6f02e64f145dbcf944a0/scanpy/external/p

[2021-03-02 11:34] brianpenghe commented on #351
That would be awesome. Which version of Scanpy includes hashsolo? Any Scanpy tutorials?

[2021-03-02 12:50] fbnrst commented on #1706
It seems you do not always end up with n-1 neighbors, because for n=3, you suddenly get differing number of neighbors:
[code]
Output:
[code]
It is been while that I read about UMAP and can't get my head around why this happens right now. Relying on UMAP seems a good idea to me, maybe the corner case `n_neighbors=1` should just be catched with a more meaningful error message?

[2021-03-02 16:38] Zethson commented on #1697
AFAIK the newest Pandas version is also 3.7+ already.

[2021-03-02 20:35] Knievl opened #1708 "Problems with Drosophila genome due to gene called nan"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

To do some trajectory analysis, I wanted to first try some tutorials to adapt to the workflow of scanpy, after calling sc.pp.calculate_qc_metrics(adata, qc_vars=['mt'], per

[2021-03-02 23:36] ivirshup commented on #1708
You can control which values `pandas.read_csv` reads in as `NaN` from text files with the arguments `na_filter`, `keep_default_na`, and `na_values`.

[2021-03-02 23:36] #1708 closed, assigned to nobody

[2021-03-02 23:46] ivirshup commented on #1706
I think the varying number of neighbors is because the connectivity graph is made symmetric.

[code]

Yeah, n_neighbors=1 should definitely throw an error (I think it does for UMAP). We do document that reasonable values start at 2, but it could also be good to have more reasoning on that.

[2021-03-03 00:27] adamgayoso opened #1709 "Matrixplot alternative group statistics"
- [x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

It would be great to see alternative s

[2021-03-03 07:47] ivirshup commented on #1705
Happens with `seaborn` too:

<img width="564" alt="image" src="https://user-images.githubusercontent.com/8238804/109771372-d6542a00-7c50-11eb-8cd0-96fd01504464.png">

[2021-03-03 09:29] #1396 closed, assigned to nobody

[2021-03-03 10:09] #1645 closed, assigned to nobody

[2021-03-03 10:27] ivirshup commented on #1576
Oh, but codecov is on now

[2021-03-03 10:27] #1576 closed, assigned to nobody

[2021-03-03 11:28] flying-sheep commented on #1697
`__getattr__` on modules is in 3.7 already? nice!

And yeah, `from __future__ import annotations` is going to make a lot of import order sensitive submodules less … that.

[2021-03-03 12:12] mr-september commented on #1652
@gatocor I'm running into the same issue, how did you change to numba 0.53?

[2021-03-03 12:14] gatocor commented on #1652
Hi @mr-september , you have to install the prerelease version of Numba.

pip install -pre numba

[2021-03-03 12:16] mr-september commented on #1652
@gatocor Thanks, for me it worked with `pip install --pre numba`,
terminal output:
[code]

Went back into Python Console, re-do `import numba`, `numba.__version__` still gives `'0.51.2'`. How do you force it to load a different version?

Update: Also tried the `force-reinstall` tag: `Successfully installed llvmlite-0.36.0rc2 numba-0.53.0rc2 numpy-1.20.1 setuptools-54.0.0`, but in Python Console it

[2021-03-03 12:53] lu77777777 opened #1714 "spatial dataset download issue"
- [x] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---
Hi, I tried to use the tutorial of  Analysis and visualization of spatial transcriptomics data but is seems have some problems

**Note**: Please read [this guide](https://ma

[2021-03-03 13:09] gatocor commented on #1652
You have to first uninstall the version you have already installed of numba.
pip uninstall numba
pip install --pre numba

[2021-03-03 13:17] mr-september commented on #1652
@gatocor just tried it, but it says `Successfully uninstalled numba-0.53.0rc2`, then `Successfully installed numba-0.53.0rc2`. So it looks like my system/terminal has the right `numba` version, but I can't get Python Console to also see the new version?

[2021-03-03 13:24] gatocor commented on #1652
It is possible that you are installing it in a python pathway different than the one you are using to execute your code. I advise you to create a virtual environment (loot it up somewhere), and execute your single cell projects from it to make sure of the packages you have installed in each place.

[2021-03-04 03:27] adamgayoso opened #1716 "Gitter for scanpy?"
- [ ] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [x] Other?

We started a [gitter](https://gitter.i

[2021-03-04 04:23] ivirshup commented on #1714
It looks like you've got an outdated version of scanpy (1.5.0), this should be fixed in more recent releases by #1334.

[2021-03-04 04:23] #1714 closed, assigned to nobody

[2021-03-04 07:28] #1705 closed, assigned to nobody

[2021-03-04 08:03] ivirshup commented on #1709
Which stats do you think would be the most useful? Also, how often do we need/ want variants for computing the static only on non zero values?

[2021-03-04 08:55] mr-september commented on #1652
Yes, I made sure I was in the right venv. I found one workaround - open a new Python Console (and close the old one if you wish), this fresh Console will not have any previously imported modules, but new `import`s will be updated.

[2021-03-04 10:52] giovp commented on #1643
hi @atarashansky ,
sorryf or late reply again.
I'm not sure about kde issue raised by @gokceneraslan , do you think it's worth to look into it? I think they use the same in original implementation though right?

For the rest, I think the two main points that could be addressed before PR are:
- using same nomenclature for inferred params as original implementation (so not like `_1` that is done now

[2021-03-04 12:00] honghh2018 opened #1718 "How can i replace the adata's X_umap coordinate with seurat's umap coordinate"
Hi @ALL,
     I had the scVelo object  of 'adata' to run the scv.tl.umap(adata) with different coordinate  bewteen seurat's umap coordinate and the scVelo object's umap coordinate.
     So, i hope to visulize the umap plot using the seurat's umap coordinate. based on this request, i hope to substitute the scVelo's X_umap coordinate with seurat's umap coordinate.
     how can i do for above request

[2021-03-04 12:11] dawe commented on #1718
You can set adata.obsm['X_umap'] to the array you have, given that the row order is conserved. Also creating a specific matrix is ok, say adata.obsm['X_seurat'], then use that as basis for all  visualizations and calculations (e.g. scv.pl.scatter(adata, basis='seurat'…))

[2021-03-04 13:16] vitkl opened #1719 "dealing with duplicated gene symbols"
Hi Scanpy team!

After facing the issue with duplicated gene symbols again for the n-th time, I realised that one of the best solutions for renaming duplicates would likely be to do the following `'DuplicatedName-ENSEMBL_ID'` rather than just adding an order-dependent number `'DuplicatedName-1'` that can differ between dataset from different papers - preventing correct matching when integrating da

[2021-03-04 17:11] kousaa opened #1720 "Can PDF/SVG saved figures maintain text as text for further processing?"
- [ ] Additional function parameters / changed functionality / changed defaults?

Hi there, I have continuously tried to save my dotplots and umaps from scanpy in PDF or SVG
format with the hope to be able and import it on Illustrator for further processing for publication
purposes. Everything works fine with the images, but the text of the labels is not any more recognized
as text and thus I cann

[2021-03-04 18:40] jlause commented on #1643
Hi @atarashansky  and everyone following this interesting discussion!

I just found this issue after posting quite a related PR yesterday (#1715) that came out of a discussion from the end of last year (berenslab/umi-normalization#1), and wanted to leave a note about that relation here:

In my PR, I implement normalization by analytic Pearson residuals based on a NB offset model, which is an impro

[2021-03-04 23:42] gokceneraslan commented on #1720
Does it get better if you run the following before saving the figure as PDF:

[code]

@ivirshup Does it make sense to add this to `sc.set_figure_params()`?

[2021-03-05 02:55] honghh2018 commented on #1718
Very appreciate your reply @dawe. it was fine by me.
But i confused the order of AnnData's obsm['X_umap'] 's barcode ,because of it was array without rownames, so how can i obtain
the cell barcode that was identical with X_umap order.
i want to save the X_umap coordinate with the cell barcode into csv file.
how should i do for this condition.
any advice would be appreciated
Best,
hanhuihong

[2021-03-05 05:11] ivirshup commented on #1720
Thanks @gokceneraslan, I had no idea, and this is super useful!

Also, the option for `svg` (so fonts won't be paths) is:

[code]

I think I'd want to know why `matplotlib` doesn't have that as the default. For the `svg` option, it looks like it can lead to issues with viewing the output file on other machines – so I don't think this is a good default.

[2021-03-05 06:43] dawe commented on #1718
Retrieve cell names in the Seurat object used to create the embedding, then simply reorder AnnData accordingly (adata = adata[cell_names]).

[2021-03-05 13:52] #697 closed, assigned to nobody

[2021-03-05 22:19] gokceneraslan commented on #1720
@ivirshup Not having Type 2 fonts by default in mpl might be due to the increasing file size  (since whole font is embedded into the pdf) https://github.com/matplotlib/matplotlib/issues/11303, but considering that plots we make in scanpy are typically used in publications so they likely get edited in vector graphics software, we should maybe consider making it the default, my 2 cents. At least we

[2021-03-05 23:09] kousaa commented on #1720
@gokceneraslan thanks so much for your suggestion, that did the trick for me! I was trying to figure this out via sc.set_figure_params() and kept failing. It did not occur to me that the matplotlib parameters could overwrite the scanpy figure parameters, and then it would definitely take me some more time to find the specific `matplotlib.rcParams['pdf.fonttype'] = 42` setting. I think adding it as

[2021-03-06 04:32] atarashansky commented on #1643
@jlause Interesting work! It would indeed be nice to avoid having to learn bandwidths altogether.

What would be the procedure for learning global theta from the data? Would you just flatten the expression matrix into one vector?

With regards to the clipping, I turned my brain off and copied the Seurat implementation as much as possible. `sqrt(n/30)` was the default parameter used by the SCTransf

[2021-03-06 09:56] dkobak commented on #1643
Oh, scTransform uses `sqrt(n/30)` by default? Interesting. If I remember correctly, the paper says they use `sqrt(n)`...

[2021-03-06 17:46] atarashansky commented on #1643
If I remember correctly, the SCTransform `vst` method uses `sqrt(n)` by default but the `SCTransform` wrapper in Seurat uses `sqrt(n/30)`.

[2021-03-06 21:34] dkobak commented on #1643
Regarding this -- yes, that's what we thought to do. Do you think it makes sense? However, for computational efficiency, I would threshold the genes by expression and take e.g. 1000 or even 100 genes with the highest average expression (for the purpose of estimating theta). Lowly-expressed genes don't really constrain theta much, it's highly-expressed ones that do.

[2021-03-06 22:42] Koncopd commented on #967
@giovp sorry missed this, i'll check.

[2021-03-07 08:15] ivirshup commented on #1720
@gokceneraslan A few thoughts on this:

1. In general, I don't like messing with global configurations for other packages.
2. I generate many plots, but only a few are actually going to go to a manuscript. I'm not sure it's justified to increase all PDF sizes so that they're all editable. Maybe it should be opt-in? And do we need to mess with global settings to do this, or can we just make finding

[2021-03-07 16:18] flying-sheep commented on #1720
That’s what I feel like most of our plot options are. Kinda like an executable FAQ.

Python’s `itertools` docs have a [recipes](https://docs.python.org/3/library/itertools.html#itertools-recipes) section instead, which are copyable code for less common use cases.

I think going for docs here make sense because we’re not wrapping something complex, just increasing visibility for some useful option.

[2021-03-08 02:05] ivirshup commented on #1719
I personally like putting the ensembl ids as the `var_names` and keeping the gene symbols as a column in `var`. This way it's always unique matching with a standard. People can use different sets of gene symbols, so they're just hard to match against.

If there was broader interest, this could be added to `anndata`. But for now it should be pretty straight forward for users to do with:

[code]

[2021-03-08 02:15] ivirshup commented on #1720
I think this could be a good [how to guide](https://documentation.divio.com/how-to-guides/). Arguably this should be a how to guide for `matplotlib` though.

[2021-03-09 03:26] ivirshup opened #1723 "Allow seaborn color map strings"
- [x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

Allow using seaborn color map strings:

[2021-03-09 10:54] vitkl commented on #1719
I also prefer ENSEMBL IDs. Would it make sense to add this to the main tutorial? I see that many published papers and collaborators use `var_names_make_unique` with numeric index (sometimes deleting ENSEMBL ID altogether) - so it seems useful to have
[code]
as an example to encourage this behaviour.

[2021-03-09 10:56] vitkl commented on #1719
Actually, I just realised that
[code]
is not optimal because it adds ENSEMBL to every single var name, making the names very long (which is what most people are likely trying to avoid)

[2021-03-09 11:04] vitkl commented on #1719
What I am suggesting can be achieved with

[code]

[2021-03-09 12:13] zktuong commented on #1719
How about MultiIndex?
[code]

user can subset genes based on:
[code]

Seems to initialize ok but throws an issue with `get.py` line 139 when trying to plot with `sc.pl.violin`:
[code]
`initializing a Series from a MultiIndex is not supported`

[2021-03-09 14:02] PauBadiaM opened #1724 "Integration of dorothea and progeny"
Hi everyone,

Seeing how many new single cell and spatial tools are being developed in Python, and how we are increasingly using it in general and scanpy in particular, at saezlab we decided to re-implement our tools to estimate pathways and Transcription factor (TF) activity ([Dorothea](https://saezlab.github.io/dorothea/) and [Progeny](https://saezlab.github.io/progeny/)) in it. Here's a first d

[2021-03-09 18:29] LuckyMD commented on #1724
Hi @PauBadiaM,

I have always viewed Dorothea and Progeny as methods to aid in the interpretation of my data. Hence, I would assume this might be most useful as a targeted approach to plot activity of a particular TF or pathway. This is something I would probably find most useful as a function where i can either ask for the activity of a single TF/pathway or to get the activity score that explains

[2021-03-09 18:48] jlause opened #1725 "sc.pp.highly_variable_genes with flavor='seurat_v3' returns wrong means/variances when batch_key argument is used"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

When working on PR #1715, I noticed a small bug when `sc.pp.highly_variable()` is run with `flavor='seurat_v3'` and the `batch_key` argument is used on a dataset with multi

[2021-03-10 03:11] ivirshup commented on #1725
Makes sense, thanks for the detailed report!

Would you like to make a bugfix PR for this?

[2021-03-10 03:20] ivirshup commented on #1724
I think making access to entires in `obsm` for plotting functions is a good idea. This is definitely on our roadmap, and has started to be implemented (https://github.com/theislab/anndata/pull/342), but is a bit stalled at the moment.

Am I correct in understanding that being able to things like:

[code]

would solve most of the barriers you're facing?

[2021-03-10 04:24] FADHLyemen opened #1729 "split by in sc.pl.dotplot"
in Surat, you can plot dot plot using group by and split by option. in scanpy only groupby option in sc.pl.dotplot function.
Any help, I need a dot plot for cell types in different condition.

[2021-03-10 04:40] ivirshup commented on #1729
This is already allowed, we just don't have a separate argument for it. Just pass a list of the variables you'd like to groupby. For example:

[code]

![tmp](https://user-images.githubusercontent.com/8238804/110577481-d30fef80-81b6-11eb-93f3-4adb2f269e78.jpg)

[2021-03-10 04:40] #1729 closed, assigned to nobody

[2021-03-10 05:01] FADHLyemen commented on #1729
Thank you, ivirshup. How to subset cells in scanpy?

[2021-03-10 05:02] FADHLyemen opened #1730 "how to subset cells in scanpy"
...
In seurat, I used subset to subset cells, how can I do it in scanpy?

[2021-03-10 08:01] PauBadiaM commented on #1724
Thanks for the quick responses @LuckyMD  and @ivirshup.
If `obsm` entries were accessible for plotting functions that would be fantastic. It would really solve all our problems. Once this is implemented I would only need to write a wrapper to model differences of activities between groups and that's it.
Looking forward for this update, thanks!

[2021-03-10 08:10] Hrovatin opened #1731 "read_10x_mtx v3 non-gzipped"
- [ x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

In function read_10x_mtx there could

[2021-03-10 09:22] Koncopd commented on #967
@giovp
In the docs it is mentioned that it expects logarithmized data.
As for `raw=True` i am not sure it is a problem. For example, in [the tutorial](https://scanpy-tutorials.readthedocs.io/en/latest/pbmc3k.html) normalized and logarithmized data is saved to `raw` to be used further in `rank_genes_groups`. Do you think it is a problem?

I don't actually consider raw as a container only for raw co

[2021-03-10 09:37] giovp commented on #1724
on the same line, we wrote a very simple `extract` function in squidpy that we ended up using quite a lot: https://squidpy.readthedocs.io/en/latest/api/squidpy.pl.extract.html

see for instance a usage example here: https://squidpy.readthedocs.io/en/latest/auto_examples/image/compute_texture_features.html#sphx-glr-auto-examples-image-compute-texture-features-py

I think what you guys are working i

[2021-03-10 09:49] ivirshup commented on #1724
I was thinking a quick thing to do would be to add an `obsm` argument to the plots (like `layer`). In this case we probably just wouldn't allow using values from `X` and `obsm[whatever]` together for the moment.

[2021-03-10 10:20] prubbens commented on #1407
Still have to use scipy 1.4.1 or 1.4.2. There's now 1.6.1 but this also results in the same error...

[2021-03-10 10:26] giovp commented on #1407
maybe @awnimo has more insights on this? meanwhile you can also report this issue in original repo: https://github.com/dpeerlab/PhenoGraph

[2021-03-10 12:18] LuckyMD commented on #1730
This might be a more appropriate question for the discourse group. In scanpy you can subset in the same way you would subset a pandas dataframe. For example:

`adata_sub = adata[adata.obs['cell type'].isin(['Type A', 'Type B'])]`

This gives you the set of cells that have a `'cell type'` value of `'Type A'` or `'Type B'`.

[2021-03-10 13:32] FADHLyemen commented on #1730
Thank you

[2021-03-10 14:16] #1730 closed, assigned to nobody

[2021-03-10 14:39] jlause commented on #1725
done :)

[2021-03-10 16:38] jlause opened #1733 "sc.pp.highly_variable_genes with flavor='seurat_v3' and batch_key: conflict with documentation"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [x] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

Hey, I've noticed another potential problem within the `seurat_v3` flavor of `sc.pp.highly_variable_genes()`. The documentation of the `batch_key` argument says on how the

[2021-03-11 05:40] ivirshup opened #1736 "Tests sometimes have really long logging output"
Sometimes tests give a lot of useless output when they fail. Generally looks like this (note, this is a small part (<10%) of the output for one test failure):

<details>
<summary> </summary>

[code]

</details>

This seems to be a known problem caused by setting up logging at import: https://github.com/pytest-dev/pytest/issues/5502. Why touching logging at import at all is considered a bug in the

[2021-03-11 16:51] gokceneraslan opened #1739 "More hierarchical API"
Hi all,

Right now we have two layers in the scanpy API. The top layer consists of the major modules like `pp,pl,tl` as well as the smaller ones like `queries,get,datasets`. In addition, we have some useful functions directly under the scanpy package like `read/read_text/read_mtx` etc. It is obvious that the field is advancing and alternative/better ways to perform fundamental tasks in downstream

[2021-03-11 16:55] gokceneraslan commented on #1725
Oh maaaan, that's cool. I had noticed that something was off about the batch argument indeed! Thanks so much!

[2021-03-11 18:21] LuckyMD commented on #1739
This sounds interesting, and definitely makes things more clean in the long run... but a big issue I think would be backward compatibility for everything that relies on Scanpy. Also, I wonder if this makes it a bit more difficult for new users as they would need to know what steps are required in a single-cell analysis pipeline to understand the organization.

[2021-03-12 10:48] giovp commented on #1697
random point but in #1715 noticed that 3.6 tests are failing due to missing `typing.Literal` import. We could fix it ad hoc but otherwise other good reason to drop 3.6

[2021-03-12 10:54] giovp commented on #1459
@emdann will close this for now, feel free to reopen if problem persist!

[2021-03-12 10:54] #1459 closed, assigned to nobody

[2021-03-12 10:56] giovp commented on #1701
@cartal this seems like a merge/concat gone wrong and indexes got messed up. happens to me a lot. I'm gonna close this because as @ivirshup mentioned the problem is proabbly due to some anndata operation rather than the plotting itself. feel free to reopen this or open a new issue in case this is still a problem.

[2021-03-12 10:56] #1701 closed, assigned to nobody

[2021-03-12 10:59] giovp commented on #1696
can you try to update to `numba=0.52` and see if it's still an issue?

[2021-03-12 16:31] wflynny commented on #1696
FWIW, I stumbled upon a related issue this morning where my kernel just crashes/restarts computing neighbors.

For me it appears to crop up when the number of neighbors is <15, metric doesn't appear to matter.  I've been upgrading/downgrading various dependencies, and I'm fairly certain this has to do with the call to [`NNDescent` in `umap.umap_.py`](https://github.com/lmcinnes/umap/blob/b1223505c

[2021-03-12 16:59] giovp commented on #1696
what python version are you running also btw? I remember there were issues with 0.52 on 3.9 and so they put out an RC.

[2021-03-12 17:10] wflynny commented on #1696
Fresh install in a new env gives me the same error (jupyter kernel crashes):
[code]
And here's the `sc.logging.print_versions()`:
[code]

[2021-03-12 17:26] giovp commented on #1696
thanks @wflynny ! I just repeated exactly your snippet for fresh conda env and am not able to reproduce:
[code]

I also tried with `sc.datasets.pbmc3k_processed()` and still get it to run. Can you both please paste the full traceback? also maybe some more infos on the anndata would be useful?

thank you!

[2021-03-12 17:28] giovp commented on #1696
sorry just read this, this sounds it could be potentially data specific, have you tried playing around with other nndescent params?

[2021-03-12 17:40] wflynny commented on #1696
Yeah, I can't reproduce it with a canned dataset either --- I'm doing something a bit weird and transforming imaging mass cytometry data into AnnData objects (hence the `imctools` dependency).   I have an object that looks like:
[code]

I will probably raise this with `pynndescent` then because
[code]

Sorry for hijacking this issue @giovp and @TiongSun .

[2021-03-12 17:49] giovp commented on #1696
thank you for reporting, this is very interesting use case! and thanks for the detailed evaluation. I would also try with different number of PCs to see whether that has an impact.

if you open an issue on `pynndescent`, would you mind referencing this issue or pinging me there, would be interested to see what's the proposed solution/bug

@TiongSun let us know about your use case, thanks!

[2021-03-12 18:07] giovp commented on #967
ok yes I get it now. Still if they are integers, than this doesn't make sense right?
`foldchanges = (np.expm1(mean_group) + 1e-9) / (np.expm1(mean_rest) + 1e-9)`.

I think it makes sense to mention it in the docstrings and also use the check_nonnegative_integers from _utils as it's done in highvar genes seurat_v3.
What do you think?

[2021-03-12 23:11] msalaciak commented on #1295
I've encountered this error as well. deleting the raw attributes did not help but what worked was changing the CSR matrix to an array

so `adata.X = adata.X.toarray()`

Hopefully, this will help others.

[2021-03-13 01:53] adamgayoso commented on #1733
I think the solution here is for someone to figure out the Seurat sorting heuristic (didn't have bandwidth to really dig into the R code, and I don't do any R programming), and then correct the docstring based on what Seurat does.

[2021-03-13 14:12] cartal commented on #1701
I think this was somehow related, yes. After making an new `anndata` the problem was resolved.

Thank you guys

[2021-03-13 20:10] adamgayoso commented on #1725
Thanks for catching this, though I'm not sure this is the cause of discrepancy between scanpy and seurat (#1733) and my original comments on the PR linked there.

[2021-03-14 10:39] bi-glitch opened #1742 "Tutorial error"
-

- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2021-03-15 02:11] ivirshup commented on #1697
@giovp we do have a custom `Literal` thing in `compat` for this, but agree it would be nice to not have this.

[2021-03-15 05:11] linehammer commented on #1259
NaN is a special floating point sentinel value, meaning "Not a Number." In general, Python prefers raising an exception to returning NaN, so things like sqrt(-1) and log(0.0) will generally raise instead of returning NaN. However, you may get this value back from some other library.  From v0.24, you actually can. [Pandas](http://net-informations.com/ds/pd/default.htm) introduces Nullable Integer D

[2021-03-15 18:06] Iwo-K commented on #313
I think I encountered this or a very similar problem and I have a fix. In my analysis I used the `scanpy.tl.score_genes_cell_cycle` to assign cell cycle scores, followed by `scanpy.tl.regress_out` and `scanpy.tl.pca`. On different machines I observed differences in the PCA values. What was surprising, I could see these differences even when using the exact **same singularity container**.

I analys

[2021-03-15 20:51] kanefos opened #1744 "Specify var subsets for stats testing"
Hi authors,

First off, love scanpy. Big fan.

I was just wondering if you have considered including an option in `scanpy.tl.rank_genes_groups` to specify which variables to select for testing, allowing users to select a subset of variables which would or would not be considered in the statistical test.

For context, I'm trying to test between groups of cells while ignoring ribosomal / mitochondri

[2021-03-15 22:40] YubinXie commented on #1670
Oh, yeah, after updating it works. The previous issue is due to 'un-re-fresh' of the notebook kernel!

[2021-03-15 22:40] #1670 closed, assigned to nobody

[2021-03-15 22:43] YubinXie commented on #1661
After several rounds of debugging, i found that this is related to `sns.set()`. No matter what parameters I put there, it will lead to this issue.
Solution:
[code]

[2021-03-15 22:43] #1661 closed, assigned to nobody

[2021-03-16 03:52] ivirshup commented on #1670
Good to hear! Thanks for reporting back!

[2021-03-16 06:32] honghh2018 commented on #1718
Hi @dawe ,
     I follow your code and it work well, but the result showing weird, the scvelo arrow indicate the development direction just was in contrast to the monocle direction.
     In the other word, the scvelo's 'scv.pl.velocity_embedding_stream' showing terminal differentiation cells develop to original cells. this was incorrected logically. why the scvelo showed the inverted result contra

[2021-03-16 08:25] mvdbeek commented on #1199
Test case is included in https://github.com/theislab/scanpy/pull/1669

[2021-03-16 10:27] LuckyMD commented on #1718
Hi @honghh2018,

There are several cases where scvelo doesn't work as expected such as for blood, early development, etc. I would report this in the [scvelo github repo](https://github.com/theislab/scvelo), where you can get a more specific answer about this.

[2021-03-16 15:13] lazappi opened #1745 "Unused basis argument in external.pp.scanorama_integrate()"
- [x] Additional function parameters / changed functionality / changed defaults?
- [ ] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

The current `external.pp.scanorarma_in

[2021-03-16 15:22] lazappi commented on #1745
Nevermind, this is actually used, I just failed at searching 🤦🏻 .

[2021-03-16 15:22] #1745 closed, assigned to nobody

[2021-03-16 16:28] adamgayoso opened #1746 "Scanpy docs are down?"
Getting this across multiple browsers.

![Screen Shot 2021-03-16 at 9 27 49 AM](https://user-images.githubusercontent.com/10859440/111344731-e1885c00-8639-11eb-8cb0-93fd463844c4.png)

[2021-03-16 17:03] lazappi opened #1747 "Is automatic sanitisation necessary?"
In several Scanpy functions `sanitize_anndata()` is called which converts most string columns in `obs`/`var` to categorical columns. Often this seems to be a precaution rather than really necessary and as a user it's frustrating to have things changed in a way you have no control over. Just wondering if you have considered how required this is and whether it would be better to let users control wh

[2021-03-16 20:31] YubinXie opened #1748 "NAN as gene name in sc.get.rank_genes_groups_df"
- [x ] I have checked that this issue has not already been reported.
- [x ] I have confirmed this bug exists on the latest version of scanpy.

---

Hi, I am using scanpy rank gene function and always get NAN as gene names in the data frame results.

(I might have seen this bug before in this repo but I cant find it in today.)

### Minimal code sample (that we can copy&paste without having any data

[2021-03-16 20:41] YubinXie commented on #1748
What I noticed is that these NaN appears when I used the filtered data frame. Instead of removing these filtered genes, I think the code is just making them as NaN...

[2021-03-16 23:11] gokceneraslan commented on #1746
Is it normal that https://scanpy.readthedocs.io/en/stable/ works just fine but https://scanpy.readthedocs.io redirects to the hosted readthedocs and eventually fails?

[2021-03-16 23:40] adamgayoso commented on #1746
Weird, I guess I usually use the latter, which now fails (but didn't previously). First link works.

[2021-03-17 03:52] ivirshup commented on #1746
I can't tell if this is an issue with `readthedocs` or hosted redirects. I'm also not sure why we have hosted readthedocs since we pay for readthedocs hosting.

I assume this is related to `Custom Domains` in the `readthedocs` settings:

<img width="610" alt="image" src="https://user-images.githubusercontent.com/8238804/111412288-41f9c500-8730-11eb-99a6-775ca23d9a3e.png">

But I get a fail whale i

[2021-03-17 03:58] ivirshup commented on #1744
I've been thinking it would be good to add a `mask` argument to a number of functions. I think `mask_vars=~(adata.var["mito"] | adata.var["ribo"])` could work here.

[2021-03-17 04:01] ivirshup commented on #1747
Initial justification was that it makes a number of computations much faster and doesn't seem to cause problems. If you have examples of problems being caused, that would be great to know.

I get this is sort of like `stringsAsFactors`, but I think a lot the problems with that is avoided by categorical having a more sane api than factors. For instance, you can just interact with categorical arrays

[2021-03-17 08:43] lazappi commented on #1747
So admittedly this is mostly a philosophical objection, it's probably unlikely to cause any computational problems. The main practical issue I have is converting between Python and R where this causes the type of columns to change. I realise this is kinda a niche problem though and doesn't practically make a lot of difference.

My main two philosophically objects are:

1. Users should have control

[2021-03-17 09:35] LuckyMD commented on #1747
Hey! Just to chime in, I believe plotting functions also expect categoricals and I've had errors from other functions as well about obs columns not being categorical. I think that was `rank_genes_groups`, but I'm not sure.

[2021-03-17 15:33] grst commented on #1747
What I don't like about it is that it turns `nan` and `None` to the strings "nan" and "None", respectively. This makes finding "nan" values in a column of `adata.obs` [rather cumbersome](https://github.com/icbi-lab/scirpy/blob/507c943e50a2d2ba5b0011575030db85dd5b316b/scirpy/util/__init__.py#L43-L64).

But I believe this particular detail is also discussed in https://github.com/theislab/anndata/iss

[2021-03-18 01:08] ivirshup commented on #1746
Fixed, we've got a bit of custom plan with readthedocs and an update to their billing code broke that url.

[2021-03-18 01:08] #1746 closed, assigned to nobody

[2021-03-18 03:55] ivirshup commented on #1747
@lazappi

 I'm pretty sure I took your position back when this behaviour was added. The closest issue I could find was https://github.com/theislab/anndata/issues/115, but I remember having a longer discussion with @flying-sheep about this.

However, I'm now pretty convinced that strings as categoricals is pretty necessary for computational reasons. There isn't a good "array of strings" in python,

[2021-03-18 08:08] lazappi commented on #1747
This is definitely true but easy enough for the user to address if the error is clear (or handle internally as needed).

[2021-03-18 08:29] lazappi commented on #1747
I would still argue it's better to complain and get the user to fix it or convert to a categorical internally for the purposes of the function. It's not the conversion that I find the issue it's that there is no way to control it. I would be totally fine with including `sanitize_andata()` in examples, just as a function called by the user rather than internally.

An example of a non-unique non-cat

[2021-03-18 11:41] fbnrst opened #1749 "reproducibility of pca with arpack"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of scanpy.
- [ ] (optional) I have confirmed this bug exists on the master branch of scanpy.

---

Running pca with arpack twice like in the example below sometimes does not give identical results. Sometimes, it does give identical results. Results are reproducible when

[2021-03-18 12:33] ivirshup commented on #1698
Looks like `gearys_c` and `morans_i` will be out in `1.8` (`morans_i` should be on master pretty soon).

@Hrovatin, do you have any thoughts on the usefulness of calculating a p-value vs just calculating `I`? How could we tell whether the statistic could be influenced by the structure of the graph, or non-spatial distribution of the values? Also, maybe there's a faster way to calculate it than wit

[2021-03-18 13:37] Koncopd commented on #967
@giovp it is already in docstring, i have added the check also.

[2021-03-18 14:24] dawe commented on #1718
As @LuckyMD said, this is a question for `scvelo`.

The best way to check if ordering went wrong is to plot an embedding colored by some known grouping. If colors are all mixed up you know a mistake has done.

Luckily `AnnData` is quite robust and it reorder any slot (`obs`, `obsp`, `obsm`…) according to the specified cell names.

d

[2021-03-18 14:26] dawe commented on #1718
Hello @LuckyMD

That's interesting! Do you have any resource supporting this? I'm asking as I'm using `scvelo` a lot these days on a developmental model.

[2021-03-18 15:45] LuckyMD commented on #1718
Hi @dawe,

@VolkerBergen is just writing a manuscript on this as it has been coming up a in scvelo issues. He will be able to explain a lot better, but I can try to give you an idea. For developmental datasets time scales of splicing kinetics and development don't really match up very well, so you often don't observe a fixed kinetic for a sufficient time to model it before it changes. Also, you ma

[2021-03-18 16:02] giovp commented on #1698
sorry, late reply on the P-values @ivirshup as for your question in #1740 , I don't think pvalues are needed in this case, the same way for geary's C , I'd assume the usage of Moran's is the same as geary's C and it's just to provide an effect size for whatever effect you are investigating, In literature I found that an alternative to permutation-based pval is analytic (assuming nromality) but the

[2021-03-18 16:07] jlause commented on #1733
Hey, thanks for your reply!

I looked a bit around, and here is what the Seurat 3.1.4 docs say:

from https://www.rdocumentation.org/packages/Seurat/versions/3.1.4/topics/SelectIntegrationFeatures

From this, I'd conclude that the current docs are correct, but in the sorting order of `_highly_variable_genes_seurat_v3` has it the wrong way around.

Also, the test for the `_highly_variable_genes_seu

[2021-03-18 16:08] Hrovatin commented on #1698
For me the p-values with 1000 permutations were not useful as they were all 0 for the genes of interest, so could not discriminate the genes. But I do not know how comparable are I-s directly - I used it only on a single dataset with different KNN graphs, which should make it more comparable I would assume.

[2021-03-18 17:27] adamgayoso commented on #1733
Very good catch! It does indeed look like in the function itself it should be

[code]

However, as the test sorting order was correct (though not testing the code the right way), it would still be great to figure out why there is a discrepancy at all.

For reference, here's the seurat code:

https://github.com/satijalab/seurat/blob/4e868fcde49dc0a3df47f94f5fb54a421bfdf7bc/R/integration.R#L2244-L23

[2021-03-18 21:52] wflynny commented on #1696
@giovp Looking more into the crashing I was getting with my strange use case, it turns out that I had both (a) a pair of completely correlated features, and (b) very strange count distributions.  Once I used a proper variance stabilizing transform (arcsinh in this case) and remove redundant features, I can't reliably reproduce this issue.

[2021-03-18 23:42] jlause commented on #1733
Thanks for digging up the seurat code! Somehow failed to find it when I looked for it..

Should I add the correction to PR #1732, which fixes another little issue in the same function?
And should the test also be changed? Currently only the intersection of the hvgs is checked between scanpy and seurat, so instead of sorting the output again and take the top4000 manually (as done now), one could ju

[2021-03-19 01:14] honghh2018 commented on #1718
Thanks the reply, this tools was great so far, but  still had improve space on your reported. i hope this issue can be solved.
Best,
hanhuihong

[2021-03-19 01:16] honghh2018 commented on #1718
Thanks i would check currently, and reported the result as soon as possible.
Best,
hanhuihong

[2021-03-19 06:05] ivirshup commented on #1733
@jlause, thanks for figuring this out as well!

A separate PR for this fix would be great. There should definitely be tests targeting this, since changing how the sort is done doesn't seem to break anything.

[2021-03-19 06:22] #1725 closed, assigned to nobody

[2021-03-19 08:57] giovp commented on #967
amazing, thank you @Koncopd ! @redst4r I think this should be fixed, the docs explicitly mention this and now there is a check for integers values, closed with #1750

[2021-03-19 08:57] #967 closed, assigned to nobody

[2021-03-19 08:58] giovp commented on #1696
can you elaborate more on this? what does it mean "completely correlated", like an identical copy ?

Interesting, never seen this used in scRNA-seq, is it common in IMC ?

[2021-03-19 11:12] cdedonno commented on #1742
Hi @venomandvenus, it's not clear if this is really a bug or you are just getting a bunch of warnings from seaborn, which can happen quite often. Did `sc.pl.violin` eventually output the plot you wanted? Also can you post a link to the tutorial you are following?

[2021-03-19 13:28] wflynny commented on #1696
Yes, we had what seems like an identical copy of one channel copied to another channel (which should have been empty).  This appears to be an issue with the acquisition/initial file generation, but honestly I'm still scratching my head how this happened.

And yeah, this vst is new to me too.  At least in my experience the mean-variance relationship with scRNA-seq is roughly quadratic whereas at le

[2021-03-19 13:38] SeppeDeWinter commented on #1258
The legend can also be removed by removing the last axis from the figure.

`sc_fig.axes[-1].remove()`

[2021-03-19 13:42] wflynny commented on #1731
Is there a reason not to `gzip` these files?  While they aren't big, you get ~4 fold storage savings and most text inspection tools (e.g. less) can read gzipped files.

[2021-03-19 13:47] Hrovatin commented on #1731
We get non gzipped files from core facility and they also seemed to have worked with non gzipped files beforehand in the workflow. But maybe there was another reason for them to not use gzipped files (maybe older reading functions or something).

[2021-03-19 14:05] giovp commented on #1696
very interesting, also new to me. I think this boils down to issues in `pynndescent` not being able to handle such edge cases. I wonder if this happens with other metrics as well...

@TiongSun can you update us on whether this is a similar issue for you?

[2021-03-19 17:03] LuckyMD commented on #1696
Just skimmed this very briefly. Isn't there usually a background effect that is removed for CyTOF or IMC, so that you get negative values and therefore need an arcsinh transformation? This also leads to negative values i guess. Could this be an issue for `pynndescent`?

[2021-03-19 17:08] wflynny commented on #1696
There's a possibility of negative values depending on how careful you are with compensation and whether or not you clip values, but at least in my case the counts matrix was always non-negative.  **Edit:** But that shouldn't matter because NNDescent is routinely called on PCA-embedded data which is zero centered, right?

If I can find a small subset of the matrix that produces this error reliably,

[2021-03-19 17:09] LuckyMD commented on #1731
At some point scanpy switched to non-gzipped files by default as file I/O is faster that way. Reading files quickly was regarded as a more important that storage minimization. I guess it's always a memory vs storage question.

[2021-03-20 05:28] ivirshup commented on #1749
Hmm, I'm having trouble reproducing using the same release.

Could be an issue with an underlying library? I'm using a slightly newer scipy.

<details>
<summary> My environment </summary>

[code]

</details>

[2021-03-21 06:05] ivirshup commented on #1731
I'm not super into the idea of supporting much beyond exactly what `cellranger` outputs for these functions. We expect very specific things from these files, and I think it's difficult to say what's a reasonable amount of modification once we start supporting any.

I'd be open to exposing some of the internally used functions so it's easier to write a custom reading function here, if that's a reas

[2021-03-21 20:11] Hrovatin commented on #1731
That is a fair point. Maybe we can just close this issue then?

[2021-03-21 22:35] ivirshup commented on #1731
That sounds good to me. Let me know if you'd like me to point out our mtx reading function. It's basically just calling pandas to read the coo array, since pandas' csv parser is much faster than scipy's

[2021-03-21 22:35] #1731 closed, assigned to nobody

[2021-03-22 08:22] 117999 opened #1756 "LoweringError: Failed in nopython mode pipeline (step: nopython mode backend)"

[2021-03-22 08:27] 117999 commented on #1756
Hello,
I am now facing a problem of failure in computing neighbours when using scanpy or scvelo
when I tried to use the

`sc.pp.neighbors(labelled, n_neighbors=5, n_pcs=4)`
or
`scv.pp.moments(raw, n_pcs=30, n_neighbors=30)`
it will always reports that

[code]
​
sc.pp.filter_cells(unspliced, min_genes=200)
dyn.pl.basic_stats(spliced)`
I am wondering how to solve this problem. Will I need to re-crea

[2021-03-22 11:22] LuckyMD commented on #1731
Hmm... i think i must have misunderstood at the time then... i thought it was faster for both.

[2021-03-22 12:07] giovp commented on #1756
which numba do you have? can you try with most recent version ?

[2021-03-22 23:22] sjfleming opened #1757 "sc.pl.dotplot() `standard_scale='var'`: should scaling be changed?"
This issue references the following line of code:

https://github.com/theislab/scanpy/blob/560bd5d348a502d5152eaf20f5f8bef794562a97/scanpy/plotting/_dotplot.py#L185

The documentation accurately describes the `standard_scale='var'` normalization strategy as
"Whether or not to standardize the given dimension between 0 and 1, meaning for each variable or group, subtract the minimum and divide each b

[2021-03-23 01:12] ivirshup commented on #1757
This has been discussed previously: https://github.com/theislab/scanpy/issues/1451, https://github.com/mwaskom/seaborn/issues/1423

I don't think that this sort of normalization is necessarily invalid or wrong, just situational. I also think it makes sense to mimic prior art, and this is how the argument works in seaborn. I do agree that just `x / max(abs(x))` is useful, and more often what people

[2021-03-23 14:30] Xparx opened #1758 "pl.rank_gene_groups using gene_symbols key word not working"
Hello Team,
[code]
I just pulled the latest master to see if the issue was just in my earlier version.

I'm trying to plot rank_gene_groups dot plot
`sc.pl.rank_genes_groups_dotplot(adata, n_genes=4, values_to_plot='logfoldchanges', cmap='bwr', gene_symbols='Uniq_Name', use_raw=False)`

However it doesn't work with the following tranceback:
[code]

I cant see how to use gene_symbols in the `tl.ran

[2021-03-24 07:18] ivirshup commented on #1698
I was thinking about these in the context of of feature selection, where you may want a principled cutoff for inclusion. From looking at this in one visium datasets and one single cell dataset. It looks like expected value for any gene with a high morans I were quite low.  This was not the case for Geary's C on the umap connectivity with single cell data.

Here are some plots around this. Values f

[2021-03-24 07:34] Hrovatin commented on #1698
I started doing feature (gene) selection on scSeq data as well. I also observe dependency between Moran's I and gene expression sparsity. I was thinking that maybe I could regress out the expression effect or select genes per bin.
![image](https://user-images.githubusercontent.com/47607471/112271293-0c4a6400-8c7b-11eb-953e-a7fcec362401.png)
And this was the problem with p-values in squdpy-s Moran'

[2021-03-24 08:42] giovp commented on #1698
Really interesting comparison @ivirshup . I think it makes sense that is more sensible to sparsity because the score is not computed "against a mean" but against the neighborhood graph. In some sense, Moran's I is more smooth.

indeed, they are computed against the null distribution that is computed from permutations.

As a personal opinion, I don't think reporting p values for these type of stati

[2021-03-24 17:05] yuxiaokang-source opened #1759 "can't reproduce the same result between sc.tl.tsne and scikit-learn.TSNE"
from the doc of sc.tl.tsne, I knew it was implemented by scikit, but I can't get the same result between sc.tl.tsne and scikit.TSNE，my test code is below
[code]
I get the result
![image](https://user-images.githubusercontent.com/59059267/112352805-0fd6fd00-8d06-11eb-9627-5a4708d706de.png)
I can't figure it out why this happen. Thank you for your help

[2021-03-25 03:42] FADHLyemen opened #1760 "correlation between two adata objects"
- [x] Additional function parameters / changed functionality / changed defaults?
- [x] New analysis tool: A simple analysis tool you have been using and are missing in `sc.tools`?
- [ ] New plotting function: A kind of plot you would like to seein `sc.pl`?
- [ ] External tools: Do you know an existing package that should go into `sc.external.*`?
- [ ] Other?

How to use sc.pl.correlation_matrix to

[2021-03-25 06:07] ivirshup commented on #1760
Would this be covered by something like:

[code]

[2021-03-25 09:58] fbnrst commented on #1749
Thanks for your input! I updated my container using your versions, @ivirshup. The issue persists. I updated the example to highlight that pca sometimes is reproducible and sometimes not.

[code]
Output:
[code]
In this case 6 of the 10 runs produced identical results.

#### My updated environment

<details>

[code]

</details>

[2021-03-25 12:02] fbnrst commented on #1749
I've been digging a little deeper and I get it more reproducible on my system. I changed dataset from `pmc3k_processed` to `pbmc3k`. Now, I call `sc.pp._pca._pca_with_sparse` directly. I get different results for `X_pca` only for the first call. But from then on, the result are reproduced for 2 consecutive calls.

[code]

The `False` indicates that the first two PCAs are different

[code]

I looke

[2021-03-25 12:51] cdedonno commented on #1759
Hello, could you write what version of sklearn you have installed?

[2021-03-25 13:00] #1742 closed, assigned to nobody

[2021-03-25 13:19] yuxiaokang-source commented on #1759
Sorry,I forget to mention it , this is my sessioninfo:
![image](https://user-images.githubusercontent.com/59059267/112479150-b6c3a380-8daf-11eb-9f4d-f073c19f7b42.png)

[2021-03-25 14:51] cdedonno commented on #1759
Hey, I found the issue. AnnData automatically casts your input data from a float64 to a float32 format
If you generate it using:
`adata = sc.AnnData(X, dtype='float64')`
your results will be reproducible

[2021-03-25 15:22] #1759 closed, assigned to nobody

[2021-03-25 16:35] PauBadiaM commented on #1724
Thank you all for the feedback!

In the end the best solution has been to store activities in `.obsm` and then use the plotting functions via an `extract` function like in `squidpy`.

Now that both tools are AnnData compatible, should I open a pull request to add them into the Ecosystem?